.profileImages {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .messageCount {
    z-index: 999;
    background-color: var(--white);
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid var(--grayscale300);
    font-size: 0.75rem;
  }
}
