:root {
  --primary-color: #6d6afe;
  --addition-color: #6b6b6b;
  --red: #ff5b56;
  --white: #fff;
  --julge-black: #111322;
  --black: #000;
  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;
  --bg-color: #f0f6ff;
}
