:root {
  --primary: #6d6afe;
  --backgroundcolor: #F0F6FF;
  --white: #f5f5f5;
  --black: #111322;
  --darkgray: #373740;
  --gray: #CCD5E3;
  --lightgray: #CFCFCF;
  --silver: #E7EFFB;
  --skyblue: #6AE3FE;
  --red: #ff5B56;
}
