:root {
  --linkbrary-bg: #f0f6ff;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
  --fandom-K-gra-blue-to-pink: linear-gradient(
    271deg,
    #fe578f -9.84%,
    #68e8f9 107.18%
  );
  --the-julge-black: #111322;
  --linkbrary-black: #000;
  --linkbrary-primary-color: #6d6afe;
  --linkbrary-grey-Light: #f5f5f5;
  --linkbrary-gray20: #ccd5e3;
  --linkbrary-gray10: #e7effb;
  --linkbrary-gray100: #373740;
  --linkbrary-white: #fff;
}
