/* 공통 스타일시트 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;

  --black: #111322;
  --white: #ffffff;

  --gray00: #f0f6ff;
  --gray10: #e7effb;
  --gray20: #ccd5e3;
  --gray60: #9fa6b2;
  --gray100: #3e3e43;

  --Grey-Light: #f5f5f5;
  --Linkbrary-bg: #f0f6ff;

  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

html {
  /* 1rem = 10px */
  font-size: 10px;
}

body {
  font-family: "pretendard", "맑은 고딕", sans-serif;
  font-style: normal;
  line-height: normal;
}

/* ---------Header--------- */

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1.3rem 3.2rem;
  width: 100%;
  z-index: 1;
}

.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gnb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.gnb-container .logo {
  width: 8.8667rem;
  height: 1.6rem;
}

/* Tablet */
@media (min-width: 768px) {
  header {
    padding: 2rem 3.2rem;
  }

  .gnb-container {
    max-width: 78.3rem;
  }

  .gnb-container .logo {
    width: 13.3rem;
    height: 2.4rem;
  }
}

/* PC */
@media (min-width: 1200px) {
  header {
    padding: 2rem 20rem;
    max-width: 192rem;
  }

  .gnb-container {
    max-width: 100%;
  }
}

/* ---------Main--------- */

button {
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--Linkbrary-bg, #f0f6ff);
}

input {
  width: 100%;
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray20, #ccd5e3);
  background: var(--white, #fff);
  color: #373740;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

input::placeholder {
  color: var(--Linkbrary-gray60, #9fa6b2);
}

input:focus {
  outline: 0.1rem solid var(--primary, #6d6afe);
}

.input-error {
  outline: 0.1rem solid var(--red, #ff5b56);
}

/* ---------Footer--------- */

footer {
  height: 16rem;
  background: var(--black, #111322);
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-company {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-link {
  display: flex;
  gap: 3rem;
}

.footer-link a {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.footer-social {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-social img {
  width: 2rem;
  height: 2rem;
}

/* Mobile */
@media screen {
  footer {
    margin-top: 4rem;
    padding: 3.2rem;
  }

  .footer-company {
    position: absolute;
    bottom: 0;
    left: 0;
    order: 1;
  }
}

/* Tablet */
@media (min-width: 768px) {
  footer {
    margin-top: 12rem;
    padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  }

  .footer-company {
    position: static;
    order: 0;
  }
}
