:root {
  --Linkbrary-primary: #6d6afe;
  --Linkbrary-red: #ff5b56;
  --Linkbrary-black: #111322;
  --Linkbrary-white: #ffffff;

  --Linkbrary-gray100: #373740;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray10: #e7effb;

  --Linkbrary-background: #f0f6ff;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: #f5f5f5;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  gap: 0.63rem;
  font-size: 1.13rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Mobile */
@media (max-width: 767px) {
  .btn-link {
    font-size: 0.88rem;
    padding: 0.63rem 1rem;
  }
}
