.cta {
  border-radius: 0.5rem;
  background: var(
    --Linkbrary-gradation,
    linear-gradient(91deg, var(--Primary) 0.12%, #6ae3fe 101.84%)
  );
  cursor: pointer;
}

.cta.small {
  width: 8rem;
}

.cta.large {
  width: 21.875rem;
}

.cta.xlarge {
  width: 25rem;
}

.cta-text {
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-decoration-line: none;
}
