.red {
  position: static;
  width: 50px;
  height: 50px;
  background-color: rgb(226, 13, 13);
  border: 2px solid yellow;
  margin: 10px;
}

.blue {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 2px solid rgb(132, 132, 187);
  margin: 10px;
}

body {
  padding: 30px;
  background-color: rgb(8, 0, 56);
  display: flex;
}

:root {
  --light-brown: rgba(153, 77, 16, 0.84);
  --dark-blue: rgba(28, 42, 144, 0.626);
}
