@import './color.css';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Pretendard';
}

html,
body {
  font-size: 62.5%;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
