* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    /*width: 1920px;
    margin: 0 auto;
    padding: 0;*/
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* refer to template code */
    margin: 0;
    padding: 0;
    background-color: var(--Linkbrary-bg);
}

@media screen and (min-width: 1920px) {
    body {
        background-color: var(--Linkbrary-bg);
        overflow: hidden;
    }
}

/* Written in PC size */
/* nav */
nav {
    width: 100%;
    /*max-width: 1920px;*/
    background-color: var(--Linkbrary-bg);
    margin: 0 auto;
    display: flex;
    padding: 1.25rem 12.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    position: fixed;
}

.navBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-self: stretch;*/
    width: 100%;
}

.navBox.logo {
    cursor: pointer;
    width: 8.3125rem;
    height: 1.5rem;
}

a {
    text-decoration: none;
}

nav button {
    cursor: pointer;
    display: flex;
    width: 8rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Linkbrary-primary-color) 0.12%, #6AE3FE 101.84%));
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* mainContainer */
.mainContainer {
    display: flex;
    width: 120rem;
    padding: 4.375rem 22.5rem 0rem 22.5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    background: var(--Linkbrary-bg);
}

.mainContainer button {
    cursor: pointer;
    display: flex;
    width: 21.875rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Linkbrary-primary-color) 0.12%, #6AE3FE 101.84%));
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainContainer img {
    width: 1200px;
    height: 590px;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, var(--Linkbrary-bg) 94.76%);
}

.mainContainer h1 .br {
    display: none; 
    /*br 태그가 모바일과 태블릿에서는 적용되고, 
    pc 사이즈에서는 가리게 하여 해결하였습니다!*/
}

h1.mainTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
    margin-bottom: 0;
    padding-top: 7rem;
    word-break: keep-all;
}

.mainTitle_gra {
    background: linear-gradient(91deg, var(--Linkbrary-primary-color) 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* container1_memoryContainer */
.memoryContainer {
    display: flex;
    padding: 7.5rem 28.8125rem 3.125rem 28.8125rem;
    justify-content: center;
    align-items: center;
    background-color: var(--Linkbrary-white);
}

.memoryContainer img {
    width: 550px;
    height: 450px;
}

.memoryBox {
    display: flex;
    align-items: center;
    gap: 9.8125rem;
    background-color: var(--Linkbrary-white);
}

.memoryText {
    display: flex;
    width: 19rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: var(--Linkbrary-white);
}

h2.memoryTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

.memoryTitle_gra {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.memoryDescription {
    color: #6B6B6B;
    font-family: Abel;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150%*/
}

/* container2_manageContainer */
.manageContainer {
    display: flex;
    padding: 3.125rem 28.8125rem;
    justify-content: center;
    align-items: center;
    background-color: var(--Linkbrary-white);
}

.manageContainer img {
    width: 550px;
    height: 450px;
}

.manageBox {
    display: flex;
    align-items: center;
    gap: 9.8125rem;
    background-color: var(--Linkbrary-white);
}

.manageText {
    display: flex;
    width: 19rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: var(--Linkbrary-white);
}

h2.manageTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

.manageTitle_gra {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.manageDescription {
    color: #6B6B6B;
    font-family: Abel;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150%*/
}

/* container3_shareContainer */
.shareContainer {
    display: flex;
    padding: 3.125rem 28.8125rem;
    justify-content: center;
    align-items: center;
    background-color: var(--Linkbrary-white);
}

.shareContainer img {
    width: 550px;
    height: 450px;
}

.shareBox {
    display: flex;
    align-items: center;
    gap: 9.8125rem;
    background-color: var(--Linkbrary-white);
}

.shareText {
    display: flex;
    width: 21rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: var(--Linkbrary-white);
}

h2.shareTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

.shareTitle_gra {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shareDescription {
    color: #6B6B6B;
    font-family: Abel;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150%*/
}

/* container4_searchContainer */
.searchContainer {
    display: flex;
    padding: 3.125rem 28.8125rem;
    justify-content: center;
    align-items: center;
    background-color: var(--Linkbrary-white);
}

.searchContainer img {
    width: 550px;
    height: 450px;
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 9.8125rem;
    background-color: var(--Linkbrary-white);
}

.searchText {
    display: flex;
    width: 21rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: var(--Linkbrary-white);
}

h2.searchTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

.searchTitle_gra {
    background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchDescription {
    color: #6B6B6B;
    font-family: Abel;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150%*/
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 1.875rem;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
}

.footerBox {
    /*display: flex;*/
    height: 10rem;
    padding: 2rem 6.5rem 4rem 6.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--Linkbrary-black);
}

.detailBox {
    /*display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;*/
    display: grid;
    justify-content: space-between;
    grid-template:
        "links sns"
        ". ." 1fr
        "cr .";
    width: 100%;
}

.leftText {
    color: #676767;
    /*text-align: center;*/
    font-family: Acme;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: cr;
    text-align: left;
}

.centerText {
    display: flex;
    width: 11.31944rem;
    align-items: flex-start;
    gap: 1.875rem;
    grid-area: links;
}

.centerText span {
    cursor: pointer;
    color: #CFCFCF;
    font-family: Acme;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightIcons {
    display: flex;
    grid-area: sns;
    justify-content: end;
}

.rightIcons img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0 0.5rem;
}


/* for responsive pages */
/* mobile */
@media (min-width: 375px) and (max-width: 767px) {
    html {
        font-size: 50%;
    }
    body {
        width: 100vw;
        /*padding-left: 32px;
        padding-right: 32px;*/
    }

    nav {
        padding: 13px 32px;
    }
    .navLogo {
        margin-right: auto;
        width: 11rem;
        height: 2rem;
    }
    nav a button {
        margin-left: auto;
        width: 80px;
        padding: 10px 16px;
    }
    .mainContainer {
        padding: 28px 32px 0px 33px;
        gap: 24px;
        margin-top: 15px;
    }
    .mainContainer img {
        width: calc(100vw - 64px);
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .mainContainer h1 {
        /*width: calc(100vw - 64px);*/
        width: 45rem;
        white-space: normal;
    }

    .mainContainer h1 .br {
        display: inline-block;
    }

    .mainContainer button {
        width: 25rem;
        padding: 1.25rem 2rem;
    }

    .memoryContainer {
        padding: 40px 32px 36.091px 33px;
    }
    .memoryContainer img {
        width: calc(100vw - 64px);
        height: auto;
    }
    .memoryBox{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .memoryText {
        width: calc(100vw - 64px);
        height: auto;
    }

    .manageContainer {
        padding: 40px 32px 42.091px 33px;
    }
    .manageContainer img {
        width: calc(100vw - 64px);
        height: auto;
    }
    .manageBox {
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
    .manageText {
        width: calc(100vw - 64px);
        height: auto;
    }

    .shareContainer {
        padding: 40px 32px 42.091px 33px;
    }
    .shareContainer img {
        width: calc(100vw - 64px);
        height: auto;
    }
    .shareBox {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .shareText {
        width: calc(100vw - 64px);
        height: auto;
    }

    .searchContainer {
        padding: 40px 32px 41.091px 33px;
    }
    .searchContainer img {
        width: calc(100vw - 64px);
        height: auto;
    }
    .searchBox {
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
    .searchText {
        width: calc(100vw - 64px);
        height: auto;
    }
    .detailBox {
        /* display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch; */
        display: grid;
        justify-content: space-between;
        grid-template:
            "links sns"
            ". ." 1fr
            "cr .";
        width: 100%;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        width: 100vw;
    }
    /*nav {
        padding: 20px 32px;
    }*/

    .navBox {
        /* width 고정해봤는데 안되어요...ㅠ ㅠ*/
        width: 700px;
    }  
    /*.navBox.logo {
        margin-right: auto;
    }
    nav a button {
        margin-left: auto;
    }*/
    .mainContainer {
        padding: 2.5rem 15.625rem 0rem 15.6875rem;
    }
    .mainContainer img {
        width: 698px;
        height: 343px;
    }
    .mainContainer h1 {
        /*width: calc(100vw - 64px);*/
        width: 40rem;
        white-space: normal;
    }

    
    .mainContainer h1 .br {
        display: inline-block;
    }
    
    .memoryContainer {
        padding: 5rem 15.625rem 3.125rem 15.6875rem;
    }
    .memoryContainer img {
        width: 385px;
        height: 315px;
    }
    .memoryBox {
        gap: 3.1875rem;
    }

    .manageContainer {
        padding: 3.125rem 15.625rem 3.125rem 15.6875rem;
    }
    .manageContainer img {
        width: 385px;
        height: 315px;
    }
    .manageBox {
        gap: 3.1875rem;
    }

    .shareContainer {
        padding: 3.125rem 15.625rem 3.125rem 15.6875rem;
    }
    .shareContainer img {
        width: 385px;
        height: 315px;
    }
    .shareBox {
        gap: 3.1875rem;
    }

    .searchContainer {
        padding: 3.125rem 15.625rem 3.125rem 15.6875rem;
    }
    .searchContainer img {
        width: 385px;
        height: 315px;
    }
    .searchBox {
        gap: 3.1875rem;
    }
    .detailBox {
        display: flex;
        justify-content: space-between;
        grid-template: "cr links sns";
        height: fit-content;
        max-width: 192rem;
    }
}

@media (min-width: 1200px) {
    .detailBox {
        display: flex;
        justify-content: space-between;
        grid-template: "cr links sns";
        height: fit-content;
        max-width: 192rem;
    }
}
