*{
    box-sizing: border-box;
}
body{
    background-color: #F0F6FF;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #F0F6FF;
    padding: 20px 200px;
    height: 94px;
}
.logo{
    width: 133px;
    height: 24px;
}
.login-btn{
    padding: 16px 20px;
    width: 128px;
    height: 54px;
    background-image: linear-gradient(90deg,rgba(109, 106, 254, 1),rgba(106, 227, 254, 1));
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: #FFFFFF;
    gap:8px;
}
.container{
    position: relative;
    top: 94px;
}
.add-link{
    width: 350px;
    height: 54px;
    background-image: linear-gradient(90deg,#6D6AFE 50%,#6AE3FE);
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    padding: 16px 20px;
}
.subject-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.subject{
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;   
}
.subject span{
    background: linear-gradient(90deg,#6D6AFE 50%,#FF9F9F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.search-link{
    
    
    width: 1118px;
    height: 659px;
    /* border-radius: 25px; */
    top: 50px;
    left: 41px;;
    z-index: -1 ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-image:linear-gradient(#F0F6FF 50%,#C4C4C4) ; */
}
.contents{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 460px;
    position: relative;
    top: -95px;
    width: 100%;
    
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111322;
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 32px 104px 64px 104px;
    z-index: 1;
    position: relative;
    
    
}
section{
    display: flex;
    gap: 157px;;
    top: 50px;
    left: 461px;
    margin:50px 0;
}
section p{
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.text-gradient1{
    background: linear-gradient(90deg,#FE8A8A,#A4CEFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.text-gradient2{
    background: linear-gradient(90deg,#6FBAFF,#FFD88B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.text-gradient3{
    background: linear-gradient(90deg,#6D7CCD,#528885);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.text-gradient4{
    background: linear-gradient(90deg,#FE578F,#68E8F9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.img-section{
    width: 550px;
    height: 450px;
    background-color: #F0F6FF;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img-section .img1{
    width: 244px;
    height: 239px;
}
.img-section .img2{
    width: 414px;
    height: 270px;
}
.img3{
    width: 570px;
    height: 469px;
}
.img-section .img4{
    width: 619px;
    height: 584px;
    border-radius: 15px;
    position: absolute;
    top: 55px;
    left: 60px;
}
section h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 57.6px;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 269px;
}
.corporation{
    font-size: 16px;
    line-height: 20.26px;
    font-weight: 400;
    color:#676767;
    ;
}
.footer-mid{
    display: flex;
    gap: 10px;
}
.footer-mid a{
    font-size: 16px;
    font-weight: 400;
    color: #CFCFCF;
    gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .search-link{
        width: 650.3px;
        height: 383.11px;
    }
    .img-section{
        width: 385px;
        height: 315px;
    }
    .img3{
        width: 385px;
        height:315px;
    }
    .img-section .img2{
        width: 325px;
        height: 280px;
    }
    section{
        gap:51px;
    }
}
/* 모바일 */
@media screen and (min-width: 375px) and (max-width: 767px){
    .logo{
        width: 88.67px;
        height: 16px;
    }
    .login-btn{
        width: 80px;
        height: 37px;
    }
    .subject{
        font-size: 32px;
        line-height: 42px;
    }
    .add-link{
        width: 200px;
        height: 37px;
        font-size: 14px;
        line-height: 16.71px;
    }
    .search-link{
        width: 500px;
        height: 350px;
        left: 0;
        border-radius: 25px;
    }
    section{
        width: 100%;
        height: 100%;
        display: flex;
        
        gap: 0;
        
    }
    section h2{
        font-size: 24px;
        display: flex;
        flex-direction: row;
    }
    
}