* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--Linkbrary-bg);
    max-width: 1920px;
    font-family: Pretendard;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

a {
    text-decoration-line: none;
}

/* navigation */

nav {
    position: sticky;
    top: 0;
    display: flex;
    padding: 1.25rem 12.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    background: var(--Linkbrary-bg);
    z-index: 2;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.logo {
    width: 133px;
    height: 24px;

}

.log-in {
    display: flex;
    width: 8rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--Grey-Light);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0.5rem;
    background: var(--gra-purpleblue-to-skyblue);
}

/* header */

header {
    background: var(----Header-white);
}

.header-container {
    padding: 4.375rem 22.5rem 0rem 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    overflow: hidden;
}

.header-title {
    min-width: 1200px;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    color: var(--black);
}

.header-title span {
    background: var(--Headear-Title-blue-to-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-link {
    display: flex;
    width: 21.875rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: var(--gra-purpleblue-to-skyblue);
    color: var(--Grey-Light);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tablet-br {
    display: none;
}

header img {
    width: 1200px;
    height: 590px;
}

/* main */

.section-top {
    display: flex;
    padding: 7.5rem 28.8125rem 3.125rem 28.8125rem;
    justify-content: center;
    align-items: center;
    background-color: var(--Section-white)
}

.section-content {
    display: flex;
    padding: 3.125rem 28.8125rem;
    justify-content: center;
    align-items: center;
    background-color: var(--Section-white);
}

.section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 9.8125rem;
    row-gap: 0.625rem;
}

.section-title {
    align-self: end;
    width: 18.1875rem;
    color: var(--black);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

.section-text {
    width: 18.1875rem;
    color: #6B6B6B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.text-left .section-img {
    grid-column: 2;
    grid-row: span 2;
}

.text-left .section-title {
    grid-row: 1;
    grid-column: 1;
}

.text-left .section-text {
    grid-column: 1;
    grid-row: 2;
}

.text-right .section-img {
    grid-column: 1;
    grid-row: span 2;
}

.text-right .section-title {
    grid-row: 1;
    grid-column: 2;
}

.text-right .section-text {
    grid-column: 2;
    grid-row: 2;
}

.section-img {
    width: 550px;
    height: 450px;
    border-radius: 0.9375rem;
    background: var(----Header-white);
}

.text-gradient-link {
    background: var(--gra-pink-to-skyblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-manage {
    background: var(--gra-skyblue-to-yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-share {
    color: transparent;
    background: var(--gra-blue-to-green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-search {
    background: var(--Fandom-K-gra-blue-to-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */

footer {
    display: flex;
    height: 17.5rem;
    padding-top: 7.5rem;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
    background-color: var(--Section-white)
}

.footer-container {
    display: flex;
    height: 10rem;
    padding: 2rem 6.5rem 4rem 6.5rem;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--The-julge-black);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    font-family: Acme;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company {
    color: var(--Company-gray);
}


.footer-menu {
    display: flex;
    width: 11.31944rem;
    align-items: flex-start;
    gap: 1.875rem;
}

.footer-menu a {
    color: var(--Footer-white);
}

.footer-icon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0.75rem;
}

.footer-icon img {
    width: 20px;
    height: 20px;
}

/* Tablet */

@media (max-width : 1199px) {

    nav {
        padding: 20px 0;
    }

    .gnb {
        width: 767px;
        margin: 0 auto;
    }

    .logo {
        margin-left: 32px;
    }

    .log-in {
        margin-right: 32px;
    }

    .header-container {
        padding: 2.5rem 15.625rem 0rem 15.6875rem;
    }

    header img {
        width: 698px;
        height: 343px;
    }

    .header-title {
        width: 767px;
    }

    .pc-br {
        display: none;
    }

    .tablet-br {
        display: inline-block;
    }

    .section-top {
        padding: 5rem 15.625rem 3.125rem 15.6875rem;
    }

    .section-content {
        padding: 3.125rem 15.625rem 3.125rem 15.6875rem;
    }

    .section-container {
        gap: 3.1875rem;
    }

    .section-textbox {
        width: 16.375rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .section-img {
        width: 325px;
        height: 265.909px;
    }

    footer {
        display: flex;
        height: 17.5rem;
        padding-top: 7.5rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 0;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
        background-color: var(--Section-white);
    }

}

/* Moblie */

@Media (max-width: 767px) {
    body {
        max-width: 767px;
        min-width: 357px;
    }

    nav {
        padding: 13px 32px;
    }

    .gnb {
        width: auto;
        margin: 0;
    }

    .logo {
        width: 5.54169rem;
        height: 1rem;
    }

    .log-in {
        width: 5rem;
        padding: 0.625rem 1rem;
        font-size: 0.875rem;
    }

    .header-container {
        padding: 1.75rem 2rem 0rem 2.0625rem;
        gap: 1.5rem;
    }

    .header-title {
        font-size: 2rem;
        line-height: 2.625rem;
    }

    .header-title span {
        background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header-link {
        width: 12.5rem;
        padding: 0.625rem 1rem;
        font-size: 0.875rem;
    }

    header img {
        width: 20.3125rem;
        height: 10rem;
    }

    .section-top {
        padding: 40px 32px 36.091px 33px;
        flex-direction: column;
    }

    .section-content {
        padding: 40px 32px 36.091px 33px;
        flex-direction: column;
    }

    .section-container {
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding: 2.5rem 2rem 2.63069rem 2.0625rem;
        width: 100%;
    }

    .text-left .section-img {
        grid-row: 2;
        grid-column: 1;
    }

    .text-left .section-title {
        grid-row: 1;
        grid-column: 1;
    }

    .text-left .section-text {
        grid-row: 3;
        grid-column: 1;
    }

    .text-right .section-img {
        grid-row: 2;
        grid-column: 1;
    }

    .text-right .section-title {
        grid-row: 1;
        grid-column: 1;
    }

    .text-right .section-text {
        grid-row: 3;
        grid-column: 1;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .section-text {
        font-size: 0.9375rem;
        width: 100%;
    }

    .section-img {
        width: 100%;
        height: 100%;
    }


    footer {
        padding-top: 2.5rem;
        height: auto;
        border-radius: 0;
    }

    .footer-container {
        height: 10rem;
        padding: 2rem 2rem 4rem 2rem;
    }

    .footer-content {
        position: relative;
    }

    .company {
        position: absolute;
        bottom: -3.75rem;
        left: 0;
    }

    .pc-br {
        display: none;
    }

    .tablet-br {
        display: none;
    }

}