@import "./global.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  max-width: 192rem;
  padding: 0 20rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf7ff;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

.cta-short {
  width: 12.8rem;
}

.cta-long {
  width: 35rem;
}

.slogan {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.slogan-gradient {
  background-image: linear-gradient(119deg, var(--primary) 0%, #ff9f9f 100%);
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image {
  width: 120rem;
  height: 59rem;
}

article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section {
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 100%;
  height: 55rem;
  padding: 50px 0;
}

section:nth-of-type(odd) {
  grid-template:
    ". image"
    "title image"
    "description image"
    ". image"
    /291px 55rem;
}

section:nth-of-type(even) {
  grid-template:
    "image ."
    "image title"
    "image description"
    "image ."
    /550px 29.1rem;
}

.title {
  grid-area: title;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: -0.03rem;
}

.title-1-gradient {
  background-image: linear-gradient(117deg, #fe8a8a 2.29%, #a4ceff 100%);
}
.title-2-gradient {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
}
.title-3-gradient {
  background-image: linear-gradient(133deg, #2945c7 0%, #dbe1f8 100%);
}
.title-4-gradient {
  background-image: linear-gradient(310deg, #fe578f 0%, #68e8f9 100%);
}

.description {
  grid-area: description;
  font-size: 1.6rem;
  font-weight: 500;
  color: #6b6b6b;
  line-height: 150%;
}

.content-image {
  grid-area: image;
  width: 55rem;
  height: 45rem;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: var(--black);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer-links {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footer-link {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  article {
    padding: 0;
    margin-bottom: 7.5rem;
  }
  section {
    column-gap: 3.19rem;
    height: 19.6875rem;
    margin: 3.12rem 0;
    padding: 0;
  }

  section:nth-of-type(odd) {
    grid-template:
      ". image"
      "title image"
      "description image"
      ". image"
      /18rem 24.0625rem;
  }

  section:nth-of-type(even) {
    grid-template:
      "image ."
      "image title"
      "image description"
      "image ."
      /24.0625rem 18rem;
  }

  .gnb {
    padding: 0 32px;
  }

  .hero-image {
    width: 40.64394rem;
    height: 23.94463rem;
  }

  .content-image {
    width: 24.0625rem;
    height: 19.6875rem;
  }

  .slogan {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem; /* 125% */
  }
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3125rem;
    cursor: pointer;
    background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
    border-radius: 0.8rem;
    color: #f5f5f5;
    font-size: 1.125rem;
    font-weight: 600;
  }
  .cta-short {
    width: 8rem;
  }
  .cta-long {
    width: 21.875rem;
  }

  .title {
    grid-area: title;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
  }
  .description {
    grid-area: description;
    font-size: 1rem;
    font-weight: 500;
    color: #6b6b6b;
    line-height: 150%;
  }
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  article {
    display: flex;
    flex-direction: column;
    gap: 5.13rem;
    padding: 2.5rem 0;
  }
  section {
    padding: 0 32px;
    display: grid;
    justify-content: center;
    /* column-gap: 15.7rem; */
    /* row-gap: 1rem; */
    width: 100%;
    height: auto;
  }

  section:nth-of-type(odd) {
    grid-template:
      "title"
      "image"
      "description"/1fr;
  }

  section:nth-of-type(even) {
    grid-template:
      "title"
      "image"
      "description"/1fr;
  }

  .gnb {
    padding: 0 32px;
  }

  .hero-header {
    padding: 28px 32px 0;
    row-gap: 2.4rem;
  }
  .slogan {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.625rem; /* 131.25% */
  }
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3125rem;
    cursor: pointer;
    background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
    border-radius: 0.8rem;
    color: #f5f5f5;
    font-size: 0.875rem;
    font-weight: 600;
  }
  .cta-short {
    width: 5rem;
  }
  .cta-long {
    width: 12.5rem;
  }

  .hero-image {
    width: 18.9245rem;
    height: 11.1695rem;
  }
  .content-image {
    width: 20.3125rem;
    height: 16.61931rem;
  }

  .title {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
  }
  .description {
    grid-area: description;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #6b6b6b;
    line-height: 150%;
  }

  footer {
    margin-top: 2.5rem;
  }

  .footer-box {
    display: grid;
    grid-template:
      "footer-links sns"
      "copyright ."
      /1fr 1fr;
    row-gap: 3.75rem;
    align-items: center;
    padding: 0 32px;
  }

  .copyright {
    justify-content: flex-start;
    grid-area: copyright;
  }

  .footer-links {
    grid-area: footer-links;
  }

  .sns {
    justify-content: flex-end;
    grid-area: sns;
  }
}
