@import url("./color.css");

* {
  box-sizing: border-box;
}

body {
  margin: -8px;
}

.right_txt_body_grid p {
  color: #6b6b6b;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray5);
}

.logo {
  width: 133px;
}

.botton_back {
  border-radius: 8px;
  height: 50px;
  padding: 16px 32px;
  cursor: pointer;

  color: var(--white);
  background: var(--gra-purpleblue-to-skyblue);

  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.login {
  width: 128px;
}

.main_contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer_contents {
  background-color: var(--black);
  height: 280px;
  width: 100%;
}

.body_top_content {
  padding-top: 200px;
  width: 100%;
  height: 953px;
  background: var(--gray5);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f0f6ff;
}

.top_body {
  display: flex;
  width: 100%;
  margin: 0 360px;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

.top_body_txt {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top_txt {
  text-align: center;
  font-family: Pretendard;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  display: flex;
}

.body_contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--white);
}

.gradation_txt {
  background: var(--gra-purpleblue-to-pinkOrange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top_content_btn {
  width: 350px;
  display: flex;
  margin: 10px 16px;
}

.btn_add_link {
  width: 100%;
}

.top_body_img_box {
  margin: 0 32px;
  height: 500px;
  width: 90%;
}

.top_body_img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--shadow);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.body_grid_box {
  margin: 50px auto;
  padding: 50px auto;
}

.right_txt_body_grid {
  margin: 0 32px;
  display: grid;
  grid-template-columns: 291px 157px 550px;
  grid-template-rows: 131px 116px 72px 131px;
}

.grid_title {
  grid-row: 2;
}
.grid_content {
  grid-row: 3;
}
.grid_left_img {
  grid-row: 1;
  grid-column: 3;
}

.left_txt_body_grid {
  margin: 0 32px;
  display: grid;
  grid-template-columns: 550px 100px 291px;
  grid-template-rows: 131px 116px 72px 131px;
}

.left_title {
  grid-row: 2;
  grid-column: 3;
}

.left_grid_content {
  grid-row: 3;
  grid-column: 3;
}

.grid_right_img {
  grid-row: 1;
}

.body_title_txt {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.body_gradation_txt1 {
  background: var(--gra-pinkOrange-to-skybliue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body_gradation_txt2 {
  background: var(--gra-yellow-to-skybliue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body_gradation_txt3 {
  background: var(--gra-purpleblue-to-lightGreen);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body_gradation_txt4 {
  background: var(--Fandom-K-gra-blue-to-pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body_img {
  width: 550px;
  height: 450px;
}

.icon_img {
  width: 20px;
  margin-right: 12px;
}

.footer_white {
  background-color: var(--white);
  height: 120px;
}

.footer_line {
  padding: 32px 104px 64px 104px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: var(--gray6);
}

.img_link {
  text-decoration: none;
}

.footer_link {
  color: var(--gray7);
  margin-left: 30px;
  text-decoration: blink;
}

/* 1200px미만 태블릿 */
@media (max-width: 1199px) {
  .logo {
    width: 88px;
    height: auto;
  }

  .top_txt_under {
    display: flex;
    flex-direction: column;
  }

  .botton_back {
    font-size: 14px;
    height: 37px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .top_content_btn {
    width: 200px;
    padding: 10px 16px;
  }

  .btn_add_link {
    width: 200px;
  }
}

/* 768px미만 모바일 */
@media (max-width: 767px) {
  .nav {
    padding: 13px 32px;
  }

  .body_top_content {
    padding-top: 91px;
    width: auto;
    height: auto;
  }

  .login {
    width: 7rem;
  }

  .top_txt {
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }

  .body_grid_box {
    margin: 0x;
  }

  .top_body_img_box {
    margin: 0 32px;
    height: auto;
    width: auto;
  }

  .top_body_img {
    width: 100%;
    height: auto;
  }

  .body_title_txt {
    font-size: 24px;
    display: flex;
  }

  .right_txt_body_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto 80px;
  }

  .grid_title {
    grid-row: 1;
  }
  .grid_content {
    grid-row: 3;
  }
  .grid_left_img {
    grid-row: 2;
    grid-column: 1;
  }

  .body_img {
    width: 100%;
    height: auto;
  }

  .left_txt_body_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto 80px;
  }

  .left_title {
    grid-row: 1;
    grid-column: 1;
  }

  .left_grid_content {
    grid-row: 3;
    grid-column: 1;
  }

  .grid_right_img {
    grid-row: 2;
    grid-column: 1;
  }

  .footer_white {
    height: 40px;
  }

  .footer_line {
    padding: 32px 0.5rem 64px 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer_inside_links {
    width: 70%;
  }

  .footer_outside_links {
    width: 30%;
  }

  .img_link {
    margin-left: -0.2rem;
  }

  .copyright {
    height: 70px;
    display: flex;
    align-items: end;
    margin-left: 32px;
    order: 1;
  }
}
