* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

/* 상단 내비게이션 바 */
nav {
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 200px;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background: #F0F6FF;
  width: 100%;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.signin span {
  color: #F5F5F5;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signin {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

/* section1 */
.section1 {
  display: flex;
  padding: 70px 360px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  background: #F0F6FF;
}

.section1Title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  margin: 0;
}

.section1Title span {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkAdd {
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  color: #F5F5F5;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section1 img {
  width: 1118px;
  height: 659px;
  flex-shrink: 0;
}

/* section */
section {
  display: flex;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}

.sectionContent {
  display: flex;
  align-items: center;
  gap: 157px;
}

.titleBox {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.sectionTitle {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  margin: 0;
}

.description {
  color: #6B6B6B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 0;
}

.sectionImage {
  width: 550px;
  height: 450px;
}

/* span */
.section2Title {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section3Title {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section4Title {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section5Title {
  background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
footer {
  display: flex;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 30px;
}

.section6 {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: #111322;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.codeit{
  color: #676767;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.center {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
}

.center a {
  color: #CFCFCF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}