/** 기본 설정 **/
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard-Regular";
}

/** rem을 사용할 때, 계산하기 쉽게 하기 위해서 **/
html,
body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
}
