body {
  background: var(--Gray500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14.875rem 0rem 15.75rem 0rem;
  gap: 2rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.88rem;

  .logo {
    width: 13.16144rem;
    height: 2.375rem;
  }

  .text-black {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
  }

  .text-signup {
    color: var(--Primary, #6d6afe);
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: underline;
  }

  .input-pwd {
    position: relative;
  }

  .box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .box-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .box-form input {
    margin-top: 0.75rem;
    display: flex;
    width: 25rem;
    padding: 1.125rem 0.9375rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
    background: var(—Linkbrary-white, #fff);

    color: var(—Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
  }
  .box-form label {
    color: var(—black, #000);
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .box-form input:focus {
    border-color: var(--Primary);
    outline: none;
  }

  .eye {
    position: absolute;
    top: 3.2rem;
    left: 22.5rem;
  }
}

.social-login {
  border-radius: 0.5rem;
  border: 1px solid var(--Gray300);
  background: var(--Gray400);
  display: flex;
  width: 25rem;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 25rem;

  .text {
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .icon-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .icon {
    width: 2.625rem;
    height: 2.625rem;
  }
}
