@import url("./color.css");

* {
  box-sizing: border-box;
}

body {
  background: var(--gray5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 230px 0;
  min-width: 340px;
}

.sign_logo {
  width: 210px;
  height: 38px;
}

.login_info {
  margin: 16px auto;
  color: var(--black);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.login_info a {
  color: var(--primary);
  font-weight: 600;
  line-height: normal;
}

.form_box {
  width: 400px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form_label {
  color: var(--black);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.form_input {
  margin-bottom: 24px;
  padding: 18px 15px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--gray3);
  background: var(--white);
}

.form_input:focus {
  border: 1px solid var(--primary);
}

.password {
  display: flex;
  justify-content: flex-end;
}

.password .form_input {
  width: 100%;
  position: relative;
}

.btn_password_icon {
  margin: 14px;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  position: absolute;
  background-color: white;
}

.btn_password_icon_imgs {
  margin: 0;
  width: 30px;
}

.signup_button {
  border-radius: 8px;
  height: 50px;
  width: 400px;
  padding: 16px 20px;
  cursor: pointer;

  color: var(--white);
  background: var(--gra-purpleblue-to-skyblue);

  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.social_login_box {
  margin-top: 32px;
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--gray3);
  background: var(--gray4);
}

.social_icons {
  display: flex;
  justify-content: center;
}

.social_icon_link {
  padding: 10px;
  text-decoration: none;
  flex-shrink: 0;

  width: 42px;
  height: 42px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 16px;
}

.back_color_yellow {
  background: #f5e14b;
}

.back_color_white {
  background: var(--white);
}

.social_login_icon {
  width: 22px;
}

/* 1199px미만 태블릿  */
@media (max-width: 1199px) {
  .contents {
    padding: 200px 32px;
    width: 100%;
  }
}

/* 768px미만 모바일  */
@media (max-width: 767px) {
  .contents {
    padding: 120px 32px;
    width: 100%;
  }

  .form_box {
    width: 100%;
    max-width: 400px;
  }

  .signup_button {
    width: 100%;
    max-width: 400px;
  }

  .social_login_box {
    width: 100%;
    max-width: 400px;
  }
}
