@import "./global.css";

body {
  display: flex;
  padding: 238px 0px 116px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray5);
  gap: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.signin {
  color: var(--black);
  line-height: 24px;
}

.signin a {
  color: var(--primary);
  font-weight: 600;
}

form label {
  color: var(--black);
  font-size: 0.875rem;
}

form input {
  color: #373740;
  line-height: 24px;
}

form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

form .box {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

form input {
  width: 400px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  background: var(--white);
}

.password {
  position: relative;
  display: flex;
}

.eye-icon {
  position: absolute;
  top: 24px;
  right: 15px;
  cursor: pointer;
}

form button {
  margin-top: 30px;
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color:#F5F5F5;
  font-size: 1.125rem;
  font-weight: 600;
  background: linear-gradient(91deg, var(--primary) 0.12%, #6AE3FE 101.84%);
  border: none;
}

.social-signup {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray3);
  background: var(--gray4);
}

.social-signup span {
  font-size: 0.875rem;
  color: #373740;
}

.social-signup .icon {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}