@import "./global.css";

body {
  background: var(--linkbrary-bg);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 238px 0px 117px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signin-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.signin-title p {
  margin: 0;
  color: var(--linkbrary-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.signin-title a {
  color: var(--linkbrary-primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* signup form */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.input label {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.input input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray20);
  color: var(--linkbrary-gray100);
  background: var(--linkbrary-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.input input:focus {
  border: 1px solid var(--linkbrary-primary-color);
  outline: none;
}

.email-error,
.password-error,
.passwordRepeat-error {
  color: var(--linkbrary-red);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.eye-icon,
.repeat-eye-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.signup-button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--linkbrary-grey-Light);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/* soical signup */
.signupbtn-socialsignup {
  display: flex;
  flex-direction: column;
}

.social-signup {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray20);
  background: var(--linkbrary-gray10);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-icon {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.google-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.google-logo {
  position: absolute;
}

.kakao-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.kakao-logo {
  position: absolute;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content {
    padding: 200px 399px 178px 400px;
  }
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .content {
    padding: 120px 32px 120px 33px;
  }
}
