:root{
  --primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --gray-color-a: #3e3e43;
  --gray-color-b: #9fa6b2;
  --gray-color-c: #ccd5e3;
  --gray-color-d: #e7effb;
  --gray-color-e: #f0f6ff;
}

*{
  box-sizing: border-box;
  font-size: 16px;
  font-family: Pretendard;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f0f6ff;
}

main{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.top img{
  width: 210.583px;
  height: 38px;
  margin-bottom: 16px;
}

.top p{
  color: var(--black-color);
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.top a{
  color: var( --primary-color);
  font-weight: 600;
  line-height: normal;
}

.user_login_form{
  width: 100%;
}

.user label{
  width: 100%;
  display: block;
  margin-bottom: 12px;
  color: var( --black-color, #111322);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.user input{
  width: 100%;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--gray-color-c, #CCD5E3);
  background: var(--white-color, #FFF);
}

/* 포커스 아웃*/
.user .focused {
  border-color: var(--red-color, #ff5b56);
}

.user input:focus{
  border-radius: 8px;
  border: 1px solid var(--primary-color, #6D6AFE);
  background: var(--white-color, #FFF);
}

.user_email{
  margin-bottom: 24px;
}

.user_password{
  margin-bottom: 30px;
  position: relative;
}

.error_massage_id{
  margin-top: 5px;
  font-size: 14px;  
  font-weight: 400;
  color: var(--red-color, #FF5B56);
}

.error_massage_pw{
  height: 10px;
  margin-top: 5px;
  font-size: 14px;  
  font-weight: 400;
  color: var(--red-color, #FF5B56);
}

.password_icon{
  position: absolute;
  bottom: 35px;
  right: 15px;
}

.password_icon img{
  display: block;
  width: 16px;
  height: 16px;
  fill: #FFF;
  cursor: pointer;
}

.password_icon .pw_block {
  display: none;
}

.user_login_form button{
  border: none;
  width: 100%;
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
  cursor: pointer;
}

.social_login{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
}

.social_login p{
  color:  #373740;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}

.social_login_btn{
  display: flex;
  gap: 16px;
  background-color: transparent;
}

.social_login img{
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  background-color: transparent;
}
@media(max-width: 1199px){
  .container{
    padding: 200px 0px 291px 0px;
  }
}

@media(max-width: 767px){
  .container{
    padding: 120px 0px 233px 0px;
  }
  main{
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}