@import url('/css/config.css');

/* signup & signin 공통 CSS */
body {
    background-color: var(--Gray5, #f0f6ff);
}
main {
    margin-top: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
}
article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

form {
    width: 100%;
}

.signin-box,
.signup-box {
    color: var(--Black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 16px;
}
.top-box {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signin-box a,
.signup-box a {
    color: var(--Primary, #6d6afe);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: underline;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box label {
    color: var(--Black, #000);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-box input {
    border-radius: 8px;
    border: 1px solid var(--Gray3, #ccd5e3);
    background: var(--White, #fff);
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    width: 100%;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    margin-block: 12px 24px;
}

.input-box input:focus {
    border: 1px solid var(--Primary, #6d6afe);
}

.input-box .icon-box {
    cursor: pointer;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.form-btn {
    display: flex;
    width: 100%;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    border-radius: 8px;
    border: 0;
    background: var(
        --gra-purpleblue-to-skyblue,
        linear-gradient(91deg, var(--Primary, #6d6afe) 0.12%, #6ae3fe 101.84%)
    );
    margin-top: 8px;
    color: var(--White);
    font-size: 18px;
    cursor: pointer;
}

.sns-login-box,
.sns-regist-box {
    margin-top: 32px;
    display: flex;
    width: 100%;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Gray3, #ccd5e3);
    background: var(--Gray4, #e7effb);
}
.sns-box {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

input.form-input.error-box {
    border: 1px solid var(--Red, #ff5b56);
}

.error-text {
    color: var(--Red, #ff5b56);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-start;
    position: relative;
    top: -16px;
    display: none;
}
/* 테블릿 */
@media (max-width: 1199px) {
    main {
        margin-top: 200px;
    }
}
/* 모바일 */
@media (max-width: 767px) {
    article {
        max-width: 400px;
        width: auto;
        margin-inline: 32px;
    }
    main {
        margin-top: 120px;
    }
}
