@import "./common.css";

body {
  font-size: 1.6rem;
  margin-top: 23.8rem;
  background-color: var(--background);
}

/** header **/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

header img {
  width: 21.058rem;
}

.signup {
  text-align: center;
}

.signup a {
  text-decoration: 1.5px underline;
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 600;
}

/** main **/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.password-box {
  position: relative;
}

.password-box img {
  width: 1.6rem;
  position: absolute;
  top: 2.2rem;
  right: 1.5rem;
}

#login-form input {
  padding-left: 1rem;
  padding-right: 4rem;
  width: 40rem;
  height: 6rem;
  border-radius: 8px;
  border: 1px solid #d5ddea;
  outline-color: var(--primary);
}

.login-button {
  border-radius: 8px;
  background: linear-gradient(90deg, var(--primary), #6ae3fe);
  border: none;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.6rem 2rem;
  cursor: pointer;
}

/** social-login **/
.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40rem;
  height: 6.6rem;
  background-color: var(--gray4);
  border-radius: 8px;
  border: 1px solid var(--gray3);

  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
  padding: 1.2rem 2.4rem;
}

.social-login-icon {
  display: flex;
  gap: 1.6rem;
}

.social-login-icon img {
  flex-shrink: 0;
  width: 4.2rem;
}

/** Tablet **/
@media (max-width: 1199px) {
}

/** Mobile **/
@media (max-width: 767px) {
}
