@import "./common.css";

body {
  font-size: 1.6rem;
  margin-top: 23.8rem;
  background-color: var(--background);
}

/** header **/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.title-logo {
  width: 21.058rem;
}

.change-in_up {
  text-decoration: 0.15rem underline;
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 600;
}

/** main **/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.password-box {
  position: relative;
}

#password-onoff {
  width: 1.6rem;
  position: absolute;
  top: 2.2rem;
  right: 1.5rem;
  cursor: pointer;
}

#login-form input {
  padding-left: 1rem;
  padding-right: 4rem;
  width: 40rem;
  height: 6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #d5ddea;
  outline-color: var(--primary);
}

#login-button {
  border-radius: 0.8rem;
  background: linear-gradient(90deg, var(--primary), #6ae3fe);
  border: none;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.6rem 2rem;
  cursor: pointer;
}

/** social-login **/
.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40rem;
  height: 6.6rem;
  background-color: var(--gray4);
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray3);

  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
  padding: 1.2rem 2.4rem;
}

.social-icon img {
  flex-shrink: 0;
  width: 4.2rem;
}

.social-icon {
  display: flex;
  gap: 1.6rem;
}

/** Mobile **/
@media (max-width: 767px) {
  body {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
  }

  /** form **/
  #login-form input {
    padding: 1.8rem 1.5rem;
    width: 94vw;
    max-width: 40rem;
  }

  /** social-login **/
  .social-login {
    width: 94vw;
    max-width: 40rem;
  }
}

/** JS 관련 스타일 **/
#email-error-message,
#pw-error-message {
  font-size: 1.7rem;
  color: var(--red);
}

.hidden {
  display: none;
}

#email-inputbox.error-box {
  padding-left: 1rem;
  padding-right: 4rem;
  width: 40rem;
  height: 6rem;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--red);
}
