@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
	color: #000;
}

html {
	font-size: 16px;
	/* box-sizing: border-box; */
}

/* body{
    width: 1920px;
} */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem 0;
	margin: 0 auto;

	/* background: #F0F6FF; */
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	max-width: 1920px;
}

.logo {
	margin-left: 12.5rem;
	width: 8.3125rem;
	height: 1.5rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.25rem;
	gap: 0.625rem;
	border-radius: 0.5rem;
	color: white;
	background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));

	color: var(--Grey-Light, #f5f5f5);
	font-family: Pretendard;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.login {
	width: 5.5rem;
	height: 1.38rem;
	margin-right: 12.5rem;
}

.addLink {
	margin: 2.5rem 0;
	width: 19.4rem;
	height: 1.38rem;
}

.text {
	font-family: Pretendard;
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 5rem; /* 125% */
}

.center {
	text-align: center;
}

.color-1 {
	background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.color-2 {
	background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.color-3 {
	background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.color-4 {
	background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.color-5 {
	background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section1 {
	background: #f0f6ff;
	display: flex;
	flex-direction: column;
	padding: 10.26rem 22.5rem 0;
	justify-content: center;
	align-items: center;
}

.content {
	width: 62.4rem;
	height: 28.1rem;
	/* background-color: #6AE3FE; */
	margin: 6.24rem auto;
	display: flex;
	align-items: center;
}

.content:first-child {
	margin-top: 7.5rem;
}

.content:last-child {
	margin-bottom: 7.5rem;
}

.article.text {
	width: 18.2rem;

	font-size: 3rem;
	line-height: normal;
	letter-spacing: -0.01875rem;
}

.article.image {
	width: 34.375rem;
	height: 28.1rem;
	border-radius: 0.9375rem;
	background: #f0f6ff;
}

.graytext {
	margin-top: 0.62rem;

	color: #6b6b6b;
	font-family: Abel;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.5rem */
}

.gap {
	gap: 9.81rem;
}

.cardNews {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.card {
	height: 17.13263rem;
	margin: 0 -0.2rem;
}

.border-box {
	position: absolute;

	top: 6.38rem;
	left: 9.5rem;
	right: 9.63rem;
	bottom: 6.81rem;

	width: 15.25rem;
	height: 14.9375rem;
	flex-shrink: 0;

	border-radius: 0.6875rem;
	border: 2px solid var(--Linkbrary-primary-color, #6d6afe);
}

.download-icon {
	position: absolute;
	width: 2.875rem;
	height: 2.875rem;
	flex-shrink: 0;

	top: 19.5rem;
	left: 22.6rem;
	right: 8.88rem;
	bottom: 5.75rem;
}

.bookmark {
	width: 25.875rem;
	height: 16.875rem;
	flex-shrink: 0;

	margin: 7.12rem 4.25rem 4.12rem;
}

.folder-share {
	width: 26rem;
	height: 16.9375rem;
	flex-shrink: 0;

	margin: 7.56rem 4.25rem 4.81rem;
}

.folder-share-background {
	border-radius: 1.5625rem;
	/* background-color: rgba(0, 0, 0, 0.5); */
	background: center center no-repeat url(./img/image\ 25.png);
	position: relative;
	isolation: isolate;

	box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);

	width: 34.375rem;
	height: 28.1rem;
	flex-shrink: 0;
}

.folder-share-background::after {
	content: "";
	position: absolute;
	background: black;
	z-index: -1;
	inset: 0;
	opacity: 0.5;
	border-radius: 1.5625rem;
}

.search-link {
	/* display: flex; */
	/* position: relative; */
	overflow: hidden;
}

.search-link-image {
	margin: 2.2rem -8.06rem -11.81rem 3rem;
}

footer {
	background-color: #111322;
	display: flex;
	justify-content: space-between;
	padding: 2rem 6.5rem 4rem;
}

.footer-text-1 {
	color: #676767;
	text-align: center;
	font-family: Acme;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer-text-2 div {
	color: #cfcfcf;
	font-family: Acme;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer-text-2 {
	display: flex;
	gap: 1.88rem;
}

.footer-icon {
	width: 1.25rem;
	height: 1.25rem;
}

.footer-icon-group {
	gap: 0.75rem;
}

/* login page */
