/* Theme */
:root {
  --color-back: #111322;
  --color-white: #FFFFFF;
  --color-gray-100: #F0F6FF;
  --color-gray-200: #E7EFFB;
  --color-gray-300: #CCD5E3;
  --color-gray-400: #9FA6B2;
  --color-gray-500: #3E3E43;

  --color-primary: #6D6AFE;
  --color-red: #FF5B56;

  --base-size: 10px;
  --font-family: 'Pretendard', 'Abel', sans-serif;
}

html {
  font-size: var(--base-size);
  font-family: var(--font-family);
}

body {
  font-size: var(--base-size);
  color: var(--color-black);
  background: var(--color-white);
}