.classification {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.classification-buttons {
  display: flex;
  gap: 0.5rem;
}

.classification-buttons button {
  padding: 0.5rem 0.75rem;
  font-weight: 400;
  line-height: 1.193125rem;
  border: 0.0625rem solid var(--primary);
  border-radius: 0.3125rem;
}

.classification-buttons button:hover {
  background-color: var(--primary);
  color: #fff;
}

.add-folder-button {
  line-height: 1.193125rem;
  text-align: center;
  color: #6d6afe;
}
