.card {
  width: 340px;
  height: 334px;
  margin-bottom: 25px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.cardImage {
  width: 340px;
  height: 230px;
  object-fit: cover;
  flex-shrink: 0;
}

.cardImage:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

a {
  text-decoration-line: none;
}

.cardTextArea {
  display: flex;
  width: 340px;
  height: 135px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
}

.card .cardText {
  height: 49px;
  align-self: stretch;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;

  /* Linkbrary/body1-regular */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.card .uploadTime {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;

  /* Linkbrary/caption */
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .uploadDate {
  height: 19px;
  align-self: stretch;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Linkbrary/body2-regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#mainDefaultText {
  color: #000;
  text-align: center;

  /* Linkbrary/body1-regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
