:root{
    --black :#000;
    --Linkbrary-primary-color : #6D6AFE;
    --Linkbrary-gray20 : #CCD5E3;
    --Linkbrary-white: #FFF;
    --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    --Grey-Light: #F5F5F5;
    --Linkbrary-gray10: #E7EFFB;
}

* {
    box-sizing: border-box;
  }

body{
    margin:0;
    background-color: #F0F6FF;
    display: flex;
    width: 100vw;
    padding: 238px 0px 252px;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo{
    width: 210.583px;
    height: 38px;
}

.signup{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.signup>span{
    color: var(--black);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.signup>a{
    color: var(--Linkbrary-primary-color);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.info>p{
    margin:0;
}

.info>a{
    color: var(--black);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info>div{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

input{
    display: flex;
    width: 400px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20);
    background: var(--Linkbrary-white);
}

input:focus{
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-primary-color);
    background: var(--Linkbrary-white);
}

.check{
    position: absolute;
    right:15px;
    width: 16px;
    height: 16px;
}

#signin{
    display: flex;
    width: 400px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:none;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
    color: var(--Grey-Light);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sns_signin{
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20);
    background: var(--Linkbrary-gray10);
}

.icons{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.google{
    background-color: white;
    border-radius: 50%;
    padding:10px;
}

.kakao{
    background-color: #F5E14B;
    border-radius: 50%;
    padding:10px;
}

