@import "../src/global.css";

body{
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 3rem 0;
}
/* header */
header{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.logo{
  height: 4rem;
}
header p{
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  gap: 0.5rem;
}
.goSignUp{
  font-weight: 600;
  color: var(--primary);
  border-bottom: 0.1rem solid var(--primary);
}

/* form */
.signInBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  gap: 3rem;
  margin-top: 3rem;

  @media (min-width: 768px) {
    width: 40rem;
  }
}
form{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputBox{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputPw {
  position: relative;
}
.signLabel{
  font-size: 1.5rem;
  font-weight: 400;
}
.signInput{
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray20);
  font-size: 1.6rem;
  line-height: 150%
}
.signInput:focus{
  border-color: var(--primary)
}
.eye{
  position: absolute;
  top: 5.2rem;
  right: 1.5rem;
  width: 1.6rem;
  height: 1.6rem;
}
.loginButton{
  border-radius: 0.8rem;
  background-image: linear-gradient(91deg, var(--primary), #6AE3FE 101.84%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 1.8rem;
  color: #f5f5f5;
  font-weight: 600;
}

/* sns */
.snsBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray20);
  padding: 1.5rem 3rem;
  width: 100%;
  background-color: var(--gray10);
}
.socialLogin{
  font-size: 1.4rem;
  color: var(--gray100);
}
.snsLinks{
  display: flex;
  gap: 1.5rem;
}
.snsLink{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.googleLink{
  background-color: var(--white);
  border: 0.1rem solid #d3d4dd;
}
.kakaoLink{
  background-color: #f5e14b;
  padding-top: 0.2rem;
}

/* error메시지 */
.red{
  color: red;
  font-size: 1rem;
}
.inputError{
  border: 1px solid red;
}