@import url(../styles/common.css);
@import url(../styles/color.css);

body {
  background-color: var(--graybg);
  padding: 238px 0 252px;
  color: var(--black);
}

.container {
  width: 400px;
  gap: 30px;
}

/*********************
        header
*********************/

.logo {
  cursor: pointer;
}

.to-signup {
  margin-top: 16px;
  text-align: center
}

.to-signup a {
  color: var(--primary);
  font-weight: 600;
  text-underline-position: under;
  text-decoration : underline;
}

/*********************
      signin-form
*********************/

.signin-form {
  gap: 24px;
  width: 100%;
}

.signin-form label {
  font-size: 14px;
  position: relative;
}

.signin-form input {
  width: 100%;
  color: var(--gray100);
  padding: 18px 15px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid var(--gray60);
  background: var(--white);
}

.signin-form input::placeholder {
  color: var(--gray60);
}

.signin-form input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

.signin-form input:focus::placeholder {
  color: var(--gray100);
}

.eye-img-password {
  position: absolute;
  top: 48px;
  right: 16px;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 16px 20px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  background-image: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  border: none;
}

:is(.errorMessage-email, .errorMessage-password) {
  color: var(--red);
  font-size: 14px;
  margin-top: 6px;
}

.signin-form .red-border {
  border: 1px solid var(--red);
}

.hidden {
  display: none;
}

.eye-open {
  content: url(../asset/img/signin/eye-on.png)
}

.eye-closed {
  content: url(../asset/img/signin/Vector.png)
}

/*********************
      social-login
*********************/

.social-login {
  width: 100%;
  padding: 12px 24px;
  color: #373740;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid var(--gray20);
  background-color: var(--gray10);
}

.fast-travel {
  gap: 16px;
  height: 44px;
}

/*********************
        @media
*********************/

@media (max-width: 1200px) {
  body {
    padding: 200px 0 291px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 120px 0 233px;
  }
}

@media (max-width: 464px) {
  body {
    padding: 120px 32px 233px;
  }

  .container {
    max-width: 400px;
    width: 100%;
  }
}