.container {
  display: flex;
  flex-direction: column;
  padding: 0px 32px 233px 33px;
  align-items: center;
  justify-content: center;
  background-color: var(--Linkbrary-bg);
}
.main {
  background-color: var(--Linkbrary-bg);
}
.signup {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.sign-form {
  background-color: var(--Linkbrary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.signup p {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.signup a {
  color: var(--Linkbrary-primary-color);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.CTA {
  width: 350px;
  border: none;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}

.kakao-svg-wrapper {
  position: relative;
  right: 0;
}
.kakao {
  position: relative;
  right: 0;
}
/* 모바일사이즈 */
@media screen and (375px <= width <=767px) {
}

/* 태블릿 사이즈 */
@media screen and (1199px >= width >= 768px) {
  .container {
    position: relative;
    top: 238px;
  }
}

/* pc 사이즈 */
@media screen and (width >= 1200px) {
  .container {
    position: relative;
    top: 238px;
  }
}
