.AddToFolderModal-titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.AddToFolderModal-subTitle {
  color: var(--gray60);
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
}

.AddToFolderModal-folderList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.AddToFolderModal-selectFolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem;
  gap: 0.8rem;
}

.AddToFolderModal-selectFolder:hover {
  background-color: var(--light-blue);
}

.AddToFolderModal-selectFolder-select {
  background-color: var(--light-blue);
}

.AddToFolderModal-folderName {
  color: var(--gray100);
  line-height: 2.4rem;
  font-size: 1.6rem;
}

.AddToFolderModal-folderName {
  color: var (--primary);
}

.AddToFolderModal-folderCount {
  font-size: 1.4rem;
  line-height: 1.671rem;
  color: var(--gray60);
}

.AddToFolderModal-selectFolderIcon {
  display: none;
  width: 1.125rem;
  height: 0.95rem;
  background-image: url("../../../../public/images/check.svg");
  position: absolute;
  right: 5.5rem;
}
