@import '@/styles/global.scss';

.inputBox {
  position: relative;
}

.label {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.input {
  padding: 1.125rem 0.9375rem;
  border-radius: 0.5rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccd5e3;
  width: calc(100% - 2.1rem);
}

.input:focus {
  border: 1px solid #6d6afe;
}

.inputError {
  padding: 1.125rem 0.9375rem;
  border-radius: 0.5rem;
  background-color: #fff;
  outline: none;
  width: calc(100% - 2.1rem);
  border: 1px solid #ff5b56;
}

.errorMessage {
  font-size: 0.875rem;
  color: #ff5b56;
  margin-top: 0.5rem;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  top: 1.25rem;
  cursor: pointer;
  font-size: 0.9rem;
}
