.deleteFolderModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deleteFolderModal-top {
  color: var(--linkbrary-gray100);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.deleteFolderModal-middle {
  color: var(--linkbrary-gray60);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 2.4rem;
}

.deleteFolderModal-button {
  width: 28rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: var(--linkbrary-red);
  color: var(--linkbrary-white) !important;
  font-size: 1.6rem;
  font-weight: 600;
}
