body,
html {
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0rem 0.25rem 1.5625rem 0rem rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form {
  width: 22.5rem;
  height: 15rem;
}

#root {
  width: 100%;
  height: 100%;
}

.modal-form-content {
  position: relative;
  display: inline-flex;
  padding: 2rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid #ccd5e3;
  background: #fff;
}

.modal-form-img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modal-form-title {
  color: #373740;
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-change-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
}

.modal-change-button {
  display: flex;
  width: 17.5rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

.modal-change-input {
  display: flex;
  width: 17.5rem;
  padding: 1.125rem 0.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.0625rem solid #6d6afe;
  background: #fff;
  color: #373740;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.modal-deleteFolder-button {
  display: flex;
  width: 17.5rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: red;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

.modal-deleteFolderName {
  color: #9fa6b2;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.modal-form-title-box {
  display: flex;
  width: 17.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.modal-form-sharedFolder {
  color: #373740;
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-form-folderName {
  color: #9fa6b2;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.modal-icon-box {
  display: flex;
  gap: 2rem;
}

.modal-icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}

.modal-kakaoIcon-img {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.3125rem;
  background: #fee500;
}

.modal-kakaoIcon-img > img,
.modal-facebookIcon-img > img,
.modal-linkIcon-img > img {
  width: 1.125rem;
  height: 1.125rem;
}

.modal-icon-title {
  color: #373740;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 0.9375rem;
}

.modal-facebookIcon-img {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.3125rem;
  background: #1877f2;
}

.modal-linkIcon-img {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.3125rem;
  background: rgba(157, 157, 157, 0.04);
}
