.folder-button {
  align-items: center;
  border: 0.1rem solid #6d6afe;
  border-radius: 0.5rem;
  display: flex;
  font-size: 1.4rem;
  height: 3.1rem;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #000;

  @media (min-width: 768px) {
    font-size: 1.6rem;
    height: 3.7rem;
    padding: 0 1.2rem;
  }
}

.folder-button.selected {
  background-color: #6d6afe;
  color: #fff;
  border: 0.1rem solid #6d6afe;
}

.folder-button:not(.selected):hover {
  background-color: rgba(109, 106, 254, 0.3);
}
