.input {
  display: flex;
  width: 21.875rem;
  padding: 1.125rem 0.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);

  // 글자색
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  &:active {
    border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  }
  &:focus {
    outline: none;
  }
}
