* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    padding: 238px 0px 252px 0px;
    justify-content: center;
    align-items: center;
    background: var(--Linkbrary-bg, #F0F6FF);
    margin: 0;
}

input {
    display: flex;
    width: 400px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo-container h1 {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.logo-container a {
    color: var(--Linkbrary-primary-color, #6D6AFE);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blank-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.blank {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.blank h1 {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-box {
    display: flex;
    width: 400px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.social-login {
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
    background: var(--Linkbrary-gray10, #E7EFFB);
}

.social-login h1 {
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-icon-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}