.header-shared {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 60px;
  gap: 20px;
  background: var(--Linkbrary-bg);
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.profile-img {
  width: 60px;
  height: 60px;
}

.profile-name {
  color: var(--text-color-light-mode);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.folder-name {
  color: var(--text-color-light-mode);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Moblie */

@media (max-width: 767px) {
  .header-shared {
    padding: 20px 0 40px;
  }

  .profile-img {
    width: 40px;
    height: 40px;
  }

  .profile-name {
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .folder-name {
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
  }
}
