@import "sharing/styles/global.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  height: 32.7rem;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;

  @include tablet {
    width: 34rem;
    height: 33.4rem;
  }
}
