@import '../../../styles/_index.scss';

.layout {
  display: flex;
  gap: 1rem;
  margin: 0.4rem 0;
}

.item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: $color-gray-400;
  cursor: pointer;
}

.modalInput {
  @include color-box(#f5f5f5) {
    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }
}

.modalSubTitle {
  color: $color-gray-400;
}
