.btn {
  padding: 0.8rem 1.2rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--primary-color);
}

.text{
  line-height: 1.6rem;
}

.checked {
  color: #fff;
  background: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 0.6rem 1rem;
  }
  .text{
    line-height: 1.4rem;
  }
}
