.nav{
    padding: 20px 200px;
    flex-direction: column;
    background: #F0F6FF;
    position:fixed;
    left: 0;
    right: 0;
}

.nav-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 40px;
    
}

.logo{
    display: flex;
}

.login{
    display: flex;
    width: 128px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #f5f5f5;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.main{
    background: #F0F6FF;
    display: flex;
    padding: 100px 360px 0px 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.title{
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    
}

.big{
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-link{
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #f5f5f5;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.page2{
    display: flex;
    padding: 120px 461px 50px 461px;
    justify-content: center;
    align-items: center;
}

.save{
    display: flex;
    gap: 157px;
    justify-content: center;
    white-space: nowrap;
    
}

.text-box{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
}

.colorful{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.want-link{
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing:-0.3px;
    display: inline;
}

.want-contents{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: inline;
}

.img-box{
    width: 550px;
    height: 450px;
    border-radius: 15px;
    background: #F0F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img1{
    
    width: 279px;
    height: 274.927px;
    
}

.img2{
    
    width: 279px;
    height: 274.927px;
    
}

.img3{
    
    width: 279px;
    height: 274.927px;
    
}

.img4{
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    position: absolute;
    right:142px;
    bottom:92px;
}

.page3{
    display: flex;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
}

.link-folder{
    display: flex;
    align-items: center;
    gap: 157px;
}

.text-folder{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.folder-name-img{
    display: flex;
    width: 550px;
    padding: 114px 68px 66px 68px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #F0F6FF;
}

.img5{
    width: 414px;
    height: 270px;
    flex-shrink: 0;
}

.folder-manage{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    white-space: nowrap;
}

.manage{
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.folder-manage-small{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.page4{
    display: flex;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
}

.link-share-box{
    display: flex;
    align-items: center;
    gap: 157px;
}

.text-share{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    white-space: nowrap;
}

.link-share{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.share{
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.link-share-small{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.folder-share-img{
    width: 570px;
    height: 469px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img6{
    width: 934px;
    height: 591px;
    flex-shrink: 0; 
    border-radius: 25px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    margin-top: -100px;
    z-index: 0;
}

.rayout{
    width: 934px;
    height: 591px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    margin : 54px 196px 68px 168px;
    position:absolute;
    display: flex;
    z-index: 1;
}

.img7{
    width: 416px;
    height: 271px;
    flex-shrink: 0;
    position:absolute;
    margin: 121px 77px 77px;
    z-index: 2;
}

.page5{
    display: flex;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
}

.link-serch{
    display: flex;
    align-items: center;
    gap: 157px;
}

.codeit-serch-img{
    display: flex;
    width: 550px;
    height: 450px;
    border-radius: 15px;
    background: #F0F6FF;
    position : relative;
    overflow: hidden;
}

.img8{
    display: flex;
    width: 619px;
    height: 584px;
    flex-shrink: 0;
    border-radius: 15px;
    position: absolute;
    
}

.shadow{
    width: 619px;
    height: 584px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 48.72%, #000 128.17%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.text-serch-box{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    white-space: nowrap;
}

.text-serch{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.serch{
    background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-serch-small{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer{
    display: flex;
    padding-top: 120px;
    align-items: center;
    justify-content: center;
    width : 100%;
}

.footer-frame{
    display: flex;
    height: 160px;
    align-items: center;
    background: var(--The-julge-black, #111322);
    width : 100%;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    padding: 32px 104px 64px 104px;
    align-self: stretch;
}

.codeit-year{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #676767;
    text-align: center;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-contents{
    display: flex;
    gap: 30px;
}

.policy{
    color: #CFCFCF;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faq{
    color: #CFCFCF;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sns{
    display: flex;
    gap: 12px;
}

.login-page{
    display: flex;
    width: 1440px;
    padding: 238px 0px 252px 0px;
    justify-content: center;
    align-items: center;
    background: var(--Linkbrary-bg, #F0F6FF);
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.login-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.login-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.Link-logo{
    width: 210.583px;
    height: 38px;
}

.member-text{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.id{
    display: flex;
    width: 400px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
    background: var(--Linkbrary-white, #FFF);
}

input:focus {

    border-color: blue;
    outline: none;
  }

.password{
    display: flex;
    width: 400px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
    background: var(--Linkbrary-white, #FFF);
}

.not-member{
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.get-member{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--Linkbrary-primary-color, #6D6AFE);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.login-id-password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#login-button{
    display: flex;
    width: 100%;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.login-button-text{
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.another-login{
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
    background: var(--Linkbrary-gray10, #E7EFFB);
    
}

.social-login{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position : relative;
    justify-content: space-between;
}

.google-back{
    display: flex;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.google{
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin : 10px;
    z-index: 1;
}

.kakao-back{
    display: flex;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.kakao{
    display: flex;
    width: 26px;
    height: 24px;
    flex-shrink: 0;
    margin : 10px 8px 8px;
    z-index: 1;
}

.social-login-logo{
    display: flex;
    position : absolute;
    gap : 16px;
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
    
    .page2{
    
    }
}
  
  
@media screen and (min-width: 375px) and (max-width: 767px) {
    
    
  }
    

  
