.folder-article-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  min-height: 600px;
}

.folder-article-box-tablet {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  min-height: 600px;
}
.folder-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 1200px;
  justify-content: center;
  padding: 0 32px;
}
.folder-card-container-tablet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 32px;
  justify-content: center;
}
.folder-card-container-mobile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 32px;
  justify-content: center;
}

.folder-card-image {
  width: 340px;
  height: 200px;
  border-radius: 10px;
}

.folder-card-box {
  width: 340px;
  margin: 10px;
  box-shadow: 10px 5px 5px gray;
  border-radius: 10px;
}
.folder-card-box:hover {
  background-color: gray;
}
.date-and-kebab {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.kebab {
  width: 21px;
  height: 17px;
  margin-top: 15px;
  padding-right: 10px;
}
.folder-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
}
.folder-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
}

.folder-card-url {
  text-decoration: none;
  color: black;
}
.folder-card-url p {
  text-align: left;
  padding: 0 20px;
}
