.CardTagList {
  display: flex;
  gap: 8px;
  width: 100%;
  max-width: 106rem;
  flex-wrap: wrap;
}
.CardTagListPlus {
  color: var(--primary);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.Contain {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.CardTagListPlus.floating {
  position: fixed;
  bottom: 101px;
  background-color: var(--primary);
  padding: 8px 24px;
  color: var(--white);
  border-radius: 20px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
