.folders-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.folders {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: row;
  @media (max-width: 784px) {
    width: 100%;
  }
}

.folder {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  border: 1px solid var(--primary);
  background: #fff;
  @media (max-width: 784px) {
    padding: 6px 10px;
    font-size: 14px;
  }
}

.selected {
  color: white;
  background: var(--primary);
}

.add-folder {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6d6afe;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.3px;

  @media (max-width: 784px) {
    display: none;
  }
}

.add-folder-mobile {
  display: none;
  @media (max-width: 784px) {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;

    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 24px;

    border-radius: 20px;
    border: 1px solid var(--white);
    background: var(--primary);

    color: var(--gray10);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;

    z-index: 9;
  }
}

.add-folder img,
.add-folder-mobile img {
  width: 16px;
  height: 16px;
  color: var(--gray10);
}
