@import './button.css';

.folderMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 2rem;
}

.add{
  color:#6D6AFF;
  font-size: 1.3rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .add{
    display: none;
  }
}