.cardimg {
  position: relative;
  width: 100%;
  border-radius: 0.94rem;

  margin-bottom: -1.7rem;
  overflow: hidden;
  z-index: 1;
  height: 15rem;
  object-fit: cover;
}

.cardimg:hover {
  scale: 130%;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
