.card-wrapper {
  position: relative;
  z-index: 2;

  margin: 0 2rem;
  margin-bottom: 1.25rem;
  box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.card-textbox {
  position: relative;
  padding: 0.94rem 1.25rem;
  z-index: 2;
  border-radius: 0rem 0rem 0.9375rem 0.9375rem;

  background: #fff;

  color: #000;
  text-overflow: ellipsis;

  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.gap {
  margin-bottom: 0.62rem;
}

.uploadtime-minute {
  color: #666;

  font-size: 0.8125rem;
  line-height: normal;
}

.uploadtime-date {
  color: #333;

  font-size: 0.875rem;
  line-height: normal;
}

@media (min-width: 768px) {
  .card-wrapper {
    /* width: 40%; */
  }
  .section-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
}
