.image_board_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.img_board_nav {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}
.nav_btn {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #b8b7ff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 3px;
  cursor: pointer;
}
.nav_btn:focus {
  background-color: #6d6afe;
  color: white;
}
.img_nav_text {
  font-size: 24px;
  font-weight: 600;
  border: none;
}
.nav_edit {
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #9fa6b2;
  cursor: pointer;
  margin-left: 5px;
}
.folder_plus_btn {
  background-color: white;
  border: none;
  color: #6d6afe;
  font-size: 16px;
  font-weight: 500;
}
