.folder-info {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 3.75rem;
  background: var(--gray-05);
}

.folder-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.folder-user {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.folder-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.folder-username {
  color: var(--black);
}

.folder-name {
  font-size: 2.5rem;
}
