.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray5-color);
}

.profile img {
  width: 8rem;
}

.profile h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}

.profile h1 {
  font-size: 1rem;
  text-align: center;
}
