@import '../../../styles/_index.scss';

.layout {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.6rem;
}

.colorBox {
  @include color-box($color-primary);
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(0.95);
    background: $color-gray-400;
  }
}

.addButton {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: $color-primary;
  white-space: nowrap;
  background: none;
}

.fill {
  background: $color-primary;
  color: $color-white;
}

@media screen and (width <768px) {
  .addButton {
    display: none;
  }
}
