{
  "extends": [
    "prettier",
    "plugin:styled-components-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ]
}
