{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
