{
  "plugins": ["stylelint-scss"],
  "extends": ["stylelint-config-recess-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "selector-class-pattern": "^([a-z][a-zA-Z0-9]*)$"
  }
}
