:root {
  --Linkbrary-primary-color: #6D6AFE;
  --palette-red-color: #FF5B56;
  --The-julge-black: #111322;
  --palette-white-color: #FFFFFF;
  --palette-gray-color-1: #3E3E43;
  --palette-gray-color-2: #9FA6B2;
  --Linkbrary-gray-color-3: #CCD5E3;
  --palette-gray-color-4: #E7EFFB;
  --Linkbrary-bg: #F0F6FF;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

/* 보드 레이아웃, 컨텍스트 적용 */
.board_gnb_ly {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: 20px 200px 20px 200px;
  /*gap: 8px;*/
  z-index: 3;
}

.board_auth_ly {
  display: flex;
  padding: 70px 360px 0px 360px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.board_card_ly {
  display: flex;
  padding: 120px 461px 50px 461px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.board_ly {
  display: flex;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}

.board_footer_ly {
  display: flex;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

/* 보드 크기 결정 */
.board {
  width: 100%;
}

.board_footer_size {
  width: 100%;
  height: 280px;
}

/*보드 색상 결정*/
.board_bg_color {
  background: var(--palette-white-color, #FFFFFF);
}

.board_lb_bg_color {
  background: var(--Linkbrary-bg, #F0F6FF);
}
