/* Mix: 로그인 버튼 멀티 클래스 */
@media (min-width: 768px) {
  /*버튼 레이아웃*/
  .button_ly {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
  }

  /* 버튼 사이즈 */
  .button_login_size {
    width: 128px;
  }

  .button_auth_size {
    width: 350px;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .button_auth-mobile_ly {
    display: flex;
    width: 200px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .button_login-mobile_ly {
    display: flex;
    padding: 13px 32px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
}

/* 버튼 사이즈 */
.button_sign-login_size {
  width: 100%;
  height: 54px;
}

/* 선택자: 버튼 스타일, 컬러*/
.button_hypl {
  text-decoration-line: none;
}

.button_style {
  border-radius: 8px;
}

.button_color {
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Linkbrary-primary-color, #6D6AFE) 0.12%, #6AE3FE 101.84%));
}

/* 버튼 블록 > 로그인 엘리먼트*/
@media (min-width: 768px) {
  .button__text {
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .button__text {
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}