.Frame {
  display: flex;
  align-items: center;
  gap: 157px;
   /*
   width: auto; 
  max-width: 998px; 
  height: auto;
  max-height: 450px;
  border: 1px solid #000;
  23frame공통*/
}
.pontbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pont2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  /*style*/
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
/*
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
*/

.pont3 {
  color: #6b6b6b;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.content-2_img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #f0f6ff;
}
.Frame2608801 {
  display: inline-flex;
  align-items: center;
  gap: -12px;/*왜 gap이 적용 안될까요?*/
  margin-top: 88.24px; /* gap으로 마진처럼 설정 할수 있나 */
  margin-bottom: 88.32px; /
  
}
.card1 {
  width: 279px;
  height: 274.927px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card2 {
  width: 279px;
  height: 274.441px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card3 {
  width: 279px;
  height: 274.122px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.Group20 {
  width: 46px;
  height: 46px;

  position: 312px 142px 92px 362px;
}/*고민*/


