*{
  margin: 0;
}

input,
button{
	border:none;
  outline: none;
}

/* navbar */

nav{
  background: var(--Linkbrary-bg, #F0F6FF);
  display: flex;
  flex-direction: column;
  padding: 20px 200px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.gnb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo{
  width: 133px;
  height: 22px;
}

.login-button{
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-button > p> a{
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

/* banner */

.banner{
  background: var(--Linkbrary-bg, #F0F6FF);
  display: flex;
  width: 1920px;
  padding: 70px 360px 0 360px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.banner-title{
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

.banner-title > span{
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-button{
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.link-button > p > a {
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

/* card 1 */

.first-card{
  display: flex;
  padding: 120px 461px 50px 461px;
  justify-content: center;
  align-items: center;
}

.first-card-text{
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.first-card-title{
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.first-card-title > span {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-card-desc{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* card 2 */

.second-card{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 461px 50px 461px;
  gap: 157px;
}

.second-card-img{
  display: flex;
  width: 550px;
  padding: 114px 68px 66px 68px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #F0F6FF;
}

.second-card-text{
  display: flex;
  flex-direction: column;
  width: 291px;
  align-content: flex-start;
  gap: 10px;
}

.second-card-title{
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.second-card-title > span{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.second-card-desc{
  align-self: stretch;
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* card 3 */

.third-card{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 461px;
  gap: 157px;
}

.third-card-text{
  display: flex;
  flex-direction: column;
  width: 291px;
  align-items: flex-start;
  gap: 10px;
}

.third-card-title{
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.third-card-title > span {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.third-card-desc{
  align-self: stretch;
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.third-card-imgs{
  width: 570px;
  height: 469px;
  flex-shrink: 0;
  position: relative;
}

.third-card-img1{
  width: 570px;
  height: 469px;
  border-radius: 25px;
  /* background: rgba(0, 0, 0, 0.40);  <- 배경을 검정색으로 투명하게 깔고 싶은데 어떻게 해야한지 ... */ 
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.third-card-img2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* card 4 */

.four-card{
  padding: 50px 461px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 157px;
}

.four-card-img{
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
  position: relative;
}

.four-card-img > img {
  flex-shrink: 0;
  border-radius: 15px;
  position: absolute;
  top: 34px;
  right: 0;
}

.four-card-text{
  display: flex;
  gap: 10px;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
}

.four-card-title{
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.four-card-title > span{
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.four-card-desc{
  align-self: stretch;
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* footer */

footer{
  display: flex;
  height: 100px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--The-julge-black, #111322);
  margin-top: 120px;
}

.footer-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer-codeit{
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-middle{
  display: flex;
  gap: 30px;
}

.footer-middle > p{
  color: #CFCFCF;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-icon{
  display: flex;
  gap: 10px;
}

/* login */

.login{
  display: flex;
  width: auto;
  padding: 238px 0 252px 0;
  justify-content: center;
  align-items: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-intro > img{
  width: 210.583px;
  height: 38px;
}

.login-intro-auth{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.login-intro-auth > p {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.login-intro-auth > a{
  color: var(--Linkbrary-primary-color, #6D6AFE);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.login-email{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.login-email > label{
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-email > input{
  display: flex;
  width: 368px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}
.login-email input:focus {
  border-color: var(--Linkbrary-primary-color, #6D6AFE); /* focus 시 border 색상 변경 */
}

.login-passport{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.login-passport > label{
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-passport-inputs{
  display: flex;
  width: 368px;
  padding: 18px 15px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
  justify-content: space-between;
  flex: 1 0 0;
}
.login-passport-inputs:focus-within {
  border-color: var(--Linkbrary-primary-color, #6D6AFE);
}

.login-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.login-button > p {
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-login{
  display: flex;
  width: 354px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
}

.social-login > p{
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-login-icon{
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.login-icon{
  position: relative;
}

.goole-icon{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kakao-icon{
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
}
