/* pc우선 */
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Pretendard;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(240, 246, 255, 0.95);
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  /* align-items: center; */
  gap: 8px;
  /* align-self: stretch; */
  z-index: 2;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 133px;
  height: 24px;
}

.login {
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-decoration: none;
}

.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f6ff;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  margin-top: 163px;
  margin-bottom: 0;
}

.rainbow {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add_link {
  text-decoration: none;
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  margin: 40px 0;
}

.main-image {
  width: 1200px;
  height: 590px;
  flex-shrink: 0;
  border-radius: 25px;
}

.page2 {
  display: flex;
  padding: 120px 0 50px;
  justify-content: center;
  align-items: center;
  gap: 157px;
}

h2 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.rainbow2 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hidden-image {
  display: none;
}

p {
  color: #6b6b6b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.images {
  width: 550px;
  height: 450px;
  background-image: url("public/images/landing_image/_img-1.png");
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.page3 {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 157px;
}

.change_name_folder {
  background-image: url("public/images/landing_image/img-4.png");
  width: 550px;
  height: 450px;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.rainbow3 {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.rainbow4 {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.share_folder {
  background-image: url("public/images/landing_image/img3-1.png");
  width: 550px;
  height: 469px;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.page4 {
  display: flex;
  gap: 157px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.page5 {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 157px;
}

.screenshot {
  background-image: url("public/images/landing_image/_img4-1.png");
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 450px;
  flex-shrink: 0;
}

.rainbow5 {
  background: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.white {
  height: 120px;
  background-color: rgba(255, 255, 255, 1);
}

.black {
  padding: 32px 104px 64px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: var(--The-julge-black, #111322);
}

.codeit {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.faq {
  margin: 30px;
}

.privacy,
.faq {
  color: #cfcfcf;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  header {
    padding: 20px 32px;
  }

  .nav {
    width: min(100%, 783.49px);
    margin: 0 auto;
  }

  h1 {
    display: flex;
    flex-direction: column;
  }

  .main-image {
    width: 698px;
    height: 343px;
  }

  .page2 {
    padding: 80px 0 50px;
    gap: 51px;
  }

  .images,
  .change_name_folder,
  .share_folder,
  .screenshot {
    width: 385px;
    height: 315px;
  }

  .page3,
  .page4,
  .page5 {
    gap: 51px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 13px 32px;
  }

  .nav {
    width: min(100%, 783.49px);
    margin: 0 auto;
  }
  .logo {
    width: 88.67px;
    height: 16px;
  }

  .login {
    font-size: 14px;
    width: 80px;
    padding: 10px 16px;
  }

  h1 {
    font-size: 32px;
    line-height: 42px;
    margin-top: 91px;
  }

  .add_link {
    font-size: 14px;
    width: 200px;
    padding: 10px 16px;
    margin: 24px 0;
  }

  .main-image {
    width: 325px;
    height: 160px;
  }

  .page2,
  .page3,
  .page4,
  .page5 {
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
    gap: 0;
    align-items: stretch;
  }
  .description {
    flex-grow: 1;
  }

  h2 {
    font-size: 24px;
    flex-direction: row;
    gap: 6px;
  }

  .hidden-image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 24px;
    display: block;
  }

  .images,
  .change_name_folder,
  .share_folder,
  .screenshot {
    display: none;
  }

  .rainbow2,
  .rainbow3,
  .rainbow4,
  .rainbow5 {
    font-size: 24px;
  }
  .white {
    height: 40px;
  }
  .black {
    position: relative;
    padding: 32px 32px 64px;
  }
  .privacy-faq {
    margin-bottom: 60px;
  }
  .codeit {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }
}
