/*0. 이미지 컨테이너 블록 */
/* 이미지 컨테이너 블록 레이아웃 */
.img_container_ly {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이미지 컨테이너 블록 사이즈 */
.img_container_auth_size {
  width: 1200px;
  height: 590px;
}

.img_container_default_size {
  width: 550px;
  height: 450px;
  overflow: hidden;
}

/* 이미지 컨테이너 > 엘리먼트 레이아웃 */
.img_comtainer__card_ly {
  display: inline-flex;
  align-items: center;
  gap: -12px;
}

/* 이미지 컨테이너 블록 컬러 */
.img_container_color {
  background: #F0F6FF;
}

.img_container_style {
  border-radius: 15px;
}


/*1. 이미지 블록 */
/* 이미지 블록 레이아웃 */
.img_auth_ly {
  flex-shrink: 0;
}

/* 이미지 블록 사이즈 */
.img_auth {
  width: 1118px;
  height: 659px;
}

.img_card-left {
  cursor: pointer;
  width: 279px;
  height: 274.927px;
}

.img_card-center {
  background-image: url("Publics/landing/Card.png");
  cursor: pointer;
  width: 279px;
  height: 274.441px;
}

.img_card-right {
  cursor: pointer;
  width: 279px;
  height: 274.122px;
}

/* 이미지 블록 스타일 */
.img_style {
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

/* 이미지 블록 컬러 */
.img_color {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
}


/* 카드 블록 센터의 로고 위치*/
.img_card-center>svg {
  position: relative;
  cursor: pointer;
  right: -85%;
  top: 85%;
}