@import "common.css";
@import "reset.css";

* {
    box-sizing: border-box;
}

/*nav*/
nav#gnb {
    background: var(--Lightblue);
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    inset: 0;
}

nav .page-logo img {
    /*이미지 원본크기가 133px 24px이기 때문에 필요없는 코드*/
    /* width: 133px;
    height: 24px; */
    cursor: pointer;
}

nav .signin-box .button {
    width: 128px;
    height: 54px;
    /*a태그 href 속성에는 기본적으로 커서가 동작하기 때문에 필요없는 코드*/
    /* cursor: pointer; */
}

a{
    text-decoration: none;
}

.button{
    padding: 16px 20px;
    text-align: center;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
    color: var(--Beigewhite);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

/*header*/
header{
    background: var(--Lightblue);
    display: flex;
    flex-direction: column;
    padding: 70px 360px 0 ;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

header h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 125% 
}

header h1 span{
    background: var(--gra-purpleblue-to-babypink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

header .signup-box .button{
    width: 310px;
    height: 54px;
}

header img{
    height: 659px;
}

/*section*/
section{
    display: flex;
    padding: 50px 461px;
    gap: 157px;
    justify-content: center;
}

section div.section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
}

section h2{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin-bottom: 0;
}

.section1 span{
    background: var(--gra-pink-to-grayblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

section p{
    color: var(--gray);
    font-family: Abel;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 0;
}

section.section1{
    padding-top: 120px;
}

.section1 img{
    width: 550px;
    height: 450px;    
}

.section2 img{
    width: 414px;
}

.section2 span{
    background: var(--gra-skyblue-to-yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: -0.3px;    
}

.section3 span{
    background: var(--gra-grayblue-to-black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.section3 img{
    width: 570px;
}

.section4 img{
    width: 550px;   
}

.section4 span{
    background: var(--gra-blue-to-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/*footer*/
div.footer-padding{
    padding-top: 120px;
}

footer{
    height: 64px;
    padding: 32px 104px 64px 104px;
    background: var(--Darkblue-black);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer div.footer-text {
    color: var(--Moregray);
    text-align: center;
    font-family: Acme;
    font-size: 16px;
    font-weight: 400;
}

footer div.footer-text.notice {
    display: flex;
    gap: 30px;
}

/*pc*/
/* @media(min-width: 1200px){

} */

/*tablet*/
@media(min-width: 768px){
    header{
        padding: 40px 250px 0;
    }
}

/*mobile*/
@media(max-width: 767px){
    nav{
        padding: 13px 32px;
    }

    nav .signin-box .button{
        width: 80px;
        height: auto;
        padding: 10px 16px;
        font-size: 14px;
        font-weight: 600;
    }

    header{
        padding: 28px 32px;
        gap: 24px;
    }

    header h1{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        margin: 0;   
    }

    header .signup-box .button {
        width: 200px;
        height: 37px;
        padding: 10px 16px;
        font-size: 14px;
        font-weight: 600;
    }

    header img {
        width: 303px;
        height: 180px;
    }

    section{
        flex-direction: column;
        padding: 40px 32px;
        gap: 24px;
        justify-content: flex-start;
    }

    section.section1{
        padding-top: 40px;
    }

    section div.section-text{
        gap: 10px;
    }    

    section h2{
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.3px;        
    }
    
    .section1 img{
        width: 100%;
    }

    section.section2{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "section2-text" "section2-img";
        width: 100%;
    }

    .section2 img{
        grid-area: section2-img;
        width: 100%;
    }

    .section2 .section-text{
        grid-area: section2-text;
    }

    section.section4{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "section4-text" "section4-img";
        width: 100%;
    }

    .section4 img{
        grid-area: section4-img;
        width: 100%;
    }

    .section4 .section-text{
        grid-area: section4-text;
    }

    div.footer-padding{
        padding-top: 40px;
    }
    
    footer {
        display: grid;
        grid-template: auto auto / auto auto;
        grid-template-areas: "notice footer-img" "company-info .";
        gap: 60px;

        height: auto;
        padding: 32px 32px 64px;
        
    }

    footer div.footer-text.company-info{
        grid-area: company-info;
        text-align: left;
    }

    footer div.footer-text.notice{
        grid-area: notice;
    }

    footer .footer-image{
        grid-area: footer-img;
    }

}
