.type_mobile {
  display: none;
}

/* component - header */
.header {
  padding: 20px 200px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 9em;
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header,
.main-headings {
  background-color: var(--Linkbrary-bg);
}

.main-headings {
  text-align: center;
  padding-top: 40px;
}

.header-logo {
  flex-shrink: 0;
}

.main-headings-title {
  margin-bottom: 40px;
  font-size: 6.4rem;
  font-weight: 700;
  word-break: keep-all;
}

.main-headings-cover {
  margin-top: 40px;
}

/* component - main */
.main {
  padding: 9em 0 0;
}

.main-contents {
  padding: 120px 32px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 157px;
  padding: 0px 461px 50px;
}

.section:nth-child(even) {
  flex-direction: row-reverse;
}

.section:last-child {
  padding-bottom: 0;
}

.section-contents {
  width: 31em;
  /* flex-shrink: 0; */
}

.section-title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6b6b6b;
  width: 21em;
  line-height: 1.5;
}

.section-cover {
  width: 520px;
  flex-shrink: 0;
}

/* component - footer */
.footer {
  background-color: var(--The-julge-black);
  color: #676767;
  height: 160px;
  padding: 32px 0px 64px;
  font-size: 1.6rem;
}

.footer-container {
  padding: 0 104px;
  display: flex;
}

.footer .codeit {
  flex-shrink: 0;
  flex-grow: 1;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.links {
  flex-shrink: 0;
  display: flex;
  gap: 30px;
  color: #cfcfcf;
}

.socials {
  display: flex;
  gap: 12px;
}

.social {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}

.social.facebook {
  background-image: url(/assets/facebook.svg);
}

.social.twitter {
  background-image: url(/assets/twitter.svg);
}

.social.youtube {
  background-image: url(/assets/youtube.svg);
}

.social.instagram {
  background-image: url(/assets/instagram.svg);
}

@media (max-width: 1199px) {
  .header {
    padding: 20px 0;
  }

  .headings {
    max-width: 832px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .main-headings-cover img {
    width: 650px;
  }

  .main-headings-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 557px;
  }

  .section {
    gap: 51px;
    padding: 0px 0px 50px;
  }

  .section-cover {
    width: 385px;
    flex-shrink: 1;
  }

  .section-contents {
    flex-shrink: 1;
  }
}

@media (max-width: 767px) {
  .header-logo {
    width: 98px;
  }

  .main-headings {
    padding: 28px 32px 0;
  }

  .main-headings-title {
    font-size: 32px;
    max-width: 300px;
  }

  .section.section {
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    gap: 24px;
    padding: 0px 0px 80px;
  }

  .section-cover {
    width: auto;
  }

  .section-contents {
    width: auto;
  }

  .section-title {
    font-size: 24px;
  }

  .section-description {
    display: none;
  }

  .section-cover {
    max-width: initial;
  }

  .section-description.type_mobile {
    display: block;
    width: auto;
  }

  .footer {
    padding: 32px 0 0;
  }

  .footer-container {
    height: 100%;
    padding: 0 32px;
    flex-direction: column-reverse;
  }
}
