* {
  box-sizing: border-box;
  margin: 0; /*reset css*/
  padding: 0;
}

html {
  font-family: Pretendard;
  font-size: 100%;
  font-style: normal;
  line-height: normal;
}

body {
  width: 100%;
}

/* 색상 팔레트 변수 지정 */
:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray_Very-Dim: #3e3e43;
  --gray-Dim: #9fa6b2;
  --gray-Moderate: #ccd5e3;
  --gray-Bright: #e7effb;
  --gray-Very-Bright: #f0f6ff;
}

.topnav__loginBt,
.topnav__logo,
.base__linkBt,
.bottom-nav__icon--facebook,
.bottom-nav__icon--twitter,
.bottom-nav__icon-insta,
.bottom-nav__icon--youtube,
.bottom-nav__setting--color {
  text-decoration: none;
}

/* 상단 바 */

.topnav {
  padding: 20px 200px;
  background-color: var(--gray-Very-Bright);
  position: sticky;
  top: 0;
  width: 100%;

  @media screen and (max-width: 1199px) {
    padding: 20px 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 13px 32px;
  }
}

.topnav__size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1480px;
  margin: 0 auto;
}

.topnav__logo--design {
  width: 133px;
  height: 24px;

  @media screen and(max-width:767px) {
    width: 88.667px;
    height: 16px;
  }
}

/* 로그인, 회원가입 버튼 */
.topnav__loginBt,
.base__linkBt {
  background: linear-gradient(to right, #6d6afe, #6ae3fe);
  font-size: 18px;
  color: #f5f5f5;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
  }
}

.base__linkBt {
  width: 350px;

  @media screen and (max-width: 767px) {
    width: 200px;
  }
}

.topnav__loginBt {
  width: 128px;

  @media screen and (max-width: 767px) {
    width: 80px;
  }
}

/* 메인화면 */
.base__text {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  margin: 0;

  word-wrap: break-word;
  word-break: keep-all;
  max-width: 708px;

  @media screen and (max-width: 1199px) {
    max-width: 472px;
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 42px;
    max-width: 236px;
  }
}

.base__text br {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.sub__content--text em,
.base__text em {
  font-style: normal;
  font-size: inherit; /*em 폰트 기본설정 초기화*/
  color: transparent;
}

.base {
  background-color: var(--gray-Very-Bright);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 70px 0 0 0;
  gap: 40px;

  @media screen and (max-width: 1199px) {
    padding: 40px 0 0 0;
  }

  @media screen and (max-width: 767px) {
    padding: 28px 40px 0 40px;
    gap: 24px;
  }
}

.base__image {
  width: 1100px;
  height: 590px;
  @media screen and (max-width: 1199px) {
    width: 698px;
    height: 343px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    height: auto;
  }
}

/* 서브 화면 */
.sub {
  display: flex;
  padding: 120px 0 50px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
  height: 620px;
  width: 998px;

  @media screen and (max-width: 1199px) {
    padding: 80px 0 50px;
    height: 445px;
    width: 700px;
  }

  @media screen and (max-width: 767px) {
    padding: 40px 32px 36.09px 33px;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: left;
  }
}

.sub__content--image {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #f0f6ff;

  @media screen and (max-width: 1199px) {
    width: 385px;
    height: 315px;
  }
  @media screen and (max-width: 767px) {
    order: 1;
    width: 100%;
    height: auto;
  }
}

.sub__content--aligned-left {
  margin-right: 157px;

  @media screen and (max-width: 1199px) {
    margin-right: 51px;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0px;
    margin-top: 20px;
  }
}

.sub__content--aligned-right {
  margin-left: 157px;

  @media screen and (max-width: 1199px) {
    margin-left: 51px;
  }
  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.sub__explanation {
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 10px 0 0 0;
  text-align: left;

  @media screen and (max-width: 767px) {
    order: 2;
    font-size: 15px;
    margin-top: 16px;
  }
}

.sub__content--text {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin: 0;
  text-align: left;

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}

.sub br {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

/* 각 sub 설명텍스트 그라데이션 */
.sub__content--gradient-pink {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
}

.sub__content--gradient-yellow {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
}

.sub__content--gradient-navy {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
}

.sub__content--gradient-sky {
  background: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
  background-clip: text;
}

/* 하단 바 */
.footer-var {
  padding-top: 120px;
}

.bottom-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  height: 160px;
  padding: 32px 104px 64px 104px;
  background: var(--The-julge-black, #111322);

  @media screen and (max-width: 767px) {
    padding: 32px;
    position: relative;
  }
}

.bottom-nav__codeit {
  font-size: 16px;
  font-weight: 400;
  font-family: Acme;
  text-align: center;
  color: #676767;

  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 32px;
  }
}

.bottom-nav__setting {
  display: flex;
  gap: 30px;
  color: #cfcfcf;
}

.bottom-nav__setting--color {
  color: #cfcfcf;
}

.bottom-nav__icon {
  list-style: none;
  display: flex;
  gap: 12px;
}

/*a태그가 svg를 감싸도록 하기 위함*/
.bottom-nav__icon--block {
  display: inline-block;
}
