* {
  box-sizing: border-box;
}

html {
  font-family: Pretendard;
  font-size: 100%;
  font-style: normal;
  line-height: normal;

}

body {
  width: 100%;
}

/* 색상 팔레트 변수 지정 */
:root {
  --primary: #6D6AFE;
  --red: #FF5B56;
  --black: #111322;
  --white: #ffffff;
  --gray1: #3E3E43;
  --gray2: #9FA6B2;
  --gray3: #CCD5E3;
  --gray4: #E7EFFB;
  --gray5: #F0F6FF;

}

.topnav__loginBt,
.topnav__logo,
.base__linkBt,
.bottom-nav__icon--facebook,
.bottom-nav__icon--twitter,
.bottom-nav__icon-insta,
.bottom-nav__icon--youtube {
  text-decoration: none;
}

/* 상단 바 */
.topnav {
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray5);
  position: sticky;
  top: 0;
  width: 100%;

  @media screen and (max-width:1199px) {
    padding: 20px 100px;
  }

  @media screen and (max-width:767px) {
    padding: 13px 32px;
  }
}

.topnav__logo--design {
  width: 133px;
  height: 24px;

  @media screen and(max-width:767px) {
    width: 88.667px;
    height: 16px;
  }
}

/* 로그인, 회원가입 버튼 */
.topnav__loginBt,
.base__linkBt {
  background: linear-gradient(to right, #6D6AFE, #6AE3FE);
  font-size: 18px;
  color: #F5F5F5;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width:767px) {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
  }
}

.base__linkBt {
  width: 350px;

  @media screen and (max-width:767px) {
    width: 200px;
  }
}

.topnav__loginBt {
  width: 128px;

  @media screen and (max-width:767px) {
    width: 80px;
  }
}

/* 메인화면 */
.base__text {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  margin: 0;

  @media screen and (max-width:767px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.base__text--backcolor {
  color: transparent;
}

.base {
  background-color: var(--gray5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 70px 0 0 0;
  gap: 40px;

  @media screen and (max-width:1199px) {
    padding: 40px 0 0 0;
  }

  @media screen and (max-width:767px) {
    padding: 28px 40px 0 40px;
    gap: 24px;
  }
}

.base__image {
  @media screen and (max-width:1199px) {
    width: 698px;
    height: 343px;
  }

  @media screen and (max-width:767px) {
    width: 100%;
    height: auto;
  }
}

.base__text--line {
  display: none;

  @media screen and (max-width:1199px) {
    display: block;
  }
}

/* 서브 화면 */
.sub {
  display: flex;
  padding: 120px 0 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
  height: 620px;
  width: 998px;

  @media screen and (max-width:1199px) {    
    padding: 80px 0 50px;
    height: 445px;
    width: 700px;
  }

  @media screen and (max-width:767px) {
    padding: 40px 32px 36.09px 33px;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: left;
  }
}

.sub__content--image {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;

  @media screen and (max-width:1199px) {
    width: 385px;
    height: 315px;
  }
  @media screen and (max-width:767px) {
    order: 1;
    width: 100%;
    height: auto;

  }
}

.sub__content--image.left {
  margin-right: 157px;

  @media screen and (max-width:1199px) {
    margin-right: 51px;
  }
  @media screen and (max-width:767px) {
    margin-right: 0px;
    margin-top: 20px;
  }
}

.sub__content--image.right {
  margin-left: 157px;

  @media screen and (max-width:1199px) {
    margin-left: 51px;
  }
  @media screen and (max-width:767px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.sub__explanation {
  color: #6B6B6B;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 10px 0 0 0;
  text-align:left;
  
  @media screen and (max-width:767px) {
    order: 2;
    font-size: 15px;
    margin-top: 16px;
  }
}

.sub__content--text {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin: 0;
  text-align: left;

  @media screen and (max-width:767px) {
    font-size: 24px;
  }
}

.sub__content--backcolor {
  color: transparent;
}

.sub__content--br {
  @media screen and (max-width:767px) {
    display: none;
  }
}

/* 각 sub 설명텍스트 그라데이션 */
.text1 {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
}

.text2 {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
}

.text3 {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
}

.text4 {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
}

/* 하단 바 */
.footer-var {
  padding-top: 120px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  height: 160px;
  padding: 32px 104px 64px 104px;
  background: var(--The-julge-black, #111322);
  
  @media screen and (max-width:767px) {
    padding: 32px;
    position: relative;
  }
}

.bottom-nav__codeit {
  font-size: 16px;
  font-weight: 400;
  font-family: Acme;
  text-align: center;
  color: #676767;

  @media screen and (max-width:767px) {
    position: absolute;
    bottom:32px;
  }
}

.bottom-nav__setting {
  display: flex;
  gap: 30px;
  color: #CFCFCF;
}

.bottom-nav__setting--color {
  color: #CFCFCF;
}
