:root {
    --Primary: #6d6afe;
    --Red: #ff5b56;
    --Black: #111322;
    --White: #ffffff;
    --Gray100: #3e3e46;
    --Gray200: #9fa6b2
    --Gray300 : #ccd5e3;
    --Gray400: #e7effb;
    --Gray500: #f0f6ff;
  }