:root {
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-red: #ff5b56;
  --The-jungle-black: #111322;
  --Linkbrary-white: #ffffff;
  --Linkbrary-gray100: #3e3e43;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray10: #e7effb;
  --Linkbrary-bg: #f0f6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
}
/* sign in & sign up */
.signin-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 238px 0px auto 0px;
  justify-content: center;
  align-items: center;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.signin-container {
  display: flex;
  width: 400px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.basic-signin {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.signin-logo p {
  color: var(--black, #000);
  font-family: 'Pretendard';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.signin-logo a {
  color: #6d6afe;
  font-family: 'Pretendard';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.signin-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.signin-form label {
  color: var(--black, #000);
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signin-form input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
}
.signin-form input:focus {
  outline: none !important;
  border-color: var(--Linkbrary-primary-color, #6d6afe);
}

.email-input,
.pw-input,
.pw-repeat-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signin-container button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  border: none;
}
.signin-container button a {
  color: var(--Grey-Light, #f5f5f5);
  font-family: 'Pretendard';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.social-signin {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
}

.social-signin span {
  color: var(--Linkbrary-gray100, #373740);
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.social-logo {
  display: flex;
  align-items: center;

  gap: 16px;
}

.google-logo,
.kakao-logo {
  width: 42px;
  height: 42px;
  position: relative;
}

.google-logo img {
  width: 22px;
  height: 22px;
  margin: 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.kakao-inner {
  width: 26px;
  height: 24px;
  margin: 10px 8px 8px 8px;
  position: absolute;
  top: 0;
  left: 0;
}
