@media (max-width: 767px) {
  section {
      display: flex;
      width: 100%;
      padding: 120px 32px 233px 33px;
      justify-content: center;
      align-items: center;
      background-color: var(--Grey1);
      flex-direction: column;
      gap: 32px;
  }

  .link-line-none {
      text-decoration: none;
      color: inherit;
    }

  .signin-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
  }

  .sign-box-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
  }

  .signin-box-head img {
      width: 210.583px;
      height: 38px;
  }

  .sign-box-head-text {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      color: #000;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
  }

  .sign-box-head-link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: var(--Primary);
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
  }

  .sign-box-head-link > a {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
  }

  .sign-underline {
      height: 1px;
      align-self: stretch;
      background: var(--Primary);
  }

  .form-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
  }

  .form-box-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      color: #000;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .relative {
      position: relative;
  }

  .input-design {
      display: flex;
      width: 325px;
      padding: 18px 15px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--Grey3);
      background: #FFF;
  }

  .input-design:focus {
      border: 1px solid var(--Primary);
      outline: none;
  }

  .password-badge {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 18px;
      right: 15px;
  }

  .sumit-bt {
      border-radius: 8px;
      background: var(--Gradation-blue);
      padding: 16px 20px;
      width: 325px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--Grey-Light, #F5F5F5);
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
      cursor: pointer;
      border: 0;
  }

  .social-sign-box {
      display: flex;
      width: 325px;
      padding: 12px 24px;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--Grey3);
      background: var(--Grey2);
      color: var(--Linkbrary-gray100, #373740);
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .social-logo-box {
      display: flex;
      align-items: flex-start;
      gap: 16px;
  }

  .goole-logo {
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      background: url(/img/google.png), url(/img/google-icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
  }

  .kakao-logo {
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      background: url(/img/99FE484C5C3451F218\ 1.svg), url(/img/facebook.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
  }
}