body{
    background-color: #F0F6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 90vh; 
}
.head{
    width: 218.58px;
}
a{
    color:#6D6AFE;
}
label{
    font-size: 14px;
}
button{
    width: 400px;
    height: 54px;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(90deg,rgba(109, 106, 254, 1),rgba(106, 227, 254, 1));
    font-size: 18px;
}
input{
    width: 368.18px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #CCD5E3;
    margin: 15px 0;
    padding: 0 15px;
}
input:focus{
    outline: none;
    border:1px solid #6D6AFE;
}
.social-signup{
    border: 1px solid #CCD5E3;
    background-color: #E7EFFB;
    width: 350.2px;
    height: 64.2px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    margin: 15px;
    padding: 0 24px;
}
.social-login{
    font-size: 14px;
}
.logo{
    width: 210.58px;
    height: 38px;
}
.social-logo{
    width: 42px;
    height: 42px;
    cursor: focus;
}
.go-signin{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.password-container{
    position: relative;
}
.password-input{
    width: 100%;
    box-sizing: border-box;
}
.show-icon{
    position: absolute;
    top: 55%;
    right: 10px;
    cursor: pointer;
    width: 16px;
    height: 13.82px;
}