/*소셜 블록*/
.social_ly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.social {
  height: 66px;
  width: 400px;
}

@media (max-width: 464px) and (min-width: 375px) {
  .social {
    height: 66px;
    width: 100%;
  }
}

.social_style {
  background: var(--Linkbrary-gray-color-4, #E7EFFB);
  border: 1px solid var(--Linkbrary-gray-color-3, #CCD5E3);
  border-radius: 8px;
}

/*소셜 로고 블록*/
.social-logo_ly {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.social-logo-google {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}

.social-logo-kakao {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}