@import "./reset.css";

:root {
  --Linkbrary-primary-color: #6D6AFE;
  --Linkbrary-red: #FF5B56;
  --The-julge-black: #111322;
  --Linkbrary-white: #ffffff;
  --Linkbrary-gray100: #3E3E43;
  --Linkbrary-gray60: #9FA6B2;
  --Linkbrary-gray20: #CCD5E3;
  --Linkbrary-gray10: #E7EFFB;
  --Linkbrary-bg: #F0F6FF;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard', 'Arial';
}

body {
  margin: 0 auto;
  width: 100%;
}
/*======= nav =========*/

.headBlock {
  position: fixed;
  z-index: 1000;
  padding: 20px 200px;
  width: 100%;
  background: var(--Linkbrary-bg, #F0F6FF);
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding: 13px 32px
  }

  @media screen and (min-width: 1920px) {
    gap: 1254px;
  }
}

.headBlock--logo {
  @media screen and (max-width: 767px) {
    width: 88.667px;
    height: 16px;
  }
}

.headBlock--Btn {
  width: 128px;
  padding: 16px 20px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  text-align: center;
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    padding: 10px 16px;
    font-size: 14px;
    width: 80px;
  }
}

/*=======topContainer======*/

.topContainer {
  padding: 163px 200px 0;
  background: #F0F6FF;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 1199px) {
    padding: 133px 32px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 91px 32px 0;
    gap: 24px;
  }
}

.topContainer--text {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 128%;
  flex-shrink: 0;

  @media screen and (min-width: 1200px) {
    .topContainer--text--blind {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 131%;
  }
}

.topContainer--text--decorate {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topContainer--Btn {
  width: 350px;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  flex-shrink: 0;
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    width: 200px;
    padding: 10px 16px;
  }
}

.topContainer--img {
  width: 100%;
}

/*=====section====*/

.content {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 157px;
  padding: 50px 200px;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    padding: 50px 32px;
    gap: 48px;
    row-gap: 10px;
  }

  @media screen and (max-width: 767px) {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px
  }
}

.gridReverse {
  @media screen and (min-width: 768px) {
    .content--img {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
    .content--textLarge, .content--textSmall {
      grid-column: 2 / 3;
      text-align: end;
    }
  } 
}

.content--textLarge {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  grid-column: 1 / 2;
  align-self: self-end;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    align-self: self-start;
  }
}

.content--textSmall {
  color: #6B6B6B;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  grid-column: 1 / 2;

  @media screen and (max-width: 767px) {
    grid-row: 2 / 3;
    font-size: 15px;
    line-height: 150%; /* 22.5px */
    order: 3;
    align-self: self-start;
  }
}

@media screen and (max-width: 767px) {
  .content--blind {
    display: none;
  }  
}

.content--img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  @media screen and (max-width: 1199px) {
    width: 385px;
    height: 315px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    height: auto;
  }

}

.link {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
}
.manage {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
}
.share {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
}
.search {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  -webkit-background-clip: text;
}
.decorate {
  color: transparent;
}

.addTopPadding {
  padding-top: 120px;

  @media screen and (max-width: 1199px) {
    padding-top: 80px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }
}

.addBottomPadding {
  padding-bottom: 170px;

  @media screen and (max-width: 767px) {
    padding-bottom: 80px;
  }
}

/*=====footer=====*/

.endContainer {
  background: var(--The-julge-black, #111322);
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 767px) {
    padding: 32px 32px;    
  }
}

.endContainer--content {
  display: flex;
  flex-grow: 1;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    gap: 60px;
  }
}

.codeit {
  color: #676767;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
}

.privacyFaq {
  display: flex;
  gap: 30px;
  flex-grow: 1;

  .Privacy, .FAQ {
    text-decoration: none;
    color: #CFCFCF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
}

.sns {
  display: flex;
  gap: 12px;
}


/* 잘 안된거

nav요소 1920px 이상 일 때 외부 여백만 늘어나기
html 폰트패밀리 한번에 선언하기
회원가입창에서 absolute요소 안보임
/*