/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* lading CSS */
@import url("./CSS/palette.css");
@import url("./CSS/landing/header.css");
@import url("./CSS/landing/main.css");
@import url("./CSS/landing/footer.css");

/* sisgnin, signup CSS */
@import url("./CSS/sign/sign.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body {
  /* width: 100%; */
}
