*{
    box-sizing: border-box;
}

nav a, .box a{
    text-decoration: none;
    color: #F5F5F5;
}

footer a{
    color: #CFCFCF;
}

.navigation-bar{
    width: 100%;
    height: 94px;
    background-color: #ffffff;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.login-button{
    text-align: center;
    width: 128px;
    padding: 16px 20px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #6D6AFE, #6AE3FE);
}

.main{
    margin-top: 94px;
}

.box{
    width: 100%;
}

.big-title{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.add-link{
    padding: 16px 20px;
    width: 350px;
    color: #ffffff;
    border-radius: 8px;
    border: 0;
    background-image:linear-gradient(90deg, #6D6AFE, #6AE3FE);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.image-box{
    width: 1200px;
    margin: auto;
    text-align: center;
}

.title{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    margin: 0;
}

.content{
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.inline-block-style{
    display: inline-block;
    width: 300px;
}

.margin-auto{
    width: 500px;
    margin: auto;
}

.justify-center{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

.footer-style{
    width: 100%;
    background-color: #111322;
    color: #CFCFCF;
    padding: 50px 50px 100px;
    display: flex;
    justify-content: space-between;
}

.codeit-logo{
    color: #676767;
}

.footer-icons{
    display: flex;
    gap: 10px
}

/* 이 아래는 글자에 그라데이션효과를 넣은 css들 */
.font-gradient{
    background-image: linear-gradient(90deg, #6D6AFE, #FF9F9F);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.font-gradient2{
    background-image: linear-gradient(90deg, #FE8A8A, #A4CEFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.font-gradient3{
    background-image: linear-gradient(90deg, #FFD88B, #6FBAFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.font-gradient4{
    background-image: linear-gradient(90deg, #6D7CCD, #52888522);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.font-gradient5{
    background-image: linear-gradient(90deg, #68E8F9, #FE578F);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* 여기 밑 부분은 signin.html 에서만 쓰는 css */

/* signin 과 signup 에서 기본틀로 중앙정렬 */
.main-position{
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.join-us{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.join-us a{
    color: #6D6AFE;
    text-decoration: underline;
    font-weight: 600;
}

.input-case{
    border-radius: 8px;
    padding: 18px 15px;
    width: 100%;
    border: 1px solid #CCD5E3;
    }


.input-case:focus{
    border: 1px solid #6D6AFE;
}

.sign-title{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
}

form *{
    margin-bottom: 20px;
}

.signin-button{
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-image: linear-gradient(90deg, #6D6AFE, #6AE3FE);
    border-radius: 8px;
    padding: 18px 15px;
    width: 400px;
}

.login-footer{
    width: 400px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-login{
    font-size: 14px;
    font-weight: 400;
    color: #373740;
}

.eye {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.relative{
    position: relative;
}