*{
    box-sizing: border-box;
}
body{
    margin:0;
}
/*mobile*/
@media (min-width:375px) and (max-width:767px){
    header{
        display: flex;
        position: sticky;
        padding:13px 32px;
        flex-direction: column;
        align-items: center;
        gap:8px;
        align-self: stretch;
        background-color: #F0F6FF;
        top:0;
        width:100%;
        z-index: 5;
    }
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        width:100%;
    }
    #logo{
        width: 88.667px;
        height: 16px;
        color:#6D6AFE;
    }
    #login{
        display: flex;
        width: 90px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        gap: 10px;
        color:#F5F5F5;
        border-radius: 8px;
        background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
        border:none;
        cursor: pointer;
    }
    
    .content1{
        display: flex;
        padding: 28px 32px 0px 32px;
        background-color: #F0F6FF;
        position: relative;
        margin:0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .first{
        color: #000;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        margin:0;
        flex-wrap: nowrap;
        width: 100%;
    }
    .first .grad{
        text-align: center;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 131.25% */
        background: linear-gradient(91deg, var(--primary-blue) 17.28%, #FF9F9F 74.98%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        flex-wrap: nowrap;
    }
    .second{
        color: #000;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        flex-wrap: nowrap;
    }
    #addlink{
        display: flex;
        width: 200px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
        border:none;
        color: var(--Grey-Light, #F5F5F5);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }
    .content1main{
        width: 300px;
        height: 178px;
    }
    .content1main img{
        width:300px;
        height:178px;
    }
    .content{
        display: flex;
        padding: 40px 32px 40px 33px;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    }
    .contentframe{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .content2txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
        order:1;
    }
    .content2black{
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
        white-space:nowrap;
    }
    .content2black .content2grad{
        background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }
    #content2common{
        color: #6B6B6B;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        width: 100%;
    }
    .content2img{
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 15px;
        background: #F0F6FF;
        align-items: center;
        justify-content: center;
        order:2;
    }
    .content2img img{
        width:100%;
        height: auto;
    }
    
    .content3imgframe{
        display: flex;
        width: 100%;
        height: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: #F0F6FF;
        order:2;
    }
    .content3imgframe img{
        width:100%;
        height: auto;
    }
    .content3txt{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        order:1;
    }
    .content3black{
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
    }
    .content3black .content3grad{
        background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }
    #content3common{
        color: #6B6B6B;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    
    .content4txt{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        align-self: stretch;
        order:1;
    }
    .content4black{
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        align-self: stretch;
        margin:0;
    }
    .content4black .content4grad{
        background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #content4common{
        color: #6B6B6B;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        width: 100%;
        align-self: stretch;
    }
    .content4imgframe{
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border-radius: 25px;
        background-repeat: no-repeat;
        position: relative;
        order:2;
    }
    .content4imgframe img{
        width: 100%;
        height: auto;
    }
    .content5imgframe{
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 15px;
        background: #F0F6FF;
        justify-content: center;
        order:2;
    }
    .content5imgframe img{
        width: 100%;
        height: auto;
    }
    .content5txt{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        order:1;
    }
    .content5black{
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
    }
    .content5grad{
        background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #content5common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    footer{
        display: flex;
        width: 100%;
        height: auto;
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 30px;
        background-color: #FFFFFF;
    }
    .footer{
        display: flex;
        height: 160px;
        padding: 32px 32px 64px 32px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: var(--the-julge-black, #111322);
    }
    .footerbox{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footerbox span{
        color: #676767;
        text-align: center;
        font-family: Acme;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .centerfooter{
        display: flex;
        width: 181.111px;
        align-items: flex-start;
        gap: 30px;
    }
    .centerfooter a{
        color: #CFCFCF;
        font-family: Acme;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    .endfooter{
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }
    .endfooter img{
        width: 20px;
        height: 20px;
    }
}
/*tablet*/
@media (min-width:768px) and (max-width:1199px){
    header{
        display: flex;
        position: sticky;
        padding-top:20px;
        padding-bottom:20px;
        padding-left: max(32px,calc((100vw - 800px) / 2)); 
        padding-right: max(32px,calc((100vw - 800px) / 2)); 
        flex-direction: column;
        align-items: center;
        gap:8px;
        align-self: stretch;
        background-color: #F0F6FF;
        top:0;
        width:100%;
        z-index: 5;
    }
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        height: 100%;
    }
    #logo{
        width: 133px;
        height: 24px;
        color:#6D6AFE;
    }
    #login{
        display: flex;
        width: 128px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color:#F5F5F5;
        border-radius: 8px;
        background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
        border:none;
        cursor: pointer;
    }
    
    .content1{
        display: flex;
        padding: 40px 250px 0px 250px;
        background-color: #F0F6FF;
        position: relative;
        margin:0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .first{
        color: #000;
        font-family: Pretendard;
        font-size: 34.5px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        margin:0;
        flex-wrap: nowrap;
    }
    .first .grad{
        text-align: center;
        font-family: Pretendard;
        font-size: 34.5px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 125% */
        background: linear-gradient(91deg, var(--primary-blue) 17.28%, #FF9F9F 74.98%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        flex-wrap: nowrap;
    }
    .second{
        color: #000;
        font-family: Pretendard;
        font-size: 34.5px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        flex-wrap: nowrap;
    }
    #addlink{
        display: flex;
        width: 350px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
        border:none;
        color: var(--Grey-Light, #F5F5F5);
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }
    .content1main{
        width: 698px;
    }
    .content1main img{
        width:650.303px;
    }
    .content{
        display: flex;
        padding: 79.8px 47.6px 46.2px 47.6px;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    }
    .contentframe{
        display: flex;
        align-items: center;
        gap: 51px;
    }
    .content2txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 291px;
    }
    .content2black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
        width: 100%;
    }
    .content2black .content2grad{
        background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }
    #content2common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        width: 100%;
    }
    .content2img{
        display: flex;
        width: 385px;
        height: 315px;
        border-radius: 15px;
        background: #F0F6FF;
        align-items: center;
        justify-content: center;
    }
    .content2img img{
        width:100%;
        height: auto;
    }
    
    .content3imgframe{
        display: flex;
        width: 385px;
        height: 315px;
        padding: 0;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: #F0F6FF;
    }
    .content3imgframe img{
        width:100%;
        height: auto;
    }
    .content3txt{
        display: flex;
        width: 291px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .content3black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
    }
    .content3black .content3grad{
        background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }
    #content3common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    
    .content4txt{
        display: flex;
        width: 291px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        align-self: stretch;
    }
    .content4black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        align-self: stretch;
        margin:0;
    }
    .content4black .content4grad{
        background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #content4common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        width: 100%;
        align-self: stretch;
    }
    .content4imgframe{
        width: 385px;
        height: 315px;
        flex-shrink: 0;
        border-radius: 25px;
        background-repeat: no-repeat;
        position: relative;
    }
    .content4imgframe img{
        width: 100%;
        height: auto;
    }
    .content5imgframe{
        display: flex;
        width: 385px;
        height: 315px;
        border-radius: 15px;
        background: #F0F6FF;
        justify-content: center;
    }
    .contennt5imgframe img{
        width: 100%;
        height: auto;
    }
    .content5txt{
        display: flex;
        width: 291px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .content5black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
    }
    .content5grad{
        background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #content5common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    footer{
        display: flex;
        height: 280px;
        padding-top: 120px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 30px;
        background-color: #FFFFFF;
    }
    .footer{
        display: flex;
        height: 160px;
        padding: 32px 104px 64px 104px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        background: var(--the-julge-black, #111322);
    }
    .footerbox{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
    }
    .footerbox span{
        color: #676767;
        text-align: center;
        font-family: Acme;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .centerfooter{
        display: flex;
        width: 181.111px;
        align-items: flex-start;
        gap: 30px;
    }
    .centerfooter a{
        color: #CFCFCF;
        font-family: Acme;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    .endfooter{
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }
    .endfooter img{
        width: 20px;
        height: 20px;
    }
}

/*pc*/
@media(min-width:1200px){
    header{
        display: flex;
        position: sticky;
        padding:20px 200px;
        flex-direction: column;
        align-items: center;
        gap:8px;
        align-self: stretch;
        background-color: #F0F6FF;
        top:0;
        width:100%;
        z-index: 5;
    }
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
    #logo{
        width: 133px;
        height: 24px;
        color:#6D6AFE;
    }
    #login{
        display: flex;
        width: 128px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color:#F5F5F5;
        border-radius: 8px;
        background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
        border:none;
        cursor: pointer;
    }
    
    .content1{
        display: flex;
        padding: 40px 360px 0px 360px;
        background-color: #F0F6FF;
        position: relative;
        margin:0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .first{
        color: #000;
        font-family: Pretendard;
        font-size: 34.5px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        
    }
    .first .grad{
        text-align: center;
        font-family: Pretendard;
        font-size: 34.5px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 125% */
        background: linear-gradient(91deg, var(--primary-blue) 17.28%, #FF9F9F 74.98%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .second{
        color: #000;
        font-family: Pretendard;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
    }
    #addlink{
        display: flex;
        width: 350px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
        border:none;
        color: var(--Grey-Light, #F5F5F5);
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }
    .content1main{
        width: 1118px;
    }
    .content{
        display: flex;
        padding: 120px 461px 50px 461px;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    }
    .contentframe{
        display: flex;
        align-items: center;
        gap: 157px;
    }
    .content2txt{
        display: flex;
        width: 291px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        
    }
    .content2black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
    }
    .content2black .content2grad{
        background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }
    #content2common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    .content2img{
        display: flex;
        width: 550px;
        height: 450px;
        border-radius: 15px;
        background: #F0F6FF;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .content2img img{
        width:100%;
        height: auto;
    }
    
    .content3imgframe{
        display: flex;
        width: 550px;
        padding: 0;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: #F0F6FF;
    }
    .content3imgframe img{
        width:100%;
        height: auto;
    }
    .content3txt{
        display: flex;
        width: 291px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .content3black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
    }
    .content3black .content3grad{
        background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }
    #content3common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    
    .content4txt{
        display: flex;
        width: 291px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        align-self: stretch;
    }
    .content4black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        align-self: stretch;
        margin:0;
    }
    .content4black .content4grad{
        background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #content4common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        width: 100%;
        align-self: stretch;
    }
    .content4imgframe{
        width: 550px;
        height: 450px;
        flex-shrink: 0;
        border-radius: 25px;
        background-repeat: no-repeat;
        position: relative;
    }
    .content4imgframe img{
        width: 100%;
        height: auto;
    }
    .content5imgframe{
        display: flex;
        width: 550px;
        height: 450px;
        border-radius: 15px;
        background: #F0F6FF;
        justify-content: center;
    }
    .contennt5imgframe img{
        width: 100%;
        height: auto;
    }
    .content5txt{
        display: flex;
        width: 291px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .content5black{
        color: #000;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
        margin:0;
    }
    .content5grad{
        background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #content5common{
        color: #6B6B6B;
        font-family: Abel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    footer{
        display: flex;
        height: 280px;
        padding-top: 120px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 30px;
        background-color: #FFFFFF;
    }
    .footer{
        display: flex;
        height: 160px;
        padding: 32px 104px 64px 104px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        background: var(--the-julge-black, #111322);
    }
    .footerbox{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
    }
    .footerbox span{
        color: #676767;
        text-align: center;
        font-family: Acme;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .centerfooter{
        display: flex;
        width: 181.111px;
        align-items: flex-start;
        gap: 30px;
    }
    .centerfooter a{
        color: #CFCFCF;
        font-family: Acme;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    .endfooter{
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }
    .endfooter img{
        width: 20px;
        height: 20px;
    }
}

/*
header{
    display: flex;
    position: sticky;
    padding:20px 200px;
    flex-direction: column;
    align-items: center;
    gap:8px;
    align-self: stretch;
    background-color: #F0F6FF;
    top:0;
    width:100%;
    z-index: 5;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
#logo{
    width: 133px;
    height: 24px;
    color:#6D6AFE;
}
#login{
    display: flex;
    width: 128px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:#F5F5F5;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border:none;
    cursor: pointer;
}

.content1{
    display: flex;
    padding: 70px 360px 0px 360px;
    background-color: #F0F6FF;
    position: relative;
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.first{
    color: #000;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    
}
.first .grad{
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; 
    background: linear-gradient(91deg, var(--primary-blue) 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second{
    color: #000;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}
#addlink{
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border:none;
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.content1main{
    width: 1118px;
    flex-shrink: 0;
}
.content{
    display: flex;
    padding: 120px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.contentframe{
    display: flex;
    align-items: center;
    gap: 157px;
}
.content2txt{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.content2black{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
.content2black .content2grad{
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
#content2common{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
.content2img{
    display: flex;
    width: 550px;
    height: 450px;
    border-radius: 15px;
    background: #F0F6FF;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.content2imgframe{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: -12px;
    background-repeat: no-repeat;
}

.content3imgframe{
    display: flex;
    width: 550px;
    padding: 114px 68px 66px 68px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #F0F6FF;
}
.content3txt{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.content3black{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
.content3black .content3grad{
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
#content3common{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.content4txt{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
}
.content4black{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    align-self: stretch;
}
.content4black .content4grad{
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#content4common{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    width: 100%;
    align-self: stretch;
}
.content4imgframe{
    width: 570px;
    height: 469px;
    flex-shrink: 0;
    border-radius: 25px;
    background-repeat: no-repeat;
    position: relative;
}
#img25{
    position: absolute;
    z-index: 0;
    margin: 9px 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    filter: brightness(50%);
}
#imgshare{
    position: absolute;
    z-index: 1;
    margin: 121px 77px 77px;
}
.content5imgframe{
    display: flex;
    width: 550px;
    height: 450px;
    border-radius: 15px;
    background: #F0F6FF;
    justify-content: flex-end;
    align-items: end;
}
.content5txt{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.content5black{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
.content5grad{
    background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#content5common{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
footer{
    display: flex;
    height: 280px;
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 30px;
    background-color: #FFFFFF;
}
.footer{
    display: flex;
    height: 160px;
    padding: 32px 104px 64px 104px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--the-julge-black, #111322);
}
.footerbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.footerbox span{
    color: #676767;
    text-align: center;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.centerfooter{
    display: flex;
    width: 181.111px;
    align-items: flex-start;
    gap: 30px;
}
.centerfooter a{
    color: #CFCFCF;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.endfooter{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.endfooter img{
    width: 20px;
    height: 20px;
}
