/*0. 텍스트 컨테이너 블록 */
/* 텍스트 컨테이너 블록 레이아웃 */
.text_container_ly {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 텍스트 컨테이너 블록 크기 */
.text_container {
  width: 291px;
}


/* 1. 텍스트 블록 */
/* 텍스트 블록 레이아웃 */
.text_ly {
  align-items: flex-start;
  line-height: normal;
  flex-direction: column;
}

.text_auth_ly {
  text-align: center;
  line-height: 80px;
}

/* 텍스트 블록 사이즈*/
.text_auth {
  font-size: 64px;
}

.text_default {
  font-size: 48px;
}

/* 텍스트 블록 스타일*/
.text_style {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.3px;
}

/* 텍스트 블록 컬러*/
.text_color {
  color: #000;
}

.text_auth_diff-color {
  background: linear-gradient(91deg, var(--Linkbrary-primary-color, #6D6AFE) 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_card_diff_color {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* 2. 텍스트 언더 블록 */
.text_under_ly {
  align-self: stretch;
}

.text_under {
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}