.FolderSharedModal-kakaoTalkIcon {
  width: 4.2rem;
  height: 4.2rem;
  background-image: url("../../../public/images/kakaoTalk.svg");
}

.FolderSharedModal-faceBookIcon {
  width: 4.2rem;
  height: 4.2rem;
  background-image: url("../../../public/images/facebookShared.svg");
}

.FolderSharedModal-copyLinkIcon {
  width: 4.2rem;
  height: 4.2rem;
  background-image: url("../../../public/images/modalShared.svg");
}
