.shareHeader {
  padding: 20px 0 60px;
  background-color: var(--gray5);
}

.shareHeader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 769px) {
  .shareHeader {
    padding: 10px 0 40px;
    background-color: var(--gray5);
  }
}
