.shareHeader-avatar {
  width: 60px;
  height: 60px;
}

.shareHeader-name {
  display: block;
  line-height: 24px;
  margin: 12px 0 20px 0;
}

.shareHeader-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

@media (max-width: 769px) {
  .shareHeader-avatar {
    width: 40px;
    height: 40px;
  }

  .shareHeader-name {
    font-size: 14px;
    margin: 6px 0 10px 0;
    line-height: 16px;
  }

  .shareHeader-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }
}
