/* 모바일  */

body {
  font-size: 18px;
  font-family: Pretendard, Arial, sans-serif;
  margin: 0;
  background: var(--Linkbrary-bg, #f0f6ff);
  display: flex;
  justify-content: center;
  font-style: normal;
}
.center {
  text-align: center;
}

.logo {
  width: 210.583px;
  height: 38px;
}

.user {
  display: flex;
  gap: 8px;
  margin: 16px 0 30px;
}
.signup {
  color: var(--Linkbrary-primary-color, #6d6afe);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.label {
  color: var(--black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#email {
  display: flex;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
  margin: 12px 0 24px;
}
#email:focus {
  outline: 1px solid var(--Linkbrary-primary-color, #6d6afe);
}

.pwform {
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
  margin: 12px 0 30px;
}

#pw {
  display: flex;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background: var(--Linkbrary-white, #fff);
  outline: none;
}

.pwform:focus-within {
  outline: 1px solid var(--Linkbrary-primary-color, #6d6afe);
}
.social {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
  margin: 32px 0 0;
  font-size: 14px;
}
.social_icon {
  gap: 16px;
}
.google,
.kakao {
  position: relative;
}

.icon-background {
  width: 42px;
  height: 42px;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
}

#email,
.pwform,
#pw,
.login,
.social {
  width: 100%;
}

.already_user {
  color: var(--black, #000);
  font-size: 16px;

  font-weight: 400;
  line-height: 24px; /* 150% */
}

.eyeoff {
  border: 0;
  background-color: transparent;
  margin: 0 15px 0 0;
}

#pw_check {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background: var(--Linkbrary-white, #fff);
  outline: none;
}

.signin {
  padding: 16px 20px;
  gap: 10px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 54px 0 32px;
}

main {
  margin: 120px 32px 120px;
  /* max(auto, 32px)는 사용 불가 */
  width: min(84%, 400px);
}

@media (min-width: 768px) {
  main {
    margin: 238px auto 116px;
    width: 400px;
  }
  #email,
  .pwform,
  #pw,
  .signin,
  .social {
    width: 400px;
  }
}
