@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

/* banner */
.banner {
  background: #f0f6ff;
  display: flex;
  padding: 70px auto 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  height: 953px;
}

.banner-title {
  width: 850px;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.banner-title-color {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-linkadd-btn {
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner-img {
  width: 1200px;
  height: 590px;
  border-radius: 25px;
}

/* contents */
.content {
  display: flex;
  padding: 50px 0 50px;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  display: flex;

  align-items: center;
  height: 450px;
  gap: 157px;
}

.content-feature {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.content-title {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content-detail {
  color: #6b6b6b;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 320px;
}
.content-img {
  width: 550px;
  height: 450px;
}

.reverse {
  flex-direction: row-reverse;
}

/* content title color */
.content1-title-color {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content2-title-color {
  background: linear-gradient(95.63deg, #6fbaff 1.72%, #ffd88b 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content3-title-color {
  background: linear-gradient(95.63deg, #6d7ccd 1.72%, #528885 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content4-title-color {
  background: linear-gradient(95.63deg, #fe578f 1.72%, #68e8f9 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* media query====================*/
.hidden {
  display: none;
}

/* tablet */
@media (max-width: 1199px) {
  .content-wrapper {
    gap: 51px;
  }
  .hidden {
    display: block;
  }
  .banner {
    height: 756px;
  }
  .banner-img {
    width: 698px;
    height: 343px;
  }
  .content-img {
    width: 385px;
    height: 315px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .banner {
    height: auto;
    padding: 28px 32px 0;
  }

  .banner-title {
    font-size: 32px;
  }

  .banner-linkadd-btn {
    width: 200px;
    padding: 10px 16px;
    font-size: 14px;
  }

  .banner-img {
    width: 100%;
    height: auto;
  }

  .content {
    padding: 50px 32px;
  }

  .content-wrapper {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    height: auto;
    align-items: flex-start;
  }

  .content-feature {
    width: 100%;
  }

  .content-img {
    width: 100%;
    height: auto;
  }

  .content-title {
    font-size: 32px;
  }

  .content-detail {
    width: 100%;
  }

  .mobile-hidden {
    display: none;
  }
}
