footer {
  background-color: var(--color-black);

  padding: 24px 104px 60px 104px;

  display: flex;
  justify-content: space-between;
}

.txt_copyright {
  color: #676767;
}

.txt_CS {
  color: #cfcfcf;

  display: flex;
  gap: 24px;
}

.icons_footer {
  display: flex;
  gap: 10px;
}

/*모바일 사이즈*/
@media (min-width: 375px) and (max-width: 767px) {
  footer {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 32px;
  }

  .txt_copyright {
    display: flex;
    justify-content: flex-start;

    grid-row: 2;
    margin-top: 24px;
  }

  .icons_footer {
    justify-content: flex-end;
  }
}