header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  padding: 30px 200px;

  background-color: var(--color-background);
}

.btn_gradient {
  padding: 13px 32px;

  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  border: none;
  color: var(--color-white);
}

.profile_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*태블릿 사이즈*/
@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 30px 32px;
  }
}

/*모바일 사이즈*/
@media (min-width: 375px) and (max-width: 767px) {
  header {
    padding: 30px 32px;
  }

  .profile_txt {
    display: none;
  }
}
