* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  background: var(--Linkbrary-bg, #f0f6ff);
}

.HeaderTop-container {
  display: flex;
  justify-content: space-between;
  padding: 33px 200px 32px;
}

.logo-container {
  width: 133px;
  height: 24px;
}

.profileData-container {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.profile-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.profile-email {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-login-btn {
  padding: 16px 20px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.HeaderBottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 624px 60px;
}

.HeaderBottom-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.HeaderBottom-name {
  width: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 12px;
  margin-bottom: 20px;
}

.HeaderBottom-folder-name {
  width: 250px;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
