header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    padding: 30px 200px;

    background-color: var(--color-background);
}

.btn_gradient {
    padding: 13px 32px;

    background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
    border-radius: 8px;
    border: none;
    color: var(--color-white);
}

.container-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}