.search_bar {
  position: relative;
}

.search_icon {
  position: absolute;
  top: 34%;
  left: 20px;
}

.search_bar_input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  padding: 15px 16px 15px 42px;

  border-radius: 10px;

  background-color: #F5F5F5;
  border: none;
}

