:root{
    --Blusherwhite: #FFF;
    --Beigewhite: #F5F5F5;

    --Lightblue: #F0F6FF;
    --purpleblue: #6D6AFE;

    --red: #FF5B56;

    --Whitegray: #E7EFFB;
    --Lightgray: #CCD5E3;
    --gray: #6B6B6B;
    --Moregray: #676767;
    --Darkblue-gray: #373740;

    --black: #000;
    --Darkblue-black: #111322;

    --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    --gra-blue-to-pink: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
    --gra-purpleblue-to-babypink: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    --gra-pink-to-grayblue: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    --gra-skyblue-to-yellow: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    --gra-grayblue-to-black: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}