.Profile{
    display: inline-flex;
    align-items: center;
    gap: 6px;
   
}

.Profile-img{
    width: 2.8rem;
    height: 2.8rem;
}

.Profile-img > img{
    width: 100%;
    border-radius: 50%;
}


.Profile-email{
    /* text-transform: capitalize; */
    font-size: 1.4rem;
    color: #373740;
    line-height: 1;
}
