.Button {
  border-radius: 8px;
  border: none;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--color-gray-light);
  cursor: pointer;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  padding: 16px 20px;
}
