.Profile {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.Profile-image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.Profile-email {
  display: none;
  font-size: 1.4rem;
  color: var(--gray100);

  @media (min-width: 768px) {
    display: inline;
  }
}
