@import url(/src/common/color.css);

.FolderMenu {
  display: flex;
  justify-content: center;
}

.FolderMenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
}

.FolderMenu .folder_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.FolderMenu .folder_selection_button {
  border: 1px solid var(--Primary);
  border-radius: 5px;
  padding: 8px 12px;
  width: max-content;
  background-color: #ffffff;

  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}

.FolderMenu .folder_selection_button:hover {
  cursor: pointer;
}

.FolderMenu .folder_add_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border: none;
  width: max-content;
  background-color: #ffffff;

  color: var(--Primary);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
}

.FolderMenu .folder_add_button > span {
  width: max-content;
}

.FolderMenu .folder_add_button:hover {
  cursor: pointer;
}

.FolderMenu .folder_add_image {
  width: 16px;
  height: 16px;
}

/* tablet */
@media (max-width: 1199px) {
  .FolderMenu .container {
    width: 704px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .FolderMenu .container {
    width: 325px;
  }

  .FolderMenu .folder_add_button {
    display: none;
  }
}
