.Profile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.email {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
}
