.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.profile--img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 6px;
}

.profile--email {
  color: var(--Linkbrary-gray100, #373740);
  font-size: 14px;
  font-weight: 400;
}
