@import url("/src/common/color.css");

.NavigationBar {
  background-color: var(--Gray5);
  padding: 32px 200px;
  display: flex;
  justify-content: center;
}

.NavigationBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
}

.NavigationBar .user_information {
  display: flex;
  align-items: center;
  gap: 6px;
}

.NavigationBar .user_image {
  width: 28px;
  height: 28px;
}

.NavigationBar .user_email {
  color: #373740;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.NavigationBar .login_button {
  width: 128px;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);

  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  text-align: center;

  text-decoration: none;
  cursor: pointer;
}

/* tablet */
@media (max-width: 1199px) {
  .NavigationBar {
    padding: 32px;
  }

  .NavigationBar .container {
    width: 800px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .NavigationBar {
    padding: 18px 32px;
  }
}
