.searchForm {
  position: relative;
  margin-bottom: 40px;
}
.searchForm label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.searchTextBox {
  margin-bottom: 40px;
}
.searchTextBox p {
  font-size: 32px;
  font-weight: 600;
  color: #9fa6b2;
}
.searchTextBox p strong {
  color: rgba(55, 55, 64, 1);
}
@media screen and (max-width: 768px) {
  .searchForm {
    margin-bottom: 32px;
  }
}
