.editFolderNameModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editFolderNameModal-top {
  color: var(--linkbrary-gray100);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.editFolderNameModal-input {
  width: 28rem;
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-primary-color);
  background: var(--linkbrary-white);
  margin-bottom: 1.5rem;
}

.editFolderNameModal-input::placeholder {
  color: var(--linkbrary-gray100);
  font-weight: 400;
}

.editFolderNameModal-button {
  width: 28rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--linkbrary-white) !important;
  font-size: 1.6rem;
  font-weight: 600;
}
