@import "../common/common.css";

.card {
  width: 21.25rem;
  height : 20.875rem;
  border-radius : 0.9375rem;
  overflow: hidden;
  box-shadow: 0 0.3125rem 1.5625rem 0 #00000014;
  display :flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-text {
  display : flex ;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap : 0.625rem;
  padding : 0.9375rem 1.25rem;
}

.time-ago {
  color : #666666;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 0.969375rem;
}

.card-description {
  font-weight: 400;
  line-height: 1.5rem;
}

.upload-date {
  font-size : 0.875rem;
  font-weight: 400;
  line-height: 1.044375rem;
  color : #333333;
}