@import "../common/common.css";

.main {
  width: 66.25rem;
  margin : 0 auto;
  margin-top : 2.5rem;
  display : flex;
  flex-direction: column;
  gap : 2.5rem;
}

.card-section {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1.1875rem;
  margin-bottom: 4rem;
}