section{
    display: block;
}

.section-folderIfm{
    display: flex;
    padding: 11rem 0 6rem ;
    justify-content: center;
    align-items: center;
    background-color:#F0F6FF;
    
 
}

.section-linklist{
    padding: 4rem 0;
}


.container{
    width: 57%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.link-card__list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 2.5rem;
    justify-content: space-between;
}