*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
  color:#000 ;
}

.btn{
  outline: none ;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 600;
}

li{
  list-style: none;
}


input{
  border: none;
  outline: none;
  background-color: transparent;
  display: block;

}

button{
  outline: none;
  border: none;
  background-color:transparent;
  cursor: pointer;
}