ul {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 30px;
  row-gap: 24px;
  column-gap: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  width: min(340px, 100%);
}
h2 {
  font-size: 16px;
  margin: 10px 0;
}

.card {
  border-radius: 16px;
  width: min(340px, 100%);
  height: 350px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
  position: relative;
}
.card-content {
  padding: 15px 20px;
  height: 150px;
  background-color: white;
  position: relative;
}
.card:hover .card-image {
  background-size: 130%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  ul {
    display: grid;
    grid-template:
      350px 350px/
      340px 340px;
  }
}

@media (min-width: 1200px) {
  ul {
    display: grid;
    grid-template:
      350px 350px 350px/
      340px 340px 340px;
  }
}
