.shared-header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  z-index: 3;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.shared-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
}

.header-logo {
  width: 133px;
  height: 24px;
  background-image: url(../../assets/img/svg/logo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shared-link,
.shared-a {
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
}

.shared-user-container {
  display: flex;
  gap: 5px;
}

.shared-user-image-sizing {
  width: 24px;
  height: 24px;
}

footer {
  display: flex;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footer-box {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.shared-login {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  flex-shrink: 0;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer-logo-wh {
  width: 20px;
  height: 20px;
}
.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo-padding:not(:last-of-type) {
  padding-right: 12px;
}

.privacy-font {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.padding-30 {
  padding: 0 30px;
}

@media (min-width: 1920px) {
  .shared-header {
    width: 100%;
    padding-left: calc((100% - 1520px) / 2);
    padding-right: calc((100% - 1520px) / 2);
    background: var(--Linkbrary-bg, #f0f6ff);
    box-sizing: border-box;
    overflow: hidden;
  }

  .shared-header > div {
    width: 1520px;
  }
}
@media (max-width: 1199px) {
  .shared-header {
    padding-left: calc(200px - (1199px - 100vw) / 2);
    padding-right: calc(200px - (1199px - 100vw) / 2);
  }
  .shared-header > div {
    width: 799px;
  }

  .shared-header > div > .shared-link {
    margin-right: 0;
  }

  .shared-header > div > .shared-link.login {
    margin-left: auto;
  }
}
@media (max-width: 869px) {
  .shared-header {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;
  }
  .shared-header > div {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .shared-header {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .header-logo {
    width: 88.67px;
    height: 16px;
  }

  .shared-login {
    display: flex;
    width: 80px;
    padding: 10px 16px;
  }

  .shared-a {
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
  }

  .codeit-font {
    position: absolute;
    top: 81px;
  }

  footer {
    display: flex;
    padding-top: 102.5px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .footer-box {
    display: flex;
    padding: 32px 32px 64px 32px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .footer-main {
    position: relative;
  }
}
