.EditModal .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.EditModal .contents {
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--Gray3);
  background-color: var(--White);
}

.EditModal .close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.EditModal .title {
  color: #373740;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
}

.EditModal .folder_edit_input {
  width: 280px;
  margin-top: 24px;
  margin-bottom: 15px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--Gray3);
  background: var(--White);
}

.EditModal .folder_edit_input:focus {
  border: 1px solid var(--Primary);
}

.EditModal .subtitle {
  color: var(--Gray2);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}

.EditModal .button {
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
  width: 280px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}
