.shareIconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.shareIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}