@import '../../../styles/_index.scss';

.gradientButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
  color: $color-white;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background: linear-gradient(to right, $color-primary, #6ae3fe);
  border-radius: 8px;
}
