.SearchBar {
  margin: 40px 0;
  display: flex;
  padding: 0px 16px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.SearchBar input {
  height: 54px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0 16px;
  background-color: #f5f5f5;
  font-size: 16px;
}

.SearchBar input:focus {
  outline: none;
}

/* MEDIA QUERY */
/* tablet */
@media (max-width: 1199px) {
}

/* mobile */
@media (max-width: 767px) {
  .SearchBar input {
    height: 43px;
    padding: 0 16px;
    font-size: 14px;
  }
}
