@import '../css/palette.css';

.linkName {
  color: var(--gray60);
  font-size: 14px;
  margin: 8px auto 24px;
}

.linkFolders {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.folder {
  display: flex;
  background-color: var(--white);
  border: none;
  padding: 8px;
}

.folderClicked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.folder:hover {
  background-color: var(--background);
}

.folderInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.folderName {
  color: var(--gray100);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.folderNameClicked {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.linkCount {
  color: var(--gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submitButton {
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--white);
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
  margin-top: 24px;
}