.inputText {
  width: 100%;
  padding: 18px 15px;
  margin: 24px;
  border: 1px solid var(--gray20);
  border-radius: 12px;
}

input:focus {
  outline: none;
  border-color: var(--primary);
}

.submitButton {
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--white);
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
}