@import "../css/palette.css";

.background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container {
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 40px;
}

.modalTitle {
  color: var(--Linkbrary-gray100, #373740);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.submitButton {
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--white);
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
}

.closeButton {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}