.scroll-locked {
  overflow: hidden;
}

.Modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-top: 30%;
}

.Modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  width: 24rem;
  border: none;
  border-radius: 15px;
  background-color: var(--white);
  padding: 1.8rem 2rem;
}

.ModalTitle {
  font-size: 1.6rem;
  font-weight: 700;
}

.ModalSubtitle {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray60);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.submitButton {
  padding: 1.6rem 2rem;
  border-radius: 8px;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--white);
  width: 100%;
}

.deleteButton {
  padding: 1.6rem 2rem;
  border-radius: 8px;
  background-color: var(--red);
  color: var(--white);
  width: 100%;
}

.Modal input {
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 1.8rem 1.5rem;
  outline-color: none;
  width: 100%;
}

.icons {
  width: 3rem;
  height: 3rem;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.shareIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  font-size: 1rem;
}
