.AddLinkSearchBar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.4rem 3.2rem 4rem;
  background-color: var(--light-blue);

  @media (min-width: 768px) {
    padding: 6rem 3.25rem 9rem;
  }
}
.AddLinkSearchBar-position {
  position: relative;
  width: 100%;
  max-width: 80rem;
}
.AddLinkSearchBar-input {
  width: 100%;
  max-width: 80rem;
  height: 5.4rem;
  padding: 0.8rem 1rem 0.8rem 4rem;
  border-radius: 1.5rem;
  border: 1px solid var(--primary, #6d6afe);
  background: var(--white, #fff);
  font-size: 1.4rem;

  @media (min-width: 768px) {
    padding: 1.6rem 2rem 1.6rem 4rem;
    font-size: 1.6rem;
    height: 7rem;
    line-height: 150%;
  }
}
.AddLinkSearchBar-input::placeholder {
  color: var(--text-content-gray);
}
.AddLinkSearchBar-icon {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  @media (min-width: 768px) {
    top: 2.5rem;
  }
}
.AddLinkSearchBar-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 8rem;
  padding: 1rem 1.6rem;
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.8rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  @media (min-width: 768px) {
    top: 1.5rem;
  }
}
