.container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.img {
  width: 2.8rem;
  border-radius: 50%;
}

/* mobile */
@media screen and (max-width: 767px) {
  .email{
    display: none;
  }
}