* {
  box-sizing: border-box;
  margin: 0; /*reset css*/
  padding: 0;
}

.signup-another__google,
.signup-another__kakao,
.signup__form--signupBt,
.signup_logoSection--logo
 {
  text-decoration: none;
}

html {
  font-family: Pretendard;
  font-size: 100%;
  font-style: normal;
  line-height: normal;
  background: var(--Linkbrary-bg, #F0F6FF);
}

.signup {
  display: flex;
  padding: 238px 0 253px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;

  @media screen and (max-width:1199px) {
    padding: 200px 0 178px 0;    
  }

  @media screen and (max-width:767px) {
    padding: 120px 32px 120px 32px;    
    width: 100%;
  }
}

/* 상단 부분  */
.signup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;

  @media screen and (max-width:767px) {
    max-width: 400px;   
    width: 100%;
  }
}

.signup__logoSection svg {
  width: 210.583px;
  height: 38px;
}

.signup__logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.signup__logoSection--text {
  color: var(--black, #000);
  font-weight: 400;
  line-height: 24px;
}

.signup__logoSection--text a {
  font-weight: 600;
}

/* 폼 작성 부분 */
.sign__form {
  width: 100%;
}
.signup__inputsection{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.signup__form--inputbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.signup__form--label-text {
  font-size: 14px;
  font-weight: 400;
}

.signup__form--inputbox input {
  display: flex;
  width: 100%;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
  margin-top: 12px;
}

.signup__form--inputbox input:focus {
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  outline: none;
}

.signup__form--signupBt {
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  width: 100%;
  padding: 16px 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
  border: 0px;
}

.signup__form--signupBt:hover {
  cursor: pointer;
}

.signup__password-container {
  position: relative;
  width: 100%;
}

.password__toggle-icon,
.pwcheck__toggle-icon {
  position: absolute;
  right: 15px;
  top: 30px;
}


.signup__email-form--error,
.signup__password-form--error,
.signup__pwcheck-form--error {
  display: none;
  color: #FF5B56;
  font-size: 14px;
  font-weight: 400;
  margin-top: 6px;
}

/* 하단 부분 */
.signup-another {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);

  @media screen and (max-width:767px) {
    max-width: 400px;   
    width: 100%;
  }
}

.signup-another__google,
.signup-another__kakao{
  display: inline-block;
}