* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  width: 1440px;
  padding: 238px 0px 252px;
  justify-content: center;
  align-items: center;
  background: #f0f6ff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.signin img {
  width: 210.583px;
  height: 38px;
}

.signin p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 0;
}

.signin a {
  color: #6D6AFE;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.signup {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

#email {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #FFF;
}

#email:focus{
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #6D6AFE;
  background: #FFF;
}

#email::placeholder {
  color: #373740;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

#password {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #FFF;
}

#password:focus {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #6D6AFE;
  background: #FFF;
}

.signup {
  color: #F5F5F5;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signup_button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.social {
  display: flex;
  padding: 12px 24px;
  width: 400px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #E7EFFB;
}

.icon {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.google {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}

.google {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    background-image: url(./icon/google.svg);
}

.googleicon {
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 10px;
}

.kakao {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  background-image: url(./icon/kakao.svg);
}

.kakaoicon {
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 10px 8px 8px;
}

