.modal_back {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  position: fixed;
  width: 360px;
  height: 210px;
  background-color: white;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
}
.modal-child {
  padding-bottom: 5px;
  margin: 30px 0px;
}
.modal-closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
