.add-link-bar {
  background-color: var(--white);
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: 0.0625rem solid var(--primary);
  border-radius: 0.9375rem;
  width: 50rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 20.3125rem;
    padding: 0.5rem 0.625rem;
  }
}

.add-link-icon-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
  }
}

.add-link-img {
  width: 1.25rem;
  height: 1.25rem;

  @media (max-width: 768px) {
    width: 1rem;
    height: 1rem;
  }
}

.add-link-input {
  color: var(--gray60);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;

  @media (max-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.044375rem;
  }
}

.add-link-button {
  width: 5rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.044375rem;
  color: var(--gray-light);
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
}
