@import url("../style.css");

.header-area {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-gray-200);
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 20rem;
  max-width: 1920px;
}

.logo-area {
  display: flex;
}

.logo-img {
  width: 13.3rem;
  height: 2.4rem;
}

.header-group .btn {
  flex-shrink: 0;
  width: 12.8rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 7rem;
  background: var(--color-gray-200);
}

.main .title {
  line-height: 1.25;
  font-size: 6.4rem;
  font-weight: 700;
  text-align: center;
}

.main .title .gradient {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .btn {
  width: 35rem;
}

.main .screen {
  width: 120rem;
  height: 59rem;
}

.article-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin: 12rem 0 12.5rem;
}

.section-area {
  display: grid;
  gap: 0 15.7rem;
}

.section-area:nth-of-type(odd) {
  grid-template:
    ". image"
    "title image"
    "desc image"
    ". image" / 30.2rem 55rem;
}

.section-area:nth-of-type(even) {
  grid-template:
    "image ."
    "image title"
    "image desc"
    "image ."/55rem 30.2rem;
}

.section-area .title {
  grid-area: title;
  margin-bottom: 1rem;
  line-height: 5.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

.desc {
  grid-area: desc;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-gray-800);
  white-space: pre-line;
}

.function-screen {
  grid-area: image;
  height: 45rem;
}

.gradient.pink-to-blue {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient.yellow-to-blue {
  background: linear-gradient(277deg, #6fbaff 0%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient.blue-to-gray {
  background: linear-gradient(
    99deg,
    #6d7ccd 60%,
    rgba(82, 136, 133, 0.22) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient.blue-to-blue {
  background: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -150%, #68e8f9 110%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-area {
  background-color: var(--color-black);
}

.footer-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3.2rem 10.4rem 10.8rem;
  max-width: 1920px;
}

.copyright {
  line-height: 1;
  font-size: 1.6rem;
  color: var(--color-gray-700);
}

.link-list {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
  color: var(--color-gray-500);
}

.sns-list {
  display: flex;
  gap: 1.2rem;
}

.link-item,
.sns-item {
  display: flex;
  line-height: 1;
}

@media (max-width: 1199px) {
  .header-group {
    padding: 2rem 3.2rem;
    max-width: 80rem;
  }

  .main {
    padding-top: 4rem;
  }

  .main .title {
    width: 52rem;
    word-break: keep-all;
  }

  .main .screen {
    width: 69.8rem;
    height: 34.3rem;
  }

  .article-area {
    margin: 8rem 0 17rem;
  }

  .section-area {
    gap: 0 5.1rem;
  }

  .section-area:nth-of-type(odd) {
    grid-template:
      ". image"
      "title image"
      "desc image"
      ". image" / 28rem 38.5rem;
  }

  .section-area:nth-of-type(even) {
    grid-template:
      "image ."
      "image title"
      "image desc"
      "image ."/38.5rem 28rem;
  }

  .desc {
    white-space: normal;
    word-break: keep-all;
  }

  .function-screen {
    height: 31.5rem;
  }
}

@media (max-width: 767px) {
  .header-group {
    padding: 1.3rem 3.2rem;
  }

  .logo-img {
    width: 8.867rem;
    height: 1.6rem;
  }

  .header-group .btn {
    width: 8rem;
    height: 3.7rem;
    line-height: 3.7rem;
    font-size: 1.4rem;
  }

  .main {
    gap: 2.4rem;
    padding-top: 2.8rem;
  }

  .main .title {
    width: 28rem;
    line-height: 4.2rem;
    font-size: 3.2rem;
  }

  .main .btn {
    width: 20rem;
    height: 3.7rem;
    line-height: 3.7rem;
    font-size: 1.4rem;
  }

  .main .screen {
    width: 32.5rem;
    height: 16rem;
  }

  .article-area {
    margin: 0 0 4rem;
    gap: 0;
  }

  .section-area:nth-of-type(n) {
    grid-template:
      "title"
      "image"
      "desc"/100%;
    gap: 0;
    padding: 4rem 3.2rem;
  }

  .section-area .title {
    margin-bottom: 0;
    line-height: 2.9rem;
    font-size: 2.4rem;
  }

  .desc {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  .function-screen {
    margin: 2rem 0 1.6rem;
    width: 100%;
    height: auto;
  }

  .footer-group {
    flex-wrap: wrap;
    gap: 6rem 0;
    padding: 3.2rem;
  }

  .copyright {
    order: 1;
    width: 100%;
  }
}
