.folder__option-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.folder__option-bar--text {
  color: var(--black);

  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}
.folder__option-bar--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
