.sns img {
  width: 20px;
  height: 20px;
  padding: 0 5px;
}
.sns {
  display: flex;
  justify-content: space-around;
}
.footer {
  height: 160px;
  background-color: rgba(17, 19, 34, 1);
  color: rgba(103, 103, 103, 1);
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.footer-tablet {
  height: 160px;
  background-color: rgba(17, 19, 34, 1);
  color: rgba(103, 103, 103, 1);
  width: 100%;
  bottom: 0;
  margin-top: 300px;
}

.footer-container {
  padding: 30px 20px 0 20px;
  right: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.policy-faq span {
  padding: 0 20px;
}
.policy-faq a {
  text-decoration: none;
  color: rgba(103, 103, 103, 1);
}
