.Category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Categories {
  display: flex;
  gap: 0.8rem;
}

.add-folder {
  color: var(--primary);
  font-size: 1.6rem;
  display: none;
  @media (min-width: 767px) {
    display: inline;
  }
}

.CategoryButton {
  border-radius: 5px;
  height: 4rem;
  border: 0.1rem solid #6d6afe;
  background-color: var(--white);
  color: var(--black);
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.CategoryButton.button-clicked {
  background-color: var(--primary);
  color: var(--white);
}
