.FolderIfm-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.FolderIfm-owner {
    text-align: center;
}

.owner-img {
    width: 6rem;
    height: 6rem;
    margin: auto;

}

.owner-img>img {
    width: 100%;
    border-radius: 50%;
}

.owner-name {
    font-size: 1.2rem;
    line-height: 150%;
    margin-top: 1.2rem;
    display: inline-flex;
}

.folder-name {
    font-size: 3rem;
    color: #000;
    text-align: center;
    line-height: 1;
  

}