.classification {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.classification-buttons {
  display: flex;
  gap: 0.5rem;
}

.add-folder-button {
  line-height: 1.193125rem;
  text-align: center;
  color: #6d6afe;
}
