.folder_container {
  display: flex;
  width: 280px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  align-items: center;
  position: relative;
}

.folder_name {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.folder_link {
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.check_img {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 8px;
}
