.folder {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  height: 36px;
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
