.container {
  position: relative;
  text-align: center;
}

.closeBtn {
  position: absolute;
  right: -5px;
  top: -8px;
  background-color: #e7effb;
  color: #9fa6b2;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #9fa6b2;
}

.btn {
  width: 100%;
  padding: 15px 0;
  color: white;
  background-color: #ff5b56;
  font-size: 1.5rem;
  border-radius: 10px;
}
