.container {
  display: flex;
  justify-content: center;
  padding-top: 3.4rem;
  height: 50vh;

  @media (min-width: 768px) {
    padding-top: 4.1rem;
  }
}

.message {
  font-size: 1.4rem;
  line-height: 150%;

  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}
