.mainbg {
  background-color: var(--palette-grey-5);
}
.gnb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--palette-grey-5);
  z-index: 10;
}
.profile_info {
  display: flex;
  gap: 6px;
  align-items: center;
}
.profile_img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.profile_id {
  font-size: 14px;
  color: #373740;
}
.menu {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.signin {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.gradient {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-grey);
  border-radius: 8px;
  background: linear-gradient(
    91deg,
    var(--palette-primary) 0.12%,
    #6ae3fe 101.84%
  );
  text-decoration: none;
}
.footer_info {
  display: grid;
  background: #111322;
}

.footer_link {
  grid-area: link;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.footer_sns {
  grid-area: sns;
  place-self: start end;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.footer_author {
  grid-area: author;
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_link > a {
  color: #cfcfcf;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
@media (max-width: 767px) {
  .gnb {
    padding: 13px 32px;
  }
  .menu {
    justify-content: space-between;
  }
  .profile_id {
    display: none;
  }
  .logo {
    width: 88.67px;
    height: 16px;
  }
  .signin {
    width: 48px;
    height: 17px;
    font-size: 14px;
  }
  .gradient {
    padding: 10px 16px;
  }
  .footer_body {
    padding-top: 40px;
  }
  .footer_info {
    height: 96px;
    padding: 32px;
    grid-template-areas:
      "link sns"
      "author .";
  }
  .footer_link {
    place-self: start start;
  }
  .footer_author {
    place-self: end start;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .gnb {
    padding: 20px 32px;
  }
  .menu {
    justify-content: center;
  }
  .between_blank {
    max-width: 538px;
    flex-grow: 1;
  }
  .logo {
    width: 133px;
    height: 24px;
  }
  .signin {
    width: 88px;
    height: 22px;
    font-size: 18px;
  }
  .gradient {
    padding: 16px 20px;
  }
  .footer_body {
    margin-top: 50px;
    padding-top: 120px;
  }
  .footer_info {
    height: 64px;
    padding: 32px 104px 64px 104px;
    grid-template-areas: "author link sns";
  }
  .footer_link {
    place-self: start center;
  }
  .footer_author {
    place-self: start start;
  }
}
@media (min-width: 1200px) {
  .gnb {
    padding: 20px 200px;
  }
  .menu {
    justify-content: space-between;
  }
  .logo {
    width: 133px;
    height: 24px;
  }
  .signin {
    width: 88px;
    height: 22px;
    font-size: 18px;
  }
  .gradient {
    padding: 16px 20px;
  }
  .footer_body {
    margin-top: 50px;
    padding-top: 120px;
  }
  .footer_info {
    height: 64px;
    padding: 32px 104px 64px 104px;
    grid-template-areas: "author link sns";
  }
  .footer_link {
    place-self: start center;
  }
  .footer_author {
    place-self: start start;
  }
}
