button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  width: 8rem;
  padding: unset;
}
