* {
  text-decoration: none;
}
.card {
  width: 21.25rem;
  height: 20.875rem;
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  @media screen and (max-width: 1124px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.card__img {
  position: relative;
  width: 100%;
  height: 11.8125rem;
  overflow: hidden;
}
.card__img--background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__img--meatsball-icon {
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  z-index: 2;
}

.card:hover {
  background: var(--Linkbrary-bg, #f0f6ff);
}
.card:hover .card__img--background {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.card__texts {
  width: 100%;
  padding: 0.9375rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  height: 135px;
}

.card__texts--time {
  display: flex;
  justify-content: space-between;
  color: var(--gray40);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__texts--description {
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card__texts--date {
  overflow: hidden;
  color: var(--gray70);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
