@import url(../assets/color.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard;
}

html,
body {
  font-size: 62.5%;
}

.cardlist {
  width: 106rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.search {
  display: flex;
  align-items: center;
  height: auto;
  padding: 1.5rem 1.6rem;
  border-radius: 1rem;
  background-color: var(--Grey-Light);
  margin-bottom: 4rem;
}

.search-input:focus {
  outline: none;
}

.search-input {
  width: 100%;
  margin-left: 0.6rem;
  border: 0;
  background-color: var(--Grey-Light);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 34rem;
  height: 33.4rem;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0px 5px 25px 0px #00000014;
  border-radius: 1.5rem;
}

.image-container {
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
  height: 19.2rem;
}

.card:hover .card-image {
  transform: scale(1.3);
}

.card-image {
  width: 100%;
  height: 19.2rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.text-time {
  font-size: 1.3rem;
  color: var(--Text-time);
}

.text-description {
  height: 7.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--Black);
}

.text-date {
  font-size: 1.4rem;
  color: var(--Text-date);
}

/* 모바일 화면 */
@media (min-width: 375px) and (max-width: 767px) {
  .search {
    padding: 1.3rem 1.6rem;
  }

  .cardlist {
    width: calc(100% - 64px);
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-content: center;
  }

  .card {
    margin: 0 auto;
  }
}

/* 태블릿 화면  */
@media (min-width: 768px) and (max-width: 1124px) {
  .cardlist {
    width: 70.5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}
