.card_content {
  width: 18.75rem;
  height: 3.0625rem;
  align-self: stretch;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;

  line-height: 1.5rem;
}
