@import '../styles/css/global.css';

.cardlist {
  display: flex;
  width: 100%;
  max-width: 1120rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem 2rem;
}

.none-link {
  margin: 2.5rem;
  font-size: 1.4rem;
}
