.card_list {
  width: 66.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
}

@media screen and (max-width: 1123px) {
  .card_list {
    max-width: 44rem;
  }
}

@media screen and (max-width: 768px) {
  .card_list {
    max-width: 20.3125rem;
  }
}
