.card {
  width: 21.25rem;
  height: 20.875rem;
  border-radius: 0.94rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card_img_container {
  height: calc(15.85913rem - (1.625rem + 1.75rem));
  border-radius: 0.94rem 0.94rem 0 0;
  overflow: hidden;
}

.card:hover .card_img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.card_img {
  width: 21.25rem;
  height: calc(15.85913rem - (1.625rem + 1.75rem));
  background: lightgray 50% / cover no-repeat;
}

.card_info {
  width: 21.25rem;
  height: 8.4375rem;
  padding: 0.9375rem 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;

  border-radius: 0rem 0rem 0.9375rem 0.9375rem;
  background: #fff;
}
