@import '../styles/css/global.css';

.category-list {
  display: flex;
  width: 100%;
  max-width: 112rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.category-list-container {
  display: flex;
  gap: 0.5rem;
}

.category {
  display: flex;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--white);
}

.add-category-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.add-category {
  display: flex;
  color: var(--primary);
}

.add-category-icon {
  display: flex;
  width: 1rem;
  height: 1rem;
}

.category-title {
  display: flex;
  width: 100%;
  max-width: 112rem;
  align-items: center;
  justify-content: space-between;
}

.category-menu {
  display: flex;
  gap: 0.1rem;
}

.category-menu-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.3rem;
}

.category-menu-text {
  color: var(--gray-02);
}

.category-box {
  display: flex;
  gap: 1.2rem;
}

.category-name {
  font-size: 2.5rem;
}

@media (width <= 767px) {
  .category-title {
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
  }

  .add-category-container {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 10.1rem;
    left: 0;
    width: fit-content;
    padding: 0.8rem 2.4rem;
    border: 1px solid var(--white);
    border-radius: 20px;
    margin: 0 auto;
    background: var(--primary);
  }

  .add-category {
    color: var(--white);
  }

  .add-category-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(91deg) brightness(104%) contrast(102%);
  }
}
