$color-primary: #6d6afe;
$color-red: #ff5b56;
$color-black: #111322;
$color-white: #ffffff;

$color-gray100: #373740;
$color-gray60: #9fa6b2;
$color-gray20: #ccd5e3;
$color-gray10: #e7effb;
$color-gray-light: #f5f5f5;

$color-light-blue: #f0f6ff;

$color-text-gray: #676767;
$color-text-content-gray: #666666;
$color-text-content-black: #333333;
