.footer_container {
  width: 90rem;
  height: 17.5rem;
  margin-top: 3.75rem;
  padding: 2rem 6.5rem 4rem 6.5rem;

  color: #676767;
  background: #111322;

  font-family: Arial;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.privacy_and_faq {
  display: flex;
  width: 11.31944rem;
  gap: 1.875rem;
}

.footer_icons {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}
