@import url('./global.css');
@import url('./FolderList.css');

.folder {
  display: flex;
  height: 2.5rem;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--white);
}

.folder-selected {
  background: var(--primary);
  color: var(--white);
}
