@import url('./global.css');

.folder-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 2.5rem;
  gap: 2.5rem;
}

@media (width >= 768px) and (width <= 1124px) {
  .folder-content {
    padding: 2.5rem 2rem;
  }
}

@media (width <= 767px) {
  .folder-content {
    padding: 2.5rem 2rem;
  }
}
