@import url(../assets/color.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard;
}

html,
body {
  font-size: 62.5%;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Linkbrary-bg);
  padding: 6rem 0 9rem;
  margin-bottom: 4rem;
}

.link {
  display: flex;
  align-items: center;
  width: 80rem;
  height: 6.9rem;
  padding: 1.5rem 2rem;
  background-color: var(--Linkbrary-white);
  border: 0.1rem solid var(--Linkbrary-primary-color);
  border-radius: 1.5rem;
}

.link-input {
  width: 100%;
  font-size: 1.6rem;
  margin-left: 1.2rem;
  border: 0;
}

.link-input:focus {
  outline: none;
}

.button-linkadd {
  display: flex;
  width: 11rem;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light);
  font-size: 1.8rem;
  font-weight: 600;
}

/* 모바일 화면 */
@media (min-width: 375px) and (max-width: 767px) {
  .link-container {
    justify-content: space-between;
    padding: 2.4rem 3.2rem 4rem 3.2rem;
    margin-bottom: 2rem;
  }

  .button-linkadd {
    width: 15rem;
  }
}

/* 태블릿 화면  */
@media (min-width: 768px) and (max-width: 1199px) {
  .link-container {
    padding: 6rem 3.2rem 9rem 3.2rem;
    justify-content: space-between;
  }

  .link {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
  }

  .button-linkadd {
  }
}
