* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --Linkbrary-bg: #f0f6ff;
  --btn: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  --Linkbrary-gray100: #373740;
  --Grey-Light: #f5f5f5;
  --gray20: #ccd5e3;
  --Linkbrary-primary-color: #6d6afe;
  --footerBgColor: #111322;
  --footerText1: #676767;
  --footerText2: #cfcfcf;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray10: #e7effb;
  font-family: 'Pretendard';
  color: var(--black);
}

html {
  font-size: 16px;
}

/* 메인 */

.folder {
  width: 100%;
  max-width: 1920px;
  min-width: 375px;
  background-color: white;
}

.link {
  padding: 3.75rem 0 5.625rem;
  background: var(--Linkbrary-bg);
  text-align: center;
}
.link__box {
  width: 50rem;
  position: relative;
  margin: 0 auto;
  @media screen and (max-width: 1124px) {
    width: 41.5rem;
  }

  @media screen and (max-width: 767px) {
    width: 20.3125rem;
  }
}
.link__inputtext {
  width: 50rem;
  padding: 1rem 1.25rem;
  height: 4.3215rem;
  border-radius: 0.9375rem;
  border: 1px solid var(--Linkbrary-primary-color);
  outline: none;
  @media screen and (max-width: 1124px) {
    width: 41.5rem;
  }

  @media screen and (max-width: 767px) {
    padding: 0.5rem 0.62rem;
    width: 20.3125rem;
  }
}

.link__inputtext::placeholder {
  background-image: url('../assets/link.svg');
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
}

.link__add {
  padding: 0.625rem 1rem;
  width: 5rem;
  height: 2.3125rem;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);
  border: none;
  outline: none;
  color: var(--Grey-Light, #f5f5f5);
  position: absolute;
  right: 1.25rem;
  top: 1rem;
  @media screen and (max-width: 767px) {
    right: 0.62rem;
    top: 1rem;
  }
}

/* 메인 컨텐츠 영역 */
.content {
  width: 66.25rem;
  margin: 2.5rem auto;

  @media screen and (max-width: 1124px) {
    width: 44rem;
  }
  @media screen and (max-width: 767px) {
    width: 20.3rem;
  }
}

.content__search {
  width: 66.25rem;
  padding: 0.9375rem 1rem;
  border-radius: 0.625rem;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;

  @media screen and (max-width: 1124px) {
    width: 44rem;
  }

  @media screen and (max-width: 767px) {
    width: 20.3rem;
    margin-bottom: 2rem;
  }
}

/* 카테고리 */
.content__category {
  display: flex;
  justify-content: space-between;
}

.category__box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category__list {
  padding: 0.6rem 0.75rem 0.5rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Linkbrary-primary-color);
  cursor: pointer;
}

.category__list:hover {
  background-color: var(--Linkbrary-primary-color);
  color: #ffffff;
}

.category__select{
  background-color: #6D6AFE;
  color: #FFFFFF;
}

.category__add {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 2rem;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.category__addText {
  color: var(--Linkbrary-primary-color);
  letter-spacing: -0.01875rem;
  font-weight: 500;
  line-height: 2rem;
}

.category__addImg {
  width: 1rem;
  height: 1rem;
}

/* 폴더 제목, 유틸 */
.content__header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 0.75rem;
    margin: 1.75rem 0 1.25rem;
  }
}

.content__title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.0125rem;
}

.content__util {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.content__util--img {
  width: 1.125rem;
  height: 1.125rem;
}

.content__util--text {
  color: var(--Linkbrary-gray60);
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 0.25rem;
}

/* 콘텐츠 본문 */
.content__cards {
  display: grid;
  width: 66.25rem;
  grid-template-columns: repeat(3, 21.25rem);
  gap: 1.56rem 1.25rem;

  @media screen and (max-width: 1124px) {
    width: 44rem;
    grid-template-columns: repeat(2, 21.25rem);
    gap: 1.56rem 1.5rem;
  }

  @media screen and (max-width: 767px) {
    width: 20.3rem;
    grid-template-columns: repeat(1, 20.3rem);
    gap: 1.25rem 0;
  }
}

.content__card {
  width: 21.25rem;
  height: auto;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0.9375rem;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 20rem;
  }
}

.content__blank {
  text-align: center;
  padding: 2.56rem 0 2.19rem;
  width: 66.25rem;
  height: 21.6rem;
  font-size: 1rem;
  @media screen and (max-width: 1124px) {
    width: 44rem;
  }
  @media screen and (max-width: 767px) {
    width: 20.3125rem;
    padding: 0rem 5rem;
    font-size: 0.875rem;
    line-height: 6.25rem;
  }
}

.content__star {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  z-index: 1;
}

.content__imgBox {
  height: 15.85913rem;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  overflow: hidden;
  background-color: #ffffff;
}

.content__imgBox--default{
  height: 15.85913rem;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  overflow: hidden;
  background: #DDDFFF url(../assets/default-card.svg) no-repeat center;
}

.content__img {
  width: 100%;
  background-color: #ccd5e3;
}

.content__img:hover {
  transform: scale(1.3);
  transition: 0.7s;
}

.content__info {
  padding: 0.94rem 1.25rem;
  height: auto;
  border-radius: 0rem 0rem 0.9375rem 0.9375rem;
}

.content__box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.kebab__lists {
  position: absolute;
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
  top: 1rem;
  right: -5rem;
  background: #fff;
  font-size: 0.875rem;
  z-index: 99;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  /* display: none; */
  @media screen and (max-width: 767px) {
    right: 0rem;
  }
}

.kebab__list {
  width: 6.25rem;
  padding: 0.44rem 0.75rem;
}

.kebab__list:hover {
  background-color: #e7effb;
  color: #6d6afe;
}

.content__timediff {
  color: #666;
  font-size: 0.8125rem;
}

.content__text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.62rem 0;
  height: 3.0625rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.content__date {
  color: #333;
  font-size: 0.875rem;
  height: 1.1875rem;
}

/* 플로팅 버튼(모바일) */
.floating__button {
  border-radius: 1.25rem;
  background: var(--Linkbrary-primary-color);
  padding: 0.7rem 1.5rem 0.5rem;
  display: none;
  position: fixed;
  left: 50%;
  bottom: 101px;
  transform: translateX(-50%);
  border: none;
  outline: none;

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.floating__button--text {
  color: var(--Linkbrary-gray10);
  font-weight: 500;
  letter-spacing: -0.01875rem;
}

.floating__button--img {
  padding-bottom: 0.2rem;
}
