.folder_main_section {
  height: 244px;
  background-color: var(--palette-grey-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 113px;
}
.folder_user_img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-bottom: 12px;
}
.folder_user_name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.folder_name {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
.folder_info_section {
  margin: 40px auto 0px;
  width: 1060px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.folder_search_input_box {
  border: none;
  border-radius: 10px;
  padding: 15px 16px;
  background-color: #f5f5f5;
  display: flex;
  gap: 10px;
  align-items: center;
}
.folder_search_input {
  border: none;
  background-color: #f5f5f5;
  flex-shrink: 1;
  width: 100%;
  font-size: 16px;
}
.folder_search_input:focus {
  outline: none;
  border: none;
}
.folder_search_input::placeholder {
  color: #666666;
}

.folder_card_body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 24px;
}
.card_link {
  text-decoration: none;
}
.folder_card {
  border-radius: 15px;
  width: 340px;
  height: 334px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  background-color: white;
}
.folder_card:hover {
  overflow: hidden;
}
.folder_card:hover .card_img {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.folder_card:hover .card_info {
  background-color: var(--palette-grey-5);
}
.card_img {
  width: 340px;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  background-color: white;
}
.card_info {
  display: flex;
  height: 105px;
  flex-direction: column;
  padding: 15px 20px;
  justify-content: space-between;
  z-index: 5;
  background-color: white;
}
.card_date_before {
  color: #666666;
  font-size: 13px;
}
.card_desc {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black;
}
.card_date {
  font-size: 14px;
  color: #333333;
}

@media (max-width: 767px) {
  .folder_main_section {
    height: 161px;
    padding-top: 73px;
  }

  .folder_user_img {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
  }
  .folder_user_name {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .folder_name {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
  .folder_info_section {
    margin: 20px auto 0px;
    width: 325px;
    align-items: center;
  }
  .folder_search_input_box {
    width: 100%;
    box-sizing: border-box;
  }
  .folder_card_body {
    grid-template-columns: 1fr;
  }
  .folder_card {
    width: 325px;
    height: 327px;
  }
  .card_img {
    width: 325px;
    height: 192px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1123px) {
  .folder_info_section {
    margin: 40px auto 0px;
    width: 704px;
    align-items: center;
  }
  .folder_search_input_box {
    width: 100%;
    box-sizing: border-box;
  }

  .folder_card_body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1124px) {
}
