@import url('./global.css');

.folder-list {
  display: flex;
  width: 100%;
  max-width: 70rem;
  align-items: center;
  justify-content: space-between;
}

.folder-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2rem;
  gap: 0.5rem;
}

.add-folder-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.add-folder {
  display: flex;
  color: var(--primary);
  text-wrap: nowrap;
}

.add-folder-icon {
  display: flex;
  width: 1rem;
  height: 1rem;
}

.folder-title {
  display: flex;
  width: 100%;
  max-width: 70rem;
  align-items: center;
  justify-content: space-between;
}

.folder-title.folder-name {
  height: 1.5rem;
  font-size: 1.5rem;
}

.folder-menu {
  display: flex;
  gap: 0.2rem;
}

.folder-menu-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.3rem;
}

.folder-menu-text {
  color: var(--gray-02);
  white-space: nowrap;
}

@media (width <= 767px) {
  .folder-title {
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
  }

  .add-folder-container {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 6.3rem;
    left: 0;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--white);
    border-radius: 20px;
    margin: 0 auto;
    background: var(--primary);
  }

  .add-folder {
    color: var(--white);
  }

  .add-folder-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(91deg) brightness(104%) contrast(102%);
  }
}
