@import url("/src/common/color.css");

.FolderPage .mobile_floating_button {
  display: none;
}

/* mobile */
@media (max-width: 767px) {
  .FolderPage .mobile_floating_button {
    z-index: 999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 101px;
    padding: 8px 24px;
    width: max-content;

    display: flex;
    align-items: center;
    gap: 4px;

    border-radius: 20px;
    border: 1px solid var(--White);
    background: var(--Primary);

    color: var(--Gray4);
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
  }

  .FolderPage .floating_add_image {
    width: 16px;
    height: 16px;
  }
}
