.folders-container {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  @media screen and (max-width: 1200px) {
    padding: 2.5rem 2rem;
  }
  @media screen and (max-width: 768px) {
    padding: 2.5rem 2rem;
  }
}
.folders {
  width: 66.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  @media screen and (max-width: 1200px) {
    max-width: 66.25rem;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.none-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5625rem 0rem 2.1875rem 0rem;
}
.none-list__text {
  color: var(--black);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.folder-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.folder-list__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1.25rem;
  grid-column-gap: 25px;
  @media screen and (max-width: 1124px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
