/* NavBar */
.Nav {
  display: flex;
  justify-content: space-between;
  padding: 3.3rem 20rem;
  align-items: center;
  gap: '0.8rem';
}

.logo {
  width: 13.3rem;
}

.account {
  display: flex;
  gap: 0.6rem;
}

.profileImg {
  width: 1rem;
}

/* AddLink */
.AddLink {
  border: 1px solid var(--primary);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80rem;
  padding: 1.6rem 2rem;
  gap: 0.8rem;
}

.AddLinkGroup {
  display: flex;
  gap: 1.2rem;
}

.AddLinkText {
  color: var(--gray60);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.LinkIcon {
  width: 2rem;
}

.AddLinkBtn {
  color: var(--grayLight);
  width: 8rem;
  padding: 1rem 1.6rem;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}

/* SearchBar */
.SearchBar {
  display: flex;
  border-radius: 10px;
  width: 106rem;
  padding: 1.5rem 1.6rem;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--gray20);
  margin: 4rem;
}

.SearchIcon {
  width: 1.6rem;
}

.SearchText {
  color: var(--Text);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  background-color: var(--gray20);
}
