#folder-info {
  background-color: #f0f6ff;
}

#folder-info .info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-block: 40px;
  text-align: center;
}

#folder-info .profile-img img {
  width: 60px;
}

#folder-info .user-name {
  font-size: 16px;
}

#folder-info .folder-name {
  margin-top: 20px;
  font-size: 48px;
}
