@import '../styles/css/global.css';

.folder-list {
  display: flex;
  width: 100%;
  max-width: 112rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.folder-list-container {
  display: flex;
  gap: 0.5rem;
}

.folder {
  display: flex;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--white);
}

.add-folder-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.add-folder {
  display: flex;
  color: var(--primary);
}

.add-folder-icon {
  display: flex;
  width: 1rem;
  height: 1rem;
}
