@import "./Button.css";

.folderMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px 32px;
}

.addFolder {
  color: #6d6afe;
  cursor: pointer;
  font-size: 16px;
}
