@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.subset.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-SemiBold.subset.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Medium.subset.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.subset.woff2");
  font-weight: 400;
}
