* {
  box-sizing: border-box;
}

footer {
  margin-top: 60px;
  width: 100%;
}

.footer {
  background-color: #111322;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 104px 64px 104px;
}

.footer-copyright {
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.26px;
  color: #676767;
  text-align: center;
}

.footer-contents {
  font-family: Acme;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.26px;
  text-align: center;
  color: #cfcfcf;
}

.footer-website {
  display: flex;
  gap: 24px;
}

.footer-image {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .footer {
    display: grid;
    grid-template-areas:
      "links sns"
      ". ."
      "copyRight .";
    padding: 30px;
    width: 100%;
  }
}
