* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --footerBgColor: #111322;
  --footerText1: #676767;
  --footerText2: #cfcfcf;
  font-family: 'Acme';
  color: var(--black);
}

html {
  font-size: 16px;
}

/* 푸터 */
.footer {
  background-color: var(--footerBgColor);
  display: flex;
  justify-content: space-between;
  padding: 2rem 6.5rem 4rem;
  margin-top: 3.75rem;
  height: 10rem;
  font-size: 1rem;

  @media screen and (max-width: 767px) {
    margin-top: 2.5rem;
    padding: 2rem 2rem 4rem;
    position: relative;
  }
}

.footer__logo {
  color: var(--footerText1);
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 2rem;
  }
}

.footer__nav {
  display: flex;
  gap: 1.88rem;
}

.footer__nav--text {
  color: var(--footerText2);
}

.footer__link {
  display: flex;
  gap: 0.75rem;
}
