.footer {
  display: flex;
  width: 100%;
  height: 10rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: #111322;
}

.footerFrame {
  display: flex;
  height: 100%;
  padding: 2rem 6.5rem 4rem 6.5rem;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  align-self: stretch;
}

.footerItems {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: #676767;
}

.footerLink {
  display: flex;
  width: 11.31944rem;
  align-items: flex-start;
  gap: 1.875rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.sns {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}
