.header-area {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-gray-200);
  z-index: 10;
}

.header-area.static {
  position: relative;
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 20rem;
  max-width: 1920px;
}

.logo-area {
  display: flex;
}

.logo-img {
  width: 13.3rem;
  height: 2.4rem;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-profile {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.user-email {
  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
}

.btn.signin {
  flex-shrink: 0;
  width: 12.8rem;
}

@media (max-width: 1199px) {
  .header-group {
    padding: 2rem 3.2rem;
    max-width: 80rem;
  }
}

@media (max-width: 767px) {
  .header-group {
    padding: 1.3rem 3.2rem;
  }

  .user-email {
    display: none;
  }

  .logo-img {
    width: 8.867rem;
    height: 1.6rem;
  }

  .header-group .btn {
    width: 8rem;
    height: 3.7rem;
    line-height: 3.7rem;
    font-size: 1.4rem;
  }
}
