*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --Linkbrary-gray100: #373740;
    --Grey-Light: #F5F5F5;
    --Linkbrary-bg: #F0F6FF;
    font-family: "Pretendard";
    color: #000000;
}

html{
    font-size: 16px;
}

/* 헤더 */ 
.gnb{
    width: 100%;
    max-width: 1920px;
    min-width: 375px;
    background-color: var(--Linkbrary-bg);
    /* position: sticky; */
    top: 0;
    left: 0;
    z-index: 999;
    padding: 2rem 0;

    @media screen and (max-width: 767px) {
        padding: 1.125rem 0;
    }
}

.gnb__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12.5rem;

    @media screen and (max-width: 1124px) {
        margin: 0 auto;
        width: 47rem;
    }

    @media screen and (max-width: 767px) {
        width: auto;
        margin: 0 2rem;
    }
}

.gnb__userInfo{
    display: flex;
    gap: 0.375rem;
    align-items: center;
}

.gnb__userImg{
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
}

.gnb__email{
    color: var(--Linkbrary-gray100);
    font-size: 0.875rem;
    display: inline-block;
}

.gnb__login{
    width: 8rem;
    text-align: center;
    align-items: center;
    padding: 1rem 1.25rem;
    background: var(--btn);
    font-size: 1.125rem;
    border-radius: 0.5rem;
    color: var(--Grey-Light, #F5F5F5);
    cursor: pointer;

    @media screen and (max-width: 767px) {
        padding: 1rem 0.62rem;
        font-size: 0.875rem;
        width: 5rem;
    }
}