@import url(/src/common/color.css);

.HomePage {
  text-align: center;
}

.HomePage .information_msg {
  margin: 50px;
  font-size: 30px;
}

.HomePage .link_container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin: 100px;
}

.HomePage .link_page_button {
  width: max-content;
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);

  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  cursor: pointer;
}
