* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --btn: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  --Grey-Light: #f5f5f5;
  --mainBgColor: #f0f6ff;
  --mainText: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  --black: #000000;
  --text1: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  --text2: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  --text3: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  --text4: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  --mobileText1: linear-gradient(96deg, #fe8a8a 1.73%, #a4ceff 33.89%);
  --mobileText2: linear-gradient(277deg, #6fbaff 44.56%, #ffd88b 60.93%);
  --mobileText3: linear-gradient(99deg, #6d7ccd 53.86%, rgba(82, 136, 133, 0.22) 99.4%);
  --mobileText4: linear-gradient(271deg, #fe578f 27.48%, #68e8f9 59.2%);
  --subText: #6b6b6b;
  --footerBgColor: #111322;
  --footerText1: #676767;
  --footerText2: #cfcfcf;
  --imgBgColor: #f0f6ff;
  --purpleBorder: #6d6afe;
  font-family: 'Pretendard';
  color: var(--black);
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

/* 메인 */
main {
  background-color: var(--mainBgColor);
  height: auto;
  overflow: hidden;
}

.mainWrap {
  margin: 4.38rem auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.mainTitle {
  background: var(--mainText) text;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  width: 44.9rem;
  margin: 0 auto;
}

.mainTitleLine {
  display: none;
}

.mainTitle > .mainTitleEffect {
  color: transparent;
}

.loginBtn {
  width: 21.875rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light, #f5f5f5);
  font-size: 1.125rem;
  font-weight: 600;
}

.mainWrap > img {
  width: 69.875rem;
  height: auto;
  margin: 0 auto;
}

.card {
  padding: 3.12rem 0;
  margin: 0 auto;
  width: 62.375rem;
  height: 38.75rem;
  display: flex;
  gap: 9.8125rem;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1199px) {
    padding: 3.12rem 0;
    height: auto;
    gap: 3.1875rem;
    width: 43.62498rem;
  }
  @media (max-width: 767px) {
    padding: 2.5rem 0;
    flex-direction: column;
    gap: 0;
    height: auto;
    width: 20.3125rem;
  }
}

/* 본문(카드) */

.cardTitleBox {
  display: flex;
  flex-direction: column;
  width: 18.1875rem;
  gap: 0.625rem;
  height: auto;
}

.cardTitle {
  font-size: 3rem;
  letter-spacing: -0.01875rem;
  font-weight: 700;
  width: 16.3rem;
  line-height: 120%;
  height: 7.125rem;
  @media (max-width: 767px) {
    width: auto;
    font-size: 1.5rem;
    width: 20.3125rem;
    height: auto;
  }
}

.cardText {
  color: var(--subText);
  line-height: 1.5rem;
  font-style: normal;
  font-weight: 500;
  @media (max-width: 767px) {
    display: none;
  }
}

/* .c1 {
  padding: 7.5rem 0 3.12rem;
  @media (max-width: 1199px) {
    padding: 5rem 0 3.12rem;
  }
} */

/* .c2 > .cardTitleBox,
.c4 > .cardTitleBox {
  order: 3;
  @media (max-width: 767px) {
    order: 0;
  }
} */

/* .c1 .cardTitle {
  background: var(--text1) text;
  @media (max-width: 767px) {
    background: var(--mobileText1) text;
  }
}

.c2 .cardTitle {
  background: var(--text2) text;
  @media (max-width: 767px) {
    background: var(--mobileText2) text;
  }
}

.c3 .cardTitle {
  background: var(--text3) text;
  @media (max-width: 767px) {
    background: var(--mobileText3) text;
  }
}

.c4 .cardTitle {
  background: var(--text4) text;
  @media (max-width: 767px) {
    background: var(--mobileText4) text;
  }
} */

figure > img {
  width: 34.375rem;
  height: auto;
  @media (max-width: 1199px) {
    width: 24.06248rem;
  }
  @media (max-width: 767px) {
    width: 20.3125rem;
  }
}

.cardBox {
  margin: 0;
  @media (max-width: 767px) {
    margin: 1.25rem 0 1rem;
  }
}

.mobileCardText {
  display: none;
  @media (max-width: 767px) {
    display: block;
    width: 20.3125rem;
    font-size: 0.9375rem;
  }
}

.cardTitle > span {
  color: transparent;
}

@media (max-width: 1199px) {
  main {
    height: auto;
  }
  .mainWrap {
    margin: 2.5rem auto 0;
  }

  .mainWrap > img {
    width: 40.64394rem;
    height: auto;
  }
}

@media (max-width: 767px) {
  main {
    height: auto;
  }

  .mainWrap {
    gap: 1.5rem;
    margin: 1.75rem 2rem 0;
  }

  .mainTitle {
    font-size: 2rem;
    line-height: 2.625rem;
    width: 15rem;
  }

  .loginBtn {
    width: 12.5rem;
  }

  .mainWrap > img {
    width: 100%;
    height: 100%;
  }
}
