:root {
  --Primary: #6d6afe;
  --Red: #ff5b56;
  --Black: #111322;
  --White: #ffffff;
  --Gray1: #3e3e43;
  --Gray2: #9fa6b2;
  --Gray3: #ccd5e3;
  --Gray4: #e7effb;
  --Gray5: #f0f6ff;
}

@font-face {
  font-family: 'Pretendard-Regular';
  font-weight: normal;
  src: url('../assets/fonts/Pretendard-Regular.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
}

p {
  font-family: 'Pretendard-Regular';
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  background-image: linear-gradient(90deg, var(--Primary), #6ae3fe);
  border-radius: 8px;
  padding: 16px 20px;
  line-height: 21.48px;
  gap: 10px;
  text-align: center;
  vertical-align: auto;
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Pretendard', 'Noto Sans';
}

@media (max-width: 767px) {
  .button {
    padding: 10px 16px;
    line-height: 18px;
    gap: 10px;
    font-size: 14px;
  }
}
