.cards-container__search {
  display: flex;
  width: 66.25rem;
  padding: 0.9375rem 1rem;
  border-radius: 10px;
  background: #f5f5f5;
  align-items: center;
  gap: 0.625rem;
  @media screen and (max-width: 1124px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.search--icon {
  width: 1rem;
  height: 1rem;
}
.search--input {
  border: none;
  background: #f5f5f5;
}
