@import './css/global.css';

.temporary-main {
  position: relative;
}

.temporary-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
  transform: translate(-50%, 50%);
}

.temporary {
  display: flex;
  width: 20rem;
  height: 4rem;
  border-radius: 20px;
}
