@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  padding: 32px 200px;
}

.search {
  position: relative;
  display: flex;
}

.searchInput {
  width: 100%;
  border-radius: 10px;
  padding: 15px 16px;
  border: none;
  background-color: #f5f5f5;
}

.searchIcon {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.searchImg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 0 200px;
}

@media (max-width: 1199px) {
  .searchContainer {
    padding: 30px 50px;
  }
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .searchContainer {
    padding: 10px 50px;
  }

  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
  }
}
