@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;

  @if $line > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    white-space: initial !important;
    -webkit-box-orient: vertical;
  }
}
