.profile {
  max-width: 90rem;
  height: 15.25rem;
  padding: 1.25rem 39rem 3.75rem 39rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  background: var(--Linkbrary-bg, #f0f6ff);
}

.profile_container {
  min-width: 11.75rem;
  height: 10.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.avatar_and_username {
  width: 3.75rem;
  height: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.avatar {
  width: 3.75rem;
  height: 3.75rem;
}

.username {
  color: var(--text-color-light-mode, #000);
  font-size: 1rem;
  line-height: 1.5rem;
}

.foldername {
  width: 12rem;
  height: 3rem;

  color: #000;
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;

  font-size: 2.5rem;
  font-weight: 600;
}
