@import './_index.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background: $color-gray-100;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (width >375px) and (width <768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (width >768px) and (width <1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (width >1200px) {
  html {
    font-size: 16px;
  }
}
