* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --Linkbrary-bg: #f0f6ff;
  --btn: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  --Linkbrary-gray100: #373740;
  --Grey-Light: #f5f5f5;
  --gray20: #ccd5e3;
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-bg: #f0f6ff;
  --footerBgColor: #111322;
  --footerText1: #676767;
  --footerText2: #cfcfcf;
  --Linkbrary-gray60: #9fa6b2;
  font-family: 'Pretendard';
  color: var(--black);
}

html {
  font-size: 16px;
}

/* 메인 */

.folder {
  width: 100%;
  max-width: 1920px;
  min-width: 375px;
  background-color: white;
}

.link {
  padding: 3.75rem 0 5.625rem;
  background: var(--Linkbrary-bg);
  text-align: center;
}

.profile {
  background-color: var(--Linkbrary-bg);
  width: 100%;
  padding: 1.25rem 0 3.75rem;
}

.profile__user {
  margin: 0 auto;
  text-align: center;
  width: auto;
  display: flex;
  flex-direction: column;
}

.profile__img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  margin: 0 auto;
}

.profile__nickname {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.75rem;
}

.profile__bookmark {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1.25rem;
}

/* 메인 컨텐츠 부분 */
.content {
  width: 66.25rem;
  margin: 2.5rem auto;
  @media screen and (max-width: 1124px) {
    width: 44rem;
  }
  @media screen and (max-width: 767px) {
    width: 20.3rem;
  }
}

.content__search {
  width: 66.25rem;
  padding: 0.9375rem 1rem;
  border-radius: 0.625rem;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;

  @media screen and (max-width: 1124px) {
    width: 44rem;
  }

  @media screen and (max-width: 767px) {
    width: 20.3rem;
  }
}

.content__cards {
  display: grid;
  width: 66.25rem;
  grid-template-columns: repeat(3, 21.25rem);
  gap: 1.56rem 1.25rem;

  @media screen and (max-width: 1124px) {
    grid-template-columns: repeat(2, 21.25rem);
    gap: 1.56rem 1.5rem;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 20.3rem);
    gap: 1.25rem 0;
  }
}

.content__card {
  width: 21.25rem;
  height: auto;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0.9375rem;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 20rem;
  }
}

.content__card:hover .content__info {
  background: var(--Linkbrary-bg);
}

.content__blank {
  text-align: center;
  padding: 2.56rem 0 2.19rem;
  width: 66.25rem;
  height: 21rem;
  font-size: 1rem;
  @media screen and (max-width: 1124px) {
    width: 44rem;
  }
  @media screen and (max-width: 767px) {
    width: 20.3125rem;
    padding: 0rem 5rem;
    font-size: 0.875rem;
    line-height: 6.25rem;
  }
}

.content__imgBox {
  height: 15.85913rem;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  overflow: hidden;
}

.content__imgBox--default {
  height: 15.85913rem;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  overflow: hidden;
  background: #ddffff url(../assets/default-card.svg) no-repeat center;
}

.content__img {
  width: 100%;
  height: 100%;
}

.content__img:hover {
  transform: scale(1.3);
  transition: 0.7s;
}

.content__info {
  padding: 0.94rem 1.25rem;
  height: auto;
  border-radius: 0rem 0rem 0.9375rem 0.9375rem;
}

.content__timediff {
  color: #666;
  font-size: 0.8125rem;
}

.content__text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.62rem 0;
  height: 3.0625rem;
  overflow: hidden;
}

.content__date {
  color: #333;
  font-size: 0.875rem;
  height: 1.1875rem;
}
