@import '/src/styles/index.css';

/*Header*/
nav {
  background-color: var(--Gray5);
  position: sticky;
  top: 0;
  z-index: 100;
  gap: 8px;
  padding: 20px 200px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  width: 133px;
  height: 24px;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.login {
  width: 128px;
}

.profile-image {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.profile-email {
  font-weight: 400;
  font-size: 14px;
  color: #373740;
}

.folder {
  background-color: #f0f6ff;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 60px;
  gap: 12px;
  align-items: center;
}

.folder-user-image {
  width: 60px;
  height: 60px;
  border-radius: 47px;
}

.folder-user-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.folder-folder-name {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-top: 8px;
}

/*Contents*/
article {
  width: 100%;
  background-color: var(--White);
  padding: 40px 0px;
  text-align: center;
}
.card-search {
  width: 1060px;
  padding: 15px 16px 15px 50px;
  border-radius: 10px;
  height: 54px;
  border: 0;
  background-color: #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  color: #666666;
}
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 25px;
  width: 1060px;
  margin: 40px auto 0;
}

.card-search-button {
  position: relative;
  width: 20px;
  height: 20px;
  left: -1040px;
  top: 3px;
  border: 0;
}

.card-search-button:hover {
  cursor: pointer;
}

.card-search-icon {
  width: 16px;
  height: 16px;
}

/*card.js*/
.card {
  height: 334px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.card:hover {
  border: 2px solid #6d6afe;
}

.card:hover .card-data-image {
  transform: scale(1.3);
}

.card a {
  text-decoration-line: none;
}

.card-content {
  margin-top: -5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.card-image {
  width: 340px;
  height: 200px;
  overflow: hidden;
}

.card-data-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-date-difference {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.5px;
  color: #666666;
}

.card-description {
  display: inline-block;
  white-space: pre-wrap;
  height: 50px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--Black);
}

.card-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.7px;
  margin-top: 10px;
  color: #333333;
}

/*Footer*/
footer {
  width: 100%;
  padding: 60px 0 0;
  background-color: var(--White);
  position: sticky;
  top: calc(100vh - 220px);
}

.footer-banner {
  display: flex;
  height: 160px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 32px 104px 64px 104px;
  background: #111322;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.26px;
  text-align: center;
  color: #676767;
}

.description {
  display: flex;
  gap: 30px;
}

.description a {
  color: #cfcfcf;
  text-decoration: none;
}

.footer-icon {
  display: flex;
  gap: 12px;
}

.footer-icon img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  /*Header*/
  nav {
    padding: 33px 32px;
  }

  .menu {
    width: 703px;
    margin: 0 auto;
  }
  /*card*/
  article {
    padding: 32px 0;
  }
  .card-search {
    width: 704px;
  }

  .card-search-button {
    left: -684px;
  }
  .content-wrapper {
    width: 704px;
    gap: 24px 25px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  /*Header*/
  nav {
    padding: 13px 32px;
  }

  .menu {
    width: 100%;
  }

  .main-logo {
    width: 88px;
    height: 16px;
  }

  .profile-email {
    display: none;
  }

  /*card*/
  article {
    padding: 32px 0;
  }

  .card-search-button {
    left: -305px;
  }

  .card-search {
    width: 325px;
    height: 43px;
    font-size: 14px;
    line-height: 16.7px;
  }
  .content-wrapper {
    width: 325px;
    gap: 20px;
    grid-template-columns: 1fr;
    margin-top: 32px;
  }
  /*footer*/
  footer {
    padding-top: 40px;
    height: 160px;
    position: sticky;
    top: calc(100vh - 160px);
  }

  .footer-banner {
    padding: 32px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px 0;
  }

  .copyright {
    text-align: left;
    order: 3;
  }

  .description {
    order: 1;
    gap: 30px;
    align-items: center;
  }

  .footer-icon {
    justify-content: flex-end;
    align-items: center;
    order: 2;
    gap: 12px;
  }
}
