@import url('./global.css');

html {
  background: var(--gray-05);
}

.sign {
  display: flex;
  padding: 15rem 0;
  justify-content: center;
  align-items: center;
  background: var(--gray-05);
}

.sign-container {
  display: flex;
  width: 25rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sign-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sign-login-to-signup,
.sign-signup-to-login {
  color: var(--primary);
  text-decoration: underline;
}

.sign-logo {
  width: 13rem;
}

.sign-signin-form,
.sign-signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.sign-input-box {
  width: 100%;
}

.sign-input {
  display: flex;
  margin-top: 0.5rem;
  padding: 1.2rem 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-03);
  background: var(--white);
}

.sign-input:focus {
  outline: 1px solid var(--primary);
}

.sign-password {
  position: relative;
}

.eye {
  position: absolute;
  width: 1rem;
  top: 3rem;
  right: 1rem;
}

.btn-sign-login {
  display: flex;
  padding: 1rem 1.2rem;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.social-login {
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-01);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid var(--gray-03);
  background: var(--gray-04);
}

.social-login-icons {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
  gap: 0.2rem;
}

.icons-img {
  width: 2.5rem;
}

@media (width <= 767px) {
  html {
    font-size: 12px;
  }

  .sign {
    margin: 0 2rem;
  }
}
