*{ 
    --Linkbrary-gray100: #373740;
    --black: #000;  
    --Linkbrary-gray10: #E7EFFB;
    --Linkbrary-gray20: #CCD5E3;
    --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    --Linkbrary-white: #FFF;
    --Linkbrary-primary-color: #6D6AFE;
    --Linkbrary-bg: #F0F6FF;
    --Grey-Light: #F5F5F5;
    --Linkbrary-red: #FF5B56;
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
}

html{
    font-size: 16px;
}


ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: var(--Linkbrary-bg);
}

.signin{
    padding: 14.88rem 0 15.75rem;
    margin: 0 auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signin__box{
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
}
/* 메인 문구 영역(타이틀, 회원가입 링크) */
.signin__title{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
}

.signin__logo{
    width: 13.16144rem;
    height: 2.375rem;
}

.signin__text{
    font-size: 1rem;
    line-height: 1.5rem;
}

.signin__text--register{
    color: var(--Linkbrary-primary-color);
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
}
/* 폼 태그 */
.sigin__form{
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
}

.signin__input--area{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signin__email, .signin__password{
    display: flex;
    flex-direction: column;
}

.signin__label{
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}


.signin--input--email, .signin--input--password{
    padding: 1.125rem 0.9375rem;
    border-radius: 0.5rem;
    background-color: var(--Linkbrary-white);
    outline: none;
    border: 1px solid var(--Linkbrary-gray20);
    width: calc(100% - 1.875rem);
}

.signin--input--email:focus, .signin--input--password:focus{
    border: 1px solid var(--Linkbrary-primary-color);
}

.signin__email--error, .signin__password--error{
    font-size: 0.875rem;
    color: var(--Linkbrary-red);
    margin-top: 0.38rem;
    font-weight: 400;
    font-style: normal;
}

.signin__button{
    padding: 1rem 1.25rem;
    border-radius: 0.4rem;
    background: var(--gra-purpleblue-to-skyblue);
    border: none;
    outline: none;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--Grey-Light);
}

.signin__password--relative{
    position: relative;
}

.fa-solid{
    position: absolute;
    right: 1rem;
    top: 1.25rem;
    cursor: pointer;
    font-size: 0.9rem;
}
/* 소셜 로그인 */
.signin__sns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    background-color: var(--Linkbrary-gray10);
    border: 1px solid var(--Linkbrary-gray20);
    border-radius: 0.5rem;
}

.signin__sns--text{
    font-size: 0.875rem;
    color: var(--Linkbrary-gray100);
}

.signin__sns__box{
    display: flex;
    gap: 1rem;
    margin-top: 0.3rem;
}

.signin__sns--img{
    position: relative;
}

.signin__sns--kakao, .signin__sns--google{
    position: absolute;
    z-index: 999;
}

.signin__sns--kakao{
    top: 0.6rem;
    left: 0.5rem;
}

.signin__sns--google{
    top: 0.6rem;
    left: 0.7rem;
}

@media (max-width: 1199px){
    .signin{
        padding: 14.88rem 0 15.75rem;
    }
}

@media (max-width: 767px){
    .signin{
        padding: 7.5rem 2rem 14.56rem;
        width: auto;
        max-width: 25rem;
    }
}