:root {
  --base-size: 0.625rem; /*10px*/
  --color-primary: #6d6afe;
  --color-red: #ff5b56;
  --color-yellow: #f5e14b;
  --color-black: #111322;
  --color-white: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #f0f6ff;
  --color-gray-300: #e7effb;
  --color-gray-400: #ccd5e3;
  --color-gray-500: #cfcfcf;
  --color-gray-600: #9fa6b2;
  --color-gray-700: #676767;
  --color-gray-800: #6b6b6b;
  --color-gray-900: #3e3e43;
}
