:root {
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-red: #ff5b56;
  --The-jungle-black: #111322;
  --Linkbrary-white: #ffffff;
  --Linkbrary-gray100: #3e3e43;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray10: #e7effb;
  --Linkbrary-bg: #f0f6ff;
  --black: #000;
  --gray70: #333;
  --gray40: #666;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Pretendard;
  margin: 0;
  padding: 0;
}
