.Card {
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  height: 32.7rem;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;

  @media (min-width: 768px) {
    width: 34rem;
    height: 33.4rem;
  }
}

.Card-image {
  width: 100%;
  min-height: 19.2rem;
  height: 19.2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;

  @media (min-width: 768px) {
    min-height: 20rem;
    height: 20rem;
  }
}

.Card.hover .Card-image {
  background-size: 130%;
}

.Card-content {
  height: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.Card-content-elapsedTime {
  font-size: 1.3rem;
  color: var(--text-content-gray);
}

.Card-content-description {
  height: 4.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  line-height: 150%;
}

.Card-content-createdAt {
  font-size: 1.4rem;
  color: var(--text-content-black);
}

.Card.hover .Card-content {
  background-color: var(--background);
}

.Card-content-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
