@import '../../styles/_index.scss';

.layout {
  display: flex;
  width: 100%;
}

.colorBox {
  @include color-box;
}

.linkLogo {
  font-size: 1.4rem;
  color: $color-primary;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  background: #f5f5f5;
  outline: none;
}

.modalInput {
  @include color-box(#f5f5f5) {
    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }
}

.addButton,
.modalButton {
  width: 8rem;
  @include gradient-button;
}
