.card-list {
  margin: 3.2rem 0 2rem;
}

.grid {
  gap: 2rem;
}

/* Tablet && grid col = 2 */
@media screen and (min-width: 768px) {
  .card-list {
    margin: 4rem 0;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 2.4rem;
  }
}

/* grid col = 3 */
@media screen and (min-width: 1124px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
