.card {
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  transition: transform 0.05s ease-in-out; /* 부드러운 변환 효과 */
}

.card:hover {
  background: var(--bg, #f0f6ff);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
  transform: scale(1.3); /* hover 상태일 때 크기를 130%로 변경 */
  z-index: 9998;
}

.star-button {
  top: 1.5rem;
  right: 1.5rem;
}

.card-image {
  height: 19.2rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.card-text-box {
  padding: 1.5rem 2rem;
  gap: 1rem;
  align-items: start;
}

.time-ago {
  font-size: 1.3rem;
  font-weight: 400;
}

.card-name {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.create-date {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

/* Tablet && grid col = 2 */
@media screen and (min-width: 768px) {
  .card-image {
    height: 20rem;
  }
}

/* grid col = 3 */
@media screen and (min-width: 1124px) {
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
