.folder_item_box {
  border-radius: 1.5rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 33.5rem;
}

.folder_detail_box {
  font-family: var(--Pretendard-Regular);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.folder_link {
  text-decoration: none;
}

.folder_image_box {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  margin: 0 auto;
}

.folder_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.folder_image:hover {
  transform: scale(1.3);
}

.folder_createdAt {
  color: #666;
  font-size: 1.3rem;
}

.folder_title {
  font-size: 1.6rem;
  height: 5rem;
  line-height: 2.4rem;
}

.folder_date {
  color: #333;
  font-size: 1.4rem;
}

.folder_no_image {
  position: relative;
  bottom: 10%;
  width: 100%;
}
