.folder_list_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem 2.6rem;
}

@media (max-width: 1124.5px) {
  .folder_list_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767.5px) {
  .folder_list_wrapper {
    grid-template-columns: 1fr;
  }
}
