/*********************
        Hero
*********************/

.Hero {
  background-color: var(--graybg);
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.Hero-profile {
  gap: 6px;
}

.Hero-profile img {
  width: 60px;
  height: 60px;
}

/*********************
        @media
*********************/

@media (min-width: 768px) {
  .Hero {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .Hero-profile {
    gap: 12px;
  }

  .Hero-folderName {
    font-size: 40px;
  }
}
