/*********************
      SearchBar
*********************/

.SearchBar {
  position: relative;
}

.SearchBar-input {
  width: 100%;
  background-color: #f5f5f5;
  padding: 13px 38px;
  border-style: none;
  border-radius: 10px;
  font-size: 14px;
}

.SearchBar-img {
  position: absolute;
  top: 12px;
  left: 16px;
}

/*********************
        @media
*********************/

@media (min-width: 768px) {
  .SearchBar-input {
    padding: 15px 42px;
    line-height: 24px;
    font-size: 16px;
  }

  .SearchBar-img {
    top: 18px;
  }
}
