.sorting-section {
  justify-content: space-between;
  margin-bottom: 2.8rem;
}

.sorting-button-list {
  gap: 1rem;
}

.selected-button {
  background: var(--primary, #6d6afe);
  color: var(--white, #ffffff);
}

.add-folder-button {
  display: none;
}

.folder-info-section {
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.02rem;
  margin-bottom: 1.2rem;
}

.option-list {
  justify-content: left;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .sorting-section {
    margin-bottom: 2.4rem;
  }

  .add-folder-button {
    display: flex;
  }

  .folder-info-section {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 2.4rem;
  }

  .title {
    font-size: 2.4rem;
    margin-bottom: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
