.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 0.8rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 2.4rem;
}

.folder-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  max-height: 17.2rem;
  overflow-y: auto;
  row-gap: 0.4rem;
}
