@import '../../styles/_index.scss';

.layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1920px;
  padding: 6rem 6rem 0;
  overflow: hidden;
}

.title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
}

.homeImage {
  width: 75rem;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  background: $color-white;
}

.mainBox {
  display: grid;
  column-gap: 10rem;
  max-width: 1920px;
  padding: 4rem;
  text-align: center;

  &:nth-child(even) {
    grid-template:
      'img .'
      'img title'
      'img description'
      'img .';
  }

  &:nth-child(odd) {
    grid-template:
      '. img'
      'title img'
      'description img'
      '. img';
  }
}

.title {
  grid-area: title;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.description {
  grid-area: description;
  font-size: 1.25rem;
  font-weight: 400;
  color: #6b6b6b;
}

.mainImage {
  grid-area: img;
  width: 35rem;
}

@media screen and (width <1200px) {
  .mainImage {
    width: 26rem;
  }
  .homeImage {
    width: 50rem;
  }
}

@media screen and (width < 768px) {
  .mainImage,
  .homeImage {
    width: 100vw;
    padding: 0 2rem;
  }

  .home-sction {
    padding: 6rem 2rem 0;
  }

  .mainBox {
    gap: 1.4rem;
    &:nth-child(odd) {
      grid-template:
        'title'
        'img'
        'description';
    }
    &:nth-child(even) {
      grid-template:
        'title'
        'img'
        'description';
    }

    .br {
      display: inline-block;
      padding: 0 1rem;
      content: ' ';
    }
  }
}
