:root {
    --primary : #6d6afe;
    --red : #ff5b56;
    --black : #111322;
    --white : #ffffff;
    --gray1 : #3e3e43;
    --gray2 : #9fa6b2;
    --gray3 : #ccd5e3;
    --gray4 : #e7effb;
    --gray5 : #f0f6ff;
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
html {
    font-size: 10px;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
textarea {
    resize: none;
}

@font-face { 
    font-family: 'Abel'; 
    font-weight: 400; 
    src: url('../font/Abel.ttf') format('truetype');
}
@font-face { 
    font-family: 'Acme'; 
    font-weight: 400; 
    src: url('../font/Acme.ttf') format('truetype');
}
@font-face { 
    font-family: 'Pretendard'; 
    font-weight: 700; 
    src: url('../font/pretendard/Pretendard-Bold.ttf') format('truetype');
}
@font-face { 
    font-family: 'Pretendard'; 
    font-weight: 400; 
    src: url('../font/pretendard/Pretendard-Regular.ttf') format('truetype');
}

.container {
    padding: 0 32px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 0;
    background-color: #F0F6FF;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 200px;
}
header h1 a {
    display: block;
    width: 133px; height: 24px;
    background: url('../image/logo.png') center center no-repeat;
    background-size: cover;
    font-size: 0;
}
header div > a {
    display: inline-block;
    padding: 1.6rem 4.05rem;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--primary) 0.12%, #6AE3FE 101.84%));
    color: #fff;
    border-radius: 8px;
    font-size: 1.8rem;
    font-family: 'Pretendard';
    font-weight: 400;
}

/* article 1 */
main {
    padding-bottom: 120px;
}
.main_article {
    padding-top: 166px;
    background-color: #F0F6FF;
}
.main_article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.main_article h2 {
    font-size: 6.4rem;
    line-height: 125%;
    color: #000;
    font-weight: 700;
    font-family: 'Pretendard';
}
.main_article strong {
    background: linear-gradient(91deg, var(--primary) 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main_article a {
    display: inline-block;
    margin: 4rem auto;
    font-size: 1.8rem;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--primary) 0.12%, #6AE3FE 101.84%));
    color: #fff;
    max-width: 390px;
    width: 100%;
    padding: 1.6rem 2rem;
    font-weight: 400;
    font-family: 'Pretendard';
}
.main_article img {
    width: 100%;
}

/* article2 */
main article:nth-of-type(2) section {
    padding: 5rem 0;
}
main article:nth-of-type(2) section:nth-of-type(1) {
    padding-top: 8rem;
}
main article:nth-of-type(2) .container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 998px;
    margin: 0 auto;
}
main article:nth-of-type(2) h3 {
    font-size: 4.8rem;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.3px;
    font-weight: 700;
    font-family: 'Pretendard';
}
main article:nth-of-type(2) .storage h3 strong {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
main article:nth-of-type(2) p {
    color: #6B6B6B;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 400;
    font-family: 'Abel';
}
main article:nth-of-type(2) img {
    max-width: 550px;
    width: 100%;
}

/* management */
main article:nth-of-type(2) .management h3 strong {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* sharing */
main article:nth-of-type(2) .sharing h3 strong {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* search */
main article:nth-of-type(2) .search h3 strong {
    background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */
footer {
    height: 160px;
    background-color: #111322;
    padding: 32px 104px 0;
}
footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    font-family: 'Acme';
    font-size: 1.6rem;
    color: #676767;
}
footer ul {
    display: flex;
}
footer ul:nth-of-type(1) {
    gap: 30px;
}
footer a {
    font-family: 'Acme';
    font-size: 1.6rem;
    color: #cfcfcf;
}
footer ul:nth-of-type(2) {
    gap: 12px;
}
footer ul:nth-of-type(2) a {
    display: inline-block;
    width: 20px; height: 20px;
    font-size: 0;
}
footer ul:nth-of-type(2) li:nth-of-type(1) a {
    background: url('../image/facebook.png') center center no-repeat;
}
footer ul:nth-of-type(2) li:nth-of-type(2) a {
    background: url('../image/twitter.png') center center no-repeat;
}
footer ul:nth-of-type(2) li:nth-of-type(3) a {
    background: url('../image/youtube.png') center center no-repeat;
}
footer ul:nth-of-type(2) li:nth-of-type(4) a {
    background: url('../image/instagram.png') center center no-repeat;
}