@import url("/src/common/color.css");

.Cards {
  display: flex;
  justify-content: center;
}

.Cards .container {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

/* tablet */
@media (max-width: 1199px) {
  .Cards .container {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    gap: 20px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .Cards .container {
    display: grid;
    grid-template-columns: repeat(1, 340px);
  }
}
