header {
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  position: sticky;
  background-color: #f0f6ff;
  top: 0;
  height: 93px;
  z-index: 100;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

header .logo {
  width: 133px;
  height: 24px;
}

header .login-btn {
  color: var(--gray4);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  width: 128px;
  height: 53px;
  padding: 16px 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}

header .profile {
  display: flex;
  align-items: center;
  height: 53px;
  gap: 10px;
}

header .profile-img {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  cursor: pointer;
}

header .profile-email {
  color: #535353;
}

/* MEDIA QUERY */
/* tablet */
@media (max-width: 1199px) {
  header {
    padding: 20px 32px;
  }
}

/* mobile */
@media (max-width: 767px) {
  header {
    height: 63px;
    padding: 17px 32px;
  }

  header .logo,
  header .logo img {
    width: 88px;
    height: 16px;
  }

  header .login-btn {
    width: 80px;
    height: 37px;
    font-size: 14px;
  }

  header .profile {
    height: 28px;
  }

  header .hidden {
    display: none;
  }
}
