.logo {
  margin-left: 2rem;
  width: 5.54169rem;
  height: 1rem;
}

@media (min-width: 768px) {
  .logo {
    width: 8.3125rem;
    height: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin-left: 12.5rem;
  }
}
