.header-profile {
  display: flex;
  align-items: center;
  font-size: 14px;
  column-gap: 6px;
}

.header-profile__image {
  width: 28px;
  height: 28px;
}

@media (max-width: 769px) {
  .header-profile span {
    display: none;
  }
}
