.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.profile_img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.profile_txt {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .profile_txt {
    display: none;
  }
}
