:root {
    --primary-color: #6d6afe;
    --red-color: #ff5b56;
    --black-color: #111322;
    --white-color: #ffffff;
    --gray100-color: #373740;
    --gray60-color: #9fa6b2;
    --gray20-color: #ccd5e3;
    --gray10-color: #e7effb;
    --bg-color: #f0f6ff;
  }