:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray-5: #3e3e43;
  --gray-4: #9fa6b2;
  --gray-3: #ccd5e3;
  --gray-2: #e7effb;
  --Linkbrary-bg: #f0f6ff;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
  --pinkToBlue: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  --blueToPink: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  --skyToOrange: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  --blueToBlack: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  --pinkToSky: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}
