.button {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);

  @media (min-width: 768px) {
    padding: 8px 12px;
  }

  .text {
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-black);

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &.selected {
    background-color: var(--color-primary);

    .text {
      color: var(--color-white);
    }
  }
}
