.FolderAddButton {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--color-primary);

  color: var(--color-gray-10);

  border: 1px solid var(--color-white);
  border-radius: 20px;
  padding: 8px 24px;

  @media (min-width: 768px) {
    padding: 0;
    color: var(--color-primary);
    background-color: transparent;
  }

  .text {
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 500;
    color: var(--color-gray-10);

    @media (min-width: 768px) {
      color: var(--color-primary);
    }
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}
