.LinkFormBox {
  display: flex;
  justify-content: center;
  padding: 6rem 32rem 9rem;
  background-color: var(--gray5);
  margin-bottom: 4rem;

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 6rem 3.25rem 9rem;
  }

  @media (min-width: 375px) and (max-width: 767px) {
    padding: 2.4rem 3.2rem 4rem;
  }
}

.LinkFormWrapper {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 80rem;
  height: 6.9rem;
  padding: 1.6rem 2rem;
  border-radius: 15px;
  border: 1px solid var(--primary);
  background: var(--white);

  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 80%;
  }

  @media (min-width: 375px) and (max-width: 767px) {
    max-width: 80%;
  }
}

.LinkInput {
  width: 100%;
  max-width: 106rem;
  height: 4.3rem;
  padding-left: 3.8rem;
  padding-right: 1.6rem;
  border: none;
  outline: none;
  padding: 1.6rem;
  width: 80rem;
  font-size: 1.6rem;

  ::placeholder {
    color: var(--gray2);
  }

  @media (min-width: 375px) and (max-width: 767px) {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
}

.AddLinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10.7rem;
  height: 3.7rem;
  padding: 1rem 1.6rem;
  color: #f5f5f5;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
}
