.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 3.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 106rem;
  padding: 4rem 0;
}

.category {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-left: 5rem;
  color: var(--primary-color);
  font-weight: 500;
  background-color: transparent;
}

.addButton span {
  white-space: nowrap;
}

.addIcon {
  fill: var(--primary-color);
}

.bar {
  display: flex;
  justify-content: space-between;
  margin: 2.4rem 0;
}

.categoryName {
  font-size: 2.4rem;
  font-weight: 600;
}

.barButtons {
  display: flex;
  gap: 1.2rem;
}

.hidden {
  display: none;
}

/* tablet */
@media screen and (max-width: 1199px) {
  .content {
    width: 70rem;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .content {
    width: 34rem;
  }

  .bar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .addButton {
    position: fixed;
    right: 50%;
    bottom: 10.1rem;
    padding: 0.8rem 2.4rem;
    color: #fff;
    border-radius: 2rem;
    background-color: var(--primary-color);
    transform: translateX(50%);
    z-index: 70;
  }

  .addIcon {
    fill: var(--gray10-color);
  }
}
