.folderPage {
  position: relative;
}

.folderPage-content {
  display: flex;
  flex-direction: column;
  max-width: 106rem;
  width: 100%;
  margin: 4rem auto 10rem auto;
  gap: 4rem;
}

.folderPage-searchResult {
  color: var(--linkbrary-gray60);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.folderPage-searchResult span {
  color: var(--linkbrary-gray100);
}

.folderPage-noLink {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 11.7rem 0 11.7rem 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .folderPage-content {
    padding: 0 3.2rem;
  }
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .folderPage-content {
    padding: 0 3.2rem;
    gap: 3.2rem;
    margin: 2rem auto 2rem auto;
  }
}
