.center {
  text-align: center;
}
.text {
  color: var(--text-color-light-mode, #000);

  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-main-img {
  border-radius: 50%;
  margin: 0 auto;

  display: flex;
  width: 1.17rem;
  height: 1.17rem;
  padding: 0.67rem 0.71rem 0.67rem 0.62rem;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.38rem;
}

.sample {
  background-color: #8f00ff;
}

.folder-name {
  color: #000;
  text-align: center;

  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0125rem;

  margin-top: 0.62rem;
}

@media (min-width: 768px) {
  .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .profile-main-img {
    width: 1.75rem;
    height: 1.75rem;
    padding: 1rem 1.06rem 1rem 0.94rem;
  }
}

@media (min-width: 1200px) {
}
