.center {
  text-align: center;
}

.section1 {
  background: var(--gray-5);
  flex-direction: column;

  padding-top: 4.6rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .section1 {
    padding-top: 7.06rem;
  }
  .folder-name {
    font-feature-settings:
      'clig' off,
      'liga' off;

    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
}
