.account {
  display: flex;
  align-items: center;
}

.account img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.account p {
  font-size: 1.4rem;
  margin: 0;
}

.account button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  height: 5.4rem;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .account p {
    display: none;
  }
}
