.folder_header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 5%;

  background-color: var(--color-background);
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;

  min-height: 1280px;

  padding: 4% 12%;

  background-color: var(--color-white);
}

.folder_owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tag_container,
.tag_title_container, .action_icons_list {
  display: flex;
  justify-content: space-between;
}

.tag_list {
  display: flex;
  gap: 10px;
}

.add_folder_btn {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary);
}

.action_icons_list {
  gap: 12px;
}

.action_icon {
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--color-gray4);
}

.card_list {
  width: 100%;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px;
}

/*태블릿 사이즈*/
@media (min-width: 767px) and (max-width: 1124px) {
  main {
    padding: 4% 32px;
  }

  .card_list {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}

/*모바일 사이즈*/
@media (min-width: 375px) and (max-width: 767px) {
  main {
    padding: 4% 32px;
    gap: 30px;
  }

  .card_list {
    display: flex;
    flex-direction: column;
  }

  .folder_header {
    padding: 10%;
  }

  .add_folder_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px 8px 24px;

    position: fixed;
    bottom: 5%;
    left: 30%;
    right: 30%;
    z-index: 1;

    border-radius: 20px;
    background-color: var(--color-primary);
    color: white;
  }

  .tag_title_container {
    flex-direction: column;
    gap: 16px;
  }

  .action_icons_list {
    justify-content: left;
  }
}