.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;

  @media screen and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
