.card {
  overflow: hidden;
  width: 100%;
  height: 334px;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card__inner {
  width: 100%;
  height: 100%;
}

.card__image__container {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .card__image {
  transform: scale(1.3);
}

.card__bookmark {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
}

.card__info {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}

.card:hover .card__info {
  background-color: var(--color-gray-bg);
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.info__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info__time {
  color: #666;
  font-size: 13px;
  line-height: normal;
}

.info__menu {
  border: none;
  background-color: transparent;
}

.info__content {
  width: 100%;
}

.info__description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info__footer {
  color: #333;
  font-size: 14px;
  line-height: normal;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;
}

/* Tablet */
@media (max-width: 1124px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
