.card-image {
  width: 100%;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.card-text-time-ago {
  color: var(--linkbrary-text);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-text-description {
  height: 4.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--linkbrary-black);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.card-text-date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--linkbrary-text-2);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-text:hover {
  background-color: var(--linkbrary-bg);
}
