.card {
  min-width: 340px;
  height: 334px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  list-style: none;
  transition: background 0.3s ease;
}

.cardbox {
  border-radius: 15px 15px 0px 0px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card:hover .card--img {
  transform: scale(1.3); /* 마우스가 올라갔을 때 이미지를 1.3배로 확대 */
}
.card:hover {
  background: #f0f6ff;
}

.card--content {
  display: flex;
  width: 340px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  z-index: 1;
  position: relative;
  top: 200px;
}

.card--content__agotime {
  font-size: 13px;
}

.card--content__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px; /* 150% */
}
