.Selected-folder {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  display: flex;
  width: 106rem;
  justify-content: space-between;
  align-items: center;
}

.Selected-folder-name {
  color: #000;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.Selected-option {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.Selected-option-content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.Selected-option p {
  color: var(--gray60);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
