#Footer{
    padding-top: 6rem;
}

.Footer-inner{
    height: 16rem;
    background-color: #111322;
    padding: 3.2rem 10% 6.4rem;
    display: flex;
    justify-content: space-between;
    color: #676767;
    font-size: 1.6rem;
    font-weight: 400;
   
}

.else-thing > a{
    color: inherit;
    
}

.else-thing > a:first-child{
    margin-right: 3rem;
}

.social-link{
    display: flex;
    gap: 1.2rem;
}
@media screen and (max-width : 790px){
    .Footer-inner{
        flex-wrap: wrap;
    }
    .else-thing{
        order: 1;
        float: right;
        width: 50%;
    }
    .Footer-inner > nav{
        order: 2;
        float: left;
        width: 50%;
    }
    .Footer-inner > p{
        order: 3;
        margin-top: 6rem;
    }
    .social-link{
        justify-content: flex-end;
    }
}