@import url("../../assets/css/global.css");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2rem 0;
  max-width: 106rem;
  min-width: 32.5rem;
  width: calc(100vw - 6.4rem);
}

@media (min-width: 768px) and (max-width: 1124px) {
  .main-container {
    padding: 4rem 0;
    max-width: 70.5rem;
  }
}
