@import "sharing/styles/global.scss";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.4rem 3.2rem 4rem;
  background-color: $color-light-blue;

  @include tablet {
    padding: 6rem 3.2rem 9rem;
  }

  .fixed {
    position: fixed;
    padding: 1.6rem 3.2rem;
    bottom: 0;
    left: 0;
    z-index: $z-index-fab;

    @include tablet {
      padding: 2.4rem 3.2rem;
    }
  }
}
