@import "../common/common.css";

footer {
  background-color: var(--black);
  height: 10rem;
  padding : 2rem 6.5rem 4rem 6.5rem;
  color : #676767;
}

.footer-content {
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  display : flex;
  justify-content: space-between;
  align-items: center;
  gap : 1.875rem;
}

.footer-menu a {
  color : #676767;
}

.social-logo {
  display : flex;
  gap : 0.75rem;
}

.social-logo img {
  width : 1.25rem;
  height : 1.25rem;
}