*{
  box-sizing: border-box;
}
html {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  background-color: #F0F6FF;
}
form{
  width: 400px;
  margin: 0 auto;
}
.loginform{
  width: 100%;
  text-align: center;
}
.login{
  margin: 120px 0 16px;
  font-size: 36px;
  font-weight: 700;
  color: #4e4e4e;
}
.ask{
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 30px;
}
.ask a{
  color: #6D6AFE;
}
label {
  display: block;
  color: #000000;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
input {
  border: 1px solid #CCD5E3;
  width: 100%;
  display: block;
  margin: 12px 0 24px;
  padding: 16px 24px;
  border-radius: 8px;
}
input:hover{
  border: 1px solid #6D6AFE;
}
button {
  width: 100%;
  border: none;
  display: block;
  padding: 16px 20px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}
button a{
  color: #ffffff;
  text-decoration: none;
}
.snslogin{
  width: 400px;
  padding: 12px 24px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #E7EFFB;
}
.snslogin p{
  width: 65px;
  color: #373740;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}
.snslogin a{
  width: 42px;
  height: 42px;
}
.snslink{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.google{
  width: 21px;
  background-color: #ffffff;
  border: 1px solid #D3D4DD;
  border-radius: 9999px;
  padding: 10px;
  text-align: center;
}
.kakako{
  background-color: #F5E14B;
  border-radius: 9999px;
  padding: 10px;
  text-align: center;
}

