.addLinkContainer {
  background-color: var(--gray5-color);
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addLinkInput {
  height: 2rem;
  flex: 1;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
}

.addLinkContainer img {
  position: absolute;
  top: 35%;
  left: 15px;
}

.addLinkForm {
  display: flex;
  position: relative;
  width: 70%;
}

.addLinkForm button {
  position: absolute;
  top: 20%;
  right: 15px;
  display: flex;
  width: 7rem;
  height: 2.5rem;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.hiddenLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
