.folderButton {
  background-color: white;
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.folderButton:hover,
.folderButton:active,
.folderButton:focus {
  background-color: var(--primary-color);
  color: white;
}

.selected {
  background-color: var(--primary-color);
  color: white;
}
