.folderList {
  display: flex;
  justify-content: space-between;
}

.folderList-content {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.folderList-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--linkbrary-primary-color);
  font-size: 1.4rem;
  cursor: pointer;
}

.selected {
  border: 0.1rem solid var(--linkbrary-primary-color);
  background: var(--linkbrary-primary-color);
  color: #fff;
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
}
