.CardPopover {
  z-index: 5;
  width: 100px;
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}

.CardPopover .each_popover {
  padding: 7px 12px;
  height: 31px;
  background-color: var(--White);

  color: #333236;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.CardPopover .each_popover:hover {
  background-color: var(--Gray4);
  color: var(--Primary);
}
