* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;

  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;

  --background: #f0f6ff;

  --Linkbrary-red: #ff5b56;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
}

html,
body {
  font-size: 62.5%;
}

a:hover,
button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

header {
  background: var(--Linkbrary-bg, #f0f6ff);
}

main {
  margin: 40px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer {
  padding-top: 60px;
}

@media (min-width: 375px) and (max-width: 767px) {
  section {
    width: 350px;
    height: 3300px;
  }
}

@media (min-width: 768px) and (max-width: 1124px) {
  section {
    width: 704px;
    height: 1146px;
  }
}

@media (min-width: 1125px) {
  section {
    width: 1060px;
    height: 1146px;
  }
}
