main {
	max-width: 1060px;
	margin: 40px auto;
}

@media (max-width: 1124px) {
	main {
		max-width: 768px;
		padding: 0 32px;
	}
}

@media (max-width: 767px) {
	main {
		max-width: 389px;
		padding: 20px 32px;
	}
}
