.add-link-background {
  background-color: #f0f6ff;
  padding: 60px 0 90px;
  display: flex;
  justify-content: center;
}

.no-link {
  display: flex;
  width: 100%;
  height: 300px;
  margin: 0 0 200px;
  align-items: center;
  justify-content: center;
}

.add-link-background-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f6ff;
  z-index: 999;
}

@media (max-width: 768px) {
  .add-link-background-bottom {
    height: 85px;
  }
}
