main .folder {
  margin-top: 4rem;
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide-buttons {
  display: none;
}

.main-button {
  margin: 0;
  width: 102.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 80%;
  }

  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 80%;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
    display: inline-block;

    p {
      display: inline;
      color: var(--gray1);
    }
  }
  .searchText {
    display: inline-block;
    color: var(--gray2);
  }
  .headingText {
    color: var(--gray1);
  }

  @media (max-width: 790px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }

  .btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1.2rem;

    button {
      padding: 0;
      background-color: transparent;
      color: var(--gray2);
      font-size: 1.4rem;
      border: none;
      display: flex;
      gap: 0.3rem;
    }
  }
}
