/* 모바일 우선 */
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Pretendard;
  margin: 0;
  font-style: normal;
}

.bg-black {
  padding: 32px 32px 64px;
  align-items: start;
  background: var(--The-julge-black, #111322);
  position: relative;
}

.codeit {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 32px;
  bottom: 32px;
}

.faq {
  margin: 30px;
}

.privacy,
.faq {
  color: #cfcfcf;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}
.feature__description-box {
  flex-grow: 1;
}
.privacy-faq {
  margin-bottom: 60px;
}

.social {
  gap: 5px;
}
.cta {
  color: var(--Grey-Light, #f5f5f5);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  width: 80px;
  padding: 10px 16px;
  gap: 10px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  z-index: 2;
  padding: 13px 32px;
  order: 0;
  background-color: #f0f6ff;
  width: 100%;
}

.favorites {
  padding: 20px 0 60px;
  background-color: #f0f6ff;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100%, 783.49px);
  height: 93px;
  background-color: #f0f6ff;
}

.profile {
  display: flex;
  align-items: center;
}
.profile-img {
  width: 28px;
  height: 28px;
  border-radius: 9999px;
}

.favorites {
  order: 1;
}

.avatar-id {
  margin: 12px 0 20px;
}

.link-search-card-list {
  margin: 32px;
}
@media (min-width: 768px) {
  nav {
    width: min(100%, 783.49px);
    margin: 0 auto;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .bg-black {
    position: relative;
    padding: 32px 104px 64px;
  }

  .codeit {
    position: static;
  }
  .cta {
    font-size: 18px;
    width: 128px;
    padding: 16px 20px;
  }

  header {
    padding: 20px 32px;
  }
}
@media (min-width: 1200px) {
  nav {
    max-width: 1060px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .bg-black {
    height: 160px;
  }
  .privacy-faq {
    margin-bottom: 0;
  }

  header {
    flex-direction: row;
    order: 1;
    padding: 20px 0px;
    width: 100%;
  }

  .favorites {
    order: 0;
  }
}
