/*********************
   SharedFolderPage
*********************/

.SharedFolderPage-container {
  width: 325px;
  padding: 20px 0;
}

/*********************
        @media
*********************/

@media (min-width: 768px) {
  .SharedFolderPage-container {
    width: 704px;
    padding: 40px 0;
  }
}

@media (min-width: 1124px) {
  .SharedFolderPage-container {
    width: 1060px;
  }
}
