.Shared-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Shared-content-wrapper button {
  background-color: var(--white);
  height: 35px;
  margin: 0 10px 30px 0;
  padding: 8px 12px;
  border: 1px solid #6d6afe;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.Shared-content-wrapper button:hover {
  background-color: #f0f6ff;
}
