.search-box {
    display: flex;
    padding: 0 1.5rem;
    border-radius: 10px;
    background: #F5F5F5;
    gap: 1.6rem;
    align-items: center;
    user-select: none;
    width: 106rem;
    margin: auto;
}



.search-form{
    width: 100%;
    height: 5.4rem;
}

.search-form > input{
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    font-size: 1.6rem;
}

@media screen and (max-width : 1124px){
    .search-box{
        max-width: 70.6rem;;
    }
}

@media screen and (max-width : 790px) {

    .search-box{
        width: 34rem;
    }
   

}