/* 기본 리셋 */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1920px;
}
button{
  border: none;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  outline: none;
}

/* header 표시 */
header{
  height: 94px;
  background-color: #F0F6FF;
  margin: 0 auto;
  padding: 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.login{
  width: 128px;
  padding: 16px 20px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  color: #F5F5F5;
}

/* 카드 있는 content */
.center{
  width: 1200px;
  margin: 0 auto;
}
.content{
  max-width: 1920px;
}

/* main content */
.content1{
  margin: 0 aut0;
  height: 953px;
  background-color: #F0F6FF;
  padding-top: 70px;
}
.maintitle{
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}
.content1gradient{
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linkadd{
  display: flex;
  width: 350px;
  margin: 40px auto;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background:linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
}

/* content2 */
.content2{
  height: 450px;
  margin: 100px auto;
  padding: 50px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 157px;
  }
.content2title{
  width: 50%;
}
.content2title h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content2title p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.content2img{
  width: 550px;
}
.content2img img{
  width: 100%;
}
.content2 h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content2gradient{
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content2 p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

/* content3 */
.content3{
  height: 450px;
  margin: 0 auto;
  padding: 50px 300px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 157px;
  }
.content3title{
  width: 50%;
}
.content3title h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content3title p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.content3img{
  width: 550px;
}
.content3img img{
  width: 100%;
}
.content3 h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content3gradient{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content3 p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

/* content4 */
.content4{
  height: 450px;
  margin: 0 auto;
  padding: 50px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 157px;
  }
.content4title{
  width: 50%;
}
.content4title h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content4title p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.content4img{
  width: 550px;
}
.content4img img{
  width: 100%;
}
.content4 h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content4gradient{
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content4 p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

/* content5 */
.content5{
  height: 450px;
  margin: 0 auto;
  padding: 50px 300px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 157px;
  }
.content5title{
  width: 50%;
}
.content5title h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content5title p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.content5img{
  width: 550px;
}
.content5img img{
  width: 100%;
}
.content5 h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content5gradient{
  background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content5 p{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

/* footer */
footer{
  display: flex;
  justify-content: space-between;
  height: 160px;
  background-color: #111322;
  text-align: center;
}
.companyinfo{
  padding: 32px 0 64px 104px;
  color: #676767;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
}
.companylaw{
  padding: 32px 0 64px;
  display: flex;
  gap: 30px;
  color: #CFCFCF;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
}
.sns{
  padding: 32px 104px 64px 0;
}