.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.link {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 2.4rem;
}

.list-container {
  gap: 0.4rem;
  margin-bottom: 2.4rem;
}

.folder-name {
  font-size: 1.6rem;
  font-size: 400;
  line-height: 2.4rem;
  margin-right: 0.8rem;
}

.link-count {
  font-size: 1.4rem;
  font-weight: 400;
}

.check-icon {
  width: 1.4rem;
  height: 1.4rem;
}
