.kebab-modal-wrapper {
  display: flex;
  position: absolute;
  bottom: 4rem;
  right: -5.5rem;
  z-index: 1;
  flex-direction: column;
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
  font-size: 1.4rem;
  font-family: var(--Pretendard-Regular);
}
.kebab-modal-wrapper button {
  padding: 0.7rem 1.2rem;
  justify-content: center;
  border: none;
  color: #000;
  background: #fff;
  cursor: pointer;
}

.kebab-modal-wrapper button:hover {
  color: var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-gray10, #e7effb);
}
