.modal-overlay {
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal-container {
  width: 36rem;
  padding: 3.2rem 4rem;
  border-radius: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-icon {
  width: 2.4rem;
  height: 2.4rem;
  top: 1.6rem;
  right: 1.6rem;
}
