.folderOption {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  cursor: pointer;
  border-radius: 8px;
}

.folderOption h4,
p {
  margin: 4px;
}

.selectedFolder {
  background-color: var(--gray5-color);
}

.folderOptionsContainer {
  width: 100%;
}

.checkIcon {
  position: absolute;
  right: 15px;
}
