.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999px;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
}

#backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
}
