@import "sharing/styles/global.scss";

.button {
  flex: 0 0 4rem;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  width: 100%;
  height: 4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;

  &:hover {
    background-color: $color-light-blue;
  }

  &.isSelected {
    background-color: $color-light-blue;
  }
}

.name {
  font-size: 1.6rem;
  color: $color-gray100;

  &.isSelected {
    color: $color-primary;
  }
}

.count {
  font-size: 1.4rem;
  color: $color-gray60;
}

.check {
  margin-left: auto;
}
