.header {
  background: var(--color-gray-bg);
  position: sticky;
  top: 0;
  padding: 33px 200px 32px 200px;
  z-index: 1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.button-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.button-user__img__container {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.button-user__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-user__email {
  color: var(--color-gray-100);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Tablet */
@media (max-width: 1124px) {
  .header {
    padding: 32px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .header {
    padding: 18px 32px;
  }

  .button-user__email {
    display: none;
  }
}
