@import '../../common/styles/global.css';

.folder_container {
  align-items: center;
  display: grid;
  grid-template-areas: 'folders folders add-button';
  justify-content: space-between;
}

.folder_add_button {
  color: #6d6afe;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  grid-area: add-button;
}

.folder_tab {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  grid-area: folders;
  column-gap: 0.8rem;
}
