.modal {
  background-color: rgba(255, 255, 255);
  top: 20px;
  right: 0;
  color: black;
  position: absolute;
  box-shadow: 0px 2px 8px 0px #3332361a;
  border-radius: 5px;
}
.modal-text {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.modal-text:hover {
  background-color: #e7effb;
  color: #6d6afe;
}
.modal-content {
  width: 100px;
  height: 60px;
}
