@import url("/src/common/color.css");

.LinkAddBar {
  background-color: var(--Gray5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 90px;
}

.LinkAddBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  border: 1px solid var(--Primary);
  border-radius: 15px;
  padding: 16px 20px;
  width: 800px;

  color: var(--Gray2);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.LinkAddBar .link_icon {
  width: 20px;
  height: 20px;
}

.LinkAddBar .link_add_button {
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;

  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
}

/* tablet */
@media (max-width: 1199px) {
  .LinkAddBar .container {
    width: 704px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .LinkAddBar {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .LinkAddBar .container {
    width: 325px;
  }
}
