.searchBar {
  width: 100%;
  max-width: 106rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem 1.6rem;
  border-radius: 1rem;
  background: var(--linkbrary-grey-Light);
}

.searchBar-icon {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../../assets/images/Search.svg");
}

.searchBar-input {
  width: 100%;
  height: 100%;
  border: none;
  background: var(--linkbrary-grey-Light);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.searchBar-input::placeholder {
  color: var(--linkbrary-text);
  vertical-align: middle;
}
