@import '../../styles/_index.scss';

.colorBox {
  @include color-box(#f5f5f5);
}

.searchIcon {
  font-size: 1.2rem;
  color: #666;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  background: #f5f5f5;
  outline: none;
}

.resultText {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-gray-400;

  span {
    color: $color-black;
  }
}
