.SearchBar {
  position: relative;
  width: 100%;
}

.SearchBarInput {
  width: 100%;
  max-width: 106rem;
  height: 4.3rem;
  padding-left: 3.8rem;
  padding-right: 1.6rem;
  border-radius: 1rem;
  background-color: rgb(244, 243, 243);
  font-size: 1.4rem;

  @media (min-width: 768px) {
    height: 5.4rem;
    padding-left: 4.2rem;
    font-size: 1.6rem;
    line-height: 150%;
  }
}

.SearchBarInput::placeholder {
  color: var(--Linkbrary-gray100);
}

.SearchBarIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
}

.SearchBarClearButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.6rem;
}

.SearchResultText {
  color: var(--Linkbrary-gray60, #9fa6b2);
  /* Linkbrary/h2-semibold */
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.SearchWord {
  color: var(--Linkbrary-gray100, #373740);
}
