.footer_area {
  margin-top: 40px;
  padding: 32px;
  height: 160px;
  background: var(--footer-bg-black);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.corp_area {
  width: 60%;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
}

.copyright {
  margin: 0;
  height: 18px;
  color: var(--gray);
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 768px부터 적용될 스타일 */
@media (min-width: 768px) {
  .footer_area {
    margin-top: 60px;
    height: 160px;
    padding: 32px 104px 64px;
  }
  .corp_area {
    width: 60%;

    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

/* 1124px부터 적용될 스타일 */
@media (min-width: 1124px) {
}
