.header_area {
  position: fixed;
  top: 0;
  text-align: center;

  padding: 18px 32px 17px;
  width: 100%;
  height: 63px;
  background: var(--bright-sky-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.header_area.relative {
  position: relative;
}

/* 768px부터 적용될 스타일 */
@media (min-width: 768px) {
  .header_area {
    height: 93px;
    padding: 33px 32.5px 32px;
  }
}

/* 1124px부터 적용될 스타일 */
@media (min-width: 1124px) {
  .header_area {
    padding: 33px 200px 32px;
  }
}
