header, 
.hero {
  background-color: var(--Linkbrary-bg);
}


/* ---------- header(nav) ----------*/
header {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
}

nav {
  display: flex;
  width: 120rem;
  height: 5.875rem;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 1.25rem 12.5rem;
}

.logo {
  width: 8.3125rem;
  height: 1.5rem;
}

.loginBtn{
  display: flex;
  width: 8rem;
  height: 3.375rem;
  justify-content: center;
  align-items: center;

  color: var(--Grey-Light, #F5F5F5);
  font-size: 1.125rem;;
  font-weight: 600;
  line-height: normal;
  
  text-decoration: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Linkbrary-primary-color) 0.12%, #6AE3FE 101.84%));
}


/* ---------- main ---------- */
/* contents01 */
.contents01 {
  display: flex;

  width: 100%;
  margin: 0 auto;

  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;

  padding-top: 4.38rem;
}

.contents01 p {
  text-align: center;
  font-family: Pretendard;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.contents01 .gradientText {
  background: linear-gradient(91deg, var(--Linkbrary-primary-color) 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkAddBtn {
  display: flex;
  width: 21.875rem;
  height: 3.3125rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  color: var(--Grey-Light, #F5F5F5);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;

  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Linkbrary-primary-color) 0.12%, #6AE3FE 101.84%));
}

.dim {
  width: 1200px;
  height: 590px;

  background-image: url(../images/_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contents02 */
.contents02 {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap: 6.25rem;

  margin: 0 auto;
  padding: 7.5rem 0 3.125rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.8125rem;
}

.contentText {
  display: flex;
  flex-direction: column;
  width: 18.1875rem;
  height: 12.375rem;
  gap: 0.62rem;
}

.descTitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

.content:first-child .gradientText {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content:nth-child(2) .gradientText {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content:nth-child(3) .gradientText {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content:last-child .gradientText {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  color: #6B6B6B;
  font-family: Abel;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.pcBreakLine span {
  display: block;
}

.content img {
  width: 550px;
  height: 450px;
}

/* ---------- footer ---------- */
footer {
  display: flex;
  justify-content: center;
  background: var(--The-julge-black);
  margin-top: 7.5rem;
}

footer>section {
  display: flex;
  width: 100%;
  height: 10rem;

  justify-content: space-between;
  align-items: start;

  padding: 2rem 6.5rem 4rem;
}

.footer section>div {
  display: flex;
  flex-direction: row;
}

footer>section>div, footer span {
  display: flex;
  gap: 1.88rem;
}

footer span {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

footer div a {
  color: #CFCFCF;
  font-family: Acme;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
}

.snsLogo {
  justify-content: end;
  gap: 0.75rem;
}


@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 0 2rem;
  }
  
  .contents01 p>span:last-of-type {
    display: block;
  }

  .dim {
    width: 698px;
    height: 343px;

    background-image: url(../images/_img-Tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
    gap: 3.1875rem;
  }

  .contentText {
    width: 16.4rem;
    height: 12.3rem;
  }

  .desc {
    display: inline-block;
  }

  .pcBreakLine, .pcBreakLine span {
    display: inline;
    word-break: keep-all;
  }

  .content img {
    width: 385px;
    height: 315px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  nav {
    height: 3.9375rem;
    padding: 0 2rem;
  }

  .logo {
    width: 5.54169rem;
    height: 1rem;
  }

  .loginBtn {
    width: 5rem;
    height: 2.3125rem;

    font-size: 0.875rem;;
  }

  .contents01 {
    padding-top: 1.75rem;
  }

  .contents01 p {
    text-align: center;
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .contents01 p>span:last-of-type {
    display: block;
  }

  .linkAddBtn {
    width: 12.5rem;
    height: 2.3125rem;
    font-size: 0.875rem;
  }

  .dim {
    width: 20.3125rem;
    height: 10rem;

    background-image: url(../images/_img-Tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contents02 {
    padding: 2.5rem 2rem
  }

  .content {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .contentText {
    width: auto;
    height: auto;
    margin-bottom: 1.5rem;
    order: -1;
  }

  .descTitle {
    display: inline;
    font-size: 1.5rem;
    order: 0;
  }
  
  .desc, .desc span {
    display: inline;
  }

  .content img {
    width: 100%;
    height: 100%;
  }

  footer section {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 2rem;
    gap: auto;
  }

  footer section span {
    width: 100%;
    order: 1;
    margin-top: 3.75rem;
  }
}