@import '../../common/styles/global.css';

main {
  width: 100%;
  height: auto;
  padding: 4rem 0;

  @media (max-width: 767px) {
    padding: 3.2rem 0 2rem;
  }
}

.main-container {
  display: flex;
  column-gap: 2rem;
  row-gap: 2.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 106rem;
  margin: 0 auto;

  @media (max-width: 1123px) {
    column-gap: 2.4rem;
    padding: 0 3.2rem;
    width: 76.8rem;
  }

  @media (max-width: 767px) {
    row-gap: 2rem;
    width: 38.9rem;
  }
}

.main-container-empty {
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.card {
  width: 34rem;
  height: 33.4rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 32.5rem;
    height: 32.7rem;
  }
}

.card-image {
  display: flex;
  justify-content: center;
  width: 34rem;
  height: 20rem;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 32.5rem;
    height: 19.2rem;
  }
}

.card-image-item {
  width: 34rem;
  object-fit: cover;

  @media (max-width: 767px) {
    width: 32.5rem;
  }
}

.card:hover {
  border: 2px solid #6d6afe;
  transition: all 0.2s linear;
}

.card:hover .card-image-item {
  transform: scale(1.3);
}

.card-contents {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.5rem 2rem;
  font-weight: 400;
}

.card-difference-time {
  color: #666;
  font-size: 1.3rem;
}

.card-description {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 2.4rem;
  height: 4.9rem;
}

.card-created-time {
  color: #333;
  font-size: 1.4rem;
}
