@import '../../common/styles/global.css';

header,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  height: 9.3rem;
  justify-content: space-between;
  align-items: center;
  max-width: 192rem;
  padding: 3.2rem 20rem;
  width: 100%;

  /* Tablet 사이즈 */
  @media (max-width: 1199px) {
    max-width: 864px;
    padding: 3.2rem 3.25rem;
  }

  /* Mobile 사이즈 */
  @media (max-width: 767px) {
    height: 6.3rem;
    padding: 1.8rem 3.2rem;
  }
}

.logo {
  width: 13.3rem;
  height: 2.4rem;

  @media (max-width: 767px) {
    width: 8.8rem;
    height: 1.6rem;
  }
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 1.4rem;
}

.profile-image {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

.profile-email {
  @media (max-width: 767px) {
    display: none;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.3rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  width: 12.8rem;
  padding: 1.6rem 2rem;

  @media (max-width: 767px) {
    width: 8rem;
    height: 3.7rem;
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }
}

.folder {
  margin: 2rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {
    margin: 1rem auto 4rem;
  }
}

.folder-user-image {
  margin-bottom: 1.2rem;
  width: 6rem;
  height: 6rem;

  @media (max-width: 767px) {
    margin-bottom: 0.6rem;
    width: 4rem;
    height: 4rem;
  }
}

.folder-user-name {
  font-size: 1.6rem;
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.folder-name {
  font-size: 4rem;
  font-weight: 600;

  @media (max-width: 767px) {
    font-size: 3.2rem;
  }
}
