.LinkSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinkSearch > input {
  box-sizing: border-box;
  width: 1060px;
  padding: 15px;
  border-radius: 10px;
  background: #f5f5f5;
  border: none;
  margin: 0 32px;
  background-image: url(/src/assets/Search.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
  text-indent: 32px;
}

.LinkSearch > input::placeholder {
  color: #666;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
