.add-link-input {
  width: 100%;
  height: 6.9rem;
  padding: 1.6rem 2rem 1.6rem 5.2rem;
  border-radius: 1.5rem;
  border: 1px solid var(--primary-color);
  background: #fff;
}

.add-link-input::placeholder {
  color: var(--gray2-color);
  font-family: var(--Pretendard-Regular);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.add-link-input-wrapper {
  position: relative;
}
.add-link-input-icon {
  position: absolute;
  left: 2rem;
  top: 2.2rem;
}
