.add-link-button {
  font-family: var(--Pretendard-Regular);
  border-radius: 8px;
  width: 9rem;
  padding: 1rem 1.6rem;
  color: #f5f5f5;
  border: none;
  font-size: 1.4rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

/* @media (max-width: 767.5px) {
  .nav-login-button {
    width: 8rem;
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }
} */
