@import '../../styles/_index.scss';

.layout {
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 6rem;
  padding: 1.25rem;
  background: $color-gray-100;
}

.box {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
}

.linkbraryLogo {
  width: 10rem;
}

.fixed {
  display: fixed;
}
@media screen and (width < 1123px) {
  .box {
    padding: 0 2rem;
  }
}
