.header {
  padding-top: 6.3rem;
  margin-bottom: 2rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .header {
    padding-top: 9.3rem;
    margin-bottom: 4rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
