header {
  background-color: var(--gray5);
  width: auto;
}

.nav {
  background-color: var(--gray5);
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.4rem;
  max-width: 192rem;
  background-color: var(--gray5);
  z-index: 1000;
  opacity: 1;
}

.header-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  header {
    row-gap: 2.4rem;
    padding-top: 2.8rem;
  }

  .nav {
    padding: 0 3.2rem;
    height: 6.3rem;
    max-width: 76.7rem;
  }

  .header-content {
    padding-top: 6.3rem;
  }
}
