.header {
  background: var(--linkbrary-bg, #f0f6ff);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 2.06rem 12.5rem 2rem 12.5rem;
}

.logo img {
  /* width: 133px;
  height: 24px; */
  width: 8.3125rem;
  height: 1.5rem;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.header-profile_profile-img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.header-profile_profile-name {
  color: var(--linkbrary-gray-100, #373740);
  font-size: 0.875rem;
  font-weight: 400;
}

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--grey-light);
  font-size: 1.125rem;
  font-weight: 600;
}

.login-button {
  width: 8rem;
}