#headerShared {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  top: 0;
  background-color: var(--Linkbrary-bg, #f0f6ff);
}

#headerShared .headerLogo .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133px;
  height: 24px;
  cursor: pointer;
}

#headerShared .headerButton button {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

#profileArea {
  display: flex;
  align-items: center;
  gap: 6px;
}

#profileImage {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
#profileEmail {
  color: var(--Linkbrary-gray100, #373740);
  /* Linkbrary/body2-regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
