/* nav */
nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--linkbrary-bg);
}

.nav {
  display: flex;
  padding: 0 20rem;
  height: 9.4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
}

.login-btn {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--linkbrary-grey-Light);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
