.ModalContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.ContentContainer {
  width: 36rem;
  height: 38.9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 4rem;
  gap: 2.4rem;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--gray20);
  background-color: var(--white);
}

.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.TitleContent {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

.TitleContent > h2 {
  color: var(--gray100);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}

.TitleContent > span {
  color: var(--gray60);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.57143;
}

.LinksFolderContent {
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.LinkFolderContent {
  width: 26.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.FolderContent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.FolderContent > div {
  color: var(--gray100);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.FolderContent > span {
  color: var(--gray60);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

.LinkFolderContent:nth-of-type(1)::after {
  content: '';
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../assets/modal/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.LinkFolderContent:nth-of-type(2)::after {
  content: '';
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../assets/modal/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.LinkFolderContent:nth-of-type(3)::after {
  content: '';
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../assets/modal/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.LinkFolderContent:nth-of-type(4)::after {
  content: '';
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../assets/modal/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ModalContent button {
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background-image: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.ModalCloseBtn {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-image: url(../assets/modal/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
