.searchLink-container {
  display: flex;
  justify-content: center;
}
.search-link {
  width: 1060px;
  height: 54px;
  border-radius: 10px;
  border: none;
  background-color: #f5f5f5;
}
.cardImg-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.card-container {
  width: 340px;
  height: 334px;
  border-radius: 15px;
  text-decoration: none;
}
.cardImg {
  width: 340px;
  height: 253px;
}
.timeDifference {
  font-size: 13px;
  color: #666666;
}
.item-description {
  font-size: 16px;
  font-weight: 400;
}
