.cardlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1060px;
  height: auto;
  margin: auto;
  font-family: "Pretendard", sans-serif;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1060px;
  height: 54px;
  padding: 15px 16px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-bottom: 40px;
}

.card {
  width: 340px;
  height: 334px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card-image {
  width: 100%;
  height: 178px;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Pretendard", sans-serif;
}

span {
  color: #666666;
  font-size: 13px;
}

p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-number {
  color: #333333;
  font-size: 14px;
}

.card-image:hover {
  transform: scale(1.3);
}

.text-container {
  padding: 10px 20px;
  text-align: start;
  height: 135px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 10px;
  width: 1000px;
  background-color: #f5f5f5;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: 100%;
  }
  .cardlist,
  .search-bar {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-bar input {
    width: calc(100% - 64px);
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .card {
    width: 100%;
  }
  .cardlist,
  .search-bar {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .search-bar input {
    width: calc(100% - 64px);
  }
}
