:root {
  /* Backgrounds */
  --Linkbrary-bg: #f0f6ff;
  --Grey-Light: #f5f5f5;
  --Section-white: #ffffff;
  --Header-white: #f0f6ff;
  --Footer-white: #cfcfcf;

  /* Gradients */
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
  --Fandom-K-gra-blue-to-pink: linear-gradient(
    271deg,
    #fe578f -9.84%,
    #68e8f9 107.18%
  );
  --Headear-Title-blue-to-pink: linear-gradient(
    91deg,
    #6d6afe 17.28%,
    #ff9f9f 74.98%
  );
  --gra-pink-to-skyblue: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  --gra-skyblue-to-yellow: linear-gradient(
    277deg,
    #6fbaff 59.22%,
    #ffd88b 93.66%
  );
  --gra-blue-to-green: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );

  /* Colors */
  --The-julge-black: #111322;
  --black: #000;
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-white: #fff;
  --Linkbrary-gray10: #e7effb;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray100: #373740;
  --Linkbrary-red: #ff5b56;
  --Company-gray: #676767;
  --text-color-light-mode: #000;
  --Text: #666;
  --card-date: #333;
  -gray-light-gray-100: #333236;
}
