.btn {
  display: inline-block;
  padding: 0.8em 1.6em;
  font-size: 1.5rem;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light);
  font-weight: 600;
}

.btn.type_wider {
  width: 350px;
}

.btn.type_full {
  width: 100%;
}

.highlight {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight.type_orangeToBlue {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight.type_blueToYellow {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight.type_blueToNavy {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight.type_pinkToSky {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
  .btn.type_wider {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .btn {
    padding: 0.8em 1.3em;
    font-size: 1.3rem;
  }
}
