.ModalContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.ContentContainer {
  width: 36rem;
  height: 19.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 4rem;
  gap: 2.4rem;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--gray20);
  background-color: var(--white);
}

.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.TitleContent {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

.TitleContent > h2 {
  color: var(--gray100);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}

.TitleContent > span {
  color: var(--gray60);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.57143;
}

.ModalContent button {
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background-color: var(--red);
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.ModalCloseBtn {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-image: url(../assets/modal/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
