footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 32px 104px 64px 104px;
  background-color: #111322;
  margin-top: 60px;
  font-family: "Abel", sans-serif;
  color: #676767;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.footer-privacy,
.footer-faq {
  color: #676767;
}

.footer-link {
  display: flex;
  gap: 30px;
}

.footer-icon {
  display: flex;
  gap: 12px;
}

@media (min-width: 375px) and (max-width: 767px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
    padding: 32px 32px 64px 32px;
    align-items: center;
    background: #111322;
    position: relative;
  }
  .footer-text {
    position: absolute;
    left: 30px;
    bottom: 0px;
  }
  .footer-link {
    display: flex;
    grid-area: a;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer-icon {
    display: flex;
    grid-area: b;
    justify-content: flex-end;
    gap: 12px;
  }
}
