.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  top: 60px;
  display: flex;
  height: 160px;
  background-color: #111322;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  padding: 32px 104px 64px 104px;
}
.footer-codeit {
  color: #676767;
  font-size: 16px;
}
.footer-link {
  display: flex;
  color: #676767;
  justify-content: space-between;
  font-size: 16px;
}
.footer-sns {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: flex-end;
  gap: 10px;
  font-size: 16px;
}
