nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--Linkbrary-bg);
  z-index: 2;
}

.gnb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo {
  width: 133px;
  height: 24px;
}

/* Tablet */

@media (max-width: 1199px) {
  nav {
    padding: 20px 0;
  }

  .gnb {
    width: 767px;
    margin: 0 auto;
  }

  .logo {
    margin-left: 32px;
  }
}

/* Moblie */

@media (max-width: 767px) {
  nav {
    padding: 13px 32px;
  }

  .gnb {
    width: auto;
    margin: 0;
  }

  .logo {
    width: 88.667px;
    height: 16px;
  }
}
