.HeaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: var(position);
  top: 0;
  background-color: var(--bg);
  z-index: 99;
}

.HeaderContent {
  width: 100%;
  height: 9.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.3rem 20rem 3.2rem;
}

.Logo {
  width: 13.3rem;
  height: 2.4rem;
}

.ProfileContent {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.ProfileImg {
  width: 2.8rem;
  height: 2.8rem;
}

.ProfileContent > span {
  color: var(--gray100);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

.LoginBtn {
  width: 12.8rem;
  height: 5.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

/* tablet */
@media (max-width: 1199px) {
  .HeaderContent {
    padding: 3.3rem 3.2rem 3.2rem;
  }
}

@media (max-width: 767px) {
  .HeaderContent {
    padding: 1.8rem 3.2rem 1.7rem;
  }

  .Logo {
    width: 8.8667rem;
    height: 1.6rem;
  }

  .ProfileContent > span {
    display: none;
  }

  .LoginBtn {
    width: 8rem;
    height: 3.7rem;
    font-size: 1.4rem;
  }
}
