* {
  box-sizing: border-box;
  font-family: Pretendard;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f6ff;
  height: 5.8125rem;
  padding: 2.0625rem 12.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header .profile-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}
header .profile-image {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.9375rem;
}
header .profile-email {
  font-size: 0.875rem;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    width: 100%;
    padding: 2.0625rem 2.03125rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  header {
    width: 100%;
    padding: 1.125rem 2rem;
  }
  header .profile-email {
    font-size: 0;
  }
}
