.header-container {
  display: flex;
  padding: 20px 0 60px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}

/* Moblie */

@media (max-width: 767px) {
  .header-container {
    min-width: 390px;
    padding: 10px 0 40px;
  }
}
