* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--Linkbrary-bg);
  max-width: 1920px;
  font-family: Pretendard;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration-line: none;
}
