.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 205px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.profile-img {
  width: 60px;
  height: 60px;
}

.profile-name {
  color: var(--text-color-light-mode);
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.folder-name {
  color: var(--text-color-light-mode);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Moblie */

@media (max-width: 767px) {
  .profile-img {
    width: 40px;
    height: 40px;
  }

  .profile-name {
    /* Linkbrary/body2-regular */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .folder-name {
    /* Linkbrary/h2-semibold */
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
  }
}
