.log-in {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Grey-Light);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
}

.user {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-img {
  width: 28px;
  height: 28px;
}

.user-email {
  color: var(--Linkbrary-gray100);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Tablet */

@media (max-width: 1199px) {
  .user {
    margin-right: 32px;
  }

  .log-in {
    margin-right: 32px;
  }
}

/* Moblie */

@media (max-width: 767px) {
  .log-in {
    width: 80px;
    padding: 10px 16px;
    font-size: 14px;
  }

  .none {
    display: none;
  }
}
