main {
  background-color: var(--Section-white);
  width: 100%;
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 40px auto;
}

@media (max-width: 767px) {
  section {
    gap: 30px;
  }
}
