/* reset */
* {
  margin: initial;
  padding: initial;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}
