.searchLink-container {
  display: flex;
  justify-content: center;
  margin: 50px;
  position: relative;
  top: 30px;
}
.search-link {
  width: 1060px;
  height: 54px;
  border-radius: 10px;
  border: none;
  background-color: #f5f5f5;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .search-link {
    width: 704px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .search-link {
    width: 325px;
  }
}
