header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  top: 0;
  background-color: var(--Linkbrary-bg, #f0f6ff);
}

.headerLogo .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133px;
  height: 24px;
  cursor: pointer;
}

.headerBtn button {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 60px;
  gap: 20px;
  width: 188px;
  height: 164px;
}

.titleContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titleContent p {
  color: var(--text-color-light-mode, #000);

  /* Linkbrary/body1-regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.titleLogo {
  display: flex;
  height: 60px;
  padding: 16px 17px 16px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 47px;
  background: var(--primary-purple-70, #8f00ff);
}

.bookmark {
  width: 188px;
  height: 48px;
  color: #000;
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* Linkbrary/h1-semibold */
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.searchBar {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 54px;
  padding: 15px 16px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
}

.searchBar img {
  width: 16px;
  height: 16px;
  fill: rgba(0, 0, 0, 0);
}

.searchBar p {
  color: var(--Text, #666);
  text-align: right;

  /* Linkbrary/body1-regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.mainContent {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px 64px 104px;
  margin-top: 120px;
  background: var(--The-julge-black, #111322);
}

footer .footer1 {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .footer2 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #cfcfcf;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .footer2 a {
  text-decoration: none;
  color: #cfcfcf;
}

footer .footer3 {
  display: flex;
  gap: 12px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .mainContent {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  main {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 357px) and (max-width: 767px) {
  .mainContent {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
  }
  main {
    padding-left: 32px;
    padding-right: 32px;
  }
}
