* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Primary: #6d6afe;
  --Red: #ff5b56;
  --Black: #111322;
  --White: #ffffff;
  --Grey_100: #f0f6ff;
  --Grey_200: #e7effb;
  --Grey_300: #ccd5e3;
  --Grey_400: #9fa6b2;
  --Grey_500: #3e3e43;
}

/* section */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey_100);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.codeit-mark {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  align-items: center;
  border-radius: 47px;
  background-color: #8f00ff;
  margin-bottom: 12px;
}

.codeit-mark-section span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#favorites h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

article {
  margin: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 검색창 */
#search-bar {
  width: 1060px;
  padding: 15px 16px;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 40px;
}

#search-bar img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#search-bar input {
  width: 100%;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  border: none;
  background-color: transparent;
}

#search-bar input:focus {
  outline: none;
}

.folders-gridBox {
  width: 1060px;
  display: grid;
  grid-template: 360px 360px 360px / 340px 340px 340px;
  gap: 25px 20px;
}

.folder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  position: relative;
}

.star {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 15px;
  margin-right: 15px;
}

.imgBox {
  width: 100%;
  height: 230px;
  overflow: hidden;
  margin: 0px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folderImage {
  width: 340px;
  height: 253.746px;
}

.grow {
  transform: scale(1.3);
}

.folder-textBox {
  width: 100%;
  height: 135px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 0px 0px 15px 15px;
}

.time-kebab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.folder #time {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  margin: 0px;
}

.folder #info {
  width: 100%;
  height: 49px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  color: #000;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.folder #date {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

@media (max-width: 1124px) {
  header {
    padding: 20px 32px;
  }

  header div {
    margin: 0px auto;
    width: 800px;
    max-width: 100%;
  }

  .folders-gridBox {
    width: auto;
    grid-template: 360px 360px / 340px 340px;
    gap: 25px 24px;
  }

  #search-bar {
    width: 704px;
  }

  article {
    margin: 0px;
    padding: 40px 35px;
  }
}

@media (max-width: 774px) {
  header {
    width: 100%;
  }

  .folders-gridBox {
    width: auto;
    grid-template: 360px / 325px;
    gap: 25px 24px;
  }

  #search-bar {
    width: 325px;
  }

  article {
    margin: 0px;
    padding: 40px 35px;
  }

  #myEmail {
    border: 1px;
  }

  footer {
    height: 200px;
    display: flex;
  }

  .footer-frame {
    width: 100%;
    padding: 32px 32px 64px 32px;
    position: relative;
    gap: auto;
  }

  .footer-frame #footer-codeit {
    position: absolute;
    top: 110px;
    left: 32px;
  }

  .footer-frame #footer-codeit p {
    color: #676767;
  }

  #footer-notice {
    gap: 30px;
  }
}
