.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.4rem 3.2rem 4rem;
  background-color: var(--Linkbrary-bg);

  @media (min-width: 768px) {
    padding: 3rem 3.2rem 6rem;
  }

  @media (min-width: 1141px) {
    padding: 4.5rem 3.2rem 4.5rem;
  }
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 5.3rem;
  column-gap: 1rem;
  padding: 0 1rem;
  border: 0.1rem solid var(--Linkbrary-primary-color);
  border-radius: 1.5rem;
  background-color: white;

  @media (min-width: 768px) {
    height: 6.9rem;
    column-gap: 2rem;
    padding: 0 2rem;
  }
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 0.8rem;

  @media (min-width: 768px) {
    column-gap: 1.2rem;
  }
}

.icon {
  width: 1.6rem;
  height: 1.6rem;

  @media (min-width: 768px) {
    width: 2rem;
    height: 2rem;
  }
}

.input {
  width: 100%;
  height: 5.1rem;
  font-size: 1.4rem;
  line-height: 150%;

  @media (min-width: 768px) {
    height: 6.7rem;
    font-size: 1.6rem;
  }
}

.input::placeholder {
  color: var(--Linkbrary-gray60);
}

.buttonContainer {
  border-radius: 0.8rem;
  background: linear-gradient(91deg, var(--Linkbrary-primary-color) 0.12%, #6ae3fe 101.84%);
  color: white;
}

.button {
  width: 8rem;
  height: 3.7rem;
  font-size: 1.4rem;
  color: inherit;
}

.fixedAddLinkBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  display: flex;
  justify-content: center;
  padding: 2.4rem 3.2rem 2.4rem;
  background-color: var(--Linkbrary-bg);

  @media (min-width: 768px) {
    padding: 2.4rem 3.2rem 2.4rem;
  }
  @media (min-width: 1141px) {
    padding: 2.4rem 3.2rem 2.4rem;
  }
}

.hiddenAddLinkBar {
  display: none;
}
