.linkFlexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 90px;
  width: 100%;
  @media (390px< width < 769px) {
    padding: 60px 32px 90px 32px;
  }
  @media (width < 390px) {
    padding: 24px 32px 40px 32px;
  }
}

.linkAddInputBox {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  background-color: var(--white);
  border-radius: 15px;
  border: 1px solid var(--primary);

  @media (width < 390px) {
    padding: 18px 32px;
  }
}

.linkAddInputFlexBox {
  display: flex;
  align-items: end;
  /* center 말고 end를 넣어야 위아래 균형이 맞네요.. */
  gap: 12px;
  input {
    font-size: 16px;
    outline: none;
    border: none;
  }
}

.addButton {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
