.banner_section {
  width: 100%;
  background: var(--Linkbrary-bg, #f0f6ff);
  display: flex;
  justify-content: center;
  padding: 60px 0 90px 0;
}

.banner_container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 16px 20px;
  background-color: white;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
}

.banner_input {
  display: flex;
  gap: 12px;
}

.banner_container input {
  border: none;
}

.banner_container button {
  width: 81px;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--Grey-Light, #f5f5f5);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
