.folder_section {
  width: 100%;
}

.folder_container {
  max-width: 1060px;
  min-height: 1280px;
  background-color: var(--color-white);
  margin: 40px auto;
}

.folder_list {
  display: flex;
  gap: 8px;
}

.folder {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: #fff;
  list-style-type: none;
}

.card_list {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1124px) {
  .share_container {
    max-width: 704px;
    min-height: 1280px;
  }
  .card_list {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .share_container {
    max-width: 340px;
    min-height: 1280px;
  }
  .card_list {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    gap: 20px;
  }
}
