.favoriteWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
.favoriteBox {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--primary);
  &:hover {
    background-color: var(--gray10);
  }
}
