.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 106rem;
  row-gap: 2rem;
  column-gap: 25px;
  justify-content: center;

  a {
    text-decoration: none;
  }
  @media (769px< width < 1124px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    column-gap: 2rem;
  }
  @media (width < 768px) {
    grid-template-columns: repeat(auto-fill, 34rem);
    row-gap: 2.5rem;
    column-gap: 2rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
  overflow: hidden;
  width: 340px;
  align-items: center;
  transition: all 300ms ease-in;
  &:hover {
    background-color: var(--light-blue);
  }
}

.card-hover {
  .cardImage {
    width: 130%;
  }
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 300ms ease-in;
}

.timeText {
  font-size: 13px;
  color: #666;
}

.cardDescription {
  height: calc(16px * 3);
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--text-content-gray);
}

.dateText {
  font-size: 14px;
  color: #333;
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  gap: 10px;
}
