/* CSS 리셋 */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.red {
  color: #ff5b56;
}

.white {
  color: #ffffff;
}

.black {
  color: #111322;
}
.primary {
  color: #6d6afe;
}

.black {
  color: #111322;
}

.black-bg {
  background-color: #111322;
}

.white {
  color: #ffffff;
}

.gray-ton1 {
  color: #3e3e43;
}

.gray-ton2 {
  color: #9fa6b2;
}

.gray-ton3 {
  color: #ccd5e3;
}

.gray-ton4 {
  color: #e7effb;
}

.gray-ton5 {
  color: #f0f6ff;
}
