/*********************
        App
*********************/

.App .Footer {
  margin-top: 40px;
}

/*********************
        @media
*********************/

@media (min-width: 768px) {
  .App .Footer {
    margin-top: 60px;
  }
}
