.container {
  background: var(--Linkbrary-bg, #f0f6ff);
  padding-top: 20px;
  padding-bottom: 60px;
}
.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.appHeader img {
  width: 60px;
  height: 60px;
}
.appHeader p {
  color: var(--text-color-light-mode, #000);
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.appHeader h2 {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Linkbrary/h1-semibold */
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.appHeader {
  width: fit-content;
  margin: 0 auto;
}
