.body {
  margin-bottom: 60px;
}

.body_inner {
  display: flex;
  width: 1060px;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.body_search_bar {
  display: flex;
  width: 100%;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--Text, #666);
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 20px;
}

.card_list_item {
  width: 340px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
}

.img_area {
  overflow: hidden;
}

.img_area img {
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.card_list_item:hover .img_area img {
  transform: scale(1.3);
}

.text_area {
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
}

.time {
  color: #666;
  font-size: 1.3rem;
  font-weight: 400;
}

.description {
  max-height: 50px;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.created_at {
  color: #333;
  font-size: 1.4rem;
  font-weight: 400;
}

@media (max-width: 1124px) {
  .body_inner {
    width: auto;
    margin: 32px;
  }

  .card_list {
    justify-content: center;
    gap: 25px 24px;
  }
}
