@media (min-width: 375px) and (max-width: 767px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 350px;
    height: 3300px;
  }

  .container {
    position: relative;
    width: 340px;
    height: 334px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
  }

  .imgContainer {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .img {
    width: 340px;
    height: 240px;
    overflow: hidden;
    image-rendering: crisp-edges;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: center;
    transition: transform 0.3s ease;
  }

  .img:hover {
    transform: scale(1.3);
    border-radius: 20px;
  }

  .textContainer {
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .textContainer {
    display: flex;
    justify-content: space-between;
    color: #666;

    /* Linkbrary/caption */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .dateDiffContainer {
    display: flex;
    justify-content: space-between;
    color: #666;

    /* Linkbrary/caption */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .description {
    width: 300px;
    display: -webkit-box; /* 웹킷 브라우저에서 다중 줄 형태를 지원하기 위해 필요한 속성 */
    -webkit-box-orient: vertical; /* 세로 방향으로 텍스트를 표시 */
    overflow: hidden; /*텍스트가 div의 영역을 넘어갈 때 숨김 */
    -webkit-line-clamp: 2; /* 두 줄을 넘어가면 생략 부호로 처리 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .star {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1124px) {
  section {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 40px;
    width: 704px;
    height: 1146px;
  }

  .container {
    position: relative;
    width: 340px;
    height: 334px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
  }

  .imgContainer {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .img {
    width: 340px;
    height: 240px;
    overflow: hidden;
    image-rendering: crisp-edges;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: center;
    transition: transform 0.3s ease;
  }

  .img:hover {
    transform: scale(1.3);
    border-radius: 20px;
  }

  .textContainer {
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .dateDiffContainer {
    display: flex;
    justify-content: space-between;
    color: #666;

    /* Linkbrary/caption */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .description {
    width: 300px;
    display: -webkit-box; /* 웹킷 브라우저에서 다중 줄 형태를 지원하기 위해 필요한 속성 */
    -webkit-box-orient: vertical; /* 세로 방향으로 텍스트를 표시 */
    overflow: hidden; /*텍스트가 div의 영역을 넘어갈 때 숨김 */
    -webkit-line-clamp: 2; /* 두 줄을 넘어가면 생략 부호로 처리 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .star {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

@media (min-width: 1125px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1060px;
    height: 1146px;
  }

  .container {
    position: relative;
    width: 340px;
    height: 334px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
  }

  .imgContainer {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .img {
    width: 340px;
    height: 240px;
    overflow: hidden;
    image-rendering: crisp-edges;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: center;
    transition: transform 0.3s ease;
  }

  .img:hover {
    transform: scale(1.3);
    border-radius: 20px;
  }

  .textContainer {
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .dateDiffContainer {
    display: flex;
    justify-content: space-between;
    color: #666;

    /* Linkbrary/caption */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .description {
    width: 300px;
    height: 48px;
    display: -webkit-box; /* 웹킷 브라우저에서 다중 줄 형태를 지원하기 위해 필요한 속성 */
    -webkit-box-orient: vertical; /* 세로 방향으로 텍스트를 표시 */
    overflow: hidden; /*텍스트가 div의 영역을 넘어갈 때 숨김 */
    -webkit-line-clamp: 2; /* 두 줄을 넘어가면 생략 부호로 처리 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .star {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}
