.CardList {
  width: 340px;
  display: flex;
  flex-direction: column;
  height: auto;
}

#cardImg {
  object-fit: cover;
  width: 100%;
  height: 201.746px;
  flex-shrink: 0;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: lightgray 50% / cover no-repeat;
}

#cardImg:hover {
  transform: scale(1.3);
}

#textarea {
  flex-grow: 1;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
  box-sizing: border-box;
  height: 135px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#timeOut {
  color: #666;

  /* Linkbrary/caption */
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#description {
  height: 30px;
  align-self: stretch;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#createdAt {
  height: 19px;
  align-self: stretch;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 화면 너비가 1124px 미만인 경우 테블릿*/
@media (max-width: 1123px) {
  .CardList {
    width: 100%;
  }
  #cardImg {
    width: 100%;
  }
  #textArea {
    width: 100%;
  }
}

/* 화면 너비가 767px 미만인 경우 모바일*/
@media (max-width: 767px) {
  .CardList {
    width: 100%;
  }
  #cardImg {
    width: 100%;
  }
  #textArea {
    width: 100%;
  }
}
