.card_link {
  text-decoration: none;
}

.card_area {
  width: 325px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 15px 15px 15px 15px;
}

.img_area {
  width: 325px;
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}

.star_icon_area {
  right: 15px;
  top: 15px;
  position: absolute;
}

.none_img_area {
  background: var(--none-card-image-back);
}

.card_img:hover {
  width: 130%;
  margin: 0px auto;
  overflow: hidden;
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card_contents_area {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card_content_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.elapsed_time {
  color: var(--gray03);
  margin: 0;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kebob_button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;

  width: 28px;
  height: 28px;
  background-image: url('../assets/kebab.svg');
  background-repeat: no-repeat;
}

.description_text {
  height: 49px;
  width: 100%;
  align-self: stretch;
  margin: 10px auto;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.created_at {
  margin: 0;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 768px부터 적용될 스타일 */
@media (min-width: 768px) {
}

/* 1200px부터 적용될 스타일 */
@media (min-width: 1200px) {
}
