.CardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cardFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 1060px;
}

.searchBar {
  margin-top: 40px;
  display: flex;
  width: 100%;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
}

.searchBarElement {
  display: flex;
  align-items: center;
  gap: 10px;
}

#searchIcon {
  width: 16px;
  height: 16px;
}

#inputText {
  color: var(--Text, #666);

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 1060px;
  height: 1052px;
  list-style-type: none; /* ul 태그의 점을 없앰 */
}

.card-item {
  width: calc(33.33% - 20px);
  height: 334px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}
