.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 25px;
  width: 1060px;
  margin: 0 auto;
}

/* Tablet */

@media (max-width: 1124px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    row-gap: 25px;
    width: 704px;
  }
}

/* Moblie */

@media (max-width: 767px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 325px;
  }
}
