.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 25px;
  column-gap: 20px;
  @media (max-width: 1143px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 784px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

.card {
  width: 340px;
  height: 334px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  overflow: hidden;
  @media (max-width: 784px) {
    width: 325px;
    height: 327px;
  }
}

.hover-image {
  transform: scale(1.3);
}

.hover-info {
  background-color: var(--light-blue);
}

.card-image-area {
  height: 200px;
  overflow: hidden;
  @media (max-width: 784px) {
    height: 192px;
  }
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-information-area {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 10px;
}

.card-time {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #666;
  font-size: 13px;
}

.kebab {
  width: 21px;
  height: 17px;
}

.card-title {
  width: 300px;
  height: 49px;
  color: #000;
  font-weight: 450;
  line-height: 24px; /* 150% */
  font-size: 16px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-date {
  width: 300px;
  height: 19px;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
