@media (min-width: 375px) and (max-width: 767px) {
  .container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1124px) {
  .container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1125px) {
  .container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
