:root {
  --card-box-width: 24rem;
}

.card-container {
  max-width: calc(var(--card-box-width) * 3 + var(--card-box-width) * 1 / 3);
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--card-box-width) * 1 / 6);
}

.card-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  width: var(--card-box-width);
  height: var(--card-box-width);
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card-box:hover {
  transform: scale(1.3);
}

.card-box a {
  text-decoration: none;
  color: black;
  display: block;
}

.card-box-img {
  width: 100%;
  height: calc(var(--card-box-width) * 0.55);
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.text-container {
  margin: 10px;
  line-height: 1.3rem;
}

.text-container p {
  margin: 0.5rem auto;
}

/*Display only two lines*/
.description,
.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.time-difference {
  font-size: 0.8rem;
  color: gray;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
}

.date {
  font-size: 0.8rem;
}

@media (min-width: 768px) and (max-width: 1123px) {
  .card-container {
    max-width: calc(var(--card-box-width) * 2 + 1rem);
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .card-container {
    max-width: calc(var(--card-box-width) + 1rem);
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }
}
