:root {
  --bright-sky-blue: #f0f6ff;
  --gray100: #373740;
  --footer-bg-black: #111322;
  --bright-gray: #cfcfcf;
  --gray: #676767;
  --gray02: #f5f5f5;
  --gray03: #666;
  --gray20: #ccd5e3;
  --Grey-Light: #f5f5f5;
  --primary-purple-70: #8f00ff;
  --black: #000;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
  --none-card-image-back: #dddfff;
}
