*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************
* LAYOUT STYLING
********************/
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

/********************
* COMMON UI STYLES
********************/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
}
.btn:hover {
  opacity: 0.95;
}
