.folderList {
  display: flex;
  gap: 8px;
  flex-flow: wrap;
}

.folderButton {
  background-color: white;
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.folderButton:hover,
.folderButton:active,
.folderButton:focus {
  background-color: var(--primary-color);
  color: white;
}

.noLink {
  text-align: center;
  font-size: 1.2rem;
  margin: 120px 0;
  flex: 1;
}

.selectedFolderName {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.wrapper {
  margin: 1rem;
}

.folderListWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderListWrapper img {
  position: relative;
  top: 2px;
  left: 2px;
}

.addFolderButton {
  background-color: white;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  height: 35px;
  width: 127px;
}

@media (max-width: 768px) {
  .addFolderButton {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border-radius: 20px;
    padding: 8px 24px;
    z-index: 1;
  }
  .folderListWrapper img {
    filter: brightness(0) saturate(100%) invert(100%);
  }
}
