.folder-search-bar-origin {
	display: flex;
	position: relative;
	align-items: center;
	margin-bottom: 40px;
}

.folder-search-bar-origin label {
	position: absolute;
	background-image: url("/src/assets/Icons/Search.svg");
	width: 16px;
	height: 16px;
	margin-left: 16px;
}

.folder-search-bar-origin input {
	width: 100%;
	background-color: var(--LBrary-GrayLight);
	border-width: 0;
	border-radius: 10px;
	border-color: var(--LBrary-white);
	padding: 15px 41px;
}

.folder-search-bar-origin input:focus {
	outline-color: var(--LBrary-Primary-color);
}
