.FolderSection {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.FolderSection-Frame {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
