.FolderSection {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.FolderSection-Frame {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.FolderBtnList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.FolderBtn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

button {
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: #fff;
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.AddFolder {
  display: flex;
  align-items: center;
  gap: 4px;
}

.AddFolder span {
  color: #6d6afe;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

.FolderNameBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.FolderNameBar span {
  color: #000;

  /* Linkbrary/h3-semibold */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.OptionIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.OptionIcon span {
  color: var(--Linkbrary-gray60, #9fa6b2);

  /* Linkbrary/body2-semibold */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 1052px;
  list-style-type: none; /* ul 태그의 점을 없앰 */
}

.card-item {
  width: calc(33.33% - 20px);
  height: 334px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

/* 화면 너비가 1124px 미만인 경우  테블릿*/
@media (max-width: 1123px) {
  .card-list {
    width: calc(100% - 32px);
    height: 100%;
  }
  .card-item {
    width: calc(50% - 10px);
    height: 334px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  }
}

/* 화면 너비가 767px 미만인 경우  모바일*/
@media (max-width: 767px) {
  .card-list {
    width: calc(100% - 32px);
    height: 100%;
  }
  .card-item {
    width: 100%;
    height: 334px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  }
}
