footer {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	background-color: var(--LBrary-Black);
	width: 100%;
	margin: 0;
	margin-top: 60px;
	padding: 32px 104px 64px;
	height: 160px;
}

.corporate-information {
	color: #676767;
	text-align: left;
	font-family: acme;
	font-size: 1.6rem;
	font-weight: 400;
}

.footer-privacy {
	display: flex;
	gap: 30px;
	font-family: acme;
	font-size: 1.6rem;
	font-weight: 400;
}

.footer-privacy a {
	text-decoration: none;
	color: #cfcfcf;
}

.footer-social {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: flex-end;
}

/* 모바일 반응형 */

@media (max-width: 767px) {
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 20px;
		padding: 32px;
		row-gap: 60px;
	}

	footer .corporate-information {
		grid-row: 2;
	}
}
