header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--gray5-color);
  z-index: 1;
}

.nav-space {
  display: flex;
  justify-content: center;
  padding-left: 35px;
  padding-right: 35px;
}

.nav {
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 2rem;
  border-radius: 20px;
  margin-right: 0.5rem;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.headerButton {
  display: flex;
  width: 8rem;
  height: 3rem;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
