.header {
  width: 100%;
}

.gnb {
  padding: 33px 24px;
  background: var(--Linkbrary-bg, #f0f6ff);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.gnb_inner {
  display: flex;
  margin: 0 auto;
  max-width: 1040px;
  justify-content: space-between;
  align-items: center;
}

.gnb_profile {
  display: flex;
  align-items: center;
  gap: 6px;

  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gnb_login {
  display: flex;
  width: 128px;
  padding: 14px 20px;
  justify-content: center;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-light);
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.header_contents {
  display: flex;
  padding: 20px 0 60px 0;
  margin-top: 94px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.header_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.header_user_name {
  color: var(--text-color-light-mode, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.header_title {
  color: #000;

  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
