.header-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  background: var(--Linkbrary-bg);
}

.header-title {
  margin-top: 70px;
  text-align: center;

  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  color: var(--black);
}

.header-gradient {
  background: var(--Headear-Title-blue-to-pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-img {
  width: 1200px;
  height: 590px;
}

/* Tablet */

@media (max-width: 1199px) {
  .header-img {
    width: 698px;
    height: 343px;
  }

  .header-title {
    width: 767px;
    height: auto;
  }
}

/* Moblie */

@media (max-width: 767px) {
  .header-title {
    font-size: 32px;
    line-height: 42px;
  }
  .header-img {
    width: 302.792px;
    height: 178.712px;
  }
}
