.InputBar{
  width: 100%;
  margin-bottom: 40px;
}
.InputBar div{
  position: relative;
}

.InputBar input {
  position: relative;
  padding: 15px 16px 16px 42px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color:#F5F5F5 ;
  font-size: 16px;
  line-height: 24px;
}

.InputBar div::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../assets/Search.png);
  background-repeat: no-repeat;
  top: 19px;
  left: 16px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}