a {
	text-decoration-line: none;
}

.favor-star {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 34px;
	height: 34px;
}

.kebab {
	position: absolute;
	top: 215px;
	right: 20px;
	width: 21px;
	height: 17px;
}

.card-box {
	position: relative;
	width: 100%;
	height: 334px;
	max-width: 340px;
	border-radius: 15px;
	box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card-box:hover div {
	background-size: 130%;
}

.card-box:hover .card-text {
	background-color: var(--LBrary-Background);
}

.card-box div {
	border-radius: 15px 15px 0 0;
	height: 200px;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-image: url("/src/assets/Images/sampleBackgroundImg.png");
}

.card-box .no-card-img {
	background-color: #dddfff;
	background-image: url("/public/noImgLogo.svg");
	background-repeat: no-repeat;
	background-size: 133px 24px;
}

.card-box:hover .no-card-img {
	background-size: calc(133px * 1.3);
}

.card-box .card-text {
	border-radius: 0 0 15px 15px;
	display: block;
	text-align: left;
	padding: 15px 20px;
	height: 135px;
}

.card-text .card-passed-times {
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card-text .card-contents {
	margin: 10px auto;
	overflow: hidden;
	color: #000;
	text-overflow: ellipsis;
	max-height: 49px;
	/* Linkbrary/body1-regular */
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.card-text .card-edited-date {
	overflow: hidden;
	color: #333;

	text-overflow: ellipsis;
	white-space: nowrap;
	/* Linkbrary/body2-regular */
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media (max-width: 767px) {
	.card-box div {
		border-radius: 15px 15px 0 0;
		height: 192px;
	}

	.card-box {
		width: 100%;
		height: 325px;
		max-width: 327px;
	}

	.card-box .card-text {
		border-radius: 0 0 15px 15px;
		display: block;
		text-align: left;
		padding: 15px 20px;
	}
}
