.link-sub-folder-list {
	color: var(--LBrary-black);
	font-family: Pretendard;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 5px;
	border: 1px solid var(--LBrary-Primary-color);
	padding: 8px 12px;
}

.add-sub-folder {
	color: var(--LBrary-Primary-color);
	padding: 0;
	border: none;
	text-align: center;
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.3px;
}

.sub-folder-utility {
	border: none;
	color: var(--LBrary-Gray60);
	font-family: Pretendard;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
