/* main {
	background-color: var(--LBrary-White);
	margin: 0 auto;
	padding: 40px 32px;
	max-width: 1124px;
} */

.folder-card-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 25px 20px;
}

@media (max-width: 1124px) {
	.folder-card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 767px) {
	.folder-card-grid {
		grid-template-columns: 1fr;
	}
}
