.LinkAdd {
  display: flex;
  padding: 60px 320px 90px 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.LinkAddBar-Frame {
  display: flex;
  width: 95%;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
}

.LinkAddBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.LinkAddBar-Element {
  display: flex;
  align-items: center;
  gap: 12px;
}

#linkIcon {
  width: 20px;
  height: 20px;
}

#inputText {
  color: var(--Linkbrary-gray60, #9fa6b2);

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#addBtn {
  display: flex;
  width: 100px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1123px) {
  .LinkAdd {
    padding: 60px 32.5px 90px 32.5px;
  }
}

@media (max-width: 767px) {
  .LinkAdd {
    padding: 24px 32px 40px 32px;
  }
}
