.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 128px;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.user {
  display: flex;
  align-items: center;
  margin: 12px 0;
  gap: 6px;
}

.user-img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.user-email {
  color: var(--Linkbrary-gray100);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Moblie */

@media (max-width: 767px) {
  .user {
    margin: 5px 0;
  }

  .none {
    display: none;
  }
}
