.section-landing {
  background-color: var(--Linkbrary-white);
  padding-bottom: 120px;
}

.content:nth-child(1) {
  padding-top: 120px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 50px 461px;
  column-gap: 157px;
  row-gap: 10px;
}

.even-grid .content-img {
  grid-column: 2;
  grid-row: span 2;
}

.even-grid .content-title {
  grid-row: 1;
  grid-column: 1;
}

.even-grid .content-text {
  grid-column: 1;
  grid-row: 2;
}

.odd-grid .content-img {
  grid-column: 1;
  grid-row: span 2;
}

.odd-grid .content-title {
  grid-row: 1;
  grid-column: 2;
}

.odd-grid .content-text {
  grid-column: 2;
  grid-row: 2;
}

.content-title {
  align-self: end;
  width: 291px;

  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #000;
}

.content-text {
  color: #6b6b6b;

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.gradient-link {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-manage {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-share {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-search {
  background: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #f0f6ff;
}

@media (max-width: 1199px) {
  .content {
    padding: 50px 250px;
    column-gap: 51px;
  }

  .content:nth-child(1) {
    padding-top: 80px;
  }

  .content-img {
    width: 385px;
    height: 315px;
  }
}

/* Moblie */

@media (max-width: 767px) {
  .section-landing {
    width: 100%;
    padding-bottom: 40px;
  }

  .content {
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;
    padding: 40px 32px 36.091px 33px;
    column-gap: 0;
    row-gap: 20px;
  }

  .content:nth-child(1) {
    padding-top: 40px;
  }

  .even-grid .content-img,
  .odd-grid .content-img {
    grid-column: 1;
    grid-row: 2;
  }

  .even-grid .content-title,
  .odd-grid .content-title {
    grid-column: 1;
    grid-row: 1;
  }

  .even-grid .content-text,
  .odd-grid .content-text {
    grid-column: 1;
    grid-row: 3;
  }

  .content-title {
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .content-img {
    width: 100%;
    height: 100%;
  }

  .content-text {
    font-size: 15px;
  }
}
