.header_area {
  position: fixed;
  top: 0;
  text-align: center;

  padding: 18px 32px 17px;
  width: 100%;
  height: 63px;
  background: var(--bright-sky-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.header_area.relative {
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.gra_purpleblue_btn {
  display: flex;
  width: 80px;
  height: 37px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 8px;
  color: var(--Grey-Light);

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--gra-purpleblue-to-skyblue);
}

.logo_img {
  width: 88px;
  height: 16px;
}

.profile_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_background {
  width: 28px;
  height: 28px;
  background-image: url('../assets/ellipse21.svg');
  background-repeat: no-repeat;
}

.profile_img {
  margin: 9px;
  width: 10px;
  height: 10px;
}

.profile_id {
  display: none;
}

/* 768px부터 적용될 스타일 */
@media (min-width: 768px) {
  .header_area {
    height: 93px;
    padding: 33px 32.5px 32px;
  }

  .login_btn {
    width: 128px;
    height: 53px;
    font-size: 18px;
  }

  .logo_img {
    width: 133px;
    height: 24px;
  }

  .profile_area {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 158px;
    flex-direction: row;
  }

  .profile_id {
    color: var(--gray100);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: inline;
  }
}

/* 1124px부터 적용될 스타일 */
@media (min-width: 1124px) {
  .header_area {
    padding: 33px 200px 32px;
  }
}
