.search-bar {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding: 15px 16px;
  border-radius: 10px;
  background: var(--Grey-Light);
}

.search-input,
.search-input::placeholder {
  color: var(--Text);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.search-input {
  width: 100%;
  background: var(--Grey-Light);
  margin-left: 10px;
}

.search-icon {
  width: 16px;
  height: 16px;
}

@media (max-width: 1124px) {
  .search-bar {
    width: 704px;
  }
}

@media (max-width: 767px) {
  .search-bar {
    width: 325px;
  }

  .search-input {
    margin-left: 6px;
  }
}
