.close {
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    display: flex;
    padding: 15px 16px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    background: #f5f5f5;
  }

  .input {
    border: none;
    background-color: #f5f5f5;
    color: var(--Text, #666);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    flex-grow: 1;
  }
}

@media (min-width: 768px) and (max-width: 1124px) {
  .container {
    display: flex;
    padding: 15px 16px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    background: #f5f5f5;
  }

  .input {
    border: none;
    background-color: #f5f5f5;
    color: var(--Text, #666);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    flex-grow: 1;
  }
}

@media (min-width: 1125px) {
  .container {
    display: flex;
    padding: 15px 16px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    background: #f5f5f5;
  }

  .input {
    border: none;
    background-color: #f5f5f5;
    color: var(--Text, #666);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    flex-grow: 1;
  }
}
