.search-bar {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: var(--gray-light);
  @media (max-width: 784px) {
    width: 325px;
    padding: 13px 16px;
    margin-bottom: 32px;
  }

  .search-button {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    @media (max-width: 784px) {
      width: 12px;
      height: 12px;
      margin-right: 6px;
    }
  }

  .input-box {
    background-color: var(--gray-light);
    width: 100%;
    color: var(--Text, #666);
    font-size: 16px;
    line-height: 24px;
    @media (max-width: 784px) {
      font-size: 14px;
    }
  }

  .clear-button {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    @media (max-width: 784px) {
      width: 16px;
      height: 16px;
    }
  }
}
