.container {
  position: absolute;
  width: 100px;
  right: -60px;
  bottom: 50px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  background: var(--gray-light-gray-00, #fff);
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}

.nonClicked {
  display: flex;
  padding: 7px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.clicked {
  display: flex;
  padding: 7px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-gray10, #e7effb);
}
