.sort-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.sort-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;

  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color);
  background: var(----Linkbrary-white);

  color: var(--text-color-light-mode);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sort-item-focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;

  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color);
  background-color: var(--Linkbrary-primary-color);

  color: var(--Linkbrary-white);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Tablet */

@media (max-width: 1124px) {
  .sort-toolbar {
    width: 620px;
  }
}

/* Mobile */

@media (max-width: 767px) {
  .sort-toolbar {
    width: 325px;
  }

  .sort-item {
    padding: 6px 10px;
    font-size: 14px;
  }
}
