.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background-color: var(--linkbrary-white);
  border: 1px solid var(--linkbrary-stroke-light);
  border-radius: 1.5rem;
  padding: 3.2rem 4rem;
  z-index: 2;
  display: none;
}

.modal.open {
  display: block;
}

.modal-closeBtn {
  font-size: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
