@import url("reset.css");
@import url("color.css");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

html {
  font-size: 62.5%;
  font-family: Pretendard;
  min-width: 320px;
}
