@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('color.css');
@import url('reset.css');

html{
  font-size: 62.5%;
  font-family: Pretendard;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: var(--Linkbrary-bg);
}

.gnb {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--Linkbrary-bg);
}

.gnb-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 192rem;
  background-color: var(--Linkbrary-bg);
}

.wrapper {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
}

.section-wrapper {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding-top: 7rem;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 15rem;
  text-align: center;
}

.title-description {
  font-size: 6.4rem;
  font-weight: 700;
  flex-shrink: 0;
  line-height: 8rem;
  white-space: pre-wrap;
}

.pinkToBlue {
  background: var(--pinkToBlue);
}

.blueToPink {
  background: var(--blueToPink);
}

.skyToOrange {
  background: var(--skyToOrange);
}

.blueToBlack {
  background: var(--blueToBlack);
}

.pinkToSky {
  background: var(--pinkToSky);
}

.gradient {
  color: transparent;
  background-clip: text;
}

.header-img-container {
  flex-shrink: 0;
  overflow: hidden;
}

.header-img {
  border-radius: 2.5rem;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
}

.login-btn,
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.login-btn {
  width: 12.8rem;
}

.link-btn {
  width: 35rem;
}

.section {
  display: grid;
  grid-template-areas: 
    'image .'
    'image title'
    'image description'
    'image .';
  row-gap: 1rem;
  column-gap: 15.7rem;
  padding: 5rem 0;
  white-space: pre-wrap;
}

.section:nth-child(odd) {
  display: grid;
  grid-template-areas: 
    '. image'
    'title image'
    'description image'
    '. image';
  row-gap: 1rem;
  column-gap: 15.7rem;
  padding: 5rem 0;
  white-space: pre-wrap;
}

.section-title {
  grid-area: title;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.section-description {
  grid-area: description;
  color: #6B6B6B;
  font-family: Abel;
  font-size: 1.4rem;
  line-height: 150%;
}

.section-image {
  grid-area: image;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  width: 100%;
  height: 16rem;
  background-color: #111322;
  padding: 3.2rem 10.4rem 6.4rem;
  margin-top: 12rem;
  color: #676767;
  font-size: 1.6rem;
  font-family: Arial;
  line-height: normal;
}

.footer-policy {
  display: flex;
  gap: 3rem;
}

.policy-link {
  color: #CFCFCF;
}

.footer-sns {
  display: flex;
  gap: 1.2rem;
}

/* Mobile */
@media(min-width: 375px) and (max-width: 767px) {
  .gnb-wrapper {
    padding: 1.3rem 3.2rem;
  }

  .logo {
    width: 8.8rem;
  }

  .login-btn,
  .link-btn {
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
  }

  .login-btn {
    width: 8rem;
  }

  .link-btn {
    width: 20rem;
  }

  .header-title {
    gap: 2.4rem;
    padding-top: 8rem;
  }

  .title-description {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  
  .wrapper {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .section-wrapper {
    padding: 0 3.2rem 4rem;
  }

  .section,
  .section:nth-child(odd) {
    grid-template-areas: 
    'title title'
    'image image'
    'image image'
    'description description';
    row-gap: 1.6rem;
    padding: 4rem 0;
    white-space: initial;
  }

  .section-title {
    margin-bottom: 0.4rem;
    font-size: 2.4rem;
  }

  .section-description {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
  }

  footer {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 6rem;
    padding: 3.2rem 3.2rem;
  }

  .footer-policy {
    order: -2;
    font-family: Arial;
    font-size: 1.5rem;
  }

  .footer-sns {
    order: -1;
    margin-left: auto;
  }
}

/* Tablet */
@media(min-width: 768px) and (max-width: 1199px) {
  .gnb-wrapper {
    min-width: 76.8rem;
    max-width: calc(100vw - 40rem);
    padding: 2rem 3.2rem;
    margin: 0 auto;
  }
}

/* PC & Tablet */
@media(min-width: 768px) {
  img {
    max-width: none;
  }
}

/* PC */
@media(min-width: 1200px) {
  .gnb-wrapper {
    padding: 2rem 20rem;
  }
}
