@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('color.css');
@import url('reset.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: var(--Linkbrary-bg);
}

main {
  padding-bottom: 120px;
}

.gnb {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--Linkbrary-bg);
}

.gnb-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  padding: 20px 200px;
  background-color: var(--Linkbrary-bg);
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 150px 360px 0 360px;
  text-align: center;
}

.title-description {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  font-family: Pretendard;
  white-space: pre-line;
}

.section-title {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.pinkToBlue {
  background: var(--pinkToBlue);
}

.blueToPink {
  background: var(--blueToPink);
}

.skyToOrange {
  background: var(--skyToOrange);
}

.blueToBlack {
  background: var(--blueToBlack);
}

.pinkToSky {
  background: var(--pinkToSky);
}

.gradient {
  color: transparent;
  background-clip: text;
}

.header-img-container {
  overflow: hidden;
}

.header-img {
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.login-btn,
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.login-btn {
  width: 128px;
}

.link-btn {
  width: 350px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 157px;
  overflow: hidden;
}

.section-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 157px;
  padding: 50px 461px;
  overflow: hidden;
}

.section.first {
  padding: 120px 461px 50px;
}

.section.second {
  padding: 50px 461px;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: pre-line;
}

.section-description {
  color: #6B6B6B;
  font-family: Abel;
  font-size: 14px;
  line-height: 150%;
}

footer {
  width: 100%;
  padding: 32px 104px 64px;
  margin: 0 auto;
  background-color: #111322;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  color: #676767;
}

.footer-policy {
  display: flex;
  gap: 30px;
}

.policy-link {
  color: #CFCFCF;
}

.footer-sns {
  display: flex;
  gap: 12px;
}
