@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('color.css');
@import url('reset.css');

.container {
  width: 100%;
  height: 100%;
  background-color: var(--Linkbrary-bg);
  padding-top: 238px;
  padding-bottom: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

main,
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.signin {
  color: var(--black, #000);
  font-family: Pretendard;
}

.signin-link {
  color: var(--primary);
  font-family: Pretendard;
  font-weight: 600;
  line-height: normal;
}

.input-profile {
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--gray-4);
  background: var(--white);
  width: 400px;
}

.input-profile:focus {
  border: 3px solid var(--primary);
  outline: none;
}

div.input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-row {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.input-label {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  line-height: normal;
}

button.login-btn {
  display: flex;
  padding: 16px 20px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: #f5f5f5;
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border: 1px solid var(--gray-4);
}

footer {
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #E7EFFB;
  width: 400px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-sns-signup {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-main {
  color: #373740;
  font-family: Pretendard;
  font-size: 14px;
  line-height: normal;
}

.eye {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 52px;
  right: 20px;
  cursor: pointer;
}
