@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('color.css');
@import url('reset.css');

body {
  background-color: var(--Linkbrary-bg);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  width: 40rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 23.8rem;
  padding-bottom: 25.3rem;
}

main,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.signup {
  color: var(--black, #000);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.signup-link {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.input-profile {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-4);
  background: var(--white);
}

.input-profile:focus {
  border: 0.3rem solid var(--primary);
  outline: none;
}

div.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
  font-size: 1.6rem;
}

.input-row {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  width: 100%;
}

.input-label {
  color: var(--black, #000);
  font-size: 1.4rem;
  line-height: normal;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-4);
  background: var(--gra-purpleblue-to-skyblue);
  color: #f5f5f5;
  color: var(--Grey-Light, #F5F5F5);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #CCD5E3;
  background: #E7EFFB;
}

.footer-sns-login {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer-main {
  color: #373740;
  font-size: 1.4rem;
  line-height: normal;
}

.eye {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 5.2rem;
  right: 2rem;
  cursor: pointer;
}

/* Mobile */
@media(min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 40rem;
    min-width: 32rem - 6.4rem;
    width: calc(100vw - 6.4rem);
  }
}
