.modal-dim {
  background-color: #000;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.387rem;
  color: var(--gray100);
  text-align: center;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 1.5rem;
  border: 0.1rem solid var(--gray20);
  padding: 3.2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.modal-input {
  padding: 1.8rem 1.5rem;
  width: 28rem;
  border: 0.1rem solid var(--primary);
  border-radius: 0.8rem;
}

.modal-exit-button {
  color: var(--gray60);
  background-color: var(--gray10);
  border-radius: 5rem;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}
