.sign-container {
  padding: 238px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f6ff;
}
.sign-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.sign-form-logo {
  margin-bottom: 16px;
}
.sign-form-logo img {
  width: 210.583px;
}
.sign-form-signup {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sign-form-signup > a {
  color: var(--primary);
}
.sign-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sign-form-wrapper {
  margin: 30px 0;
}
.sign-form p {
  font-size: 14px;
  font-weight: 400;
}

.sign-email,
.sign-password {
  margin: 12px 0;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--gray3);
  background-color: #ffffff;
}

.sign-email {
  padding: 18px 15px;
  height: 60px;
}
.sign-password {
  display: flex;
  position: relative;
}
.sign-password input {
  border-radius: 8px;
  height: 60px;
  border: none;
  padding: 18px 15px;
  width: 100%;
}
.sign-password img {
  position: absolute;
  right: 15px;
  top: 22px;
}

.sign-email:focus,
.sign-password input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.sign-btn {
  border: none;
  border-radius: 8px;
  padding: 16px;

  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;

  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );

  cursor: pointer;
}

.sign-sns {
  margin-top: 32px;
  display: flex;
  width: 100%;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
}
.sign-sns-text {
  font-size: 14px;
}
.sign-sns-list {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
.sign-sns-list a:nth-child(1) img {
  position: absolute;
  width: 49px;
  right: 50px;
}
.sign-sns-list a:nth-child(2) img {
  width: 42px;
  height: 42px;
}

/* error message */
.sign-email-error,
.sign-password-error {
  color: var(--red);
  font-size: 14px;
  font-weight: 400;

  position: relative;
  bottom: 10px;
}

/* media query */
/* tablet */
@media (max-width: 1199px) {
  .sign-container {
    padding: 200px 0 0;
  }
}

/* mobile */
@media (max-width: 767px) {
  .sign-container {
    padding: 120px 32px 0;
  }
  .sign-wrapper {
    margin: 0 32px 0;
    width: 100%;
    height: auto;
  }
  .sign-form {
    width: 100%;
  }
}
