
.section{
    display: block;
}

.section.owner-information{
    padding : 10rem 3.2rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F6FF;
}

.section.linkcards{
    padding: 4rem 0;
}

.section.linkcards > .container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.linkcard-list{
    max-width: 106rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap : 2.5rem 2rem;
}

.container > .wrap{
    max-width: 106rem;
    width : 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap : 24px;
}

@media screen and (max-width : 1124px) {
    .container {
        padding: 0 3.2rem;
    }

    .linkcard-list {
      
        gap: 2rem 2.4rem;
        justify-content: space-between;
    }

    
}

@media screen and (max-width : 790px) {

    .container{
        gap: 3.2rem;
    } 
    .linkcard-list {
        justify-content: center;
    }
    

}

.section.linkcards{
    min-height: 64rem;
}