
.section{
    display: block;
}

.section.owner-information{
    padding-top: 10rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F6FF;
}

.section.linkcards{
    padding: 4rem 0;
}

.section.linkcards > .container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.linkcard-list{
    width: 106rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap : 2.5rem 2rem;

}

@media screen and (max-width : 1124px) {
    .container {
        padding: 0 3.2rem;
    }

    .linkcard-list {
        width: 72.4rem;
        gap: 2rem 2.4rem;
    }
    .linkcard-list > li:nth-child(n + 7){
        display: none;
    }
}

@media screen and (max-width : 790px) {

    .container{
        gap: 3.2rem;
    } 
    .linkcard-list {
        width: 34rem;
    }
    .linkcard-list > li:nth-child(n + 7){
        display: list-item;
    }

}

.section.linkcards{
    min-height: 50.8rem;
}