.CardSearchInput {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
  padding: 16px;
  width: 100%;
  position: relative;

  .input {
    color: var(--Text, #666);
    font-size: 16px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .input[type="search"]::-webkit-search-cancel-button {
    opacity: 0;
    width: 24px;
  }

  .cancelIcon {
    position: absolute;
    right: 20px;
    pointer-events: none;
  }
}
