@import url(../styles/common.css);
@import url(../styles/color.css);

/*********************
        header
*********************/

.header {
  background-color: #f0f6ff;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 0;
} 

.header-logo {
  max-width: 133px;
  min-width: 88.7px;
  width: 23vw;
}

.help-left, .help-right {
  width: 200px;
}

.help-center {
  flex-grow: 1;
  min-width: 524.28px;
}

.btn {
  color: #f5f5f5;
  font-size: clamp(14px,2vw,18px);
  font-weight: 600;
  background-image: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  border: none;
  flex-shrink: 0;
}

.header .btn {
  padding: 10px 0;
  max-width: 128px;
  min-width: 80px;
  width: 16vw;
}

/*********************
        hero
*********************/

.hero .btn {
  padding: 16px 0;
  max-width: 350px;
  min-width: 200px;
  width: 40vw;
}

.hero {
  background-color: var(--graybg);
  padding-top: 70px;
  margin-bottom: 70px;
  gap: 40px;
}

.hero-title {
  text-align: center;
  font-family: Pretendard;
  font-size: clamp(32px,7vw,64px);
  font-weight: 700;
  color: var(--black);
}

.hero-img {
  max-width: 1200px;
  min-width: 325px;
  width: 82vw;
}

.gradation-rb {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*********************
        section
*********************/

.section {
  width: 80vw;
  max-width: 1000px;
}

.section img {
  max-width: 550px;
  width: 42vw;
  grid-area: img;
}

.section-odd {
  padding: 50px 0;
  display: grid;
  grid-template: auto auto / auto auto auto;
  grid-template-areas: 
    "title gap img"
    "description gap img"; 
} 

.section-even {
  padding: 50px 0;
  display: grid;
  grid-template: auto auto / auto auto auto;
  grid-template-areas:
    "img gap title"
    "img gap description";
}

.grid-center {
  grid-area: gap;
  max-width: 157px;
  min-width: 24px;
  width: 10vw;
  height: 20px;
}

.section-title {
  grid-area: title;
  justify-content: flex-end;
}

section h2 {
  display: inline;
  color: #000000;
  font-family: Pretendard;
  font-size: clamp(24px,4vw,48px);
  font-weight: 700;
}

section p {
  font-family: Abel;
  grid-area: description;
  color: #6b6b6b;
  width: 260px;
  margin-top: 10px;
  font-size: clamp(15px,2vw,16px);
  word-break: keep-all;
  line-height: 22px; 
}

.gradation-yb {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradation-bb1 {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradation-bb2 {
  background: linear-gradient(90deg, rgba(66,220,233, 0.52) 14%, rgba(12,130,195,0.52) 73%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*********************
        footer
*********************/

footer {
  background-color: var(--black);
  padding: 32px 104px 64px;
  margin-top: 120px;
}

.footer-company {
  color: #676767;
  font-family: Acme;
  flex: 0 0 116px;
  grid-area: company;
}

.footer-link {
  font-family: Acme;
  flex-shrink: 0;
  gap: 30px;
  grid-area: link;
}

.footer-link a {
  color: #CFCFCF;
  text-decoration: none;
  cursor: pointer;
}

.footer-img {
  gap: 12px;
  flex: 0 0 116px;
  grid-area: img;
}

.footer img {
  cursor: pointer;
}

/*********************
        @media
*********************/

@media (max-width: 1199px) { 
  .help-left, .help-right {
    max-width: 200px;
    min-width: 32px;
  }
}

@media (max-width: 864px) {
  .help-left, .help-right {
    width: 32px
  }

  .help-center {
    min-width: 428.28px;
  }
}

@media (max-width: 768px) {
  .hero a {
    display: block;
  }

  .hero {
    margin-bottom: 0;
    padding-top: 28px;
  }

  .hero .btn {
    padding: 10px 0;
  }
  
  .help-center {
    min-width: 0;
    max-width: 428.28px;
  }

  .section h2 {
    display: inline;
  }

  .section {
    width: auto;
  }

  .section img {
    max-width: 1000px;
    width: 100%;
    grid-area: img;
  }

  .section-odd {
    margin: 0 32px;
    padding: 40px 0;
    grid-template: auto auto auto / auto;
    grid-template-areas:
      "title"
      "gap"
      "img"
      "description";
  }

  .section-even {
    margin: 0 32px;
    padding: 40px 0;
    grid-template: auto auto auto / auto;
    grid-template-areas:
      "title"
      "gap"
      "img"
      "description";
  }

  .section-title {
    display: block;
  }

  .section p {
    width: 100%;
    margin: 16px 0 0;
  }

  footer { 
    margin-top: 40px;
    padding: 32px;
  }
  
  footer .container {
    display: grid;
    grid-template: auto 60px auto/auto 1fr auto;
    grid-template-areas: 
      "link . img"
      ". . ."
      "company . .";
  }
}