@import "sharing/styles/global.scss";

.container {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.text {
  font-size: 1.4rem;
  font-weight: 600;
  color: $color-gray60;
}
