.addLinkModal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.addLinkModal-top {
  color: var(--linkbrary-gray100);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.addLinkModal-url {
  color: var(--linkbrary-gray60);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 2.4rem;
}
.addLinkModal-folderList {
  margin-bottom: 2.4rem;
}

.addLinkModal-folderList-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  color: var(--linkbrary-gray100);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  cursor: pointer;
}

.selectFolder {
  border-radius: 0.8rem;
  background: var(--linkbrary-bg);
}

.addLinkModal-folderList-folderName {
  margin-right: 0.8rem;
}

.addLinkModal-folderList-count {
  color: var(--linkbrary-gray60);
  font-size: 1.4rem;
  font-weight: 400;
}

.addLinkModal-folderList-checkButton {
  width: 1.4rem;
  height: 1.4rem;
  background-image: url("../../../assets/images/modal/check.svg");
  display: none;
}

.selectFolderButton {
  display: block;
}

.addLinkModal-button {
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--linkbrary-grey-Light);
  font-size: 1.6rem;
  font-weight: 600;
}
