* {
  box-sizing: border-box;
}

html {
    font-family: Pretendard, sans-serif;
    word-break: keep-all;
  }
  
body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  display: flex;
  height: 94px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 200px;
  width: 100%;
  max-width: 1920px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 94px;
  padding: 0;
  background-color: #f0f6ff;  
}

.header .login {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 16px 20px;
  width: 128px;
  font-size: 18px;
  background: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  color: #ffffff;
  
}


.logo {
  font-size: 24px;
  color: #6d6afe;
  cursor: pointer;
}

section {
  margin-top: 0;
  padding: 0 40px;
  width: 100%;
}

.intro h1{
  padding-top: 70px;
}
h1, h2{
  margin: 0;
}


.intro {
  font-size: 64px;
  text-align: center;
  min-height: 953px;
  background-color: #f0f6ff;
}



.intro .intro_color {
  background: linear-gradient(91.26deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  color: transparent;

}

.intro .intro-link {
  color: #ffffff;
  margin: 60px auto;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  width: 350px;
  font-size: 18px;
  padding: 16px 20px;
  background: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.intro img {
  width: 1290px;
  height: 590px;
  margin-bottom: -15px;
}

.content1, .content2,
.content3, .content4 {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: center;
  margin: 85px auto;
  max-width: 1920px;
  text-align: left;
}

.content1 img, .content2 img,
.content3 img, .content4 img {
  width: 550px;
  height: 450px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #6B6B6B;
}

.content1 .c1_color {
  background: linear-gradient(95.63deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  color: transparent;
}

.content2 .c2_color {  
  background: linear-gradient(277.01deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  color: transparent;
}


.content3 .c3_color {
  background: linear-gradient(99.5deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  color: transparent;
}


.content4 .c4_color {
  background: linear-gradient(271.36deg, #FE578F -9.84%, #68E8F9 107.18%);
  background-clip: text;
  color: transparent;
}

.footer {
  margin-top: 280px;
  height: 160px;
  padding: 0;
  color: #ffffff;
  background-color: #111322;  
}

.container2 {
  display: flex;
  height: 160px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px 200px;
  width: 100%;
  max-width: 1920px;
  color: #ffffff;
}

.pp-faq {
  color: #ffffff;
  display: flex;
  gap: 30px;
  text-decoration: none;
}