@import './global.css';

.bookmark-frame {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 6rem;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background: var(--Linkbrary-bg, #f0f6ff);
}
.bookmark-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.avatar {
  display: flex;
  height: 6rem;
  justify-content: center;
  align-items: center;
}
.owner-name {
  color: var(--text-color-light-mode, #000);

  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 0.8rem;
}
.folder-name {
  color: #000;
  text-align: center;

  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 767px) {
  .bookmark-frame {
    padding-bottom: 4rem;
  }
  .bookmark-owner {
    gap: 0.4rem;
  }
  .folder-name {
    font-size: 3.2rem;
  }
}
