@import 'global.css';

.card-form {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
ul {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 34rem 34rem 34rem;
  gap: 2rem;
  padding: 0rem;
  list-style-type: none;
}
li {
  width: 34rem;
  height: auto;
}
.cardListLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34rem;
  height: 33rem;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.5rem 2.5rem 0rem rgba(0, 0, 0, 0.08);
}
.cardListLink-img {
  width: 34rem;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  object-fit: cover;
}
.cardList-text {
  display: flex;
  width: 34rem;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.cardList-timestamp {
  color: #666;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cardList-descript {
  height: 4.9rem;
  align-self: stretch;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

@media (max-width: 1199px) {
  ul {
    grid-template-columns: 34rem 34rem;
  }
}
@media (max-width: 767px) {
  ul {
    grid-template-columns: 34rem;
  }
}
