@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  font-family: "Pretendard Variable";
}
nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 93px;
  max-width: 192rem;
  padding: 0 200px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

.cta-short {
  width: 12.8rem;
}

.FavoritesProfileContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FavoritesProfileImgSrc {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  margin-right: 6px;
}

.FavoritesProfileEmail {
  text-decoration: none;
  color: black;
}

.FavoritesProfile {
  height: 244px;
  background-color: #f0f6ff;
  padding: 20px 0 60px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.FavoritesProfileImg {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.FavoritesProfileName {
  width: 56px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
}

.FavoritesTitle {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

.FavoritesContents {
  padding: 15px 16px 15px 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5 25 0 #000000;
  gap: 20px;
  /* gridtemplaterows: "1fr ";
  gridtemplatecolumns: "1fr 1fr 1fr 1fr"; */
}

.FavoritesContent {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.FavoritesInputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px;
}

.FavoritesInput {
  width: 1060px;
  height: 54px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
}
.FavoritesGo {
  text-decoration: none;
  color: black;
}

.FavoritesLinkItem {
  width: 340px;
  weight: 334px;
}

.FavoritesLinkImg {
  width: 340px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.FavoritesLinkDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0 15px 15px;
}

.FavoritesDesc {
  font-size: 16px;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: #111322;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 16px;
}

.footer-links {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footer-link {
  color: #676767;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}
