* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0;
}
header {
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #f0f6ff;
  position: fixed;
  z-index: 5;
}
a {
  text-decoration: none;
}
main {
  margin-bottom: 50px;
}
#top_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 200px;
  z-index: 0;
}
.logo_img {
  width: 133px;
  height: 24px;
}
.btn {
  margin: 0;
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: white;
  width: 350px;
  cursor: pointer;
}
.login_btn {
  width: 128px;
  cursor: pointer;
}
.profile_box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.profile_img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.profile_email {
  margin: 0;
  color: #676767;
  font-size: 15px;
}
.first_page_back {
  background: #f0f6ff;
}
.link_back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 60px;
  width: 100%;
  gap: 10px;
}
.link_position {
  width: 100%;
}
.search {
  padding-top: 50px;
}
.link {
  width: 50%;
  height: 69px;
  padding: 16px 20px 16px 20px;
  border-radius: 20px;
  border: 1px solid #6d6afe;
}

.plus_btn {
  position: absolute;
  right: 26%;
  width: 80px;
  height: 38px;
  padding: 10px 16px;
  font-size: 12px;
  z-index: 0;
  cursor: pointer;
}
.search_link {
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 54px;
}
.folder_plus_btn {
  background-color: white;
  border: none;
  color: #6d6afe;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link_btn {
  width: 350px;
  margin: 0;
  margin-bottom: 40px;
  cursor: pointer;
}
.image_board_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}
.img_board_nav {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}
.nav_btn {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #b8b7ff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 3px;
  cursor: pointer;
}
.img_nav_text {
  font-size: 24px;
  font-weight: 600;
}
.nav_edit {
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #9fa6b2;
  cursor: pointer;
  margin-left: 5px;
}
.nofile {
  display: flex;
  justify-content: center;
  margin: 70px 0;
}
.pages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.page {
  display: inline-block;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 32px 104px 64px;
  background: var(--The-julge-black, #111322);
}
#codeit {
  color: #676767;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#center {
  display: flex;
  gap: 30px;
  color: #cfcfcf;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.privacy,
.faq {
  color: white;
}
#icon {
  display: flex;
  gap: 10px;
}
@media (max-width: 1199px) {
  #top_div {
    margin: 13px 32px;
  }
  .first_page {
    width: 698px;
    margin: 0 auto;
  }
  .first_page_img_back {
    width: 698px;
    height: 343px;
    padding: 29px;
  }
  .first_page_img {
    width: 650.303px;
    height: 383.114px;
    flex-shrink: 0;
  }
  .imgs {
    width: 385px;
    height: 315px;
  }
  .br {
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 767px) {
  #top_div {
    margin: 13px 32px;
  }
  .text_img {
    padding: 0 30px;
  }
  .first_page {
    width: 100%;
    padding: 0 32px;
  }
  .next_page {
    flex-direction: column;
    margin: 70px 0;
    gap: 24px;
  }
  .left {
    flex-direction: column-reverse;
  }
  .texts {
    width: 100%;
  }
  .text {
    font-size: 24px;
  }
  .first_page_img_back {
    width: 100%;
    padding: 30px;
  }
  .first_page_img {
    background-repeat: no-repeat;
    width: 100%;
    flex-shrink: 0;
  }
  .imgs {
    width: 100%;
    height: auto;
  }
  .br {
    flex-direction: column;
    gap: 0;
  }
}
