.FolderInputBox {
  width: auto;
  height: 219px;
  background-color: #f0f6ff;
  padding: 60px 0 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.FolderAddInput {
  width: 800px;
  height: 69px;
  border-radius: 15px;
  border: 1px solid #6d6afe;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
}

.FolderAddInput:focus,
.FolderSearchInput:focus {
  outline: none;
}

.FolderAddButton {
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  border: none;
  color: #fff;
  width: 80px;
  height: 37px;
  padding: 10px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1270px;
}

.FolderContentBox {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto;
  padding: 15px 16px;
}

.FolderSearchInput {
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 1060px;
  height: 54px;
  border: none;
  padding: 0 16px;
}

.FolderNoCards {
  text-align: center;
  justify-content: center;
  font-size: 16px;
  height: 100px;
  padding: 50px 0;
}

.FolderList {
  display: flex;
  margin-top: 50px;
  margin-bottom: 24px;
  gap: 7px;
}

.FolderListButton {
  padding: 8px 12px;
  border: 1px solid #6d6afe;
  border-radius: 5px;
  background-color: #fff;
}

.FolderAddSmallButton {
  background-color: #fff;
  border: none;
  margin-left: auto;
  font-size: 16px;
  font-weight: 500;
  color: #6d6afe;
  cursor: pointer;
}

.FolderAddButton:hover {
  cursor: pointer;
}

.FolderListButton:hover {
  cursor: pointer;
}

.FolderListButton.selected {
  background-color: #6d6afe;
  color: #fff;
}

.FolderContents {
  padding: 15px 16px 15px 16px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.FolderContent {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.FolderUsefulTitle {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

.FolderGo {
  text-decoration: none;
  color: black;
}

.FolderLinkItem {
  width: 340px;
  weight: 334px;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

.FolderLinkImg {
  width: 340px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  /* transition: background-size 0.3s ease-in-out; */
}

.FolderLinkDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px 15px 20px;
}

.FolderDesc {
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 표시할 줄의 최대 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.FolderSubLine {
  display: flex;
  justify-content: space-between;
}

.FolderIcons {
  display: flex;
}

.FolderIcon {
  width: 18px;
  height: 18px;
  color: #9fa6b2;
  margin: 0 3px;
  cursor: pointer;
}

.FolderIconName {
  color: #9fa6b2;
  font-size: 14px;
  margin: 0 3px;
  cursor: pointer;
}

.FolderTimeDiff {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
}

.FolderLinkDate {
  color: #333333;
  font-size: 14px;
}
