.content {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 1060px;
}

.addFolderBtn {
  color: var(--primary);
  font-size: 16px;
  border: none;
  background-color: var(--white);
  padding: 0;
  cursor: pointer;
}

.addFolderBtn img {
  margin-left: 4px;
}

.linkControlBtn {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 24px;
}

.folderName {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.2px;
}

/* tablet-size */
@media (max-width: 1199px) {
  .container {
    padding: 0;
    width: 704px;
  }

  .addFolderBtn {
    width: 80px;
  }

  .folderList {
    display: flex;
    gap: 12px 0;
    flex-wrap: wrap;
  }

  .linkControlBtn {
    width: 704px;
  }

}

/* mobile-size */
@media (max-width: 767px) {
  .content {
    display: block;
  }

  .container {
    padding: 0 32px;
    margin-top: 32px;
    width: 100%;
  }

  .folderList {
    display: flex;
    gap: 12px 0;
    flex-wrap: wrap;
  }

  .addFolderBtn {
    display: none;
  }

  .linkControlBtn {
    flex-direction: column;
    gap: 12px;
    margin-top: 28px;
  }

}