@import "palette.css";

.content {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 1060px;
}

.addFolderBtn {
  color: var(--primary);
  font-size: 16px;
  border: none;
  background-color: var(--white);
  padding: 0;
  cursor: pointer;
}

.addFolderBtn img {
  margin-left: 4px;
}

.linkControlBtn {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 24px;
}

.folderName {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
