.footer_wrapper {
  background-color: var(--footer-bg-color);
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  font-size: 1.6rem;
  font-family: Arial;
  font-weight: 400;
}

.footer_inside_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  color: #676767;
}

.footer_detail_wrapper {
  display: flex;
  gap: 3rem;
  color: #fff;
}

.footer_policy {
  text-transform: capitalize;
}

.footer_faq {
  text-transform: uppercase;
}

@media (max-width: 767.5px) {
  .footer_wrapper {
    padding: 3.2rem 3.2rem 3.2rem 3.2rem;
  }

  .footer_inside_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 6rem;
  }

  .footer_detail_wrapper {
    grid-row: 1 / 2;
  }

  .footer_copyright {
    grid-row: 2 /3;
  }
}
