.footer-inner {
  background: var(--black);
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  justify-content: space-between;
  flex-shrink: 0;
}

.company-info {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
}

.QnA-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.QnA-links a{
  color: #CFCFCF;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.sns-links img {
  margin-left: 8px;
}