/* 전체적 */
html, body {
  font-size: 62.5%;
}
a:visited { 
  text-decoration: none; 
}
button{
	border:none;
}
/* 헤더 */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #F0F6FF;
}
/* 메인 */

/* 푸터 */
footer{
  height: 280px;
  padding-top: 120px;
}

/* 테블릿 */
@media (min-width:768px) and (max-width:1199px){
}

/* 모바일 */
@media (min-width:375px) and (max-width:767px){
}