header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    padding: 30px 200px;

    background-color: var(--color-background);
}

body {
    background-color: var(--color-background);
}

main {
    margin: auto;
    padding: 72px 172px;

    background-color: var(--color-white);
}

footer {
    background-color: var(--color-black);

    padding: 24px 104px 98px 104px;

    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #CFCFCF;
}

.container_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 108px;

    gap: 24px;

    background-color: var(--color-background);
}

.txt_title {
    text-align: center;
    line-height: 80px;

    font-size: 64px;
    font-weight: 700;
}

.txt_title_gradient {
    background: #6D6AFE;
    background: linear-gradient(to right, #6D6AFE 0%, #FF9F9F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add_link {
    width: 20%;
}

.container_contents {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.card_contents {
    display: grid;
    justify-content: space-evenly;
    gap: 16px;
}

.card_contents:nth-of-type(even) {
    grid-template-areas:
      "image ."
      "image title"
      "image description"
      "image .";
    @media (min-width: 375px) and (max-width: 767px) {
        grid-template-areas:
    "title"
    "image"
    "description";
    }
}

.card_contents:nth-of-type(odd) {
    grid-template-areas:
      ". image"
      "title image"
      "description image"
      ". image";
    @media (min-width: 375px) and (max-width: 767px) {
        grid-template-areas:
    "title"
    "image"
    "description";
    }
}

.txt_contents_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

    grid-area: title;
}

.txt_gradient_pinktoblue {
    background: #FE8A8A;
    background: linear-gradient(to right, #FE8A8A 0%, #A4CEFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt_gradient_yellowtoblue {
    background: #FFD88B;
    background: linear-gradient(to right, #FFD88B 0%, #6FBAFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt_gradient_purpletoblue {
    background: #6D7CCD;
    background: linear-gradient(to right, #6D7CCD 0%, #528885 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt_gradient_bluetopink {
    background: #68E8F9;
    background: linear-gradient(to right, #68E8F9 0%, #FE578F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt_contents_contents {
    margin-top: 10px;

    font-family: Abel;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #6B6B6B;

    grid-area: description;
}

.img_landing {
    width: 550px;
    height: 450px;
    border-radius: 15px;

    grid-area: image;
}

.txt_copyright {
    color: #676767;
}

.txt_CS {
    color: #CFCFCF;

    display: flex;
    gap: 24px;
}

.icons_footer {
    display: flex;
    gap: 10px;
}

/*태블릿 사이즈*/
@media (min-width: 768px) and (max-width: 1199px) {
    header {
        padding: 30px 32px;
    }

    main {
        padding: 72px 5%;
    }

    .add_link {
        width: 30%;
    }

    .span_br {
        display: block;
    }

    .img_main_banner {
        width: 698px;
        height: 343px;
    }

    .img_landing {
        width: 385px;
        height: 315px;
    }
}

/*모바일 사이즈*/
@media (min-width: 375px) and (max-width: 767px) {
    header {
        padding: 30px 32px;
    }

    main {
        padding: 72px 32px;
    }

    footer {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        padding: 32px;
    }

    br {
        display: none;
    }

    .span_br {
        display: block;
    }

    .txt_title {
        font-size: 32px;
        line-height: 42px;
    }

    .add_link {
        width: 38%;
    }

    .img_main_banner {
        width: 100%;
        height: auto;
    }

    .txt_contents_title {
        font-size: 24px;
        line-height: 30px;
    }

    .img_landing {
        order: 1;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .txt_copyright {
        grid-row: 2;
        margin-top: 24px;
    }

    .icons_footer {
        justify-content: flex-end;
    }
}