/* 사용할 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&display=swap');

/* 색상 팔레트 */
@import "palette.css";

* {
  font-family: "Pretendard", 'Abel', 'Acme', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
