@import "reset.css";
@import "global.css";

/* 헤더 */
header {
    padding: 20px 200px;
    background-color: var(--Linkbrary-bg);

    /* 상단 고정 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

/* 로고 */
.gnb_logo {
    width: 133px;
    height: 24px;
    background-image: url("../images/logo.svg");
}

/* 로그인버튼 */
.gnb_login {
    display: flex;
    width: 128px;
    padding: 16px 20px;
    justify-content: center;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
    color: var(--Grey-Light);
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}
/* 헤더 끝 */

/* 메인 시작 */
.main_contents {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
    padding-top: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: var(--Linkbrary-bg);
    /* background-image: url("../images/img.png");
    background-position: center bottom;
    background-repeat: no-repeat; 
    background-size: 80vw; */
}

.main_title {
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

/* 반응형 br */
.responsive_br {
    display: none;
}

/* 그라데이션 글자 */
/*세상의 모든 정보*/
.slogan_world {
    background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
}

/* 원하는 */
.slogan_want {
    background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}

/* 링크 */
.slogan_link {
    background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}

/* 관리 */
.slogan_management {
    background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}

/* 공유 */
.slogan_share {
    background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}

/* 검색 */
.slogan_search {
    background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}

.gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add_link {
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
    color: var(--Grey-Light);
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}

/* 가상요소 시도중 */
/* .main_contents::after {
    content: "";
    width: 1118px;
    height: 659px;
    background-image: url("../images/img.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-size: contain;
    background-repeat: no-repeat;
} */

.main_img {
    width: 1118px;
    flex-shrink: 0;
}

.contents {
    display: flex;
    padding: 50px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

main section:nth-child(2) {
    padding-top: 0;
}

.container {
    display: grid;
    max-width: 970px;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
}

.contents_title {
    grid-row: 1/2;
    margin: auto;
    margin-bottom: 10px;
    color: var(--black);
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.contents_description {
    grid-row: 2/3;
    align-self: stretch;
    color: var(--Dove-Gray-light);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5; /* 24px */
}

.image_size {
    grid-row: 1/3;
    width: 550px;
    height: 450px;
}
/* 메인 끝 */

/* 푸터 시작 */
footer {
    height: 280px;
    padding-top: 120px;
}

.footer {
    display: flex;
    height: 160px;
    padding: 32px 104px 64px 104px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--The-julge-black);
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.codeIt {
    color: var(--Dove-Gray);
    text-align: center;
    font-family: Acme;
    font-size: 1.6rem;
    font-weight: 400;
}

.privacy {
    display: flex;
    width: 181.111px;
    align-items: flex-start;
    gap: 30px;
}

.privacy a {
    color: var(--Alto);
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration-line: none;
}

.external_link {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.icon {
    width: 20px;
    height: 20px;
}

.facebook {
    background-image: url("../images/icon_facebook.svg");
}

.twitter {
    background-image: url("../images/icon_twitter.svg");
}

.youtube {
    background-image: url("../images/icon_youtube.svg");
}

.instagram {
    background-image: url("../images/icon_instagram.svg");
}
/* 푸터 끝 */

/* 테블릿 */
@media (max-width: 1199px) {
    header {
        margin: 0 auto;
        padding: 20px 32px;
        max-width: 846px;
    }

    .main_title {
        width: 650px;
    }

    .responsive_br {
        display: inline;
    }

    /* .main_contents::after {
        width: 650.303px;
        height: 383.114px;
    } */

    .main_img {
        width: 650.303px;
    }

    .main_contents {
        margin-bottom: 80px;
    }

    .image_size {
        width: 385px;
        height: 315px;
    }

    .container {
        max-width: 700px;
        column-gap: 51px;
    }
}

/* 모바일 */
@media (max-width: 767px) {
    header {
        padding: 13px 32px;
    }

    .gnb_logo {
        width: 88.667px;
        height: 16px;
        background-size: cover;
    }

    .gnb_login {
        width: 80px;
        padding: 10px 16px;
        font-size: 1.4rem;
    }

    .main_contents {
        padding: 91px 32px 0 32px;
        margin-bottom: 40px;
    }

    .main_title {
        width: 100%;
        font-size: 3.2rem;
        line-height: 1.31;
    }

    .add_link {
        width: 200px;
        padding: 10px 20px;
        font-size: 1.4rem;
    }

    /* .main_contents::after {
        width: 100%;
    } */

    .main_img {
        width: 100%;
        height: auto;
    }

    .contents {
        width: 100%;
        margin: 0 auto;
        padding: 40px 32px 42px 32px;
        gap: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .contents_title {
        margin-bottom: 20px;
        font-size: 2.4rem;
        order: 1;
    }

    .contents_description {
        margin: 10px 0 0 0;
        font-size: 1.5rem;
        order: 3;
    }

    .image_size {
        width: 100%;
        height: auto;
        order: 2;
    }

    footer {
        padding-top: 40px;
        height: auto;
    }

    .footer {
        padding: 32px;
    }

    .footer_container {
        display: grid;
        column-gap: auto;
        row-gap: 60px;
    }

    .codeIt {
        grid-row: 2/3;
        text-align: left;
    }

    .privacy {
        grid-row: 1/2;
    }

    .external_link {
        grid-row: 1/2;
    }
}
