@import 'palette.css';

.content {
  display: grid;
  justify-content: center;
  gap: 40px;
  margin: 40px 190px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, minmax(262px, 340px));
  gap: 25px;
}

.items a {
  text-decoration: none;
}

/* tablet-size */
@media (max-width: 1199px) {
  .content {
    padding: 40px 32px;
  }

  .content input {
    width: 704px;
  }

  .items {
    grid-template-columns: repeat(2, minmax(262px, 340px));
  }
}

/* mobile-size */
@media (max-width: 767px) {
  .content {
    padding: 20px 32px;
    gap: 32px;
  }

  .content input {
    width: 325px;
    padding: 12px 8px;
  }

  .items {
    grid-template-columns: minmax(262px, 325px);
  }
}