@import 'palette.css';

.content {
  display: grid;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.content input {
  color: #666;
  background-color: #F5F5F5;
  width: 1060px;
  padding: 15px 10px;
  border: none;
  border-radius: 8px;
}

/* tablet-size */
@media (max-width: 1199px) {
  .content {
    padding: 40px 32px;
  }

  .content input {
    width: 704px;
  }
}

/* mobile-size */
@media (max-width: 767px) {
  .content {
    padding: 20px 32px;
    gap: 32px;
  }

  .content input {
    width: 325px;
    padding: 12px 8px;
  }
}