body {
    background-color: var(--color-background);
}

form {
    display: flex;
    flex-direction: column;

    gap: 24px;

    width: 100%;
}

label {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

input {
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--color-gray3);
}

a {
    color: var(--color-primary);
}

#password {
    padding-right: 3rem;
}

.container_login {
    width: 400px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;

    position: absolute;
    inset: 0;
}

.btn_login {
    width: 100%;
}

.txt_login {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.input {
    display: flex;
    flex-direction: column;

    gap: 10px;

    position: relative;
}

.icon_view_password {
    display: flex;
}

.btn_eye {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 1.6rem;
    height: 1.6rem;

    background: none;
    border: none;
}

button.btn_eye.large_bottom {
    bottom: 2.4rem;
}

.container_social {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    padding: 12px 24px;

    background-color: var(--color-gray2);
    border: 1px solid var(--color-gray3);
    border-radius: 8px;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.icons_social {
    display: flex;
    gap: 16px;
}

.error_box {
    border: 1px solid var(--color-red);
}

.error_message {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-red);
}

/*모바일 사이즈*/
@media (max-width: 767px) {
    .container_login {
        padding: 32px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }
}