@media (min-width: 375px) and (max-width: 767px) {
  .gridframe {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px 20px;
  }
  .mainframe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 340px;
  }
  .listFrame {
    display: inline-block;
    width: 340px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1123px) {
  .gridframe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 20px;
  }
  .mainframe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 700px;
  }
  .listFrame {
    display: inline-block;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
}
@media (min-width: 1124px) {
  .gridframe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 20px;
  }
  .mainframe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .listFrame {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1060px;
    gap: 24px;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: #ffffff;
  gap: 20px;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;
}
#searchtopic {
  display: flex;
  width: 1060px;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  border: none;
  background: #f5f5f5;
  padding: 15px 40px;
}
#searchtopic ::placeholder {
  color: var(--Text, #666);
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
}
#searchIcon {
  position: absolute;
  left: 16px;
  width: 16px;
  height: 16px;
}
#closeIcon {
  position: absolute;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.nullContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
