@import "./global.css";
form {
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1.6rem;
  margin-top: 4rem;
  background-color: var(--background);
  border: none;
  border-radius: 1rem;
  background-image: url("../image/Search.png");
  background-size: 1.6rem;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 4.5rem;
  background-position: 1.5rem;
}
@media (min-width: 375px) {
  .search {
    width: 34rem;
  }
}

@media (min-width: 768px) {
  .search {
    width: 70rem;
  }
}

@media (min-width: 1128px) {
  .search {
    width: 106rem;
  }
}
