@import "reset.css";
@import "global.css";

body {
    margin: 0;
    padding: 0 32px 0 32px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--Linkbrary-bg);
}

main {
    width: 100%;
    max-width: 400px;
    margin: 120px auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

/* 타이틀 */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo {
    width: 210.583px;
    height: 38px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sub_title {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.join_link {
    color: var(--Linkbrary-primary-color);
    font-weight: 600;
}

/* 로그인 */
.login,
.signup {
    width: 100%;
}

.login form,
.signup form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.email,
.password,
.re_password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 12px; */
}

.email label,
.password label,
.re_password {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    /* 레이아웃 */
    display: flex;
    width: 100%;
    margin: 12px 0 6px 0;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;

    /* 스타일 */
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
    background: var(--Linkbrary-white, #fff);
}

input:focus {
    outline-color: var(--Linkbrary-primary-color, #6d6afe);
}

.password_input,
.re_password_input {
    width: 100%;
    position: relative;
}

.error-message {
    display: none;
    font-size: 1.4rem;
    color: var(--Linkbrary-red);
}

.eye_button {
    position: absolute;
    top: 45%;
    right: 15px;
    width: 16px;
    height: 16px;
    background-image: url("../images/eye-off.svg");
    border: none;
    cursor: pointer;
}

/* 버튼 */
/* .button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
} */

.login_button,
.signup_button {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
    color: var(--Grey-Light);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

/* 소셜 로그인 */
.social-login {
    /* 레이아웃 */
    display: flex;
    width: 100%;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
    background: var(--Linkbrary-gray10, #e7effb);

    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.icon {
    width: 42px;
    height: 42px;
}

.google {
    background-image: url(../images/icon_google.png);
}

.kakao {
    background-image: url(../images/icon_kakao.png);
}
