:root {
    --color-primary: #6d6afe;
    --color-background: #f1f6fe;
    --color-red: #ff5b56;
    --color-black: #111322;
    --color-white: #ffffff;
    --color-gray5: #3e3e43;
    --color-gray4: #9fa6b2;
    --color-gray3: #ccd5e3;
    --color-gray2: #e7effb;
    --color-gray1: #f0f6ff;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 200px;

    background-color: var(--color-background);
}

button {
    cursor: pointer;
}

.btn_gradient {
    padding: 16px 32px;

    background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
    border-radius: 8px;
    border: none;
    color: white;
}

.container_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;

    background-color: var(--color-background);
}

.txt_title {
    text-align: center;
    line-height: 80px;

    font-size: 64px;
    font-weight: 700;
}

.txt_title_gradient {
    background: #6D6AFE;
    background: linear-gradient(to right, #6D6AFE 0%, #FF9F9F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add_link {
    width: 15%;
}