#sectionShared {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  background: var(--Linkbrary-bg, #f0f6ff);
}

#sectionShared .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 60px;
  gap: 20px;
  width: 188px;
  height: 164px;
}

#sectionShared .titleContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#sectionShared .titleContent p {
  color: var(--text-color-light-mode, #000);

  /* Linkbrary/body1-regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#sectionShared .titleLogo {
  display: flex;
  height: 60px;
  padding: 16px 17px 16px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 47px;
  background: var(--primary-purple-70, #8f00ff);
}

#sectionShared .bookmark {
  width: 188px;
  height: 48px;
  color: #000;
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* Linkbrary/h1-semibold */
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#sectionFolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: var(--Linkbrary-bg, #f0f6ff);
}

#linkAddBar {
  margin: 60px auto 90px auto;
  display: flex;
  width: 800px;
  height: 69px;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
}

#linkAddBarText {
  display: flex;
  gap: 12px;
}

#linkAddBarText img {
  width: 20px;
  height: 20px;
}

#linkAddBarText p {
  color: var(--Linkbrary-gray60, #9fa6b2);

  /* Linkbrary/body1-regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#linkAddButton {
  display: flex;
  width: 80px;
  height: 37px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  font-size: 14px;
  color: var(--Grey-Light, #f5f5f5);
  text-wrap: nowrap;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
}
