* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}
body {
  background-color: var(--background);
  display: flex;
  width: 100%;
  padding: 7.5rem 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
.sign {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.875rem;
  width: 25rem;
}
.sign-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
a {
  font-size: 1rem;
  color: var(--primary);
}
#logo {
  height: 2.375rem;
}
.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.sign-form label {
  text-align: left;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}
.sign-form input {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--gray20);
  background: var(--white);
  font-size: 1rem;
  padding: 1.125rem 0.9375rem;
  margin-bottom: 1.5rem;
}
input:focus {
  outline: none;
  border-color: var(--primary);
}
.sign-form button {
  padding: 1rem 1.25rem;
  color: var(--Grey-Light);
  border: none;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sign-another {
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--gray20);
  background: var(--gray10);
}
.sign-another p {
  margin: 0;
  font-size: 0.875rem;
  color: var(--gray100);
  word-break: keep-all;
}
.social-login {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.social-login img {
  width: 2.625rem;
}

/* Mobile 375~767*/
@media (min-width: 375px) and (max-width: 767px) {
  body {
    padding: 7.5rem 32px;
  }
  .sign {
    width: 100%;
    max-width: 400px;
  }
}
