@import url('./font.css');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
html {
    font-size: 10px;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
textarea {
    resize: none;
}
main {
    padding: 40px 32px;
}
main .container {
    max-width: 1060px;
    margin: 0 auto;
}
/* 모바일 반응형 */
@media screen and (max-width: 768px) {
    main {
        padding: 20px 32px;
    }
}