@import url(/src/common/color.css);

.FolderCurrentInformation {
  display: flex;
  justify-content: center;
  margin: 24px auto;
}

.FolderCurrentInformation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;

  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
}

.FolderCurrentInformation .icon_container {
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--Gray2);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
}

.FolderCurrentInformation .icon_each_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.FolderCurrentInformation .icon {
  width: 18px;
  height: 18px;
}

/* tablet */
@media (max-width: 1199px) {
  .FolderCurrentInformation .container {
    width: 704px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .FolderCurrentInformation {
    margin-top: 28px;
    margin-bottom: 20px;
  }

  .FolderCurrentInformation .container {
    width: 325px;
  }
}
