
:root{
  --Linkbrary-bg: #F0F6FF
}

*{
  box-sizing: border-box;
}

body{
  max-width:1440px;
  max-height: 982px;
  margin:0 auto;
  background-color: var(--Linkbrary-bg);
}

.content{
  padding-top: 238px;
  padding-bottom: 252px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap:20px;
  margin-top: 30px;
}

.email{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.password{
  display: flex;
  flex-direction: column;
  gap:10px;
}


input{
  width: 400px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}

.pass_input{
  position: relative;
}

.eye{
  position: absolute;
  right: 10px;
  top:18px;
}

input:focus{
  outline: none;
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
}

footer{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 400px;
  padding: 16px 20px;
  margin-top:32px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color:#fff
}

footer:hover{
  cursor: pointer;
}

.social_login{
  margin-top: 30px;
  width: 400px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  border-radius: 8px;
border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
background: var(--Linkbrary-gray10, #E7EFFB);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.icon{
  display: flex;
  align-items: center;
  gap:20px;
}