.navbar-logo-link,
.navbar-login-button {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

.navbar-login-button {
  width: 8rem;
  padding: 1rem 1.25rem;
  border: none;
  font-size: 1.125rem;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  cursor: pointer;
}

.navbar {
  width: 100%;
  background-color: var(--Linkbrary-bg);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1.25rem 0;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 12.5rem;
  list-style: none;
}

.navbar {
  padding-left: 32px;
  padding-right: 32px;
}

.navbar-list {
  margin: 0;
}

.navbar-userprofile-img {
  width: 28px;
  height: 28px;
  margin-right: 6px;
  border-radius: 50%;
}

.navbar-profile {
  display: flex;
  align-items: center;
}
.navbar-userprofile-email {
  margin-left: 6px;
}

@media (max-width: 767px) {
  .navbar {
    padding-left: 32px;
    padding-right: 32px;
  }

  .navbar-list {
    margin: 0;
  }

  .navbar-userprofile-email {
    display: none;
  }
}
