.footerShared {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px 64px 104px;
  margin-top: 120px;
  background: var(--The-julge-black, #111322);
}

.footerShared .footerDate {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerShared .footerLink {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #cfcfcf;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerShared .footerLink a {
  text-decoration: none;
  color: #cfcfcf;
}

.footerShared .footerLogo {
  display: flex;
  gap: 12px;
}
