/*********************
        Footer
*********************/

.Footer-company {
  color: #676767;
  font-family: Acme;
  grid-area: company;
}

.Footer-link {
  color: #676767;
  font-family: Acme;
  grid-area: link;
  gap: 30px;
}

.Footer-link span {
  color: #cfcfcf;
  text-decoration: none;
  cursor: pointer;
}

.Footer-imgs {
  gap: 12px;
  grid-area: img;
}

.Footer-imgs img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Footer {
  background-color: var(--black);
  padding: 32px;
}

.Footer .container {
  display: grid;
  grid-template: auto 60px auto/auto 1fr auto;
  grid-template-areas:
    "link . img"
    ". . ."
    "company . .";
}

/*********************
        @media
*********************/

@media (min-width: 768px) {
  .Footer {
    padding: 32px 104px 64px;
  }

  .Footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Footer-company {
    flex: 0 0 116px;
  }

  .Footer-link {
    flex-shrink: 0;
  }

  .Footer-imgs {
    flex: 0 0 116px;
  }
}
