.Footer {
  box-sizing: border-box;
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  align-items: center;
  background: #111322;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
}

.copyright {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footerLink {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
}

.footerLink > p {
  color: #676767;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.sns {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
