.layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10rem;
  padding: 2rem 6.5rem;
  background: #000;
}

.copyright {
  flex: 0.4;
  font-size: 1rem;
  font-weight: 400;
  color: #676767;
}

.linkBox {
  display: flex;
  flex: 0.6;
  justify-content: space-between;
}

.linkNav {
  display: flex;
  gap: 2.25rem;
  align-items: flex-start;
}

.siteLink {
  font-size: 1rem;
  font-weight: 400;
  color: #cfcfcf;
  text-decoration-line: none;
}

.snsNav {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;

  display: flex;
  justify-content: space-between;
}

.snsImage {
  width: 1.5rem;
}

@media screen and (width < 768px) {
  .layout {
    flex-direction: column;
    padding: 2rem;
  }
  .copyright {
    order: 2;
    margin-right: auto;
  }
  .linkBox {
    order: 1;
    width: 100%;
    margin: 0 6.5rem;
  }
  .navBox {
    display: flex;
    justify-content: space-between;
  }
}
