.footer {
  margin-top: 4rem;
  padding: 3.2rem 3.2rem 6.4rem;
  height: 16rem;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
}

.copyright {
  color: #676767;
  position: absolute;
  bottom: 3.2rem;
}

.official-link {
  color: #cfcfcf;
  gap: 3rem;
}

.social-link {
  gap: 1.2rem;
}

.social-link-icon {
  width: 2rem;
  height: 2rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .footer {
    margin-top: 6rem;
    padding: 3.2rem 10.4rem 6.4rem;
  }

  .copyright {
    position: static;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
