.container {
  /* margin-top: 9em; */
  background-color: var(--Linkbrary-bg);
}

.container {
  padding: 60px 0;
}

.addLinkAreaWrapper {
  max-width: 832px;
  margin: 0 auto;
  padding: 0 32px;
}

.addLinkArea {
  background-color: white;
  border: 1px solid #6d6afe;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.addLinkInput {
  width: 80%;
}

.btn {
  margin-left: auto;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 14px;
  color: white;
  /* var로 하면 안먹음  */
  /* background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%); */
  background: var(--Gra-Purpleblue-To-Skyblue);
  border-radius: 10px;

  flex-shrink: 0;
}
