@import '../common/common.css';


.gnb {
  background-color: var(--background);
  position: fixed;
  top : 0;
  left : 0;
  right : 0;
  height : 5.8125rem;
  padding : 2.0625rem 12.5rem 2rem 12.5rem;
}

nav{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap : 0.5rem;
}

.main-logo {
  width : 8.3125rem;
  height : 1.5rem;
}