@import "../common/common.css";

.user-profile {
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
  gap : 0.375rem;
}

.user-profile-img {
  width : 1.75rem;
  height : 1.75rem;
}

.user-email {
  font-size: 0.875rem;
  line-height: 1.044375rem;
  color : #373740;
}