* {
  box-sizing: border-box;
}

.header {
  background-color: var(--color-gray-100);
}

.gnb {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 192em;
  margin: 0 auto;
  padding: 2em 20em;
}

.gnb .logo {
  padding: 1.5em 0;
  flex: 1;
}

.gnb .log-in-btn {
  width: 12.8rem;
}

.content-box1 {
  background-color: var(--color-gray-100);
  text-align: center;
  padding: 7em 36em 0;
}

.content-box1 .main-text {
  font-size: 6.4em;
  font-weight: 700;
  line-height: 1.2;
}


.content-box1 .main-text span {
  background-image: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.content-box1 .add-link-btn {

  width: 350px;
  margin: 40px auto;
  overflow: hidden;
}

.btn a {
  display: block;
  width: 100%;
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  padding: 1.6rem 2rem;
  border-radius: 0.8em;
  background: linear-gradient(to right, var(--color-primary), #6AE3FE);
}


.content-box1 .content-img-area {
  margin: 0 auto;
}

.content-box1 .content-img-area img{
  max-width: 120em;
  width: 100%;
}


.contents-wrap {
  width: 100%;
  
}
.contents-wrap .content-inner {
  margin: 0 auto;
  max-width: 100em;
}

.contents-wrap .content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 157px;
  padding: 5em 46.1em;
}
.contents-wrap .content-box.item1{
  padding-top: 12em;  
}
.contents-wrap .content-box.item2,
.contents-wrap .content-box.item4 {
  flex-direction: row-reverse;
}

.contents-wrap .content-box .content-text-area .subtitle{
  width: 291px;
  font-size: 4.8em;
  font-weight: 700;
  line-height: 1.2;
}

.contents-wrap .item1 .content-text-area .subtitle > span {
  background-image: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contents-wrap .item2 .content-text-area .subtitle > span {
  background-image: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contents-wrap .item3 .content-text-area .subtitle > span {
  background-image: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contents-wrap .item4 .content-text-area .subtitle > span {
  background-image: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contents-wrap .content-text-area .text {
  margin-top: 1rem;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5;
}

/* footer */

.footer {
  padding-top: 12em;
}

.footer-menu{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.2em 10.4em 6.4em ;
  background-color: #111322;
  font-family: 'Acme', sans-serif;
}
.footer-menu .copyright{
  color: var(--color-white);
  color: #676767;
}
.footer-menu .support {
  display: flex;
  gap: 30px;
}
.footer-menu .social{
  display: flex;
  gap: 1.2em;
}

