.Footer {
  background-color: #111322;
  color: #cfcfcf;
  display: flex;
  padding: 32px 0 64px;
  justify-content: space-around;
}

.Footer a,
.Footer a:visited {
  color: #cfcfcf;
}

.Footer img {
  width: 18px;
  height: 18px;
}
