.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  margin-top: 4rem;
  background-color: var(--black);

  @media (min-width: 768px) {
    margin-top: 6rem;
  }
}

.footer .wrap {
  display: grid;
  justify-content: space-between;
  grid-template:
    "policy-and-fap sns"
    ". ." 1fr
    "address .";
  width: 100%;
  padding: 3.2rem;
  color: var(--gray100);
  font-size: 1.6rem;
  font-family: Arial;

  @media (min-width: 768px) {
    grid-template: "address policy-and-fap sns";
    height: fit-content;
    max-width: 192rem;
    padding: 3.2rem 10.4rem 0;
  }
}

.footer .address {
  grid-area: address;
  color: var(--gray80);
  font-family: Arial;
  font-size: 1.6rem;
}

.footer .policy-and-faq {
  grid-area: policy-and-fap;
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer .sns {
  grid-area: sns;
  display: flex;
  column-gap: 1.2rem;
}
