@import url("/src/common/color.css");

.Footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--Black);
  margin-top: 120px;
  padding: 32px 104px 64px;
  height: 160px;
}

.Footer .copyright {
  font-family: "Acme", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #676767;
}

.Footer .policy {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.Footer .policy > a {
  text-decoration: none;
  font-family: "Acme", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #676767;
}

.Footer .sns {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

/* mobile */
@media (max-width: 767px) {
  .Footer {
    margin-top: 40px;
    padding: 32px 32px 64px;
  }

  .Footer .copyright {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }

  .Footer .policy {
    margin-bottom: 60px;
  }
}
