/* component - footer */
.footer {
  background-color: var(--The-julge-black);
  color: #676767;
  height: 160px;
  padding: 32px 0px 64px;
  font-size: 1.6rem;
}

.footer-container {
  /* padding: 0 104px; */
  padding: 0 200px;
  display: flex;
}

.footer .codeit {
  flex-shrink: 0;
  flex-grow: 1;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.links {
  flex-shrink: 0;
  display: flex;
  gap: 30px;
  color: #cfcfcf;
}

.socials {
  display: flex;
  gap: 12px;
}

.social {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}

.facebook {
  background-image: url(../../../assets/facebook.svg);
}

.twitter {
  background-image: url(../../../assets/twitter.svg);
}

.youtube {
  background-image: url(../../../assets/youtube.svg);
}

.instagram {
  background-image: url(../../../assets/instagram.svg);
}

@media (max-width: 1199px) {
  .footer-container {
    max-width: 832px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 32px 0 0;
  }

  .footer-container {
    height: 100%;
    padding: 0 32px;
    flex-direction: column-reverse;
  }
}
