.add-link-button {
  padding: 1rem 1.6rem;
  width: 8rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
