footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  background-color: var(--black);
}

.footer-box {
  display: grid;
  justify-content: space-between;
  grid-template:
    "footer-links sns"
    ". ." 1fr
    "copyright .";
  width: 100%;
  padding: 3.2rem;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    grid-template: "copyright footer-links sns";
    height: fit-content;
    max-width: 192rem;
    padding: 3.2rem 10.4rem 0;
  }
}

.copyright {
  grid-area: copyright;
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer-links {
  grid-area: footer-links;
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footer-link {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
}

.sns {
  grid-area: sns;
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}
