.user-info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.user-info img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 50%;
}
.user-info p {
  color: var(--Linkbrary-gray100, #373740);

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
