.login-button {
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .login-button {
    padding: 1.6rem 2rem;
    font-size: 1.8rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
