.card-grid {
  margin: 0 auto;
  width: 1060px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 25px;
  margin-bottom: 100px;
}

/* Tablet */

@media (max-width: 1124px) {
  .card-grid {
    width: 704px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    row-gap: 25px;
    margin-bottom: 75px;
  }
}

/* Moblie */

@media (max-width: 767px) {
  .card-grid {
    width: 325px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 50px;
  }
}

.card {
  width: 340px;
  height: 334px;
  flex-shrink: 0;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  overflow: hidden;
}

.card-img {
  z-index: 0;
  width: 340px;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
}

.card-info {
  position: relative;
  z-index: 1;
  display: flex;
  width: 340px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: #666;

  /* Linkbrary/caption */
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-text {
  height: 49px;
  align-self: stretch;
  overflow: hidden;
  color: #000;

  text-overflow: ellipsis;
  white-space: nowrap;
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.card-day {
  height: 19px;
  align-self: stretch;
  overflow: hidden;
  color: var(--card-date);
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-img:hover {
  background-color: var(--Linkbrary-bg);
}

.card-img:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

/* Tablet */

@media (max-width: 1199px) {
}

/* Moblie */

@media (max-width: 767px) {
  .card {
    width: 325px;
    height: 327px;
  }
  .card-img {
    width: 325px;
    height: 243.597px;
  }
}
