.fabContainer {
  display: flex;
  padding: 0.5rem 1.5rem;
  align-items: flex-start;
  gap: 1.25rem;

  position: fixed;
  bottom: 6.2rem;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 1.25rem;
  border: 1px solid #fff;
  background: #6d6afe;

  cursor: pointer;

  z-index: 2;
}

.fabButton {
  display: flex;

  color: #e7effb;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01875rem;
}
