/* footer */
footer {
    height: 160px;
    background-color: #111322;
    padding: 32px 104px 0;
    position: relative;
    transform: translateY(-100%);
}
footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    font-family: 'Acme';
    font-size: 1.6rem;
    color: #676767;
}
footer ul {
    display: flex;
}
footer ul:nth-of-type(1) {
    gap: 30px;
}
footer a {
    font-family: 'Acme';
    font-size: 1.6rem;
    color: #cfcfcf;
}
footer ul:nth-of-type(2) {
    gap: 12px;
}
footer ul:nth-of-type(2) li {
    width: 20px; height: 20px;
}
footer ul:nth-of-type(2) a {
    display: block;
    width: 100%; height: 100%;
    font-size: 0;
}

/* 테블릿 반응형 */
@media screen and (max-width:1199px) {
    footer {
        padding: 32px;
    }
}

/* 푸터 줄바꿈 */
@media screen and (max-width:500px) {
    footer {
        position: relative;
    }
    footer div p {
        position: absolute;
        bottom: 32px; left: 32px;
    }
}