header {
    display: flex;
    align-items: center;
    z-index: 99;
    width: 100%; height: 93px;
    top: 0;
    background-color: #F0F6FF;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 200px;
}
header h1 a {
    display: block;
    width: 133px; height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
}
header div a.profileText {
    display: flex;
    align-items: center;
    color: rgba(55, 55, 64, 1);
    font-family: 'Pretendard';
    font-size: 1.4rem;
}
header div a.profileText img {
    width: 28px; height: 28px;
    border-radius: 50%;
    margin-right: 6px;
}
header div > a.login {
    display: inline-block;
    padding: 1.6rem 4.05rem;
    background: linear-gradient(91deg, #6d6afe 0.12%, #6AE3FE 101.84%);
    color: #fff;
    border-radius: 8px;
    font-size: 1.8rem;
    font-family: 'Pretendard';
    font-weight: 400;
}

/* 테블릿 반응형 */
@media screen and (max-width:1199px) {
    header div {
        padding: 0 32px;
    }
}

/* 모바일 반응형 */
@media screen and (max-width:768px) {
    header {
        height: 63px;
    }
    header h1 a {
        width: 88.87px; height: 16px;
    }
    header div > a.login {
        padding: 1rem 2.15rem;
        font-size: 1.4rem;
    }
    header div a.profileText {
        font-size: 0;
    }
    header div a.profileText img {
        margin: 0;
    }
}