.search-bar {
  margin: 40px auto;
  width: 1060px;
  display: flex;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-text {
  color: var(--Text);
  text-align: right;
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* Tablet */

@media (max-width: 1199px) {
  .search-bar {
    width: 100%;
  }
}

/* Moblie */

@media (max-width: 767px) {
  .search-bar {
    min-width: 325px;
  }
}
