.search_link {
  width: 100%;
  margin-bottom: 32px;
  padding: 13px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: var(--gray02);
}

.input_box {
  border: 0;
  width: 100%;
  background: var(--gray02);

  color: var(--Tgray03);
  text-align: left;

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 10px;
}

/* 768px부터 적용될 스타일 */
@media (min-width: 768px) {
  .search_link {
    width: 97.5%;
    margin-bottom: 40px;
  }
}

/* 1124px부터 적용될 스타일 */
@media (min-width: 1124px) {
  .search_link {
    width: 97%;
  }
}
