.sorting-button {
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--primary, #6d6afe);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .sorting-button {
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
