.App {
  text-align: center;
  /* height: 100vh; */
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-container {
  height: 100vh;
  background-color: #000000;
  opacity: 0.4;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.title {
  padding-right: 800px;
}
.title-tablet {
  padding-left: 20px;
  text-align: left;
}

.tool {
  display: flex;
}
.tool-tablet {
  display: none;
}
.tool a {
  padding: 0 10px;
  text-decoration: none;
  color: rgba(159, 166, 178, 1);
}
.titleAndToolBar {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  margin-top: 20px;
}
.titleAndToolBar-tablet {
  text-align: left;
  margin-top: 20px;
}
