.modal-share-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
  gap: 1.5rem;
}

.share-area {
  color: #9fa6b2;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.share-sns {
  display: flex;
  gap: 2rem;
}

.sns-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sns-icon p {
  font-size: 0.8rem;
}
