body{
  background: #F0F6FF;
}
.signin{
  width: 400px;
  height: 492px;
  margin: 238px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.contents{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
}
.title{
  width: 218px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.title img{
  width: 210.583px;
  height: 38px;
}
.description{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.description p{
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.description a{
  color: #6D6AFE;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
form div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
form label{
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
form #username{
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #FFF;
  color: #373740;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  box-sizing: border-box;
}
form #username:focus{
  border: 3px solid #6D6AFE;
  outline: 0.1rem solid #6D6AFE;
}
form .pwText{
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 18px 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #FFF;
}
form .password:focus{
  outline: none;
}
form .pwText:focus-within{
  border: 3px solid #6D6AFE;
}
form .password{
  border: none;
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 100%;
}
#loginBtn{
  display: flex;
  width: 100%;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.social{
  display: flex;
  width: 100%;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
}
.social p{
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.social .icons{
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .signin {
    width: calc(100% - 64px);
    max-width: 400px;
    height: 492px;
    margin: 120px 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  form #username {
    width: 100%;
    max-width: 400px;
  }

  form .pwText {
    width: 100%;
    max-width: 400px;
  }
}