.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7.5rem;
  height: 160px;
  padding: 32px 104px 64px 104px;
  background: var(--black-color);
}

.footer-center,
.footer-right {
  display: flex;
  list-style: none;
}

.footer-left {
  color: #676767;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.footer-center {
  gap: 30px;
}

.footer-center a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 16px;
  font-weight: 400;
}

.footer-right {
  gap: 12px;
}

@media (max-width: 767px) {
  .footer {
    position: relative;
  }

  .footer-left {
    position: absolute;
    bottom: 2rem;
  }
}

@media (max-width: 564px) {
  .footer {
    padding: 32px 20px 64px;
  }
}
