.NavigationBar {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--color-bg);
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 13px 32px;

  @media (min-width: 768px) and (max-width: 1199px) {
    width: min(100% - 32px, 800px);
    height: 93px;
    padding: 20px 32px;
  }

  @media (min-width: 1200px) {
    width: min(100% - 400px, 1920px);
    height: 93px;
    max-width: 1920px;
    padding: 20px 32px;
  }
}

.logo {
  height: 16px;

  @media (min-width: 768px) {
    height: 24px;
  }
}
