.container-add-link {
  display: flex;
  padding: 24px 32px 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  align-self: stretch;
  background: #F0F6FF;
}

.add-link {
  display: flex;
  width: 100%;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 8px;

  border-radius: 15px;
  border: 1px solid #6D6AFE;
  background: #FFF;
}  

.add-link_icon-box {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80%;
}

.text-add-link {
  outline: none;
  border: none;
  width: 100%;
  color: #9FA6B2;

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.add-link_button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);

  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
}