.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.container-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.container-footer {
  display: flex;
  height: 280px;
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}