.Navigation {
  display: flex;
  justify-content: space-between;
  background-color: #f0f6ff;
  padding: 32px 200px;
}

.Profile img {
  width: 28px;
}

.FolderOwner {
  background-color: #f0f6ff;
  text-align: center;
}

.FolderOwner img {
  width: 60px;
}

.LinkItem img {
  width: 340px;
}
