:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;

  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;

  --background: #f0f6ff;
}

html {
  font-size: 62.5%; /* 1rem = 10px (10px รท 16px) */
}

body {
  font-size: 1.6rem; /* 16px */
}
