@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --color-primary: #6d6afe;
  --color-red: #ff5b56;
  --color-black: #111322;
  --color-white: #ffffff;
  --color-gray-bg: #f0f6ff;
  --color-gray-light: #f5f5f5;
  --color-gray-100: #373740;
  --color-gray-60: #9fa6b2;
  --color-gray-20: #ccd5e3;
  --color-gray-10: #e7effb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
