:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;

  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;
  --gray-light: #f5f5f5;

  --light-blue: #f0f6ff;

  --text-gray: #676767;
  --text-content-gray: #666666;
  --text-content-black: #333333;
}
