:root {
  --Primary: #6d6afe;
  --Red: #ff5b56;
  --Black: #111322;
  --White: #ffffff;
  --Gray-01: #3e3e43;
  --Gray-02: #9fa6b2;
  --Gray-03: #ccd5e3;
  --Gray-04: #e7effb;
  --Gray-05: #f0f6ff;
}
