:root {
  --Black: #000000;
  --The-julge-black: #111322;
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-red: #ff5b56;
  --Linkbrary-white: #fff;
  --Linkbrary-gray100: #373740;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray10: #e7effb;
  --Linkbrary-bg: #f0f6ff;
  --Grey-light: #f5f5f5;
  --Dove-gray: #676767;
  --Dove-gray-light: #6b6b6b;
  --Alto: #cfcfcf;
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}
