.container-folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 32px;
  padding: 0 32px;
  width: 100%;
}

.container-folder-and-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.search-bar_ly {
  display: flex;
  padding: 13px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  width: 100%;
  background: #F5F5F5;
  box-sizing: border-box;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.container-folder-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.folder-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.folder-list_btn {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  border: 1px solid #6D6AFE;
  background: #FFF;
  cursor: pointer;
}

.card-frame_ly {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  gap: 25px;
} /* 그리드에 대한 공부 필요, 지금 코드의 문제점: pc, 모바일에 대해 너비가 하드코딩 되어 있음. */

.card-flex-frame_ly {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.card-and-list-empty, .card-empty {
  display: flex;
  height: 100px;
  padding: 0px 98px;
  justify-content: center;
  align-items: center;
  
  color: #000;
  text-align: center;

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-empty {
  width: 100%;
}