/* user agent stylesheet 초기화 */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
  word-break: keep-all;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1143px) {
    flex: 1;
  }
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;

  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;
  --gray-light: #f5f5f5;

  --light-blue: #f0f6ff;

  --text-gray: #676767;
  --text-content-gray: #666666;
  --text-content-black: #333333;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  padding: none;
}
input:focus {
  outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}
