:root {
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
  --Grey-Light: #f5f5f5;
}
* {
  box-sizing: border-box;
}
body {
  background: #f0f6ff;
  max-width: 1920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
section {
  margin: 0 auto;
}
nav {
  display: flex;
  padding: 1.25rem 12.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  align-self: stretch;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  z-index: 1;
  background: #f0f6ff;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
nav img {
  width: 8.3125rem;
  height: 1.5rem;
  cursor: pointer;
}

nav button {
  display: flex;
  width: 8rem;
}
.color-btn {
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);

  color: var(--Grey-Light);
  font-family: Pretendard;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
}
main {
  margin-top: 6.25rem;
  z-index: 0;
}

.header {
  display: flex;
  padding: 4.375rem 22.5rem 0rem 22.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}
.slogan {
  text-align: center;
  font-family: Pretendard;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 125% */
  margin: 0;
}
.slogan span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header button {
  display: flex;
  width: 350px;
}
.header img {
  width: 1118px;
  height: 659px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 67.68%,
    #f0f6ff 94.76%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}
.img-box1 img {
  margin: 50px 41px -119px 41px;
  position: relative;
  z-index: -1;
}
.content {
  display: flex;
  padding: 50px 461px 50px 461px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.content.first {
  padding-top: 120px;
}
.content img {
  width: 550px;
  height: 450px;
}
h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.content p {
  color: #6b6b6b;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.frame {
  display: flex;
  align-items: center;
  gap: 157px;
}
.frame.reverse {
  flex-direction: row-reverse;
}
h2 {
  background-clip: text;
  -webkit-background-clip: text;
}
span {
  -webkit-text-fill-color: transparent;
}
#link-text {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}
#manage-text {
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}
#share-text {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
}
#search-text {
  background-image: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
}
footer {
  display: flex;
  height: 280px;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
}
.footer {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;

  background: var(--The-julge-black, #111322);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  font-size: 16px;
}
.footer-codeit {
  color: #676767;
}
.footer-link {
  display: flex;
  gap: 30px;
}
.footer-link a {
  color: #cfcfcf;
}
footer img {
  height: 20px;
}
.social-link img {
  width: 20px;
}
.social-link {
  display: flex;
  gap: 12px;
}
