/* 공통요소 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard", acme, "Noto Sans KR", sans-serif;
  font-size: 62.5%;
}

:root {
  --LBrary-Primary-color: #6d6afe;
  --LBrary-Red: #ff5b56;
  --LBrary-Black: #111322;
  --LBrary-White: #ffffff;
  --LBrary-SkyBlue: #6ae3fe;
  --LBrary-Gray100: #3e3e43;
  --LBrary-Gray60: #9fa6b2;
  --LBrary-Gray20: #ccd5e3;
  --LBrary-Gray10: #e7effb;
  --LBrary-GrayLight: #f5f5f5;
  --LBrary-Background: #f0f6ff;
  --Gra-Primary-to-Skyblue: linear-gradient(
    91deg,
    var(--LBrary-Primary-color) 0.12%,
    var(--LBrary-SkyBlue) 101.84%
  );
}

body {
  background-color: var(--LBrary-White);
}

.default-btn {
  display: flex;
  color: var(--LBrary-GrayLight);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  background: var(--Gra-Primary-to-Skyblue);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 100%;
}

button:hover {
  cursor: pointer;
}

.input-position-origin {
  display: flex;
  position: relative;
  align-items: center;
}

.background-decoration-color {
  background-color: var(--LBrary-Background);
}

.lb-body1-regular {
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.lb-body2-regular {
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lb-caption {
  font-family: Pretendard;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
