*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Pretendard-Regular';
}

nav{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
  
}

.gnb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 94px;
  padding: 0 200px;
  @media (min-width: 365px) and (max-width: 1199px) {
    padding: 0 32px;
  }
}

.cta-a {
  background-image: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  width: 128px;
  height: 54px;
  border-radius: 8px;
  border: 0;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf7ff;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 70px;

  @media (min-width: 768px) and (max-width: 1199px) {
    padding-top: 40px;
  }

  @media (min-width: 365px) and (max-width: 767px) {
    padding-top: 28px;
    gap: 24px;
  }
}

.header-title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  width: 800px;
  margin: 0;
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 500px;
  }
}

.header-GR {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-b {
  background-image: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  width: 350px;
  height: 54px;
  border-radius: 8px;
  border: 0;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.header-img {
  width: 1200px;
  height: 590px;
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 698px;
    height: 343px;
  }
  @media (min-width: 365px) and (max-width: 767px) {
    width: 100%;
    height: fit-content;
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
  grid-area: T;
  margin: 0;
}

.content-box {
  padding-top: 70px;
}

.content-A {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 550px;
  padding: 50px 0;
  column-gap: 157px;
  grid-template-columns: 291px 550px;
  grid-template-areas: 
    ". I"
    "T I"
    "D I"
    ". I";

  @media (min-width: 768px) and (max-width: 1199px) {
    height: 415px;
    column-gap: 51px;
    grid-template-columns: 291px 415px;
  }
    @media (min-width: 365px) and (max-width: 767px) {
    grid-template-areas:
      "T"
      "I"
      "D";
  }
}

.content-A-GR {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: #6B6B6B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  grid-area: D;
  margin: 0;
}

.content-img {
  width: 550px;
  height: 450px;
  grid-area: I;
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 385px;
    height: 315px;
  }
}

.content-B {
  display: grid;
  justify-content: center;
  column-gap: 157px;
  width: 100%;
  height: 550px;
  padding: 50px 461px;
  grid-template-columns: 550px 291px;
  grid-template-areas: 
    "I ."
    "I T"
    "I D"
    "I .";
    @media (min-width: 768px) and (max-width: 1199px) {
      height: 415px;
      column-gap: 51px;
      grid-template-columns: 415px 291px;
    }
}


.content-B-GR {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-C {
  display: grid;
  justify-content: center;
  column-gap: 157px;
  width: 100%;
  height: 550px;
  padding: 50px 461px;
  grid-template-columns: 291px 550px;
  grid-template-areas: 
    ". I"
    "T I"
    "D I"
    ". I";
    @media (min-width: 768px) and (max-width: 1199px) {
      height: 415px;
      column-gap: 51px;
      grid-template-columns: 291px 415px;
    }
}

.content-C-GR {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.content-D {
  display: grid;
  justify-content: center;
  column-gap: 157px;
  width: 100%;
  height: 550px;
  padding: 50px 461px;
  grid-template-columns: 550px 291px;
  grid-template-areas: 
  "I ."
  "I T"
  "I D"
  "I .";
  @media (min-width: 768px) and (max-width: 1199px) {
    height: 415px;
    column-gap: 51px;
    grid-template-columns: 415px 291px;
  }
}

.content-D-GR {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  width: 100%;
  height: 280px;
  padding-top: 120px;
  flex-direction: column;
  justify-content: center;
}

.footer-box {
  display: flex;
  width: 100%;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  background-color: #111322;
  
}
.foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.foot1 {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
}

.foot2 {
  display: flex;
  gap: 30px;
}

.foot2-link {
  color: #CFCFCF;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: none;
}

.foot3 {
  display: flex;
  gap: 12px;
  height: 20px;
}
