@import "./font.css";

.login-page{
  display: flex;
  width: 1440px;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  background: var(--Linkbrary-bg, #F0F6FF);
}

.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login-frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.Link-logo{
  width: 210.583px;
  height: 38px;
}

.member-text{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.id{
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}

input:focus {

  border-color: blue;
  outline: none;
}

.inputbox-password{
  position:relative;  
}

.password{
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border:1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
  
}

.eye-button{
  position: absolute;
  bottom: 2.2rem;
  right: 1.5rem;
  width: 1.6rem;
  height: 1.6rem;
}

.not-member{
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.get-member{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--Linkbrary-primary-color, #6D6AFE);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-id-password{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

#login-button{
  display: flex;
  width: 100%;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.login-button-text{
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.another-login{
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
  
}

.social-login{
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position : relative;
  justify-content: space-between;
}

.google-back{
  display: flex;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}

.google{
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin : 10px;
  z-index: 1;
}

.kakao-back{
  display: flex;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}

.kakao{
  display: flex;
  width: 26px;
  height: 24px;
  flex-shrink: 0;
  margin : 10px 8px 8px;
  z-index: 1;
}

.social-login-logo{
  display: flex;
  position : absolute;
  gap : 16px;
}



/* tablet size */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  

}


/* mobile size */

@media screen and (min-width: 375px) and (max-width: 767px) {
  

}
  

