body{
    box-sizing: border-box;
}

.navbar{
    display: flex;
}

.blink{
    flex-grow: 1;
}

.bt{
    color: white;
    border-radius: 8px;
    border: 0;
    width: 128px;
    padding: 16px 20px;
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    
}


.bt-long{
    width: 350px;
}

.title{
    text-align: center;
}

.mainContentImage{
    width: 1200px;
    height: 590px;
    display: block;
    margin: 0 auto;
}

.contentImage{
    width: 550px;
    height: 450px;   
}

.container{
    
}

.section{
    width: 998px;
    height: 450px;
    display: flex;
    align-items: center;
    gap: 157px;
}

footer{
    height: 160px;
    margin-top: 120px;
    background-color: black;
}