@import './global.css';

header {
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  position: sticky;
  top: 0;
  z-index: 1;

  background: var(--Gray-05);
}

nav {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.main-logo {
  width: 8.313rem;
  height: 1.5rem;
}

.btn-login {
  display: flex;
  width: 8rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;

  color: #f5f5f5;
  font-size: 1.125rem;
  text-decoration: none;

  border-radius: 0.5rem;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

main {
  background-color: var(--White);
}

.content-01 {
  display: flex;
  padding-top: 7rem;
  /* padding: 4.375vw 22.5vw 0vw 22.5vw; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  overflow: hidden;

  background-color: var(--Gray-05);
}

.content-01 h1 {
  color: #000000;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;
}

.content-01 span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.btn-addlink {
  display: flex;
  width: 21.875rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;

  color: #f5f5f5;
  font-size: 1.125rem;
  text-decoration: none;

  border-radius: 0.5rem;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.content-01 img {
  display: flex;
  width: 75rem;
  height: 36.875rem;
  object-fit: contain;
  top: 3.125vw;
}

section {
  display: grid;
  width: 100%;
  padding: 3rem 4rem;
  justify-content: center;
  align-items: center;
  column-gap: 5vw;
  row-gap: 3rem;
}

section:nth-of-type(odd) {
  grid-template:
    '. image'
    'title image'
    'text image'
    '. image';
  /* /291px 55rem; */
}

section:nth-of-type(even) {
  grid-template:
    'image .'
    'image title'
    'image text'
    'image .';
  /* /500px 29.1rem; */
}

section h1 {
  grid-area: title;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #000000;
}

section p {
  grid-area: text;
  color: #6b6b6b;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
}

section img {
  grid-area: image;
  width: 34.375rem;
  /* height: 28.125rem; */
  border-radius: 15px;
  background: var(--Gray-05);
  z-index: 0;
}

.content-02 span {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.content-03 span {
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.content-04 span {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.content-05 span {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

footer {
  display: flex;
  height: 10vw;
  margin-top: 120px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  align-self: stretch;

  background-color: var(--Black);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  color: #676767;
  font-size: 1rem;
  font-weight: 400;
}

footer .privacy-faq {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  color: #cfcfcf;
  font-size: 1rem;
  font-weight: 400;
}

footer .icons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

footer a {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

@media (min-width: 1920px) {
  /* 배경 색깔 빼고 그대로 고정 */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
  header {
    justify-content: center;
  }

  .content-01 img {
    width: 40rem;
    height: 21.438rem;
  }

  section img {
    width: 24rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  br {
    display: inline-block;
    padding: 0 0rem;
    content: ' ';
  }

  .content-01 img {
    width: 100%;
    height: 85%;
  }

  article {
    padding: 0 32px;
  }

  nav {
    margin: 0 32px;
  }

  section {
    grid-template:
      'title'
      'image'
      'text' !important;

    padding: 0 32px;
    margin: 5rem 0;
  }

  section p {
    font-size: 1.6rem;
  }

  section img {
    width: 100%;
  }
}
