nav {
  position: fixed;
  width: 100%;
  padding: 2rem 20rem;
  margin: 0;
  top: 0;
  background-color: var(--background);
  transition: padding 0.5s;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  margin: auto;
}

.linkbrary {
  margin-left: 3.2rem;
}

.login {
  width: 12.8rem;
  height: 5.4rem;
  padding: 1.6rem 2rem;
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  color: var(--white);
  background-image: linear-gradient(
    90.99deg,
    var(--primary) 0.12%,
    var(--light-blue) 101.84%
  );
  text-decoration: none;
  margin-left: 3.2rem;
}
