/* user agent stylesheet 초기화 */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
  word-break: keep-all;
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}
