* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
  word-break: keep-all;
}

html,
body {
  font-size: 62.5%;
}

input {
  border: none;
  padding: none;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
