* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Linkbrary-bg);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 238px 0 252px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

header p {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: var(--Black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

header p a {
  color: var(--Linkbrary-primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.longin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

main > div {
  width: 400px;
}

.logo {
  width: 210.583px;
  height: 38px;
}

.email-container,
.password-container,
.password-check-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.email-container + .password-container {
  margin-top: 24px;
}

.password-container + .password-check-container {
  margin-top: 24px;
}

form {
  margin: 30px 0;
}

form label {
  color: var(--Black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form input {
  display: flex;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Linkbrary-white);
}

form input:focus {
  outline: 1px solid var(--Linkbrary-primary-color);
}

button {
  border: none;
}

.button-signup {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-login {
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Linkbrary-gray10);
}

.social-login > span {
  color: var(--Linkbrary-gray100);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-login > div {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
