@import "./common.css";
@import "./reset.css";

body {
  padding-top: 238px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 400px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  width: 400px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.title-context {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title-signup {
  cursor: pointer;
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sign {
  margin:30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 24px;
  width: 100%;
}

.sign-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 12px;
}

input {
  display: flex;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--grayscale20);
  background: var(--white);
}

input:focus {
  border-color: var(--primary);
  outline: none;
}

.password-icon {
  position: relative;
  width: 100%;
}

.password-icon .icon-eye {
  position: absolute;
  top: 18px;
  right: 15px;
}

.signin, .signup {
  width: 100%;
  padding: 16px 20px;
}

.social {
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--grayscale20);
  background: var(--grayscale10);
}

.social img {
  width: 42px;
  height: 42px;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icon-google {
  cursor: pointer;
  position: relative;
}

.social-icon-kakaotalk {
  cursor: pointer;
  position: relative;
}

.social .google, .social .kakaotalk {

  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  right: 9px;
}

/*태블릿*/
@media (max-width: 1199px) {
  body {
    padding-top: 200px;
  }
}

/*모바일*/
@media (max-width: 767px) {
  body {
    padding-top: 120px;
  }

  header, main {
    width: 325px;
  }
}