@import "./reset.css";

:root {
  --Linkbrary-primary-color: #6D6AFE;
  --Linkbrary-red: #FF5B56;
  --The-julge-black: #111322;
  --Linkbrary-white: #ffffff;
  --Linkbrary-gray100: #3E3E43;
  --Linkbrary-gray60: #9FA6B2;
  --Linkbrary-gray20: #CCD5E3;
  --Linkbrary-gray10: #E7EFFB;
  --Linkbrary-bg: #F0F6FF;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard', 'Arial';
}

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 120px 32px 233px;
  background: var(--Linkbrary-bg, #F0F6FF);
  
  @media screen and (min-width: 768px) {
    padding: 238px 0 253px;
  }
}

main {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/* header */
.headerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .headerWrap__logo {
    display: inline-block;
  }

  .headerWrap__text {
    color: var(--black, #000);
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
  }

  .headerWrap__text--link {
    color: var(--Linkbrary-primary-color, #6D6AFE);
    font-weight: 600;
    line-height: normal;
  }
}

/* form */
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--black, #000);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 400px;

  .signin__email,
  .signin__pass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    position: relative;
    
    #email, 
    #pass {
      display: flex;
      width: 100%;
      padding: 18px 15px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
      background: var(--Linkbrary-white, #FFF);
      color: var(--Linkbrary-gray100, #373740);
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
  
  .fa-solid {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 52px;
    right: 16px;
  }
  
  input:focus {
    border-color: var(--Linkbrary-primary-color, #6D6AFE);
  }
}

.signin__Btn {
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  border: 1px solid var(--Linkbrary-bg);
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 6px 0 0;
}

.snsBox {
  display: flex;
  width: 100%;
  max-width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);

  .snsBox__text {
    color: var(--Linkbrary-gray100, #373740);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  .snsBox__link {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    .google,
    .kakao {
      width: 42px;
      height: 42px;
      flex-shrink: 0;
    }
  }

  .snsBox__link--hideMaker {
    list-style: none;
  }
}