@import "./global.css";

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  padding: 12rem 3.2rem 0;

  @media (min-width: 768px) {
    padding: 20rem 0 0;
  }

  @media (min-width: 1200px) {
    padding: 23.8rem 0 0;
  }
}

/* header 표시 */
header {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.logoLink{
  display: flex;
  justify-content: center;
}
.logo{
  height: 3.8rem;
}
.headerMessage{
  display: flex;
  column-gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
.headerLink{
  height: fit-content;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: var(--primary);
  border-bottom: 0.1rem solid var(--primary);
}

/* form 표시 */
.signBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.2rem;
  width: 100%;
  max-width: 40rem;

  @media (min-width: 768px) {
    width: 40rem;
  }
}
.signForm {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;
}
.signInputs {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
.signInputBox {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.signInputLabel {
  font-size: 1.4rem;
  font-weight: 400;
}
.signInput {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray20);
  font-size: 1.6rem;
  line-height: 150%;
}
.signInput:focus {
  border-color: var(--primary);
}
.signInput.signInputError {
  border-color: var(--red);
}
.signInput.signInputError:focus {
  border-color: var(--red);
}
.errorMessage {
  display: none;
  margin-top: -0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--red);
}
.errorMessage.errorMessageOn {
  display: inline-block;
}
.signPassword {
  position: relative;
}
.eyeButton {
  position: absolute;
  top: 5.1rem;
  right: 1.5rem;
  width: 1.6rem;
  height: 1.6rem;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.4rem;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}
.snsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray20);
  background-color: var(--gray10);
}
.snsText {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray100);
}
.snsLinks {
  display: flex;
  column-gap: 1.6rem;
}
.snsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}
.googleLink {
  background-color: var(--white);
  border: 0.1rem solid #d3d4dd;
}
.kakaoLink {
  padding-top: 0.2rem;
  background-color: #f5e14b;
}

