* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

html,
body {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--Linkbrary-bg);
}

.gnb {
  display: flex;
  width: 100%;
  max-width: 192rem;
  height: 9.4rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 20rem;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--Linkbrary-bg);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
  margin-bottom: 7rem;
}

.title {
  text-align: center;
  color: var(--Black);
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8rem;
}

.gra-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.main-title {
  background-image: var(--gra-purpleblue-to-pink);
  -webkit-background-clip: text;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 5.4rem;
  border-radius: 0.8rem;
  background-image: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.button-login {
  width: 12.8rem;
}

.button-link {
  width: 35rem;
}

.main-img {
  width: 120rem;
  height: 59rem;
}

.main-description {
  width: 25.9rem;
  color: var(--Black);
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.content1 {
  background-image: var(--gra-pink-to-blue);
  -webkit-background-clip: text;
}

.content2 {
  background-image: var(--gra-yellow-to-blue);
  -webkit-background-clip: text;
}

.content3 {
  background-image: var(--gra-purpleblue-to-blue);
  -webkit-background-clip: text;
}

.content4 {
  background-image: var(--Fandom-K-gra-blue-to-pink);
  -webkit-background-clip: text;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  gap: 15.7rem;
}

.description {
  width: 29.1rem;
  align-items: flex-start;
  gap: 1rem;
}

.content-img {
  width: 55rem;
  height: 45rem;
}

.sub-description {
  color: var(--Grey);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  margin-top: 12rem;
  padding: 3.2rem 10.4rem 6.4rem;
  background-color: var(--The-julge-black);
}

.footer-container {
  display: flex;
  width: 100%;
  max-width: 192rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.copyright {
  color: var(--footer-copyright);
  text-align: center;
  font-family: Acme;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-link {
  display: flex;
  width: 18rem;
  gap: 3rem;
}

.footer-link a {
  color: var(--footer-link);
  font-family: Acme;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-sns {
  display: flex;
  height: 2rem;
  gap: 1.2rem;
}
