@import './global.css';

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: center;
  background: var(--background);
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.4rem;
  max-width: 192rem;
  padding: 0 20rem;
  width: 100%;
}

.nav-container > a {
  display: flex;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.3rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

.Login_button {
  width: 12.8rem;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: var(--background);
}

.main_section {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

h1 {
  text-align: center;
  color: #000;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

h1 span {
  background: linear-gradient(119deg, var(--primary) 0%, #ff9f9f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden_tablet,
.hidden_mobile {
  display: block;
}

.hidden_pc {
  display: none;
}

.link_add_button {
  width: 35rem;
}

.exam_img {
  width: 120rem;
  height: 59rem;
}

article {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  display: grid;
  justify-content: center;
  row-gap: 1.6rem;
  width: 100%;
  height: fit-content;
  padding: 4rem 3.2rem;

  @media (min-width: 768px) {
    height: 41.5rem;
    column-gap: 5.1rem;
    row-gap: 1rem;
    padding: 5rem 0;
  }

  @media (min-width: 1200px) {
    height: 55rem;
    column-gap: 15.7rem;
  }
}

.contents:nth-of-type(odd) {
  grid-template-areas:
    'title'
    'image'
    'description';

  @media (min-width: 768px) {
    grid-template-areas:
      '. image'
      'title image'
      'description image'
      '. image';
    grid-template-columns: 26.2rem 38.5rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 29.1rem 55rem;
  }
}

.contents:nth-of-type(even) {
  grid-template:
    'title'
    'image'
    'description';

  @media (min-width: 768px) {
    grid-template-areas:
      'image .'
      'image title'
      'image description'
      'image .';
    grid-template-columns: 38.5rem 26.2rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 55rem 29.1rem;
  }
}

.contents h2 {
  color: #000;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: -0.03rem;
  grid-area: title;
}

.subtitle1 {
  background-image: linear-gradient(117deg, #fe8a8a 2.29%, #a4ceff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle2 {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle3 {
  background-image: linear-gradient(133deg, #2945c7 0%, #dbe1f8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle4 {
  background-image: linear-gradient(310deg, #fe578f 0%, #68e8f9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtext {
  color: #6b6b6b;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  grid-area: description;
}

.content-image {
  width: 55rem;
  height: 45rem;
  grid-area: image;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 12rem auto 0;
  width: 100%;
  background-color: var(--black);
  height: 16rem;
  padding-top: 3.2rem;
}

footer > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* max-width: 192rem; */
  /* height: fit-content; */
  padding: 0 10.4rem;
}

footer > div > p {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

.footer_center {
  display: flex;
  padding-right: 1.8rem;
  align-items: flex-start;
  gap: 3rem;
}

.footer_p,
.footer_faq {
  color: #cfcfcf;
  font-family: Acme;
  font-size: 1.6rem;
  font-weight: 400;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}

/* Tablet 사이즈 */
@media (max-width: 1199px) {
  .nav-container {
    padding: 0 3.2rem;
    max-width: 864px;
  }

  .hidden_pc {
    display: block;
  }

  .hidden_tablet {
    display: none;
  }

  .main_section {
    padding-top: 4rem;
  }

  .exam_img {
    width: 69.8rem;
    height: 34.3rem;
  }

  article {
    padding-top: 3rem;
  }

  .content-image {
    width: 38.5rem;
    height: 31.5rem;
  }
}

/* Mobile 사이즈 */
@media (max-width: 767px) {
  .nav-container {
    height: 6.3rem;
  }

  .logo {
    width: 8.8rem;
  }

  .button {
    height: 3.7rem;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .Login_button {
    width: 8rem;
  }

  .main_section {
    row-gap: 2.4rem;
    padding-top: 2.8rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .link_add_button {
    width: 20rem;
  }

  .exam_img {
    margin: 0 3.2rem;
    width: 100%;
    height: 100%;
  }

  article {
    padding-top: 0;
  }

  .contents h2 {
    font-size: 2.4rem;
    line-height: normal;
  }

  .subtext {
    font-size: 1.5rem;
  }

  .hidden_pc,
  .hidden_tablet,
  .hidden_mobile {
    display: none;
  }

  .content-image {
    width: 100%;
    height: 100%;
  }

  footer {
    margin: 4rem auto 0;
  }
}
