/*gnb 레이아웃: 레이아웃은 Top(부모)의 Gnb 컴포넌트에서 정의*/ 
.gnb_ly {
  display: flex;
  padding: 18px 32px 17px 32px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  @media (min-width: 768px) {}
}

.top-frame_ly {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.user_ly {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.avatar_ly {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.avatar {
  display: flex;
  padding: 16px 17px 16px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 47px;
  background: var(--primary-purple-70, #8F00FF);
}

.avatar-name {
  color: var(--text-color-light-mode, #000);

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.favorite {
  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Linkbrary/h1-semibold */
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}