/*gnb 레이아웃: 레이아웃은 Top(부모)의 Gnb 컴포넌트에서 정의*/ 
.gnb_ly {
  display: flex;
  padding: 33px 200px 32px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

/*gnb 블록 크기*/
.gnb {
  width: 100%;
}

@media (max-width: 1199px) and (min-width: 865px) {
  /*gnb 레이아웃*/
  .gnb_ly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }

  /*gnb 블록 크기*/
  .gnb {
    width: 800px;
  }
}

@media (max-width: 864px) and (min-width: 768px) {
/*gnb 블록 크기*/
.gnb {
  width: 100%;
}
}