@import '../../styles/_index.scss';

.layout {
  @include flex-center;
}

.column {
  flex-direction: column;
}

.userImage {
  width: 5rem;
  border-radius: 50%;
}

.sm {
  width: 2rem;
}

.lg {
  width: 9rem;
}
