@import "./ModalCommon.css";

.modal-items .modal-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

.modal-items p {
  color: #9fa6b2;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

.modal-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
}

.modal-folder-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.4rem;
  width: 100%;
  max-height: 17.2rem;
}

.modal-folder-list .folder-list-btn {
  position: relative;
  background-color: #fff;
  align-items: center;
  border-radius: 0.8rem;
  gap: 0.8rem;
  display: flex;
  flex: 0 0 4rem;
  height: 4rem;
  padding: 0.8rem;
  width: 100%;
  border: none;
}

.modal-folder-list .folder-list-btn:hover {
  background-color: #f0f6ff;
}

.modal-folder-list .btn-click {
  background-color: #f0f6ff;
}

.modal-folder-list .btn-click::after {
  content: "";
  position: absolute;
  background-image: url(../../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0.8rem;
  width: 1.4rem;
  height: 1.4rem;
}

.modal-folder-list .folder-list-name {
  color: #373740;
  font-size: 1.6rem;
}

.modal-folder-list .folder-list-count {
  color: #9fa6b2;
  font-size: 1.4rem;
}

.modal-content .modal-add-btn {
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 0.8rem;
  border: none;
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.8rem 1.5rem;
  width: 100%;
  height: 5.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
