@import "./ModalCommon.css";

/* .modal-bg {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 10;
}

.modal-box {
  background-color: #fff;
  border-radius: 1.5rem;
  position: absolute;
  width: 36rem;
  height: fit-content;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3.2rem 4rem;
  z-index: 11;
}

.modal-box .modal-close-btn {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: initial;
} */

/* .modal-items h2 {
  color: #373740;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  width: 100%;
}*/

.modal-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
}

.modal-content .modal-input {
  background-color: initial;
  border: 1px solid #ccd5e3;
  border-radius: 0.8rem;
  color: #373740;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1.8rem 1.5rem;
  width: 100%;
}

.modal-content .modal-input:hover {
  border: 1px solid #6d6afe;
}

.modal-content .modal-input:focus {
  outline: none;
  border: 1px solid #6d6afe;
}

.modal-content .modal-change-btn {
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 0.8rem;
  border: none;
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.8rem 1.5rem;
  width: 100%;
  height: 5.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
