.modal-bg {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.4;
  z-index: 10;
}

.modal-box {
  background-color: var(--white);
  border-radius: 1.5rem;
  position: fixed;
  width: 36rem;
  height: fit-content;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3.2rem 4rem;
  z-index: 11;
}

.modal-box .modal-close-btn {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: initial;
}

.modal-items h2 {
  color: var(--gray100);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  width: 100%;
}
