.wrapper {
  /* max-width: 1540px; */
  padding: 0px 200px 1rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .wrapper {
    max-width: 832px;
    padding: 0px 32px 1rem;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
  gap: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  border: 1px solid #6d6afe;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 1.3rem;
  cursor: pointer;
}

.tag:hover {
  background-color: #6d6afe;
  color: #fff;
}

.tag.selected {
  background-color: #6d6afe;
  color: #fff;
}

.folderAddBtn {
  color: #6d6afe;
  font-size: 1.3rem;
  flex-shrink: 0;
  cursor: pointer;
}

@media (max-width: 580px) {
  .folderAddBtn {
    border-radius: 15px;
    background-color: #6d6afe;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 101px;
    z-index: 2;
    left: 42%;
    transition: bottom 0.5s ease;
  }
}
