.carouselContainer {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;

  @media (max-width: 71.25rem) {
    max-width: calc(100vw - 1rem);
    align-items: flex-start;
  }
  @media (max-width: 48rem) {
    .prevButton,
    .nextButton {
      display: none;
    }
  }
}

.carouselWrapper {
  position: relative;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 72.5rem;
  z-index: 1;
  margin: 0 1.25rem;

  //해당 사이즈에서만 마진이 사라져서 추가
  @media (min-width: 71.25rem) and (max-width: 73.75rem) {
    margin-left: 1.25rem;
  }
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselContent {
  position: relative;
  display: flex;
  transition: transform 0.5s ease;
  z-index: 1000;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.0625rem solid var(--grayscale200);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.3s;

  &:hover {
    background-color: var(--white);
    color: var(--purple600);
    cursor: pointer;
  }

  span {
    font-size: 1rem;
    transition: font-size 0.3s;
  }

  &:hover span {
    font-size: 1.25rem;
  }
}

.prevButton {
  left: 0;

  &:hover {
    span {
      transform: translateX(-0.125rem);
    }
  }
}

.nextButton {
  left: 72.5rem;

  &:hover {
    span {
      transform: translateX(0.125rem);
    }
  }
}

@media (max-width: 72.5rem) {
  .prevButton {
    left: 0;
  }

  .nextButton {
    left: auto;
    right: 0;
  }
}

@media (max-width: 47.9375rem) {
  .carouselWrapper {
    margin: 0;
  }

  .carouselContainer {
    margin-left: 0.5rem;
  }
}
