.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6rem 0 9rem;
  background-color: var(--bg-color);
}

.form {
  position: relative;
  display: flex;
  width: 80rem;
  height: 6.9rem;
  margin: 0 3.2rem;
}

.icon {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 1.5rem;
  padding: 1.6rem 2rem 1.5rem 5.2rem;
  line-height: 1;
}

.input::placeholder {
  color: var(--gray60-color);
}

.button {
  position: absolute;
  top: 50%;
  right: 2rem;
  padding: 1rem 1.6rem;
  text-align: center;
  color: var(--Grey-Light, #f5f5f5);
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 0.8rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  transform: translateY(-50%);
}

/* mobile */
@media screen and (max-width: 767px) {
  .form {
    height: 5.3rem;
  }
  .input {
    padding: 0.8rem 1rem 0.8rem 3.4rem;
  }
  .icon{
    width: 1.6rem;
    left: 1rem;
  }
  .button {
    padding: 0.8rem 1rem;
    right: 1rem;
  }
}
