.header-add-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 3.75rem 0 5.625rem 0;
  gap: 0.5rem;
  background: var(--background);
}

.add-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
}

.add-bar {
  width: 50rem;
  padding: 1rem 1.25rem;
  padding-left: 3rem;

  gap: 0.5rem;

  border-radius: 0.9375rem;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);

  color: var(--Linkbrary-gray60, #9fa6b2);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

#add-icon {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 1.25rem;
}

.add-button {
  position: absolute;
  display: flex;
  right: 1.25rem;
  width: 5rem;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
  border: none;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );

  color: var(--Grey-Light, #f5f5f5);

  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Mobile 375~767*/
@media (min-width: 375px) and (max-width: 767px) {
  .add-form {
    width: 20.3125rem;
    padding: 0.5rem 0.625rem;
  }
  .add-bar {
    font-size: 0.875rem;
    padding-left: 2rem;
  }
  #add-icon {
    width: 1rem;
  }
  .add-button {
    width: 5rem;
    padding: 0.625rem 0.8rem;
    font-size: 0.875rem;
  }
}
/* Tablet 768~1124 card 2ì—´*/
@media (min-width: 768px) and (max-width: 1124px) {
  .add-form {
    width: 100%;
    max-width: 44rem;
  }
  .add-bar-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-left: 32px;
    padding-right: 32px;
  }
}
