@import url(colors.css);

.card {
  width: 21.25rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.card:hover .card-contents {
  background: var(--Linkbrary-bg, #f0f6ff);
}
.card:hover #img-logo {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.card-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 21.25rem;
  height: 12.5rem;
}
#img-logo {
  width: 21.25rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-contents {
  display: flex;
  width: 21.25rem;
  padding: 0.9375rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  background: #ffffff;
}
#card-created-time {
  color: #666;

  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#card-description {
  height: 3.0625rem;
  align-self: stretch;

  overflow: hidden;
  color: #000;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: auto-phrase;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
#card-date {
  overflow: hidden;
  color: #333;

  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-list-container {
  width: 66.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  column-gap: 1.25rem;
  row-gap: 1.56rem;
}
.card-list {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
  width: 100%;
}
.no-img {
  background: #dddfff;
  padding: 5.5rem 6.5rem;
}
#no-img-logo {
  width: 8.3125rem;
  height: 1.5rem;
  opacity: 0.2;
}

/* Mobile 375~767 1열*/
@media (min-width: 375px) and (max-width: 767px) {
  .card-list-container {
    max-width: 20.3rem;
    width: 100%;
  }
  .card {
    max-width: 20.3125rem;
    width: 100%;
  }
  .card-img {
    width: 100%;
  }
  .card-contents {
    width: 100%;
  }
  .card-list {
    margin: 0 auto;
    padding: 2rem 32px;
    padding-bottom: 1.25rem;
  }
}
/* Tablet 768~1124 card 2열*/
@media (min-width: 768px) and (max-width: 1124px) {
  .card-list-container {
    max-width: 44rem;
    width: 100%;
    column-gap: 1.5rem;
    margin: 0;
  }
  .card {
    max-width: 21.25rem;
    width: calc(50% - 0.75rem);
  }
  .card-img {
    width: 100%;
  }
  .card-contents {
    width: 100%;
  }
  .card-list {
    margin: 0 auto;
    padding: 2.5rem 32px;
  }
}
