:root {
  --primary: #6d6afe;
  --red: #ff5b56;

  --black: #111322;
  --white: #ffffff;

  --bg: #f0f6ff;
  --light: #f5f5f5;
  --text: #666666;
  --gray10: #e7effb;
  --gray20: #ccd5e3;
  --gray60: #9fa6b2;
  --gray100: #373740;

  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

/* gradient */
.gradient-style1 {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
}

.gradient-style2-1 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}

.gradient-style2-2 {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}

.gradient-style2-3 {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}

.gradient-style2-4 {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}

/* background */
.background-none {
  background: none;
}

.background-bg {
  background: var(--bg, #f0f6ff);
}

.background-light {
  background: var(--light, #f5f5f5);
}

.background-black {
  background: var(--black, #111322);
}

.background-white {
  background: var(--white, #ffffff);
}

.background-primary {
  background: var(--primary, #6d6afe);
}

.background-gray10 {
  background: var(--gray10, #e7effb);
}

.background-red {
  background: var(--red, #ff5b56);
}

.background-gra-primary {
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
}

/* border */
.border-none {
  border: none;
}

.border-gray20-1px {
  border: 0.1rem solid var(--gray20, #ccd5e3);
}

/* text-color */
.text-color-light {
  color: var(--light, #f5f5f5);
}

.text-color-primary {
  color: var(--primary, #6d6afe);
}

.text-color-white {
  color: var(--whtie, #ffffff);
}

.text-color-gray10 {
  color: var(--gray10, #e7effb);
}

.text-color-gray60 {
  color: var(--gray60, #9fa6b2);
}

.text-color-gray100 {
  color: var(--gray100, #373740);
}

.text-color-text {
  color: var(--text, #666666);
}
