* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}
a {
  text-decoration: none;
}
.fail-data {
  margin: 0 auto;
}
html,
body {
  height: 100%;
}
#body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
