.star-icon {
  position: absolute;
  width: 2.125rem;
  height: 2.125rem;
  top: 0.94rem;
  right: 0.94rem;
  z-index: 1;
}

.kebab-icon {
  width: 1.3125rem;
  height: 1.0625rem;
  position: absolute;
  right: 1.25rem;
  top: 13.5rem;
}
.card-dropdown {
  position: absolute;
  right: -3.5rem;
  top: 14.5rem;
  display: flex;
  width: 6.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;

  z-index: 3;
  background: var(--gray-light-gray-00, #fff);
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}
.card-dropdown-menu {
  display: flex;
  padding: 0.4375rem 0.75rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  cursor: pointer;

  color: var(--gray-light-gray-100, #333236);

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-dropdown-menu:hover {
  background: var(--Linkbrary-gray10, #e7effb);
  color: var(--Linkbrary-primary-color, #6d6afe);

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
