.folder-button {
  display: flex;
  padding: 0.5rem 0.75rem;
  flex-direction: column;
  align-items: center;

  border-radius: 0.3125rem;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.folder-button.selected {
  background: var(--Linkbrary-primary-color, #6d6afe);
  color: #fff;
}
.folder-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.folder-list-container {
  display: flex;
  width: 66.25rem;
  justify-content: space-between;
  align-items: center;
}
.folder-list {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

.add-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  color: #6d6afe;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01875rem;

  border: none;
  background-color: #fff;

  cursor: pointer;
}
.add-icon {
  width: 1rem;
  height: 1rem;
}

/* Mobile 375~767*/
@media (min-width: 375px) and (max-width: 767px) {
  .folder-list {
    width: 100%;
    max-width: 20.3125rem;
    margin: 0 auto;
  }
  .add-folder {
    position: fixed;
    padding: 0.5rem 1.5rem;
    align-items: center;
    gap: 0.25rem;

    border-radius: 1.25rem;
    border: 1px solid var(--Linkbrary-white, #fff);
    background: var(--Linkbrary-primary-color, #6d6afe);

    color: var(--Linkbrary-gray10, #e7effb);

    bottom: 101px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    z-index: 100;
  }
  .add-icon {
    filter: invert(100%) sepia(19%) saturate(3556%) hue-rotate(176deg) brightness(100%)
      contrast(97%);
  }

  .folder-list-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
}
/* Tablet 768~1124*/
@media (min-width: 768px) and (max-width: 1124px) {
  .folder-list {
    width: 100%;
    max-width: 44rem;
    margin: 0 auto;
  }
}
