footer {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.02);
  background: var(--The-julge-black);
  margin-top: 3.75rem;
}

.footer-content {
  display: flex;
  padding: 0 6.5rem;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  font-size: 1rem;
}
.copyright {
  color: #676767;
}
.links {
  display: flex;
  gap: 1.875rem;
}
.links a {
  color: #cfcfcf;
}
footer img {
  height: 1.25rem;
}
.sns img {
  width: 1.25rem;
}
.sns {
  display: flex;
  gap: 0.75rem;
}

/* Mobile 375~767*/
@media (min-width: 375px) and (max-width: 767px) {
  footer {
    padding-top: 0;
    margin-top: 2.5rem;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "links sns"
      "cr .";
    padding: 2rem 2rem 2rem 2rem;
    row-gap: 3rem;
  }
  .copyright {
    grid-area: cr;
  }
  .links {
    grid-area: links;
  }
  .sns {
    grid-area: sns;
    justify-content: end;
  }
}