/********
* Debug
********/

.debug-border {
  border: 1px solid magenta;
}

/********
* Utils
********/

.hidden {
  display: none;
}

.z-top {
  z-index: 9999;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/********
* Layout
********/

.width-full {
  width: 100%;
}

.margin-auto {
  margin: auto;
}

.display-inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-center {
  align-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}
