/********
* Debug
********/

.debug-border {
  border: 1px solid magenta;
}

/********
* Utils
********/

.hidden-block-mobile-only,
.hidden-flex-mobile-only {
  display: none;
}

.visible-block-mobile-only {
  display: block;
}

.visible-flex-mobile-only {
  display: flex;
}

.z-top {
  z-index: 9999;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hidden-block-mobile-only {
    display: block;
  }

  .hidden-flex-mobile-only {
    display: flex;
  }

  .visible-block-mobile-only,
  .visible-flex-mobile-only {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}

/********
* Layout
********/

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.min-height-100vh {
  min-height: 100vh;
}

.margin-auto {
  margin: auto;
}

.display-inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}
