.option {
  align-items: flex-start;
  display: inline-flex;
  gap: 12px;
  position: relative;
}
.option .frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}
.option .text-wrapper {
  color: var(--gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.option .icon-instance-node {
  height: 18px;
  position: relative;
  width: 18px;
}
