.search-bar {
  position: relative;
  display: flex;
  width: 80%;
  margin: 1rem auto;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.search-input {
  width: 100%;
  padding: 0.9375rem 40px 0.9375rem 2.5rem;
  border: none;
  border-radius: 0.625rem;
  background: #f5f5f5 url('../../../assets/icons/search.svg') no-repeat 1rem
    center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #333;
  outline: none;
}

.search-input:focus {
  outline: none;
}

.search-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}
