.card-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: auto;
}

.card-link-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.card-link-list img {
  width: 100%;
  height: 15rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  object-fit: cover;
}

.card-link-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link-timeago {
  color: #666;
  font-size: 0.8rem;
}

.card-link-description {
  font-size: 1rem;
}

.card-link-datestring {
  font-size: 0.8rem;
}

.card-link-timeago,
.card-link-description,
.card-link-datestring {
  margin: 0.7rem 0.9rem;
  font-style: normal;
  font-weight: 400;
}

.card-link-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.card-link-datestring {
  align-self: flex-start;
  margin-top: auto;
}

@media (max-width: 1199px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
