* {
  box-sizing: border-box;
}
body {
  background-color: var(--Linkbrary-bg);
}

html {
  font-size: 16px;
}

:root {
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-red: #ff5b56;
  /* 혼자 jungle-black이라 이름 수정했습니다.. */
  --Linkbrary-black: #111322;
  --Linkbrary-white: #ffffff;
  --Linkbrary-gray100: #3e3e43;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray10: #e7effb;
  --Linkbrary-bg: #f0f6ff;
  --Grey-Light: #f5f5f5;
  --Linkbrary-gradation: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.CTA {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Linkbrary-gradation);
  color: var(--Grey-Light);
  font-family: Pretendard;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.CTA.small {
  width: 300px;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}

.CTA.large {
  width: 350px;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 600;
}

input {
  display: flex;
  width: 350px;
  padding: 18px 15px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray60);
  background: var(--Linkbrary-white);
  margin-top: 12px;
  cursor: pointer;
  outline: none;
}

.input-error {
  outline: 1px solid var(--Linkbrary-red);
}

.social-login {
  display: flex;
  width: 350px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Linkbrary-bg);
  gap: 16px;
}

.password > img {
  width: 16px;
  height: 16px;
  position: relative;
  /* 반응형에서 특정 요소의 위치를 지정할 때 어떤 단위를 주로 사용하나요?
  저는 이 요소 밑에 배경으로 있어야 하는 비밀번호 폼이 px 단위라 
  우선 px로 해보았는데 궁금합니다!! 그리고 px로 짜둔 코드를 
  나중에 반응형으로 만드려면 단위를 다시 계산해서 다 바꾸는지
  궁금합니다..! */
  left: 320px;
  top: -35px;
  margin: 0;
}

#email-input:focus {
  border: 1px solid var(--Linkbrary-primary-color);
}
#passWord-input:focus {
  border: 1px solid var(--Linkbrary-primary-color);
}
