* {
  box-sizing: border-box;
}

:root {
  --Linkbrary-primary-color : #6D6AFE;
  --Linkbrary-red: #FF5B56;
  /* 혼자 jungle-black이라 이름 수정했습니다.. */
  --Linkbrary-black: #111322; 
  --Linkbrary-white: #FFFFFF;
  --Linkbrary-gray100: #3E3E43;
  --Linkbrary-gray60: #9FA6B2;
  --Linkbrary-gray20: #CCD5E3;
  --Linkbrary-gray10: #E7EFFB;
  --Linkbrary-bg: #F0F6FF;
  --Linkbrary-gradation: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}


.CTA.small {
  display: flex;
  width: 300px;
  height: auto;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--Linkbrary-gradation);
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.CTA.large {
  display: flex;
  width: 350px;
  height: auto;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--Linkbrary-gradation);
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}