@import './reset.css';
@import './colors.css';

header {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
}

.navbar {
  background-color: var(--bg-color);
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.title {
  width: 133px;
  height: 24px;
}

.signin {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contents-01 {
  display: flex;
  width: 1920px;
  padding: 150px 360px 0px 360px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  background: var(--bg-color);
}

.headline {
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  word-break: keep-all;
  width: 80vh;
}

.text-gradient {
  background: var(--gra-purple-to-pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add-link {
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--Grey-Light);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contents-02 {
  display: flex;
  padding: 120px 461px 50px 461px;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  align-items: center;
  gap: 157px;
}

.frame-text {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.frame-text .text-lg {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.frame-text .text-lg span {
  background: var(--gra-pink-to-skyblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.frame-text .text-sm {
  color: var(--text-sm-color);
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.frame img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: var(--bg-color);
}

.main-contents .contents {
  display: flex;
  /* row-reverse가 안 먹힘... */
  flex-direction: row-reverse;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  height: 280px;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 30px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
  color: white;
}

.footer-frame {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--bg-color-footer);
}

.footer-frame-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer-frame-center {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
}

.footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

/* Media Query */

/*  모바일 버전 (375~767px) */
@media (min-width: 375px) and (max-width: 767px) {
  .navbar {
    display: flex;
    padding: 13px 32px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .contents-01 {
    width: 100%;
    display: flex;
    padding: 160px 250px 0px 251px;
    justify-content: center;
    align-items: center;
  }

  .add-link {
    color: var(--Grey-Light);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
  }

  .img-box {
    width: 680px;
    height: 342px;
  }

  .img-box img {
    width: 680px;
    height: 342px;
    flex-shrink: 0;
  }

  .contents-02 {
    display: flex;
    padding: 40px 32px 36px 33px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contents {
    display: flex;
    padding: 40px 0px 40px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }

  .frame-text.text-lg {
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .frame-text .text-sm {
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
  }
}

/*  Tablet 버전 (768~1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 800px;
  }

  .contents-01 {
    width: 100%;
    display: flex;
    padding: 160px 250px 0px 251px;
    justify-content: center;
    align-items: center;
  }

  .headline {
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
    width: 70vh;
  }

  .img-box {
    width: 698px;
    height: 343px;
  }

  .img-box img {
    width: 680px;
    height: 342px;
    flex-shrink: 0;
  }

  .contents-02 {
    display: flex;
    padding: 80px 250px 50px 251px;
    justify-content: center;
    align-items: center;
  }

  .frame {
    display: flex;
    align-items: center;
    gap: 51px;
  }

  .main-contents img {
    width: 385px;
    height: 315px;
  }
}

/*  PC 버전 (1200px 이상) */
@media (min-width: 1200px) {
  .contents-01 {
    width: 100%;
  }
}
