/* 랜딩 페이지 */

   /* 랜딩페이지 텍스트 그라데이션 */

   .purplePinkGradation {
      background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
   } /*세상의 모든 정보*/

   .redBlueGradation {
      background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
   } /*원하는 링크*/

   .orangeBlueGradation {
      background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
   } /*관리*/
   
   .blueWhiteGradation {
      background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
   } /*공유*/

   .bluePinkGradation {
      background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
   } /*검색*/
   
   /*랜딩 페이지 색상 팔레트 끝*/

      
   main {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   header { 
      width: 100%;
      display: flex;
      justify-content: center;
   }


   nav.landingPage {
      background-color: var(--LBrary-Background);
      position: sticky;
      margin: 0;
      top: 0;      
   }

   nav.landingPage > .flexibleNavInTablet {
      display: flex;
      padding: 20px 200px;
      align-items: center;
      justify-content: space-between;
   }

   .flexibleNavInTablet > a.buttonBasicStyle {
      width: 128px;
   }

   header .landingPage {
      display: flex;
      flex-direction: column;
      background-color: var(--LBrary-Background);
      width: 100%;
      max-width: 1200px;
      justify-content: flex-end;
      align-items: center;
      margin: 0 auto;  
      padding: 70px 0 0;
      gap: 40px;
      font-size: 6.4rem;
      text-align: center;
      font-weight: 700;
      line-height: 125%;
   }

   div.landingPage::after{
      content: '';
      background-image: url(../Assets/images/landingPage/main_Image.png);
      background-size: contain;
      width: 100%;
      height: 500px;
      background-position: center bottom;
      margin: 0;
      background-repeat: no-repeat;
   }

   header div.landingPage > img {
      width: 1118px;
   }

   header.landingPage > img {
      width: 100%;   
   }

   .landingPage > a {
      max-width: 80%;
   }

   .landingPage > a.buttonBasicStyle {
         width: 350px;
   }



   .landingArticleBackgroundDecoration {
      background-color: var(--LBrary-White); 
      width: 100%; 
      padding-bottom: 120px;
      padding-top: 70px;
   }

   article.landingPage {
      /*모바일 변환시 이미지의 배열 순서 문제를 
      태그 수준에서 최적화 하기 위해 최대 사이즈에서도 flex가 아닌 grid로 구성*/
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      padding: 50px 0;
      width: 100%;
      max-width: 981px;
      margin: 0 auto;
      gap: 10px 147px;
   }

   article.landingPage > p {
      margin: 0;
   }

   article.landingPage::after {
      content: '';
      background-size: 100%;
      background-repeat: no-repeat;
      grid-row: 1 / 3;
      width: 550px;
      height: 450px;
   }

   article:nth-of-type(1)::after {
      background-image: url(../Assets/images/landingPage/main_image1.png);
   }

   article:nth-of-type(2)::after {
      grid-column: 1;
      background-image: url(../Assets/images/landingPage/main_image2.png);
   }

   article:nth-of-type(3)::after {
      background-image: url(../Assets/images/landingPage/main_image3.png);
   }

   article:nth-of-type(4)::after {
      grid-column: 1;
      background-image: url(../Assets/images/landingPage/main_image4.png);
   }

   article p.title {
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: -0.3px;
      grid-row: 1;
      margin: auto;
      margin-bottom: 0;
      margin-left: 0;
   }

   article p.description {
      color: #6B6B6B;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 24px;
      margin: auto;
      margin-top: 0;
      margin-left: 0;
   }


   footer {
      display: flex;
      justify-content: space-between;
      background-color: var(--LBrary-Black);
      width: 100%;
      margin: 0;
      padding: 32px 104px 64px;
   }

   .corperateInformation {
      color: #676767;
      text-align: left;
      font-family: acme;
      font-size: 1.6rem;
      font-weight: 400;
   }

   .footerPravay{
      display: flex;
      gap: 30px;
      font-family: acme;
      font-size: 1.6rem;
      font-weight: 400;
   }

   .footerPravay a{
      text-decoration: none;
      color: #CFCFCF;
   }

   .footerSocial {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: end;
   }

/* 태블릿 반응형 */

   @media (max-width: 1199px) {
      nav.landingPage {
         margin: 0;
      }

      nav.landingPage > .flexibleNavInTablet {
         width: 100%;
         padding: 20px 32px;
         margin: 0 auto;
         max-width: 864px;
      }
      
      
      header .landingPage {
         max-width: 698px;
      }

      header .landingPage > div {
      /*태블릿 사이즈에서 보기 편하게 헤드라인을 줄임*/
         width: 80%;
      }

      div.landingPage::after{
         height: 0;
         padding-top: calc(590/1200*100%);
      }


      article.landingPage {
      /*원본은 51px이나, 줄넘김 현상이 발생하여 가독성을 높이기 위해 줄임*/
         max-width: 698px;
         row-gap: 10px;
         column-gap: 42px;
      }


      article.landingPage::after {
         width: 385px;
         height: 315px;
      }

      header div.landingPage > img {
         max-width: 650px;
      }
   }

/* 모바일 반응형 */

   @media (max-width: 767px) {
      header .landingPage {
         font-size: 3.2rem;
         padding: 28px 32px 0;
      }



      header div.landingPage > img {
         width: 100%;
      }

      nav.landingPage > div.landingPage img {
         width: 88.6px;
      }

      .flexibleNavInTablet > a.buttonBasicStyle {
         width: 80px;
         font-size: 1.4rem;
         padding: 10px 16px;
      }

      .landingPage > a.buttonBasicStyle {
         width: 200px;
         font-size: 1.4rem;
      }

      .articleWhiteBackground {
         padding-bottom: 40px;
      }

      article.landingPage{
         grid-template-columns: 1fr;
         padding: 40px;
         gap: 0;
      }

      article p.title {
         font-size: 2.4rem;
         margin-bottom: 20px;
         grid-row: 1;
      }

      article p.description {
         font-size: 1.5rem;
         margin-top: 16px;
         grid-row: 3;
      }

      article.landingPage::after{
         width: 100%;
         grid-column: 1;
         grid-row: 2;
         height : 0;
         padding-top: calc(900/1100*100%);
	
      }

      footer {
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding: 32px;      
         row-gap: 60px;
      }

      footer .corperateInformation {
         grid-row: 2;
      }
}