#landing-main {
  width: 120rem;
  max-width: 120rem;
}

#landing-nav {
  width: 100%;
  height: 5.875rem;
  background: var(--Linkbrary-bg, #f0f6ff);
  padding: 1.25rem 12.5rem;
  position: sticky;
  top: 0;
}

.gnb-container {
  width: 100%;
  height: 3.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb-logo {
  width: 8.3125rem;
  height: 1.5rem;
}

.base-button {
  width: 100%;
  display: inline-flex;
  height: 3.375rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    91deg,
    var(--Linkbrary-primary) 0.12%,
    #6ae3fe 101.84%
  );
  color: #f5f5f5;
}

.gnb-container .base-button {
  width: 8rem;
}

.contents-01 {
  width: 100%;
  height: 59.5625rem;
}

.contents-01-container {
  display: flex;
  width: 100%;
  padding: 4.375rem 22.5rem 0rem 22.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.contents-01-container p {
  width: 44.25rem;
  height: 10rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.contents-01-text-highlight {
  background: var(--Text-highlight-01);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-01-text-01,
.contents-01-text-02 {
  display: inline;
}

.contents-01-container .base-button {
  width: 21.875rem;
}

.contents-01-container img {
  width: 75rem;
  height: 36.875rem;
}

.contents-02,
.contents-03,
.contents-04,
.contents-05 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-02 {
  height: 38.75rem;
  padding: 7.5rem 28.8125rem 3.125rem 28.8125rem;
}

.contents-03,
.contents-04,
.contents-05 {
  height: 34.375rem;
  padding: 3.125rem 28.8125rem;
}

.contents-02-container,
.contents-03-container,
.contents-04-container,
.contents-05-container {
  width: 62.375rem;
  height: 28.125rem;
  display: flex;
  align-items: center;
  gap: 9.8125rem;
}

.contents-02-text,
.contents-03-text,
.contents-04-text,
.contents-05-text {
  display: flex;
  width: 18.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

.text-subheading {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
}

.text-subheading-01,
.text-subheading-02 {
  display: block;
}

.contents-02 .text-subheading-highlight {
  background: var(--Text-highlight-02);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-description {
  color: #6b6b6b;
  font-family: Abel;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  word-wrap: break-word;
  word-break: keep-all;
}

.text-description span {
  display: block;
}

.contents-02-container img,
.contents-03-container img,
.contents-04-container img,
.contents-05-container img {
  width: 34.375rem;
  height: 28.125rem;
  border-radius: 0.9375rem;
  background: var(--Linkbrary-bg);
}

.contents-03 .text-subheading-highlight {
  background: var(--Text-highlight-03);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-04 .text-subheading-highlight {
  background: var(--Text-highlight-04);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-05 .text-subheading-highlight {
  background: var(--Text-highlight-05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  width: 120rem;
  max-width: 120rem;
  height: 17.5rem;
  display: flex;
  padding-top: 7.5rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 1.875rem;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
}

.footer-container {
  width: 100%;
  display: flex;
  height: 10rem;
  padding: 2rem 6.5rem 4rem 6.5rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--Linkbrary-black, #111322);

  font-family: Acme;
  font-size: 1rem;
  font-weight: 400;
}

.footer-company {
  color: #676767;
  text-align: center;
}

.footer-details {
  display: flex;
  width: 11.31944rem;
  align-items: flex-start;
  gap: 1.875rem;
  color: #cfcfcf;
}

.footer-details a {
  text-decoration: none;
  color: inherit;
}

.footer-icons {
  width: 7.25rem;
  height: 1.25rem;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  color: var(--Linkbrary-white);
}

.footer-icons a {
  width: 1.25rem;
}

/* 미디어 쿼리 : 화면의 너비가 1920px 이상일 때 적용될 스타일 */
@media screen and (min-width: 1920px) {
  #landing-nav,
  .contents-01-container {
    width: 100%;
    max-width: 120rem;
    background: var(--Linkbrary-bg, #f0f6ff);
    margin: 0 auto;
  }
}

/* 미디어 쿼리 : 화면 너비가 1920px 미만일 때의 스타일 */
@media screen and (max-width: 1919px) {
  #landing-main,
  footer {
    width: 100%;
  }

  .gnb-logo,
  .gnd-button {
    flex-shrink: 0;
  }
}

/*  */
/*  */
/* 태블릿: 768px ~ 1199px */
@media screen and (max-width: 1199px) {
  #landing-nav {
    padding: 1.25rem calc(12.5rem - ((1200px - 100vw) * 0.5));
  }

  .contents-01 {
    height: 47.25rem;
  }

  .contents-01-container {
    padding: 2.5rem 15.625rem 0rem 15.6875rem;
    justify-content: center;
    gap: 2.5rem;
  }

  .contents-01-container p {
    width: 29.5rem;
    height: 15rem;
  }

  .contents-01-text-01,
  .contents-01-text-02 {
    display: block;
  }

  .contents-01-container img {
    width: 43.625rem;
    height: 21.4375rem;
  }

  .contents-02 {
    height: 27.8125rem;
    padding: 5rem 15.625rem 3.125rem 15.6875rem;
  }

  .contents-03,
  .contents-04,
  .contents-05 {
    height: 25.9375rem;
    padding: 3.125rem 15.625rem 3.125rem 15.6875rem;
  }

  .contents-02-container,
  .contents-03-container,
  .contents-04-container,
  .contents-05-container {
    width: 43.625rem;
    height: 19.6875rem;
    gap: 3.1875rem;
  }

  .text-description {
    font-weight: 500;
  }

  .contents-02-container img,
  .contents-03-container img,
  .contents-04-container img,
  .contents-05-container img {
    width: 24.0625rem;
    height: 19.6875rem;
  }

  .footer-container {
    font-family: Arial;
  }
}

/* 모바일: 375px ~ 767px */
@media screen and (max-width: 767px) {
  #landing-nav {
    width: 100%;
    padding: 1.25rem 2rem;
  }

  .contents-01,
  .contents-02,
  .contents-03,
  .contents-04,
  .contents-05 {
    width: 100%;
    height: auto;
  }

  .contents-01 {
    min-height: 24.9375rem;
  }

  .contents-01-container {
    width: 100%;
    height: auto;
    padding: 1.75rem 2rem 0rem 2rem;
    gap: 1.5rem;
  }

  .contents-01-container p {
    width: 14.75rem;
    height: 7.875rem;
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .contents-01-container .base-button {
    width: 12.5rem;
  }

  .contents-01-container img,
  .contents-02-container img,
  .contents-03-container img,
  .contents-04-container img,
  .contents-05-container img {
    width: 100%;
    height: auto;
  }

  .contents-02 {
    padding: 2.5rem 2rem 2.25569rem 2rem;
  }

  .contents-03,
  .contents-04 {
    padding: 2.5rem 2rem 2.63069rem 2rem;
  }

  .contents-05 {
    padding: 2.5rem 2rem 2.56819rem 2rem;
  }

  .contents-02-container,
  .contents-03-container,
  .contents-04-container,
  .contents-05-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .contents-05-container {
    min-height: 21.99432rem;
  }

  .contents-02-text,
  .contents-03-text,
  .contents-04-text,
  .contents-05-text {
    width: 100%;
    align-self: stretch;
  }

  .text-subheading {
    font-size: 1.5rem;
  }

  .text-subheading-01,
  .text-subheading-02 {
    display: inline;
  }

  .text-description {
    font-size: 0.9375rem;
  }

  .text-description span {
    display: inline;
  }

  footer {
    height: 12.5rem;
    padding-top: 2.5rem;
  }

  .footer-container {
    padding: 2rem 2rem 4rem 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-company {
    order: 3;
    width: 100%;
    margin-top: 3.75rem;
    text-align: left;
  }

  .footer-details {
    order: 1;
    flex: 1 1 auto;
  }

  .footer-icons {
    order: 2;
    flex: 0 1 auto;
    margin-left: auto;
  }
}

/* 모바일: 375px 고정, 피그마 여백이 width: 390px 기준이라 그대로 적용 */
@media screen and (max-width: 390px) {
  #landing-main {
    min-width: 23.438rem;
  }
}
