body {
  background-color: var(--color-gray-10);
}

.main-container {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 400px;
  margin-top: 120px;
}

.user-login,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 218px;
}

h1 .logo {
  width: 210px;
  height: 38px;
  object-fit: cover;
}

header > div {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

header p,
header div a {
  font-size: 16px;
}

header p {
  line-height: 1.5;
  color: #000;
  font-weight: 400;
}

.signup-link,
.signin-link {
  position: relative;
  color: var(--color-primary);
  font-weight: 600;
  line-height: 1.1875;
  display: inline-block;
}

.signup-link:after,
.signin-link:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.214;
}

input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px 15px;
  border: 1px solid var(--color-gray-40);
  border-radius: 8px;
  color: #373740;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.password-box {
  position: relative;
}

.password-box img {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-login,
.btn-signup {
  margin-top: 6px;
  padding: 16px 20px;
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  background-color: var(--color-gray-20);
  border: 1px solid var(--color-gray-40);
  border-radius: 8px;
}

.social-login p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.214;
  color: #373740;
}

.sns-list {
  display: flex;
  gap: 16px;
}

.sns-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 1px solid var(--color-gray-40);
  border-radius: 50%;
}

.sns-list li .google {
  background-color: #fff;
}

.sns-list li .kakao {
  background-color: #f5e14b;
}

.sns-list a img {
  height: 22px;
}
