* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration-line: none;
  cursor: pointer;
}

a:visited {
  text-decoration-line: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}
