/* 로그인 페이지 */

   .signPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 238px auto auto;
      width: 400px;
   }

   .signForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 30px;
   }

   .signForm > header {
      flex-direction: column;
      width: auto;
      text-align: center;
      color: var(--LBrary-Black);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 150%;
   }

   .signForm header a > img {
      width: 100%;
   }

   .signForm header > div {   
   display: flex; gap: 8px;
   }

   .signForm > form {   
      display: flex; 
      flex-direction: column; 
      width: 100%; 
      gap: 24px;
   }

   .inputSection {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }

   .signInput  {
      display: flex;
      padding: 18px 15px;
      width: 100%;
      gap: 6px;
      border-radius: 8px;
      border: 1px solid var(--LBrary-Gray20);
      background: var(--LBrary-White);
      position: relative;
   }

   input {
      position: relative;
   }

   .inputDiv {
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 100%;
   }

   .signInput:focus{ 
      outline-color: var(--LBrary-Primary-color);
   }

   .passwordSeenButton {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate(0, -50%);
   }


   .signInputBeHidden {
      position: absolute;
      margin-right: 15px;
   }

   /*

   .WrongPass {
      color: var(--LBrary-Red);
      font-size: 1.4rem;
      font-weight: 400;
   } 틀렸을 경우 관련하여 week1에 작업했던 더미 
   
   */

   .signLabel {
      color: var(--LBrary-black);
      font-size: 1.4rem;
      font-weight: 400;
   }

   .socialSign {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      border: 1px solid var(--LBrary-Gray20);
      background-color: var(--LBrary-Gray10);
      width: 100%;
      margin: 32px;
      padding: 12px 24px;
      font-size: 1.4rem;
      color: var(--LBrary-Gray50);
   }

   .socialLoginIcons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
   }

   .socialLoginIcon {
      display: flex;
      position: relative;
      height: 42px;
      width: 42px;  
   }

   .signForm > .button {
      width: 100%;
      margin: auto;
   }

/* 로그인 페이지 끝 */

/* 모바일 반응형 */

   @media (max-width: 767px) {
      .signPage {
         width: 100%;
         max-width: 464px;
         margin: 120px auto auto;
         padding: 0 32px;
      }
}