/* 로그인 페이지 */

   .signPageOuterLineLimit {
      margin: 238px auto auto;
      width: 400px;
   }

   .signForm {
      width: 100%;
   }

   header {
      display: block;
      width: max-content;
      margin: auto;
      color: var(--LBrary-Black);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 150%;
   }

   .signForm header a > img {
      width: 100%;
   }

   .signForm header > div {   
   display: flex; gap: 8px;
   }

   .signPageOuterLineLimit div form {   
      margin-top: 30px;
      width: 100%; 
   }

   .signPageOuterLineLimit div Section {
      margin-bottom: 24px;
   }

   .errorMessagePreset {
      color: var(--LBrary-Red);
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 6px;

   }

   input {
      padding: 18px 15px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid var(--LBrary-Gray20);
      background: var(--LBrary-White);
   }

   .seenButtonPositionOrigin {
      position: relative;
   }

   input:focus{ 
      outline-color: var(--LBrary-Primary-color);
   }

   .passwordSeenButton {
      background-image: url(../Assets/Icons/eye-off.svg);
      background-size: contain;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate(0, -50%);
      border: none;
   }


   .notHidden {
      background-image: url(../Assets/Icons/eye-on.svg);
   }

   /*

   .WrongPass {
      color: var(--LBrary-Red);
      font-size: 1.4rem;
      font-weight: 400;
   } 틀렸을 경우 관련하여 week1에 작업했던 더미 
   
   */

   Label {
      display: block;
      color: var(--LBrary-black);
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 12px;
   }

   .socialSign {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      border: 1px solid var(--LBrary-Gray20);
      background-color: var(--LBrary-Gray10);
      width: 100%;
      margin: 32px 0;
      padding: 12px 24px;
      font-size: 1.4rem;
      color: var(--LBrary-Gray50);
   }

   .socialLoginIcons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
   }

   .socialLoginIcon {
      display: flex;
      position: relative;
      height: 42px;
      width: 42px;  
   }

   form > .buttonBasicStyle {
      width: 100%;
      margin-top: 30px;
   }

/* 로그인 페이지 끝 */

/* 모바일 반응형 */

   @media (max-width: 767px) {
      .signPageOuterLineLimit {
         width: 100%;
         max-width: 464px;
         margin: 120px auto auto;
         padding: 0 32px;
      }
}