@import './reset.css';
@import './colors.css';

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
}

.frame-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.frame-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title img {
  width: 210.583px;
  height: 38px;
}

.ask-member {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 600;
}

.frame-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.form-input input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
}

.input-email input {
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-primary-color);
  background: var(--bg-white);
}

.input-pw input {
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--bg-white);
}

.signin-btn {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: white;
  border: none;
}

.frame-social-signin {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Linkbrary-gray10);
}

.social-signin-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-right: 40px;
}

.icon-kakao {
  position: relative;
}

.kakao {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 9px;
}

.kakao-bg {
  position: absolute;
  z-index: 1;
}

input:focus {
  border: 1px solid blue;
}
