.bg-color {
  background-color: var(--Linkbrary-bg);
  width: 100%;
}

/* 네비게이션 바 */
header {
  background-color: var(--Linkbrary-bg);
  position: sticky;
  top: 0;
  left: 0;
}

.GNB {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  padding: 1.25rem 12.5rem;
}

@media (max-width: 1199px) {
  /* header {
    padding: 1.23rem 2rem;
  } */

  .GNB {
    max-width: 50rem;
    padding: 1.23rem 2rem;
  }
}

/* 로그인 버튼, 링크 추가 버튼 */
.btn {
  width: 8rem;
  padding: 1rem 1.25rem;
  border: none;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 0.5rem;
  color: var(--Grey-Light, #f5f5f5);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.btn a {
  color: var(--Grey-Light, #f5f5f5);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

/* 시작페이지 */
article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 70px 360px 0 360px;
  gap: 40px;
}

article .title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

article .title span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article .btn {
  width: 350px;
}

/* 섹션 */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 50px;
  gap: 157px;
}

section .content {
  display: flex;
  flex-direction: column;
  width: 291px;
  justify-content: flex-start;
}

section .content h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #000;
}

section .content h2 .gradient {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_manage {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_share {
  background: linear-gradient(
    99deg,
    #6d7ccd 60%,
    rgba(82, 136, 133, 0.22) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_search {
  background: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .content .info {
  color: #6b6b6b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

section .picture img {
  width: 550px;
  height: 450px;
}

/* 푸터 */
footer {
  margin-top: 120px;
  padding: 32px 104px 64px 104px;
  height: 160px;
  background: var(--The-julge-black, #111322);
}

footer ul {
  display: flex;
  justify-content: space-between;
  /* padding: 0 104px; */
}

footer ul .codeit {
  color: #676767;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer ul .links {
  display: flex;
  gap: 30px;
}

footer ul .links a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

footer ul .SNS {
  display: flex;
  gap: 0.75rem;
}
