:root {
  -palette-primary: #6d6afe;
  -palette-red: #ff5b56;
  -palette-black: #111322;
  -palette-white: #ffffff;
  -palette-gray-1: #3e3e43;
  -palette-gray-2: #9fa6b2;
  -palette-gray-3: #ccd5e3;
  -palette-gray-4: #e7effb;
  -palette-gray-5: #f0f6ff;
}
