:root {
  --Linkbrary-primary: #6d6afe;
  --Linkbrary-red: #ff5b56;
  --Linkbrary-black: #111322;
  --Linkbrary-white: #ffffff;
  --Linkbrary-bg: #f0f6ff;
  --Linkbrary-gray10: #e7effb;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray100: #3e3e43;
}

html {
  font-size: 10px;
}

body {
  color: var(--Linkbrary-black);
  background: var(--Linkbrary-bg);
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
