.modalBackground {
	display: flex;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

.container {
	text-align: center;
	background-color: white;
	border-radius: 15px;
	padding: 32px 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.closeButton {
	position: absolute;
	top: 16px;
	right: 16px;
	border: none;
	background-color: transparent;
	padding: 0;
}

.modalTitle {
	color: var(--LBrary-Gray100);
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 24px;
}

.modalCaption {
	color: var(--Linkbrary-gray60, #9fa6b2);
	margin-top: 8px;
	text-align: center;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
}

.modalInput {
	display: flex;
	width: 280px;
	padding: 18px 15px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
	background-color: var(--Linkbrary-white, #fff);
}

.modalInput:focus {
	outline-color: var(--Linkbrary-primary-color, #6d6afe);
}

.modalButton {
	color: var(--Grey-Light, #f5f5f5);
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	border: none;
	margin-top: 15px;
	display: flex;
	width: 280px;
	padding: 16px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.modalButton_errored {
	color: var(--Grey-Light, #f5f5f5);
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	border: none;
	margin-top: 15px;
	display: flex;
	width: 280px;
	padding: 16px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: var(--Linkbrary-red, #ff5b56);
}

.shareButtonLayout {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}
