.modal-img {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	height: 42px;
	width: 42px;
	margin-bottom: 10px;
}

.modal-box {
	display: flex;
	gap: 32px;

	color: var(--Linkbrary-gray100, #373740);
	text-align: center;
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px; /* 115.385% */
}

.modal-share-layout {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.modal-kakao {
	background-color: #fee500;
}

.modal-facebook {
	background-color: #1877f2;
}
.modal-link {
	background-color: rgba(157, 157, 157, 0.04);
}

.modal-sub-folder-btn-list {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	padding: 8px;
	border: none;
	background-color: transparent;
	align-items: center;
	border-radius: 8px;
}

.modal-sub-folder-btn-list:hover {
	background-color: var(--LBrary-Background);
}

.modal-sub-folder-btn-list h2 {
	color: var(--Linkbrary-gray100, #373740);
	/* Linkbrary/body1-regular */
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.modal-sub-folder-btn-list span {
	margin-left: 8px;
	color: var(--Linkbrary-gray60, #9fa6b2);
	/* Linkbrary/body2-regular */
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
