footer {
  color: var(--white);
  background: var(--black);
  display: flex;
  height: 160px;
  padding: 32px 104px;
  margin-top: 120px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
footer .copyright {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--gray2);
}
footer .feat {
  display: flex;
  gap: 30px;
}
footer .feat a {
  text-decoration: none;
  color: var(--white);
}
footer .sns-list {
  display: flex;
  gap: 12px;
}

/* MEDIA QUERY */
/* tablet */
@media (max-width: 1199px) {
}

/* mobile */
@media (max-width: 767px) {
  footer {
    padding: 32px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }
  footer .copyright {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  footer .sns-list {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
  }
}
