.footer {
  width: 100%;
  height: 160px;
  background-color: var(--black-color);
  margin-top: 60px;
}

.footer_container {
  max-width: 1400px;
  padding: 32px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.footer_text {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 1rem;
  font-weight: 400;
}

.footer_link {
  display: flex;
  gap: 30px;
}

.footer_link a {
  color: #cfcfcf;
  font-family: Acme;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.social {
  display: flex;
  gap: 12px;
}

@media (max-width: 1124px) {
}

@media (max-width: 767px) {
  .footer_container {
    position: relative;
    padding: 32px 32px 64px 32px;
  }
  .footer p {
    position: absolute;
    bottom: 10px;
  }
}
