/* user agent stylesheet 초기화 */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pretendard';
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}

.hidden {
  display: none;
}

.button-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--white);
  text-decoration: none;
}
