.contentsBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 25px 20px;
    justify-content: space-between;
}
.contentsBox > li {
    border-radius: 15px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}
.contentsBox > li .imgBox {
    position: relative;
    overflow: hidden;
}
.contentsBox > li .imgBox .contentsImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s;
}
.contentsBox > li a:hover .textBox {
    background-color: rgba(240, 246, 255, 1);
}
.contentsBox > li a:hover .imgBox .contentsImg {
    transform: scale(1.3);
}
.contentsBox > li .imgBox button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
}
.contentsBox > li .textBox {
    position: relative;
    padding: 15px 20px;
}
.contentsBox > li .textBox > button {
    cursor: pointer;
    position: absolute;
    top: 15px; right: 20px;
    background-color: transparent;
    border: none;
}
.contentsBox > li span {
    font-family: 'Pretendard';
    font-size: 1.3rem;
    color: #666;
}
.contentsBox > li .description {
    margin: 10px 0;
    color: #000;
    font-family: 'Pretendard';
    font-size: 1.6rem;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentsBox > li .date {
    font-family: 'Pretendard';
    font-size: 1.4rem;
    color: #333;
}
/* 테블릿 반응형 */
@media screen and (max-width: 1124px) {
    .contentsBox {
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
}
/* 모바일 반응형 */
@media screen and (max-width: 768px) {
    .contentsBox {
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}