@import '../../styles/_index.scss';

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  padding-top: 7rem;
}

.mainLayout {
  flex: 1;
  width: 100%;
  margin-top: 2rem;
  background: $color-white;
}

.mainBox {
  padding: 3rem;
}

.userName {
  padding: 1rem 0;
}
