.modal-button {
  width: 280px;
  padding: 16px 20px;
  color: var(--Grey-Light, #f5f5f5);
  font-family: var(--Pretendard-Regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  cursor: pointer;
  border: none;
}
