article:has(.addLinkForm) {
  padding: 60px 32px 90px;
  background-color: #f0f6ff;
}
.addLinkForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
article .on {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 33px;
  background-color: #f0f6ff;
}
article .on form {
  width: 100%;
}
.addLinkForm label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.addLinkForm button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 80px;
  height: 37px;
  border: none;
  background: linear-gradient(91deg, #6d6afe, #6ae3fe);
  color: #f5f5f5;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  article:has(.addLinkForm) {
    padding: 24px 32px 40px;
  }
  .addLinkForm button {
    right: 10px;
  }
  .addLinkForm label {
    left: 10px;
  }
  .addLinkForm label img {
    width: 16px;
    height: 16px;
  }
}
