.folderCardPage--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.folderCardPage--content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
