.main-headings {
  margin-top: 9em;
  background-color: var(--Linkbrary-bg);
}

.main-headings {
  text-align: center;
  padding: 40px 0;
}

.profile-author {
  font-size: 1.4rem;
  margin-top: 20px;
}

.profile-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 20px;
}
