@import '../../styles/_index.scss';
@import '../../styles/media';

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.addBarBox {
  width: 100%;
  padding: 2rem 4rem;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 4rem;
  background: $color-white;
}

.mainBox {
  margin: 2rem 0;
}

.mainTitle {
  display: flex;
  justify-content: space-between;
}

.actionButton {
  position: sticky;
  bottom: 12rem;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  padding: 1rem;
  color: $color-white;
  background: $color-primary;
  border-radius: 12px;
  transform: translateX(-50%);

  @media screen and (width >767px) {
    display: none;
  }
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  background: $color-gray-100;
}
