.mainContainer {
  max-width: 1380px;
  margin: 0 auto;
  padding: 40px 32px 80px;
}

.searchBox {
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.searchBox input {
  background-color: #f5f5f5;
  border: none;
  width: 100%;
}

.emptyArea {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 230px;
}
