.container {
  width: 100%;
  position: relative;
}

.input {
  border-radius: 1rem;
  background: #f5f5f5;
  width: inherit;
  padding: 1.5rem 4.2rem;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
}

.closeIcon {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
}
