.cardImage {
  position: relative;
}

.card-image {
  width: 100%;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
}

.card-image-zoom-in {
  background-size: 130%;
}

.starImg {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
