.card {
  width: 340px;
  height: 334px;
  flex-shrink: 0;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  overflow: hidden;
}

.card-container {
  position: relative;
  overflow: hidden;
}

.star-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  z-index: 2;
}

.kebab {
  width: 21px;
  height: 17px;
}

.kebab-tag {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.card-img {
  width: 340px;
  height: 200px;
}

.card-info {
  display: flex;
  width: 340px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-text {
  height: 49px;
  align-self: stretch;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card-day {
  height: 19px;
  align-self: stretch;
  overflow: hidden;
  color: var(--card-date);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card:hover {
  background-color: var(--Linkbrary-bg);
}

.card-img:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

@media (max-width: 767px) {
  .card {
    width: 325px;
    height: 327px;
  }
  .card-img {
    width: 325px;
    height: 243.597px;
  }
}
