.errorCard {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(253, 235, 236);
  margin: 30px 0;
}

.errorCard-emoji {
  font-size: 20px;
  padding: 10px;
}

.errorCard-message {
  font-size: 16px;
  font-weight: 500;
  color: #ff2828;
}
