.folderTitle_section {
  width: 100%;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.folderTitle_container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-top: 68px;
}

.folderTitle_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.folderTitle_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.folderTitle_userName {
  color: var(--text-color-light-mode, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-align: center;
}

.folderTitle_folderName {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 600;
}
